:root {
    --lm-blue: #092C5C;
    --lm-blue-hover: #0f3770;
    --lm-blue-md: #246aa4;
    --lm-blue-lt: #8FBCE6;
    --bs-blue: var(--lm-blue);
    --bs-primary: var(--lm-blue);
    --bs-primary-rgb: 9, 44, 92;
    --bs-link-color: var(--lm-blue);
    --bs-link-hover-color: var(--md-blue);
}
.content-nav-list li {
    border: 1px solid var(--lm-blue);
}
.content-nav-list li:hover {
    background-color: var(--lm-blue)
}
.content-nav-list li a {
    color: var(--lm-blue);
}
.filter-form__go-button,
.filter-form__go-button:focus,
.filter-form__go-button:hover,
.filter-form__go-button:visited {
    background-color: var(--lm-blue)
}
.results-list__pagination button {
    background-color: var(--lm-blue);
}
.results-list__pagination button.btn-active {
    border: 2px solid var(--lm-blue);
    color: var(--lm-blue)
}
.results-list__pagination .btn-chevron-left,.results-list__pagination .btn-chevron-right {
    color: var(--lm-blue);
}
.results-list__item-title a {
    color: var(--lm-blue)
}
.results-list__item-footer a {
    color: var(--lm-blue);
}
.filter-additional-links a {
    color: var(--lm-blue-md)
}
.btn-sort {
    color: var(--lm-blue-md);
}
.btn-sort.selected {
    background-color: var(--lm-blue-md);
}
.list-control-search--summary-loading {
    color: var(--lm-blue-md)
}
.toggle-filters {
    background-color: var(--lm-blue-md);
}
.results-list__item-footer a:after {
    background-image: url(/img/arrow-read-more.svg);
}

/* Results Pagination */
.results-list__pagination-container {
    margin: 5rem auto 3rem;
    display: flex;
    justify-content: center;
  }
  
  .results-list__pagination {
    display: flex;
    flex-wrap: nowrap;
    box-shadow: none;
  }
  
  .results-list__pagination li {
    position: relative;
  }
  
  .results-list__pagination button {
    /* border: 1px solid #EFEFEF; */
    margin: 0 5px;
    background-color: var(--lm-blue);
    color: #FFF;
    font-size: 14px;
    line-height: 100%;
    padding: 0;
    font-weight: bold;
    height: 34px;
    width: 34px;
  }
  
  .results-list__pagination .btn:visited,
  .results-list__pagination .btn:active,
  .results-list__pagination .btn:focus,
  .results-list__pagination .btn:hover {
    background-color: var(--lm-blue);
    color: #FFF;
    outline: none;
  }
  
  .results-list__pagination button:focus {
    outline: none;
  }
  
  .results-list__pagination button.btn-active {
    background-color: #FFF;
    border: 2px solid var(--lm-blue);
    color: var(--lm-blue);
  }
  
  .results-list__pagination .btn-chevron-left,
  .results-list__pagination .btn-chevron-left:hover,
  .results-list__pagination .btn-chevron-left:focus,
  .results-list__pagination .btn-chevron-left:active,
  .results-list__pagination .btn-chevron-right,
  .results-list__pagination .btn-chevron-right:hover,
  .results-list__pagination .btn-chevron-right:focus,
  .results-list__pagination .btn-chevron-right:active {
    border: 0 none;
    background-color: #FFF;
    color: var(--lm-blue);
    font-size: 17px;
  }