/* :root {
    --lm-blue: #092C5C;
    --lm-blue-hover: #0f3770;
    --lm-blue-md: #246aa4;
    --lm-blue-lt: #8FBCE6;
    --bs-blue: var(--lm-blue);
    --bs-primary: var(--lm-blue);
    --bs-primary-rgb: 9, 44, 92;
    --bs-link-color: var(--lm-blue);
    --bs-link-hover-color: var(--md-blue);
} */

.content-nav-list li {
    border: 1px solid var(--lm-blue);
}
.content-nav-list li:hover {
    background-color: var(--lm-blue)
}
.content-nav-list li a {
    color: var(--lm-blue);
}
.filter-form__go-button,
.filter-form__go-button:focus,
.filter-form__go-button:hover,
.filter-form__go-button:visited {
    background-color: var(--lm-blue)
}
.results-list__pagination button {
    background-color: var(--lm-blue);
}
.results-list__pagination button.btn-active {
    border: 2px solid var(--lm-blue);
    color: var(--lm-blue)
}
.results-list__pagination .btn-chevron-left,
.results-list__pagination .btn-chevron-right {
    color: var(--lm-blue);
}
.results-list__item-title a {
    color: var(--lm-blue)
}
.results-list__item-footer a {
    color: var(--lm-blue);
}
.filter-additional-links a {
    color: var(--lm-blue-md)
}
.btn-sort {
    color: var(--lm-blue-md);
}
.btn-sort.selected {
    background-color: var(--lm-blue-md);
}
.list-control-search--summary-loading {
    color: var(--lm-blue-md)
}
.toggle-filters {
    background-color: var(--lm-blue-md);
}
.results-list__item-footer a:after {
    background-image: url(/img/arrow-read-more.svg);
}