.card.coach-alts-certification .form-group {
    margin: 0 auto;
    width: 500px;
}
.coach-alts-certification h3 + p {
    margin: 0 auto 2rem;
    padding: 0;
    text-align: center;
}
.coach-alts-certification p {
    max-width: 800px;
}