.payment-info__form-summary {
    margin-top: 1rem;
}
.payment-info__line-item--price {
    width: 52%;
    padding-right: 10%;
}
@media (min-width: 768px) {
    .confirmation-charges-info h5 {
        margin-left: 8rem;
    }
    .confirmation-membership {
        margin-left: auto;
        margin-right: auto;
    }
    .payment-info__form-summary {
        margin-left: 14rem;
    }
    .payment-info__line-item--price {
        width: 42%;
        padding-right: 25%;
    }
}
.confirmation-charges-label + p {
    display: inline-block;
}