.page-header {
    background-color: #FFF;
}

.section-tiles {
    padding-left: 5px;
    padding-right: 5px;
}

.section-tiles .row > div {
    text-align: center;
    margin-bottom: 18px;
}

.section-tiles .col-lg-4 {
    text-align: center;
}

.section-tiles .tile {
    background-color: rgba(143, 188, 230, 0.3);
    border-radius: 6px;
    padding: 2rem 2rem 4rem;
    margin: 0 .5rem;
    height: 100%;
}

.section-tiles .tile h3 {
    margin-top: -1.3rem;
}

.section-tiles .tile p {
    font-size: 2.0rem;
    font-weight: 300;
    padding: 1rem 0 0;
    line-height: 150%;
}

.section-tiles .tile .btn {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

@media (min-width: 992px) {
    .page-header__image {
        height: 800px;
        /* background-position: center -11rem; */
        flex-direction: column;
    }
    .page-header__image h1 {
        /* align-self: auto; */
        margin-top: 15%
    }
}