.page-header {
    background-color: #FFF;
}

p {
    font-size: 2.0rem;
    font-weight: 300;
}

/* main h1, main h2, main h3, main h4, main h5, main h6 {
    font-weight: 300;
} */

.highlight {
    /* background-color: yellow; */
    background-color: rgba(143, 188, 230, 1);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    /* margin-top: 1.5rem; */
    /* margin-bottom: 2rem; */
    line-height: 140%;
    text-shadow: none !important;
    font-weight: 900;
}

h3 {
    font-weight: 300;
}

h1 .highlight {
    /* font-size: 5rem; */
    color: #092C5C;
}
h3 .highlight {
    font-size: 4rem;
}


.section-cta {
    padding-top: 5rem;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10rem;
    text-align: center;
}

.section-tiles {
    padding-left: 5px;
    padding-right: 5px;
}

.section-tiles [class*="col-"] {
    text-align: center;
    margin-bottom: 18px;
}

.section-tiles .tile {
    background-color: rgba(143, 188, 230, 0.3);
    border-radius: 5px;
    padding: 2rem 6rem 4rem;
    margin: 0 .5rem;
    height: 100%;
}

.section-tiles .tile h3 {
    font-size: 2.6rem;
    /* text-align: left; */
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1000px;
}

.section-tiles .tile p {
    /* font-size: 2.0rem;
    font-weight: 300; */
    /* text-align: left; */
    margin: 0 auto;
    padding: 1rem 0 0;
    line-height: 150%;
    max-width: 1000px;
}

.section-tiles .tile .btn {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.section-testimonials {
    padding-left: 5px;
    padding-right: 5px;
}

.section-testimonials .tile {
    background-color: #FFF;
    box-shadow: 0 0 1.0rem rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 2rem 6rem 4rem;
    margin: 0 .5rem;
    height: 100%;
}

@media (min-width: 992px) {
    .page-header__image {
        height: 800px;
        /* background-position: center -11rem; */
        flex-direction: column;
    }
    .page-header__image h1 {
        /* align-self: auto; */
        margin-top: 15%
    }
}





.page-header h1,
.page-header h1 small {
    text-shadow: 0 0 10rem #000
}

.page-header__image h1,
.page-header__image h1 small {
    /* text-shadow: 0 0 10rem #000 */
    text-shadow: 0 .5rem 1.0rem rgba(0,0,0,.5), 0 .5rem 5rem rgba(0,0,0,.8);
}

.page-header .btn {
    box-shadow: 0 1rem 4.5rem rgba(0,0,0,.5);
}



.testimonial-name {
    font-style: italic;
}

.testimonial-name:before {
    content: "– ";
}

.check-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-tiles .tile .check-label p {
    text-align: left;
    margin: 0;
    padding-left: 1rem;
}

.section-tiles .tile img {
    width: 30px;
    height: 30px;
}

.section-tiles .tile .row {
    max-width: 1200px;
    margin: 0 auto;
}