/* Needs to go in Bootstrap patch */

@media (min-width: 1400px) {
    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

.bg-gradient-lanemate {
    width: 100%;
    background-image: 
        url('https://www.usms.org/-/media/usms/Non-Lightroom%20Images/House%20Art/Video%20Stroke%20Analysis/bg-checked-gradient-blue.png') !important;
    background-repeat: 
        repeat-y !important;
    background-position: -380px;
    background-size: 900px;
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    .bg-gradient-lanemate {
        background-image: 
            url('https://www.usms.org/-/media/usms/Non-Lightroom%20Images/House%20Art/Video%20Stroke%20Analysis/bg-checked-gradient-blue.png'), 
            url('https://www.usms.org/-/media/usms/Non-Lightroom%20Images/House%20Art/Video%20Stroke%20Analysis/bg-checked-gradient-blue-right.png') !important;
        background-repeat: 
            repeat-y, 
            repeat-y !important;
        background-position: -80%, 180% !important;
    }
}

@media (min-width: 1200px) {}
@media (min-width: 1400px) {
    .bg-gradient-lanemate {
        background-position: -25%, 125% !important;
    }
}

.page-header {
    background-color: #FFF;
    flex-direction: column;
}

.page-header h1,
.page-header h1 small {
    text-shadow: 0 0 10rem #000;
}

.page-header__image h1,
.page-header__image h1 small {
    text-shadow: 0 0 2rem rgba(0,0,0,1);
    text-align: center;
    font-weight: 900;
    line-height: 100%;
}

.page-header__image h1 {
    font-size: 3.5rem;
    font-family: system-ui;
    text-transform: uppercase;
    margin: 6rem auto 4rem;
    padding: 0 2rem;
}

@media (min-width: 992px) {
    .page-header__image {
        height: 805px;
        flex-direction: column;
    }
    .page-header__image h1 {
        margin-top: 23rem;
        margin-bottom: 9rem;
        font-size: 6rem;
        font-family: system-ui;
        text-transform: uppercase;
    }
}

.page-header .btn {
    box-shadow: 0 1rem 4.5rem rgba(0,0,0,0.5);
}

.section-cta {
    position: relative;
    overflow: hidden;
}

.section-cta p.cta-text-lg {
    font-size: 2.8rem;
    letter-spacing: 0.2px;
    color: #565656;
    margin: 3rem 1rem 4rem;
    line-height: 150%;
}

@media (min-width: 562px) {
    .section-cta p.cta-text-lg {
        margin: 3rem auto 4rem;
    }    
}

.section-cta h2,
.section-cta h3,
.section-cta p {
    max-width: 900px;
    margin: 0 auto 3rem;
}

.section-cta h2 + p {
    margin: 2rem auto 2rem;
}

.section-cta h2 + p + a {
    margin: 2rem auto 4rem;
}

.gradient-left,
.gradient-right {
    opacity: 0.4;
    position: absolute;
    width: 900px;
    z-index: 0;
}

.gradient-left {
    left: -200px;
    bottom: 0%;
}

.gradient-right {
    right: -500px;
    top: 0;
}

@media (min-width: 562px) {
    .gradient-left {
        left: -20%;
        bottom: 0;
    }
    .gradient-right {
        right: -10%;
        top: 0;
    }    
}

@media (min-width: 992px) {
    .gradient-left {
        left: -4px;
        bottom: -427px;
    }
    .gradient-right {
        right: 0;
        top: -300px;
    }    
}

.section-testimonials .row > div {
    margin-bottom: 3rem;
}

p {
    font-size: 2.0rem;
    font-weight: 300;
}

.btn.btn-xl {
    border-radius: 6px;
    font-size: 2.0rem;
    letter-spacing: .2px;
    padding: 0 2rem;
    height: 6rem;
    line-height: 6rem;
}
@media (min-width: 992px) {
    .btn.btn-xl {
        border-radius: 6px;
        font-size: 2.3rem;
        letter-spacing: .2px;
        padding: 0 3rem;
        height: 8rem;
        line-height: 7.7rem;
    }
}

.section {
    width: 100%;
}

.section-cta {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 10rem;
    text-align: center;
}

h1 .highlight {
    color: var(--lm-blue-lt);
    display: block;
}

.section-cta h2 {
    font-size: 2.6rem;
}

.section-cta h2 .highlight {
    background-color: var(--lm-blue-lt);
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 140%;
    text-shadow: none !important;
    font-size: 4.0rem;
    font-weight: 900;
}

.section-cta h3 {
    font-size: 2.4rem;
}

.section-cta h3 .highlight {
    background-color: var(--lm-blue-lt);
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 140%;
    text-shadow: none !important;
    font-size: 4.0rem;
    font-weight: 900;
}

@media (min-width: 992px) {
    .section-cta h3 {
        font-size: 3.4rem;
        margin-top: 1.5rem;
    }
    .section-cta h3 .highlight {
        font-size: 6.5rem;
    }
    .section-cta h2 {
        font-size: 3.0rem;
    }
    .section-cta h2 .highlight {
        font-size: 6.5rem;
    }
}

.section-tiles {
    padding-top: 1rem;
    padding-left: 5px;
    padding-right: 5px;
}

.section-tiles [class*="col-"] {
    text-align: center;
    margin-bottom: 18px;
}

.section-tiles .tile {
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: #FFF;
    padding: 2rem 6rem 4rem;
    margin: 0 .5rem;
    height: 100%;
}

.section-tiles .tile h3 {
    font-size: 2.6rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1000px;
}

.section-tiles .tile p {
    margin: 0 auto;
    padding: 1rem 0 0;
    line-height: 150%;
    max-width: 1000px;
}

.section-tiles .tile .btn {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    border-radius: 6px;
}

.section-testimonials {
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 992px) {
    .section-tiles {
        padding-top: 5rem;
    }
    .section-tiles,
    .section-testimonials {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.section-testimonials .tile {
    background-color: #FFF;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 2rem 6rem 4rem;
    margin: 0 .5rem;
    height: 100%;
}

.cta-checkbox-items .row > div {
    margin-bottom: 2rem;
}

.cta-checkbox-items {
    margin: 5rem 0 3rem -1rem;
}

@media (min-width: 992px) {
    .cta-checkbox-items {
        margin: 8rem 0rem 5rem 0rem;
        padding-right: 4rem;
        padding-left: 14rem;
    }
    .section-cta {
        padding-top: 10rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

.testimonial-name {
    font-style: italic;
}

.testimonial-name:before {
    content: "– ";
}

.check-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 4rem;
}

.check-label img {
    margin-top: -5px;
    margin-right: -2px;
}

.check-label h6 {
    text-align: left;
    margin: 0;
    padding-left: 1rem;
}

@media (min-width: 992px) {
    .check-label {
        padding-left: 0;
    }
    .check-label h6 {
        padding-left: 1rem;
        padding-right: 4rem;
    }  
}

@media (min-width: 1200px) {
    .check-label h6 {
        padding-right: 7rem;
    }  
}

@media (min-width: 1400px) {
    .check-label h6 {
        padding-right: 10rem;
    }  
}

.check-label h6 span {
    font-weight: 300;
    color: #666;
    font-size: 2rem;
    display: block;
    margin-top: .8rem;
}

.section-tiles .tile img {
    width: 30px;
    height: 30px;
}

.section-tiles .tile .row {
    max-width: 1200px;
    margin: 0 auto;
}