/* LaneMate colors */

:root {
    --lm-blue: #092C5C;
    --lm-blue-hover: #0f3770;
    --lm-blue-md: #246aa4;
    --lm-blue-lt: #8FBCE6;
    --bs-blue: var(--lm-blue);
    --bs-primary: var(--lm-blue);
    --bs-primary-rgb: 9, 44, 92;
    --bs-link-color: var(--lm-blue);
    --bs-link-hover-color: var(--md-blue);
}

/* Update all input labels sitewide, check for scoped classes */
.input-group label,
.form-group label {
    font-size: 13px;
    font-weight: 400;
    line-height: 110%;
}

label.checkbox-label {
    font-size: 15px;
}

.payment-info__line-item--price {
    display: inline-block;
    font-size: 1.6rem;
    /* width: 53%; */
    width: 45%;
    /* padding-right: 32%; */
    padding-right: 22%;
}

.card__total--amount, 
.membership-total--amount {
    font-size: 1.8rem;
    font-weight: 700;
    /* width: 53%; */
    width: 45%;
    /* padding-right: 32%; */
    padding-right: 22%;
    display: inline-block;
    white-space: nowrap;
}

@media (min-width: 1200px) {
    .mega-main-menu__items-container {
        padding-left: 36px;
    }
}

@media (min-width: 1400px) {
    .mega-main-menu__items-container {
        padding-left: 126px;
    }
}

.navbar-default .navbar-nav>li>a {
    color: var(--lm-blue);
  }

.breadcrumb {*/
    background-color: var(--lm-blue);;
}

.breadcrumb__container {
    height: 40px;
}


/* Override USMS colors with LaneMate */
.mega-main-menu__items > li.has--children, 
.mega-main-menu__items > li > a {
    border-bottom: 3px solid transparent;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    color: var(--lm-blue);;
    margin-right: 15px;
    padding: 25px 0;
    font-size: 16px;
    font-weight: 600;
}

.mega-main-menu__items>li:last-of-type > a {
    background-color: var(--lm-blue);
    border: 1px solid var(--lm-blue);
}

.mega-main-menu__items > li:hover {
  color: var(--lm-blue-md);
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    color: var(--lm-blue);;
}
.confirmation-benefits-wrapper {
    background-color: #d6ebff;
}







@media (min-width: 1200px) {
    .payment-info__line-item--price {
        width: 50%;
        padding-right: 40%;
    }

    .card__total--amount, 
    .membership-total--amount {
        width: 50%;
        padding-right: 40%;
    }
}

.form__container .help-block.has-error {
    display: block;
    margin: 5px 0;
    height: 16px;
    height: 1rem;
    line-height: 1em;
    position: relative;
    top: 0;
    background: transparent;
}

.required label:before {
    content: "*";
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    top: 5px;
    left: 0;
}

.required label {
    padding-left: 0.2rem;
}

/* Add contact info h3 to existing classes */
.confirmation-membership h3, 
.confirmation-contact-info h3,
.confirmation-charges h3 {
    margin: 1rem auto 2rem;
}

.un-selected {
    height: 0;
    opacity: 0;
}

.modal input[type=checkbox] + label {
    padding: 0 0 0 2rem;
    margin: -2.5rem 0 0;
}

@media (min-width: 1200px) {
    .modal input[type=checkbox] + label {
        padding: 0 0 0 0.5rem;
        margin: -2.5rem 0 0;
    }    
}

.form-notes {
    font-size: 1.2rem;
}


.renew__form-body .card:first-of-type,
.cart-item:last-of-type {
    border-top: 0 none;
}



.btn-primary:focus, 
.btn-primary:hover {
    background-color: var(--lm-blue-md);
}
.form__container .btn {
    margin-bottom: 1rem;
    background-color: var(--lm-blue);
}
.form__container .btn:focus, 
.form__container .btn:hover {
    background-color: var(--lm-blue-md);
}

.btn-outline,
.form__container .btn-outline {
    color: var(--lm-blue);
    background-color: #FFF;
    border-color: var(--lm-blue);
}
.btn-outline:hover,
.form__container .btn-outline:hover {
    background-color: #fff;
    color: var(--lm-blue-md);
    border-color: var(--lm-blue-md);
}
.btn.btn-outline:hover {
    color: var(--lm-blue-md);
    border-color: var(--lm-blue-md);
    opacity: 0.7;
}
.date,
.product,
.amount {
    display: inline-flex;
}

.current-product__renewal-date {
    display: none;
}

.current-product,
.billing-information {
    margin-bottom: 6rem;
}

.payment-information {
    padding: 0 0 5rem;
}

.payment-information a,
.billing-information a {
    display: inline-flex;
    text-align: center;
}

.billing-information {
    width: 100%;
}

.billing-invoice {
    display: flex;
}

.billing-invoice {
    border-bottom: 1px solid #EEE;
    margin: 0;
    padding: 1.5rem 0;
}
.billing-invoice > p {
    margin: 0;
    line-height: 100%;
}
.billing-invoice .date {
    flex: 0 0 20%;
    font-size: 1.6rem;
    padding-top: .2rem;
}
.billing-invoice .product {
    flex: 0 0 50%;
    margin: 0 2rem;
}
.billing-invoice .amount {
    text-align: right;
    flex: 0 0 30%;
}

@media (min-width: 992px) {
    .usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(2), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(2), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(2) {
        border: 0 none;
        /* margin-top: 6rem; */
    }
    .usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(4), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(4), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(4) {
        border-top: 0 none;
        margin-top: 1rem;
        padding-top: 0;
        border-left: 1px solid #ccc;
    }
    .cancel-auto-renew--form, .cancel-auto-renew--confirmation {
        padding-top: 2rem;
    }
}


.mega-main-menu__logo-container .mega-main-menu__logo img {
    width: auto;
    height: 35px;
    margin-top: 0px;
}

@media (min-width: 992px) {
    .mega-main-menu__logo-container .mega-main-menu__logo img {
        height: 65px;
    }    
}


.form-check-input:checked {
  background-color: var(--lm-blue);
  border-color: var(--lm-blue);
}

.form-check-input[type=checkbox]:indeterminate {
  background-color: var(--lm-blue);
  border-color: var(--lm-blue);
}

.form-range::-webkit-slider-thumb {
  background-color: var(--lm-blue);
}

.form-range::-moz-range-thumb {
  background-color: var(--lm-blue);
}

a {
    color: var(--lm-blue);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--lm-blue);
  --bs-btn-border-color: var(--lm-blue);
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: var(--lm-blue-md);
  --bs-btn-active-border-color: var(--lm-blue-md);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--lm-blue);
  --bs-btn-disabled-border-color: var(--lm-blue);
}

.btn-lt-blue {
    background-color: var(--lm-blue-lt);
}

.btn:hover {
    color: #FFF;
    background-color: var(--lm-blue-md);
    border-color: var(--lm-blue-md);
}

a:hover {
    color: var(--lm-blue-md);
}

footer a:hover {
    background-color: transparent;
    border-color: transparent;
}


.btn-primary:focus, 
.btn-primary:hover {
    background-color: var(--lm-blue-md);
    color: #FFF;
}

.btn-outline-primary {
  --bs-btn-color: var(--lm-blue);
  --bs-btn-border-color: var(--lm-blue);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--lm-blue);
  --bs-btn-hover-border-color: var(--lm-blue);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--lm-blue);
  --bs-btn-active-border-color: var(--lm-blue);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--lm-blue);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--lm-blue);
  --bs-gradient: none;
}

.btn-primary.btn-primary-ko {
    color: var(--lm-blue);
    border: 1px solid var(--lm-blue);
}

.btn-primary.btn-sm.btn-primary-ko:hover,
.btn-primary.btn-md.btn-primary-ko:hover,
.btn-primary.btn-lg.btn-primary-ko:hover,
.btn-primary.btn-xl.btn-primary-ko:hover,
.rte-btn-blue-xl-ko:hover {
  color: var(--lm-blue) !important;
}

.rte-btn-blue-xl:hover {
    background-color: var(--lm-blue) !important;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--lm-blue);
}

.dropdown-menu-dark {
--bs-dropdown-link-active-bg: var(--lm-blue);
}

.nav-pills {
  --bs-nav-pills-link-active-bg: var(--lm-blue);
}

.pagination {
  --bs-pagination-active-bg: var(--lm-blue);
  --bs-pagination-active-border-color: var(--lm-blue);
}

.progress {
  --bs-progress-bar-bg: var(--lm-blue);
}

.list-group {
    --bs-list-group-active-bg: var(--lm-blue);
    --bs-list-group-active-border-color: var(--lm-blue);
}

.text-primary {
  color:var(--lm-blue);
}

#footerOverlay {
    background: var(--lm-blue);
}

.footer-left, .footer-right {
    background-color: var(--lm-blue);
}

.footer-right .btn-primary {
    color: var(--lm-blue);
}

.footer-right .nav.nav-service.navbar-nav.nav-pills > li a {
    text-decoration: none;
}


.search--icon {
    background: url(https://www.usms.org/-/media/usms/developers/images/myusms/icon-search-lanemate.svg);
    height: 23px;
    width: 23px;
    margin: 3px 4px 5px;
    display: block;
}

.login--icon {
    background: url(https://www.usms.org/-/media/usms/developers/images/myusms/icon-profile-login-lanemate.svg);
    height: 23px;
    width: 23px;
    margin: 3px auto 4px;
    padding: 0;
    display: block;
    cursor: pointer;
}

.input-group-addon:last-child {
    background-color: var(--lm-blue);
    border: 1px solid var(--lm-blue);
}

.login__items-container .login__list {
    border-color: var(--lm-blue);
}

.mega-menu-overlay__content, 
.mega-menu-overlay__menu-container {
    padding-left: 5rem;
}

.mega-main-menu__actions-login--wrapper label, 
.mega-main-menu__actions-search--wrapper label, 
.mega-main-menu__actions a label, 
.mega-main-menu__toggle-mobile label {
    color: var(--lm-blue);
}

.mega-menu-overlay {
    height: 170px;
    background: rgba(255, 255, 255, 0.7);
    border-bottom: none;
    border-radius: 0 0 10px 10px;
}

.login__items-container .login__list-item a:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--lm-blue-md);
}

.mega-menu-overlay__items {
    width: 60%;
    padding-top: 3rem;
}

.mega-menu-overlay__items > li:hover {
    border: 0 none;
    /* padding-left: initial; */
    padding: 0 0 0 1rem;
}

.mega-menu-overlay__items > li > a {
    font-size: 1.62rem;
    font-weight: 400;
    letter-spacing: .5px;
    /* color: #333; */
    color: var(--lm-blue);
}

.mega-menu-overlay__items > li > a:hover {
    padding-left: unset;
    color: var(--lm-blue-md);
}

@media (min-width: 1200px) {
    .mega-main-menu__actions-search--wrapper:hover label,
    .mega-main-menu__actions-login--wrapper:hover label {
        text-decoration: none;
    }
}

.mobile-menu-overlay {
    border-bottom: 12px solid var(--lm-blue);
}

.mobile-menu-overlay__item {
    color: var(--lm-blue);
}

.mobile-menu-overlay__item-content > a {
    color: var(--lm-blue);
}

.mobile-menu-overlay__item:last-of-type a {
    border: 1px solid var(--lm-blue);
    background-color: var(--lm-blue);
}

.mobile-menu__toggle label {
    color: var(--lm-blue);
}

i.mobile-menu__close {
    background: url('https://www.usms.org/-/media/usms/developers/images/myusms/icon-close-lanemate.svg');
}





/* Overrides for MegamainMenu.css */
.mega-main-menu__toggle-mobile label,
.mega-main-menu__actions-search--wrapper label,
.mega-main-menu__actions a label,
.mega-main-menu__actions-login--wrapper label {
  color: var(--lm-blue);
}
.mega-main-menu__items>li:last-of-type>a {
    background-color: var(--lm-blue);
    border: 1px solid var(--lm-blue);
}



/* Overrides for MainLayout.css */
.confirmation-notes ul li a {
  color: var(--lm-blue);
}
.form__container .btn {
    background-color: var(--lm-blue);
}
.form__container .btn:hover,
.form__container .btn:focus {
  background-color: var(--lm-blue-md);
}
.form__container .btn-outline {
    color: var(--lm-blue);
    border: 1px solid var(--lm-blue);
  }
  
  .form__container .btn-outline:hover {
    color: var(--lm-blue-md);
    border-color: var(--lm-blue-md);
  }
  
.usms-container .btn-ko,
.usms-container button.btn-ko {
    color: var(--lm-blue);
}



/* Overrides for results.css */
.filter-form__go-button {
    background-color: var(--lm-blue);
}
.filter-form__go-button:hover,
.filter-form__go-button:visited,
.filter-form__go-button:focus {
  background-color: var(--lm-blue);
}
.results-list__pagination button {
    background-color: var(--lm-blue);
}
.results-list__pagination button.btn-active {
    border: 2px solid var(--lm-blue);
    color: var(--lm-blue);
}
.results-list__pagination .btn-chevron-left,
.results-list__pagination .btn-chevron-right {
    color: var(--lm-blue);
}
.results-list__item-title a {
    color: var(--lm-blue);
}
.results-list__item-footer a {
    color: var(--lm-blue);
}



/* Overrides for MobileMenuOverlayItem.css */
.mobile-menu-overlay__item:last-of-type a {
    border: 1px solid var(--lm-blue);
    background-color: var(--lm-blue);
  }
  .mobile-menu-overlay__item-content > a {
    color: var(--lm-blue);
  }
