
/* Update all input labels sitewode, check for scoped classes */
.input-group label,
.form-group label {
    font-size: 13px;
    font-weight: 400;
    line-height: 110%;
}

label.checkbox-label {
    font-size: 15px;
}

.payment-info__line-item--price {
    display: inline-block;
    font-size: 1.6rem;
    /* width: 53%; */
    width: 45%;
    /* padding-right: 32%; */
    padding-right: 22%;
}

.card__total--amount, 
.membership-total--amount {
    font-size: 1.8rem;
    font-weight: 700;
    /* width: 53%; */
    width: 45%;
    /* padding-right: 32%; */
    padding-right: 22%;
    display: inline-block;
    white-space: nowrap;
}

@media (min-width: 1200px) {
    .mega-main-menu__items-container {
        padding-left: 36px;
    }
}

@media (min-width: 1400px) {
    .mega-main-menu__items-container {
        padding-left: 126px;
    }
}

.breadcrumb {
    /* background-color: #8FBCE6; */
    background-color: #092C5C;
}

.breadcrumb__container {
    height: 40px;
}


/* Override USMS colors with LaneMate !!!!!!!!!!!!!!!!!!!!!!!!!!! */
.mega-main-menu__items > li.has--children, 
.mega-main-menu__items > li > a {
    border-bottom: 3px solid transparent;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    color: #092C5C;
    margin-right: 15px;
    padding: 25px 0;
    font-size: 16px;
    font-weight: 600;
}
.mega-main-menu__items>li:last-of-type > a {
    /* background-color: #8FBCE6; */
    /* border: 1px solid #8FBCE6; */
    background-color: #092C5C;
    border: 1px solid #092C5C;
}
.footer-left, .footer-right {
    background-color: #051d37;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    color: #092C5C;
}
.confirmation-benefits-wrapper {
    background-color: #d6ebff; /* This is not the official color, it's a lighter variation for the backgorund */
}







@media (min-width: 1200px) {
    .payment-info__line-item--price {
        width: 50%;
        padding-right: 40%;
    }

    .card__total--amount, 
    .membership-total--amount {
        width: 50%;
        padding-right: 40%;
    }
}

.form__container .help-block.has-error {
    display: block;
    margin: 5px 0;
    height: 16px;
    height: 1rem;
    line-height: 1em;
    position: relative;
    top: 0;
    background: transparent;
}

.required label:before {
    content: "*";
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    top: 5px;
    left: 0;
}

.required label {
    padding-left: 0.2rem;
}

/* Add contact info h3 to existing classes */
.confirmation-membership h3, 
.confirmation-contact-info h3,
.confirmation-charges h3 {
    margin: 1rem auto 2rem;
}

.un-selected {
    height: 0;
    opacity: 0;
}

.modal input[type=checkbox] + label {
    padding: 0 0 0 2rem;
    margin: -2.5rem 0 0;
}

@media (min-width: 1200px) {
    .modal input[type=checkbox] + label {
        padding: 0 0 0 0.5rem;
        margin: -2.5rem 0 0;
    }    
}

.form-notes {
    font-size: 1.2rem;
}

.form__container .btn {
    margin-bottom: 1rem;
}

.renew__form-body .card:first-of-type,
.cart-item:last-of-type {
    border-top: 0 none;
}





.date,
.product,
.amount {
    display: inline-flex;
}

.current-product__renewal-date {
    display: none;
}

.current-product,
.billing-information {
    margin-bottom: 6rem;
}

.payment-information {
    padding: 0 0 5rem;
}

.payment-information a,
.billing-information a {
    display: inline-flex;
    text-align: center;
}

.billing-information {
    width: 100%;
}

.billing-invoice {
    display: flex;
}

.billing-invoice {
    border-bottom: 1px solid #EEE;
    margin: 0;
    padding: 1.5rem 0;
}
.billing-invoice > p {
    margin: 0;
    line-height: 100%;
}
.billing-invoice .date {
    flex: 0 0 20%;
    font-size: 1.6rem;
    padding-top: .2rem;
}
.billing-invoice .product {
    flex: 0 0 50%;
    margin: 0 2rem;
}
.billing-invoice .amount {
    text-align: right;
    flex: 0 0 30%;
}

.card-number,
.card-expiration {
    display: inline-flex;
}

.card-expiration {
        padding-left: 2.5rem;
}

.card-expiration + a {
    display: flex;
    margin: 1rem 0;
}

@media (min-width: 992px) {
    .usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(2), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(2), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(2) {
        /* border: 0 none; */
        /* margin-top: 6rem; */
    }
    .usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(4), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(4), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(4) {
        border-top: 0 none;
        margin-top: 1rem;
        padding-top: 0;
        border-left: 1px solid #ccc;
    }
    .cancel-auto-renew--form, .cancel-auto-renew--confirmation {
        padding-top: 2rem;
    }
}


.mega-main-menu__logo-container .mega-main-menu__logo img {
    width: auto;
    height: 35px;
    margin-top: 0px;
}

@media (min-width: 992px) {
    .mega-main-menu__logo-container .mega-main-menu__logo img {
        height: 55px;
    }    
}