/* There should not be a lot of these. Find where they are in lanemate.css and lanemate-sitecore.css and update them one by one */
/* This is so I can load only the latest css updates in Sitecore, on top of my updates that are already in source  */

:root {
    --lm-blue-xlt: #eaf4ff;
}

.bg-blue {
    background-color: var(--lm-blue);
}

.bg-ltblue {
    background-color: var(--lm-blue-xlt) !important;
}

.btn-primary.btn-primary-ko:hover,
.btn-primary.btn-sm.btn-primary-ko:hover,
.btn-primary.btn-md.btn-primary-ko:hover,
.btn-primary.btn-lg.btn-primary-ko:hover,
.btn-primary.btn-xl.btn-primary-ko:hover,
.rte-btn-blue-xl-ko:hover {
  color: var(--lm-blue-hover) !important;
  border-color: var(--lm-blue-hover) !important;
  background-color: #FFF !important;
}

.rte-btn-blue-md, .rte-btn-blue-sm {
    background-color: var(--lm-blue-md);
}

h2.text-primary.page-title {
    color:var(--lm-blue) !important;  
}

.categories__container .categories__list .categories__item {
    background-color: var(--lm-blue-lt) !important;
}

.tags__container .tags__list .tags__item {
    background-color: #d6ebff !important;
}

.search--active .search--icon {
    background: url(https://www.usms.org/-/media/usms/developers/images/myusms/icon-close-lanemate.svg);
}

.sign-up {
    background-color: var(--lm-blue-md);
}

/* 8/15 - Updated in product-group-lanemate.css, updated in lanemate-sitecore.css */
.plan-option.plan-option-selected {
    border-color: var(--lm-blue) !important;
}

.plan-option.plan-option-selected .plan-name, 
.plan-option.plan-option-selected .plan-type, 
.plan-option.selected .plan-name {
    background-color: var(--lm-blue) !important;
}

.usms-container.form__container .form-header h3 {
    color: var(--lm-blue) !important;
}

.my-account__container input[type=checkbox]:checked~.checkbox__placeholder:before {
    -webkit-text-stroke: var(--lm-blue) !important;
    color: #FFF !important;
}

.my-account__container input[type=checkbox]:disabled~.checkbox__placeholder:before {
    -webkit-text-stroke: #666 !important;   
    color: #FFF !important;
}

input[type=checkbox]:checked~.checkbox__placeholder {
    background-color: var(--lm-blue) !important;
    -webkit-text-stroke: 1px var(--lm-blue) !important;
}

input[type=checkbox]:disabled:checked~.checkbox__placeholder {
    background-color: #666;
    -webkit-text-stroke: 1px #666;
}

/* Updated in source: algolia/listControl.css */
.filter-form__facets input[type=checkbox]:checked~.checkbox__placeholder:before {
    margin-top: -1px;
}

.swimmer-magazine__header-image img {
    background-color: var(--lm-blue-md) !important;
}

@media (min-width: 992px) {
    .article-nav h3.article-nav-title {
        color: var(--lm-blue) !important;
    }
}






/* Updated in source: algolia/listControl.css */
.tag-list--item:before {
    top: 4px;
}






/* Moved to lanemate.css */
.article-nav ul li.active a {
    color: var(--lm-blue) !important;
}

.confirmation-benefits-wrapper {
    background-color: var(--lm-blue-xlt) !important;
}









/* Moved to style sheet */
.content-nav-list li {
    border: 1px solid var(--lm-blue) !important;
}
.content-nav-list li:hover {
    background-color: var(--lm-blue) !important;
}
.content-nav-list li a {
    color: var(--lm-blue) !important;
}
.filter-form__go-button,
.filter-form__go-button:focus,
.filter-form__go-button:hover,
.filter-form__go-button:visited {
    background-color: var(--lm-blue) !important;
}
.results-list__pagination button {
    background-color: var(--lm-blue);
}
.results-list__pagination button.btn-active {
    border: 2px solid var(--lm-blue) !important;
    color: var(--lm-blue) !important;
}
.results-list__pagination .btn-chevron-left,
.results-list__pagination .btn-chevron-right {
    color: var(--lm-blue);
}
.results-list__item-title a {
    color: var(--lm-blue) !important;
}
.results-list__item-footer a {
    color: var(--lm-blue) !important;
}
.filter-additional-links a {
    color: var(--lm-blue-md) !important;
}
.btn-sort {
    color: var(--lm-blue-md);
}
.btn-sort.selected {
    background-color: var(--lm-blue-md) !important;
}
.list-control-search--summary-loading {
    color: var(--lm-blue-md) !important;
}
.toggle-filters {
    background-color: var(--lm-blue-md) !important;
}
.results-list__item-footer a:after {
    background-color: var(--lm-blue) !important;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    margin-left: 4px;
}