.usms-container.form__container > .row > [class*=col-lg-]:nth-of-type(2), 
.usms-container.form__container > .row > [class*=col-md-]:nth-of-type(2), 
.usms-container.form__container > .row > [class*=col-sm-]:nth-of-type(2) {
    border: 0 none;
    /* margin-top: 6rem; */
}
@media (min-width: 1200px) {
    .usms-container.form__container > .row > [class*=col-lg-]:nth-of-type(2), 
    .usms-container.form__container > .row > [class*=col-md-]:nth-of-type(2), 
    .usms-container.form__container > .row > [class*=col-sm-]:nth-of-type(2) {
        border: 0 none;
        /* margin-top: 6rem; */
    }
}

.usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(3), 
.usms-container.form__container>.row>[class*=col-md-]:nth-of-type(3), 
.usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(3) {
    margin-top: 48px;
    margin-top: 3rem;
    border-top: 1px solid #ccc;
    padding-top: 80px;
    padding-top: 5rem;
}
@media (min-width: 1200px) {
    .usms-container.form__container > .row > [class*=col-lg-]:nth-of-type(3), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(3), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(3) {
        border-top: 0 none;
        margin-top: 0;
        padding-top: 0;
        border-left: 1px solid #ccc;
    }
}