.myusms__container h1 {
    margin: 23px auto 10px;
    color: #0068ad
}

.myusms__link {
    color: #0068ad;
    margin: 0;
    font-weight: bold
}

.myusms__link:visited,.myusms__link:hover {
    color: #0068ad
}

.myusms__link span {
    font-weight: normal;
    color: #000;
    font-size: 1rem
}

.myusms__card {
    padding: 10px;
    border: 1px solid #0068ad;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer
}

.myusms__card:hover {
    border: 3px solid #0068ad;
    padding: 8px
}

.myusms__header {
    display: flex;
    align-items: center
}

.myusms__logo {
    align-self: baseline;
    margin-right: 10px
}

.myusms__section-header span {
    white-space: nowrap
}

@media screen and (max-width: 670px) {
    .banner.site.with-site-navigation .avatar {
        width:215px
    }

    .banner.site.with-site-navigation .avatar img {
        max-width: 190px !important;
        padding-top: 8px
    }
}

.my-usms--wrapper .col-xs-12 {
    width: 100%
}

.myusms__section-header--details {
    margin-top: -40px;
    margin-bottom: 15px
}

.first-name,.member-id {
    font-size: 16px;
    display: inline-block;
    margin: 30px 0 15px;
    height: 20px;
    line-height: 20px
}

.first-name {
    margin-left: 0
}

.member-id {
    border-left: 1px solid #ccc;
    margin-left: 12px;
    padding-left: 13px
}

@media (min-width: 768px) {
    .myusms__section-header--details {
        margin-top:3px;
        display: inline-block
    }

    .first-name,.member-id {
        font-size: 16px;
        display: inline-block;
        margin: 10px 0 10px 15px;
        padding-left: 15px;
        border-left: 1px solid #ccc
    }

    .first-name {
        margin-left: 5px
    }

    .member-id {
        margin-right: 15px
    }
}
