.radio-label--inline {
    padding-left: 2.8rem;
} 

/* Double check this in Sitecore versus local build, adjusts spacing between radio and label. May not need in source */
.radio-label--inline .radio-container {
    margin: 0 0 0rem -2.5rem;
}

.payment-bullets {
    padding-left: 1.5rem;
}

.membership-length--container {
    margin-bottom: 2rem;
}

.select-stroke-focus {
    display: none;
}

.video-stroke-analysis #disagree__label {
    margin: 2rem 2rem 0 0;
}
.video-stroke-analysis #agree__label {
    margin: 2rem 0;
}
@media (min-width: 1200px) {
    .video-stroke-analysis #disagree__label {
        margin: 2rem 2rem 0 0;
    }
    .video-stroke-analysis #agree__label {
        margin: 2rem 0;
    }
}

.video-stroke-analysis--total {
    font-size: 28.8px;
    font-size: 1.8rem;
    font-weight: 700;
    width: 50%;
    display: inline-block;
    padding-right: 41%;
    white-space: nowrap;
}

/* .membership-length--total, */
.card__total--amount-monthly,
.card__total--amount-yearly {
    display: none;
}

.membership-length--total.total-lanemate-blank,
.video-stroke-analysis--total.card__total--amount-blank {
    display: inline-block;
}

.membership-length--lanemate-yearly,
.membership-length--lanemate-monthly,
.membership-length--currentYear, 
.membership-length--nextYear, 
.membership-length--usmsPlus, 
.membership-length--usmsPlusYearPlus {
    text-align: center;
    vertical-align: top;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    cursor: pointer;
    opacity: 1;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}

.membership-length--option.selected {
    border-color: #0068ad;
    border: 2px solid #0068ad;
}

.membership-length--option.selected .promo {
    background-color: #0068ad;
}

label#videoStrokeAnalysisYes {
    margin-top: 1rem;
}

#subscribe-button {
    width: 155px;
}