






/* 04/10/24 - Temp fix for 4-Point login sex label. Remove after updating in source */
.register-form.form-horizontal .label-gender {
    padding: 0 !important;
    text-align: center !important;
}

/* 01/25/24 - Temp fix for mobile article carousel image size. Remove after updating in source */
@media (max-width: 1199px) {
        .article-carousel .carousel-image-container {
        height: 275px;
    }
    .article-carousel .carousel-text-container {
        margin: 35px auto 0;
    }
}

/* 01/09/24 - Still need to remove each of these classes at the 992 breakpoint. There should be no css for these classes at 992. The width set below is temporary to override what's in source. Once removed from source, these can go away. */

@media (min-width: 992px) and (max-width: 1199px) {
     .usms-container {
         width: 100%;
     }
     .page-header h1 {
          max-width: unset;
     }
}


.ambassador-bios .col-xs-12 {
margin-top: 5rem;
}
@media (min-width: 992px) {
.ambassador-bios .html-container {
padding: 0 3rem;
}
.ambassador-bios .col-xs-12 {
margin-top: 0rem;
}
}


/* 01/05/24 - Temp fix for SWIMMER Magazine issue selector. Also added jquery on the Issue Summary component */
.magazine-issue.fade {
     display: none;
}





/* 01/05/24 - Temp font styling on map tooltip of location with multiple clubs */
p.info-window-shared--city-state-zip,
p.info-window-shared--street {
    font-size: 1.3rem;
    line-height: 130%;
    margin: 0 auto;
    padding: 0;
}

p.info-window-shared--street {
    padding-top: 1rem;
}
p.info-window-shared--city-state-zip {
    margin-bottom: 1rem;
        padding-bottom: 1.5rem;
}

/* Add font-size parameter to existing class */
.info-window-shared--club-title {
    font-size: 1.7rem;
}






hr {
    border-top: 1px solid #444;
}







/* Temp override of source styling. Don't add to source */
.usms-container .icon-nav p {
padding: 0 2rem 1rem;
}

/* Adds margin when video follows nav or guide article */
.include-in-nav + .videoWrapper{
    margin: 3rem 0 6rem;
}


/* This overrides existing style in source */
.sign-up--inline {
padding: 3rem 1rem;
}

/* This is new, custom margin for email component that follows a rte with rendering parameter */
.include-in-nav + .sign-up--inline {
margin-top: 5rem;
}

/* 11-12 Additional styling that was missing from source */
.sign-up--inline .sign-up__text, 
.sign-up--inline .sign-up__confirmation {
    text-align: center;
}



/* 10-03 Update accordion styles to accommodate rte that are not wrapped in paragraph tags */
/* Moved the below style to the Streamlines until further testing can be done sitewide, but likely this style will need to go into source */
/* Once implemented, remove from Streamlines page — {05054593-1978-45CB-A6D6-F57DB2825F07}  */
/**/
.accordion a {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .4px;
    font-size: 2rem;
    line-height: 170%;
    margin: 0 auto 2rem;
}












/* 9/25 post deployment fix */
@media (min-width: 992px) and (max-width: 1199px) {
.results-list__item .results-list__item-title  {
        max-height: unset;
    }
}









/*
08/11 CTA text size fix for smaller breakpoints
*/
.cta__button {
    padding: 1rem;
}

@media (min-width: 768px) and (max-width: 991px) {
.usms-container [class*="-6"] .cta h2 {
    font-size: 1.9rem;
}
}





@media (min-width: 992px) {
    .login__items-container .login__list {
        border-radius: 0 0 6px 6px;
    }
}

  /* Meganav Gradient */
  .login__items-container .login__list, 
  .mega-menu-overlay {
      background: linear-gradient(#ffffff, #f9f9f9);
      border-bottom: none;
  }
  