* Swimming 101 Guides - This is just styling content in rte's, it may change over time */

.usms-container .icon-nav.icon-nav-footer {
    display: flex;
}
.guide-nav-top .html-container:first-of-type,
.guide-nav-bottom .html-container:first-of-type {
    padding-top: 4rem;
}
.guide-nav-top .html-container:last-of-type,
.guide-nav-bottom .html-container:last-of-type {
    padding-bottom: 4rem;
}
.guide-nav-top .html-container:first-of-type,
.guide-nav-bottom .html-container:first-of-type {
margin-bottom: 3rem;
}
p.guide-nav_intro--top,
.guide-nav_intro--bottom {
text-align: center;
}
p.guide-nav_intro--top {
margin-top: 4rem !important;
}
.guide-nav_buttons .btn {
    display: block !important;
margin: 2rem 4rem;
}
@media (min-width: 992px) {
.guide-nav-buttons {
justify-content: center;
}
}
@media (min-width: 1200px) {
.guide-nav-top hr,
.guide-nav-bottom hr {
    margin-left: -5rem;
margin-right: -5rem;
}
.guide-nav_buttons {
    display: flex;
    width: calc(100% + 12rem);
    margin-left: -6rem;
margin-bottom: 4rem;
justify-content: center;
}
.guide-nav_buttons .btn {
    line-height: 100% !important;
margin: 0 1rem;
    display: flex !important;
    align-items: center !important;
margin: 0 1rem;
}
}
@media (min-width: 1400px) {
.guide-nav-top hr,
.guide-nav-bottom hr {
    margin-left: -8rem;
margin-right: -8rem;
}
}