
.auto-renew .checkbox-label {
    margin-left: 0;
}
.renew__form-body .form-group.auto-renew {
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 0;
    background-color: #c0eeff;
    padding: 1.25rem 1rem 3rem 3.75rem;
}
.auto-renew .checkbox-note {
    display: flex;
    margin-top: 0.75rem;
    margin-left: 5px;
}


