.confirmation-membership-label {
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    margin: 0 auto 0.25rem;
}

.confirmation-membership-label + p {
    margin: 0 auto 1.75rem;
}

.confirmation-notes {
    font-weight: normal;
    text-align: center;
}

.confirmation-login-wrapper {
    /* display: inline-block; */
    text-align: left;
    margin: 25px 0 45px;
}

.confirmation-notes ul li a {
    text-decoration: underline;
    font-weight: normal;
    color: #0068AD;
}

.confirmation-notes h3 {
    text-align: left;
}

.confirmation-notes .registration-benefit {
    display: block;
    margin: 0 auto 1rem;
    text-align: left;
}

.confirmation-notes .registration-benefit:hover {
    text-decoration: none;
    cursor: pointer;
}

.confirmation-notes .registration-benefit img {
    width: 47px;
    height: auto;
    display: inline-block;
}

.confirmation-notes .registration-benefit p {
    display: inline-block;
    vertical-align: text-top;
}

.btn-register-myusms {
    margin: 0 auto;
}

/* @media (--sm-viewport) { */
    @media (min-width: 768px) {
        .confirmation-notes {
            text-align: left;
            margin-bottom: 90px;
        }
        .confirmation-notes h3 {
            display: inline-block;
            margin-bottom: 45px;
        }
        .confirmation-login-wrapper {
            display: inline-block;
            /* vertical-align: text-bottom; */
            font-size: 16px; 
            font-weight: normal; 
            border-left: 1px solid #CCC; 
            margin-left: 12px; 
            padding-left: 12px; 
            padding-right: 4px;
        }        
    }