.select-stroke-focus {
    display: none;
}
.video-stroke-analysis .form-group {
    margin: 0 auto;
}
.video-stroke-analysis h3 + p {
    margin: 0 auto 2rem;
    padding: 0 1rem;
    text-align: center;
}
.video-stroke-analysis #disagree__label {
    margin: 2rem 2rem 0 0;
}
.video-stroke-analysis #agree__label {
    margin: 2rem 0;
}
#strokeFocus {
    width: 243px;
    appearance: none;
    border-color: rgb(204, 204, 204);
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
.video-stroke-analysis .radio-container {
    margin-left: -3rem;
}
.video-stroke-analysis .form-group label {
    white-space: unset; 
    padding-left: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
.select-stroke-focus > label {
    margin-bottom: 2rem;
}
.select-stroke-focus {
    margin-left: 3rem;
}

@media (min-width: 1200px) {
    .video-stroke-analysis .form-group {
        width: 500px;
    }
    .video-stroke-analysis h3 + p {
        padding: 0 8rem;
    }
    .video-stroke-analysis #disagree__label {
        margin: 2rem 2rem 0 0;
    }
    .video-stroke-analysis #agree__label {
        margin: 2rem 0;
    }
    .video-stroke-analysis .radio-container {
        margin-left: 0;
    }
    .video-stroke-analysis .form-group label {
        padding-left: 0;
    }
}