.sign-up--inline {
    /* background-color: #dee5ef; */
    /* background-color: #dbe7f1; */
    /* background-color: #ddeaef; */
    /* background-color: #dbe7f1; */
    background-color: aliceblue;
    margin: 1rem auto 3rem;
    padding: 3rem 5rem 5rem;
    text-align: center;
    height: 250px;
}

.sign-up--inline .sign-up__container {
    flex-wrap: wrap;
}

.sign-up--inline .sign-up__headline {
    margin: 0.5rem auto 1.5rem;
}

.sign-up--inline .sign-up__text {
    flex: 0 1 100%;
    /* padding: 0 2rem; */
}

.sign-up--inline .sign-up__container #emailAddress {
    border: 1px solid #CCC;
    box-shadow: none; /* Should we add this to the 'form-control' class in Bootstrap Patch file? */
}

.sign-up--inline .sign-up__form button.sign-up__button {
    font-weight: 400;
    border: 0;
}

.sign-up--inline .sign-up__confirmation {
    opacity: 1;
    padding-top: 70px;
}