.sign-up--inline {
    /* background-color: #dee5ef; */
    /* background-color: #dbe7f1; */
    /* background-color: #ddeaef; */
    /* background-color: #dbe7f1; */
    /* Found multiple similar light blue colors in our style sheets; should review and consolidate where possible */
    background-color: aliceblue;
    margin: 1rem auto;
    padding: 3rem 5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.sign-up--inline .sign-up__container {
    flex-wrap: wrap;
}

.sign-up--inline .sign-up__text,
.sign-up--inline .sign-up__confirmation {
    text-align: center;
}

.sign-up--inline .sign-up__text {
    flex: 0 1 100%;
}

.sign-up--inline .sign-up__form {
    padding: 1rem 7rem 2.5rem;
}

.sign-up--inline .sign-up__headline {
    margin: 1.5rem auto 0.5rem;
}

.sign-up--inline .sign-up__container #emailAddress {
    /* border: unset;  */
    /* Overrides an existing style in common.min.css */
    margin-top: 0;
}

.sign-up--inline .sign-up__container .has-error#emailAddress {
    border: 1px solid #C62030;
}

.form-control {
    box-shadow: none; /* Should we add this to the 'form-control' class in Bootstrap Patch CSS file? */
    box-sizing: content-box;
    padding: 0.5rem 0;
    font-size: 17px;
    line-height: 35px;
    text-indent: 15px;
    margin: 5px 0;
}

.sign-up--inline .sign-up__form button.sign-up__button {
    font-weight: 400;
    height: 4.6rem;
    line-height: 4.6rem;
    width: auto;
    padding: 0 2rem;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    color: #fff;
    background-color: #D9534F;
    border: 0 none;
    border-radius: 3px;
}

.sign-up--inline .sign-up__confirmation {
    width: 100%;
    opacity: 1; /* This overrides an existing style from the original Article Signup component, may not be needed if the source javascript sets it */
}

.sign-up--inline .sign-up__confirmation > p {
    margin: 0;
    vertical-align: middle;
}

.sign-up__validation {
    font-size: 1.6rem;
    color: red;
    width: 100%;
}