.usms-container,
.html-container {
    font-size: 2.1rem;
    line-height: 3.5rem;
    color: #444;
}

.usms-container h1,
.html-container h1 {
    font-size: 4.5rem;
    line-height: 5.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.usms-container h2,
.html-container h2 {
    font-size: 3.7rem;
    line-height: 4.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.usms-container h3,
.html-container h3 {
    font-size: 2.7rem;
    line-height: 3.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.usms-container h4,
.html-container h4 {
    font-size: 2.1rem;
    line-height: 3.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.usms-container p,
.html-container p {
    /* font-size: 2.1rem; */
    /* line-height: 3.5rem; */
    margin-bottom: 2.1rem;
    /* color: #444; */
}

.usms-container p, 
.html-container p, 
.usms-container li, 
.html-container li {
    font-weight: 300;
    letter-spacing: .3px;
}

.image-credit {
    font-size: 1.2rem;
}

footer,
footer a {
    font-size: 14px;
    text-decoration: none;
}


.col-md-6 .col-breakout {
    width: auto;
    margin-left: calc(50% - 470px);
    margin-right: calc(50% - 470px);
}

.breadcrumb__container {
    font-size: 15px;
}

.article-author__title {
    margin-top: 0 !important;
}

/* KEEP!!!!!!!!!!! Alternate author bio styles */

/*
.article-author {
    margin: 2rem auto 4rem;
    padding: 2rem 0 4rem;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
} */



.article-author {
    background-color: #dbe7f1;
}

.categories__container {
    margin-top: 1.5rem;
}

.categories__header,
.tags__header {
    font-size: 1.4rem;
}

.position-bottom {
    position: absolute;
    bottom: 6rem;
}

.col-md-6 img {
    max-width: 100%;
    width: 100%;
}

/* .section { */
/* .usms-container {
    padding-left: 2rem;
    padding-right: 1.8rem;
    background-color: #FFF;
} */
.section.section-full {
    /* padding-left: 0; */
    /* padding-right: 0; */
    background-color: #FFF;
}

.social-share {
    justify-content: start;
}

.tags {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .usms-container {
        width: 100%;
    }
    /* .section { */
    /* .usms-container {
        padding-left: 3rem;
        padding-right: 2.5rem;
    } */
}

@media (min-width: 992px) {
    .usms-container {
        width: 1100px;
    }
    .social-share {
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .usms-container {
        width: 1400px;
    }
}