/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* Move this to Single Image component style sheet */
.container-fluid p.image-credit, 
.usms-container p.image-credit {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 140%;
    margin: 0.5rem 0 2rem;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif;
    text-align: left;
    white-space: nowrap;
    text-wrap: wrap;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!! */



b, strong {
    font-weight: 500;
}


/* Bandaid to make local nav carrots match test */
/* .mega-main-menu__items>li .fa-chevron-right {
    margin-right: -1px;
} */



/* Adjust size of paragraphs in Bootstrap modal */
.modal h5 {
    line-height: 120%;
}
.modal p {
    font-size: 1.8rem;
    line-height: 140%;
}




/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* Set widths for USMS Container, Main Menu, Page Header, Login Dropdown and Homepage Carousel */
/* !!!!!!!!!!!!!!!!!!!!!!!!! */
.usms-container {
    width: 100%;
    max-width: 100%;
}
@media (min-width: 992px) {
    .usms-container {
        width: 100%;
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .usms-container {
        width: 1100px;
    }
}
@media (min-width: 1400px) {
    .usms-container {
        width: 1200px;
    }
}

/* Page Header */
@media (min-width: 992px) {
    .page-header h1 {
        width: 100%;
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .page-header h1 {
        max-width: 1100px;
    }
}
@media (min-width: 1400px) {
    .page-header h1 {
        max-width: 1200px;
    }
}

/* Main Menu */
@media (min-width: 992px) {
    .mega-main-menu {
        width: 100%;
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .mega-main-menu {
        max-width: 1100px;
    }
}
@media (min-width: 1400px) {
    .mega-main-menu {
        max-width: 1200px;
    }
}

/* Login Dropdown */
@media (min-width: 1200px) {
    .login__items-container {
        width: 1100px;
    }
}
@media (min-width: 1400px) {
    .login__items-container {
        width: 1200px;
    }
}

/* Homepage Carousael  */
.carousel__slide-content {
    width: 100%;
    padding: 0 5px;
}
@media (min-width: 768px) {
    .carousel__slide-content {
        width: 100%;
        padding: 0 15px;
    }
}
@media (min-width: 992px) {
    .carousel__slide-content {
        width: 100%;
        padding: 0 15px;
    }
}
@media (min-width: 1200px) {
    .carousel__slide-content {
        width: 1100px;
    }
}
@media (min-width: 1400px) {
    .carousel__slide-content {
        width: 1200px;
    }
}