
#gtdMilestones {
    width: 100%;
    margin: 3rem auto;
    position: relative;
}

.filters .filter--milestones {
    width: 140px;
    max-width: 140px;
    display: inline-block;
    margin: 0 auto 2rem;
}

.list__item:last-of-type {
    display: none;
}

#gtdMilestones .list__item {
    height: auto;
}