
#gtdMilestones {
    width: 100%;
    margin: 3rem auto;
    position: relative;
}

.filters .filters__milestones {
    width: 140px;
    max-width: 140px;
    display: block;
    margin: 10px 20px 25px 0;
    padding: 10px 30px 10px 0;
    /* border-right: 1px solid #CCC; */
}

.filters__summary--count, 
.filters__summary {
    display: inline-block;
}

.filters__summary--item-filters__milestones {
    margin-right: 0;
}

.filters__milestones .filters label {
    margin: 0 auto;
}

.list__item .milestone {
    width: 150px;
}

.sorting .name,
.list__item .name {
    width: 100px;
    min-width: 100px;
}

.list__item:last-of-type {
    display: none;
}

.list__item {
    height: auto;
}



.summary-container {
    display: block;
}

.controls tr {
    vertical-align: middle;
    height: 30px;

    /* border-bottom: 1px solid #EEE; */
    /* padding: 0 10px; */
}

.controls th,
.list td {
    font-size: 16px;
    line-height: 19px;
    padding: 5px 10px;
}


#pageInfo {
    position: absolute;
    bottom: -90px;
    right: 70px;
}

th.milestone,
td.milestone {
    display: none;
}

@media only screen and (min-width: 768px) {
    
    .sorting .name,
    .list__item .name {
        width: 300px;
        min-width: 300px;
    }

    .filters .filters__milestones {
        /* width: 140px; */
        /* max-width: 140px; */
        display: inline-block;
        margin: 10px 20px 25px 0;
        padding: 10px 30px 10px 0;
        border-right: 1px solid #CCC;
    }

    .summary-container {
        display: inline-block;
        position: absolute;
        top: 70px;
    }
}