.gtd-milestones {
    width: 100%;
    margin: 3rem auto;
    position: relative;
}
.gtd-milestones .filters .filters__milestones {
    width: 140px;
    max-width: 140px;
    display: block;
    margin: 10px 0 5px;
    padding: 10px 0;
}
.gtd-milestones .filters__summary--count, 
.gtd-milestones .filters__summary {
    display: inline-block;
}
.gtd-milestones .filters__summary--item-filters__milestones {
    margin-right: 0;
}
.gtd-milestones .filters__milestones .filters label {
    margin: 0 auto;
}
.gtd-milestones .list__item .milestone {
    width: 150px;
}
.gtd-milestones .sorting .name,
.gtd-milestones .list__item .name {
    width: 100px;
    min-width: 100px;
}
.gtd-milestones .summary-container {
    display: block;
}
.gtd-milestones .filters .title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}
.gtd-milestones #pageInfo {
    position: absolute;
    bottom: -90px;
    right: 70px;
}
.gtd-milestones th.milestone,
.gtd-milestones td.milestone {
    display: none;
}
@media only screen and (min-width: 768px) {
    .gtd-milestones th.milestone,
    .gtd-milestones td.milestone {
        display: table-cell;
    }
    .gtd-milestones .sorting .name,
    .gtd-milestones .list__item .name {
        width: 300px;
        min-width: 300px;
    }
    .gtd-milestones .filters .filters__milestones {
        display: inline-block;
        margin: 10px 20px 25px 0;
        padding: 10px 30px 10px 0;
        border-right: 1px solid #CCC;
    }
    .gtd-milestones .summary-container {
        display: inline-block;
    }
}