.gtd-zones {
    width: 100%;
    margin: 3rem auto;
    position: relative;
}
.gtd-zones .filters .title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}
.gtd-zones .row {
    margin: 0;
}
.gtd-zones .participant-column-labels {
    font-size: 1.2rem;
    font-weight: bold;
}
.gtd-zones .row.participant.participant-column-labels {
    /* height: 2rem; */
    padding: .5rem 0;
}
.gtd-zones .row.participant > * {
    line-height: 1.5rem;
}
.gtd-zones .row.participant.participant-column-labels > * {
    line-height: 2rem;
}
.gtd-zones .row.zone .zone__title {
    background-color: yellow;
    padding: 1.5rem;
}
.gtd-zones .row.lmsc .lmsc__title {
    background-color: #EEE;
    padding: 1.5rem;
}
.gtd-zones .row.club .club__title {
    padding: 0 1.0rem;
}
.gtd-zones .row a:hover {
    text-decoration: none;
}
.gtd-zones .top-link {
    position: relative;
    float: right;
    margin: .5rem 1rem;
    font-size: 1rem;
    text-align: right;
    text-decoration: underline;
    color: #000;
}
.gtd-zones #Breadbasket .top-link {
    display: none;
}
.gtd-zones .row.zone {
    margin: 2rem auto;
}
.gtd-zones .row.lmsc {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.gtd-zones .row.club {
    margin-left: 2.0rem;
    margin-right: 2.0rem;
}
.gtd-zones .row.participant {
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem 0;
    border-bottom: 1px solid #CCC;
}
.gtd-zones .club__participants {
    margin: 1rem auto 2rem;
}
.gtd-zones .row.club + .row.lmsc {
    margin-top: 3rem;
}
.gtd-zones .row.club + .row.zone {
    margin-top: 4rem;
}
.gtd-zones .lmsc-name,
.gtd-zones .club-name {
    line-height: 2rem;
    margin-bottom: 0;
}
.gtd-zones .zone-name,
.gtd-zones .lmsc-name,
.gtd-zones .club-name,
.gtd-zones .zone-stats,
.gtd-zones .lmsc-stats,
.gtd-zones .club-stats {
    display: block;
}
.gtd-zones .zone-stats,
.gtd-zones .lmsc-stats,
.gtd-zones .club-stats {
    line-height: 1.75rem;
    font-size: 13px;
}
.gtd-zones .zone-stats > *,
.gtd-zones .lmsc-stats > *,
.gtd-zones .club-stats > * {
    display: block;
}
.gtd-zones .filters {
    margin-bottom: 2rem;
}
.gtd-zones .filters__zone,
.gtd-zones .filters__lmsc {
    width: 130px;
    max-width: 143px;
    display: inline-block;
}
.gtd-zones .filters__zone {
    display: inline-block;
    margin-top: 1.5rem;
    margin-right: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.25rem;
    border-right: 1px solid #CCC;
}
.gtd-zones .participant__age {
    text-align: center;
}
.gtd-zones .participant__miles {
    text-align: right;
}
.gtd-zones .club .club__title {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}
.gtd-zones .club .club__title:before {
    opacity: 1;
    content: 'remove';
    margin: 0;
    font-family: 'Material Icons';
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    position: relative;
    display: inline;
    vertical-align: sub;
    line-height: inherit;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    top: 18px;
    left: -20px;
}
.gtd-zones .club .club__title.collapsed:before {
    opacity: 0.35;
    content: 'add';
    top: 18px;
    left: -20px;
}
@media only screen and (min-width: 768px) {
    .gtd-zones .club .club__title.collapsed:before {
        top: -2px;
        left: 0;
    }
    .gtd-zones .club .club__title:before {
        top: -2px;
        left: 0;
    }
    .gtd-zones .row.zone {
        margin: 3rem auto;
    }
    .gtd-zones .row.lmsc {
        margin-bottom: 1.5rem;
    }    
    .gtd-zones .row.zone .zone__title {
        padding: 0.5rem 1.5rem;
    }
    .gtd-zones .row.lmsc .lmsc__title {
        padding: 0.5rem 1.5rem;
    }
    .gtd-zones .row.club {
        margin: 1rem 0;
    }
    .gtd-zones .row.participant {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    .gtd-zones .zone-name,
    .gtd-zones .lmsc-name,
    .gtd-zones .club-name,
    .gtd-zones .zone-stats,
    .gtd-zones .lmsc-stats,
    .gtd-zones .club-stats {
        display: inline-block;
    }
    .gtd-zones .zone-stats,
    .gtd-zones .lmsc-stats,
    .gtd-zones .club-stats {
        font-size: 13px;
    }
    .gtd-zones .zone-stats > *,
    .gtd-zones .lmsc-stats > *,
    .gtd-zones .club-stats > * {
        display: inline-block;
        padding-left: 0.75rem;
        padding-right: 0;
        margin-left: 0.5rem;
        margin-right: 0;
        line-height: 1rem;
        border-left: 1px solid #777;
    }    
}