.icon-nav {
    display: none;
}
.icon-nav p {
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;  
    text-align: center;
    margin: 0 auto 0px;
    padding: 0;
    min-height: 160px;
}
@media (min-width: 992px) {
    .icon-nav {
        display: flex;
        padding-top: 3rem;
    }
}