#lmscWrapper {
    margin: 2rem auto;
}
.lmsc-wrapper .row {
    margin: 0;
}
/* .lmsc-wrapper .row.club { */
    /* border-top: 1px solid #CCC; */
    /* border-bottom: 1px solid #CCC; */
/* } */

.participant-column-labels {
    font-size: 1.2rem;
    font-weight: bold;
}

.lmsc-wrapper .row.participant {
    border-bottom: 1px solid #CCC;
}

.lmsc-wrapper .row.participant:first-of-type {
    border-top: 1px solid #CCC;
}

.row.zone .zone__title {
    background-color: #EEE;
    padding-left: 2rem;
}

.row a:hover {
    text-decoration: none;
}

.top-link {
    font-size: 10px;
    text-decoration: underline;
    color: #666;
    display: block;
    line-height: 1rem;
    margin: 1.5rem auto -0.25rem;
}

.row.lmsc {
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

.row.club {
    margin-left: 6rem;
    margin-right: 7rem;
}
.row.participant {
    margin-left: 7rem;
    margin-right: 7rem;
}

.row.zone + .row.zone {
    margin-top: 7rem;
    margin-bottom: 0.5rem;
}

#Breadbasket .top-link {
    display: none;
}

.zone__title + .row.lmsc {
    margin-top: 7rem;
    margin-bottom: 0.5rem;
}

.row.participant + .row.lmsc {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.row.participant + .row.club {
    margin-top: 2rem;
}

.zone-name,
.lmsc-name,
.club-name {
    margin: 2rem auto;
    line-height: 1rem;
}

.zone-name,
.lmsc-name,
.club-name,
.zone-stats,
.lmsc-stats,
.club-stats {
    display: inline-block;
}

.zone-stats,
.lmsc-stats,
.club-stats {
    line-height: 1rem;
    font-size: 13px;
    margin: 1rem auto 1.5rem;
}
.filters {
    margin-bottom: 2rem;
}


.filters .filter--zone,
.filters .filter--lmsc {
    width: 200px;
    max-width: 200px;
    display: inline-block;
    margin: 0 auto 2rem;
}

.filters .filter--zone {
    margin-right: 1.5rem;
}