#lmscWrapper {
    margin: 2rem auto;
}
.lmsc-wrapper .row {
    margin: 0;
}
/* .lmsc-wrapper .row.club { */
    /* border-top: 1px solid #CCC; */
    /* border-bottom: 1px solid #CCC; */
/* } */

.participant-column-labels {
    font-size: 1.2rem;
    font-weight: bold;
}

.lmsc-wrapper .row.participant {
    border-bottom: 1px solid #CCC;
}

.lmsc-wrapper .row.participant:first-of-type {
    border-top: 1px solid #CCC;
}

.row.zone .zone__title {
    background-color: #EEE;
    padding-left: 2rem;
}

.row a:hover {
    text-decoration: none;
}

.top-link {
    font-size: 10px;
    text-decoration: underline;
    color: #666;
    display: block;
    line-height: 1rem;
    margin: 1.5rem auto -0.25rem;
}

#Breadbasket .top-link {
    display: none;
}

.row.lmsc {
    margin-bottom: 2rem;
}

.row.lmsc .lmsc__title {
    padding-left: 1.5rem;
    border: 1px solid #CCC;
    /* margin-top: 1rem; */
}

.row.club {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.row.participant {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.row.zone + .row.zone {
    margin-top: 7rem;
    margin-bottom: 0.5rem;
}

.row.participant + .row.lmsc {
    margin-top: 2rem;
    /* color: red; */
}

.zone__title + .row.lmsc {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.row.participant + .row.lmsc {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.row.participant + .row.club {
    margin-top: 2rem;
}

.zone-name,
.lmsc-name,
.club-name {
    margin: 1.5rem auto 0;
    line-height: 2rem;
}

.zone-name,
.lmsc-name,
.club-name,
.zone-stats,
.lmsc-stats,
.club-stats {
    display: block;
}

.zone-stats,
.lmsc-stats,
.club-stats {
    line-height: 1.5rem;
    font-size: 13px;
    margin: 0 auto 1.5rem;
}

.zone-stats > *,
.lmsc-stats > *,
.club-stats > * {
    display: block;
}

.filters {
    margin-bottom: 2rem;
}


.filters .filter--zone,
.filters .filter--lmsc {
    width: 140px;
    max-width: 140px;
    display: inline-block;
    margin: 0 auto 2rem;
}

.filters .filter--zone {
    margin-right: 1.5rem;
}

.participant__age {
    text-align: center;
}

.participant__miles {
    text-align: right;
}

@media only screen and (min-width: 768px) {
    .row.lmsc {
        margin-bottom: 2rem;
    }
    
    .row.lmsc .lmsc__title {
        padding-left: 1.5rem;
        border: 1px solid #CCC;
    }
    
    .row.club {
        margin-left: 1.0rem;
        margin-right: 1.0rem;
    }
    .row.participant {
        margin-left: 1.0rem;
        margin-right: 1.0rem;
    }
    
    .row.zone + .row.zone {
        margin-top: 7rem;
        margin-bottom: 0.5rem;
    }
    
    .row.participant + .row.lmsc {
        margin-top: 2rem;
        /* color: red; */
    }
    
    .row.zone + .row.lmsc {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    
    .row.participant + .row.lmsc {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    
    .row.participant + .row.club {
        margin-top: 2rem;
    }

    .zone-name,
    .lmsc-name {
        margin: 1.5rem auto;
        line-height: 1rem;
    }
    .club-name {
        margin: 1.25rem auto 0.25rem;
    }

    .zone-name,
    .lmsc-name,
    .club-name,
    .zone-stats,
    .lmsc-stats,
    .club-stats {
        display: inline-block;
    }
    
    .zone-stats,
    .lmsc-stats,
    .club-stats {
        line-height: 1rem;
        font-size: 13px;
        margin: 1rem auto;
    }

    .zone-stats > *,
    .lmsc-stats > *,
    .club-stats > * {
        display: inline-block;
        padding-left: 0.75rem;
        padding-right: 0;
        margin-left: 0.5rem;
        margin-right: 0;
        border-left: 1px solid #CCC;
    }
    
}