html {
	font-size: 10px;
}
body {
	font-size: 14px;
}
.feed-wrapper,
.records-wrapper {
    width: 100%;
}

/* Loading Spinner */

.spinner {
	position: fixed;
	top: 0;
	right: 0;
	height: 0;
	width: 100%;
	z-index: 11;
	background-color: rgba(255,255,255,0.8);
	bottom: 0;
	height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;	  
	display: none;
}
.spinner img {
	display: block;
	height: 32px;
	width: auto;
	position: relative;
	top: calc(50% - 16px);
	left: calc(50% - 16px);
}
.loading .spinner {
	display: block;
}

/* Bootstrap Overrides */
.btn {
	padding: 1rem 1.5rem;
    font-size: 1.3rem;
    line-height: 1.5;
}
.btn.btn-primary {
	background-color: #0068ad;
}
.btn.btn-primary:hover {
	background-color: #267fb9;
}
.fade {
	opacity: 0;
}
.fade.show {
	opacity: 1;
}
.feed-body.collapse {
	display: none;
}
.collapse.show {
	display: block;
}
.feed-body.collapse.show {
	display: block !important;
}
.feed-body.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
}
.modal-backdrop.show {
    opacity: .5;
}
/* End Bootstrap Overrides */

.feed-branding h6 {
	font-size: 11px;
	margin: 1rem 0 -3px 13px;
}
.feed-branding {
	margin: 0 auto 1rem;
}
.feed-branding img {
	display: block;
}
.feed-description {
    margin: 1rem 0 2.5rem;
}
#disconnectFeed {
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 13px;
	color: #CCC;
}
#disconnectFeed:hover {
	color: #CCC;
}
#getStarted {
	margin: 0 0 4rem;
}
.intro-controls {
	margin: 2rem auto;
}
.page-title {
	margin: 2rem auto 1.5rem;
	padding: 1rem 0;
	background-color: #0068ad;
	color: #FFF;
}
.page-title {
	padding-left: 1.5rem;
    font-size: 2.7rem;
}
.nav {
	background-color: #fff;
}
.feed__item {
	margin: 0 auto 1.0rem;
	padding: 1.75rem 1.25rem 1rem;
}
.feed__item:nth-child(even) {
	background-color: #f7f7f7;
}
.feed__item--title {
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 2.0rem;
	color: #555;
	margin: 0 0 1.0rem;
}
.feed__item--date {
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5rem;
	margin: 0;
	padding: 0 .75rem 0 0;
	display: inline-block;
}
.feed__item--location {
	font-size: 1.1em;
	line-height: 1.5rem;
	margin: 0 0 0.5rem;
	padding: 0;
	display: inline-block;
}
.feed__item--tracker {
	margin: 0 auto 1.5rem;
}
.feed__item--data-source {
	text-align: left;
	display: inline-block;
}
.badge__pr {
	position: relative;
	margin: -10px auto 0;
	padding: 0;
}
.pr__badge--icon {
	font-size: 14px;
    color: #ff8600;
    display: inline-block;
    height: 20px;
    width: 15px;
    vertical-align: middle;
}
.pr__badge--label {
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	color: darkgrey;
	color: #888;
    line-height: 30px;
    padding: 0;
	vertical-align: -webkit-baseline-middle;
}
.badge__pr--checkmark {
	font-size: 26px;
    font-weight: bold;
    color: green;
    line-height: 30px;
    vertical-align: sub;
}
.feed__item--label {
	font-size: 1.2rem;
	margin: 0 auto;
	padding: 0;
}
.feed__item--distance,
.feed__item--pace,
.feed__item--time {
	font-size: 2.4rem;
	line-height: 2.8rem;
	font-weight: 700;
	color: #0068ad;
	margin: 0 auto 1.0rem;
}
.record__item {
	margin: 0 auto 1.0rem;
	padding: 1.75rem 1.25rem 1rem;
}
.record__item:nth-child(even) {
	background-color: #f7f7f7;
}
.record__item--date {
	font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0;
    padding: 0 .75rem 0 0;
    display: inline-block;
}
.record__item--name {
	font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.0rem;
    color: #555;
    margin: 0 0 1.0rem;
}
.record__item--distance,
.record__item--time {
	font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: #0068ad;
    margin: 0 auto 1.0rem;
}

/* Bootstrap Nav Styles */
.nav-tabs {
	padding-top: 1rem;
	padding-bottom: 0;
    border-bottom: 1px solid #dee2e6;
    border: 0 none;
}
.nav-tabs .nav-link {
	border-radius: 5px 5px 0 0;
	border-color: #ededed;
	margin-right: 1rem;
	color: #0068ad;
}
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
	border-color: #dee2e6 #dee2e6 #FFF #dee2e6;
}
.nav-link {
	padding: 1.25rem 1.5rem;
	font-size: 1.5rem;
    background-color: #e5f5ff;
    border-color: #dee2e6 #dee2e6 #dee2e6 #dee2e6;
}
.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
    color: #0068ad;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff #dee2e6;
}
/* End Bootstrap Nav Styles */

.tab-panel--title {
	margin: 0 1.5rem;
	padding: 3rem 0 2.5rem;
}

/* Media Queries */
@media only screen and (min-width: 480px) {
	.swim-feed .page-header {
		padding-bottom: 0.5rem;
	}
	.nav-tabs {
	    border-bottom: 1px solid #dee2e6;
	    padding-top: 1.5rem;
	    padding-bottom: 0;
	    padding-left: 10px;
	    margin-top: -15px;
    }	
	.nav-link {
		padding: 1.5rem 2.75rem;
		font-size: 1.5rem;
	}
	.feed__item {
		margin: 0 auto;
		padding: 2.75rem 1.25rem 2.5rem;
	}
	.badge__pr {
		position: relative;
		margin: -15px auto 0;
		padding: 0;
	}
	.feed__item--tracker {
		margin: 0 auto;
	}
	.feed__item--data-source {
		text-align: center;
	}
	.feed__item--tracker-image,
	.feed__item--tracker-name {
		display: block;
		text-align: center;
		margin: auto;
	}
}
