#loadingWrapper.hide {
    display: none;
}
#loadingOverlay {
    background-color: rgba(1, 1, 1, .25);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
#loadingSpinner {
    top: 50%;
    position: absolute;
    left: 50%;
    vertical-align: top;
}





#resultsGtd {
    width: 100%;
    margin: 30px auto;
}


#resultsGtd .control-header {
    display: block !important;
    font-size: 23px;
    font-weight: bold;
}
#resultsGtd .filters {
    padding: 5px 10px 15px;
    /* border-bottom: 1px solid #DDD; */
    background-color: #DDD;
    /* border-bottom: 1px solid #EEE; */
}
#resultsGtd .filters div,
#resultsGtd .filters ul,
#resultsGtd .filters li {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    padding: 0 0 10px;
}
#resultsGtd .filters label {
    display: block;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    margin: 0;
}
#resultsGtd .filters ul {
    list-style-type: none;
    font-weight: normal;
    padding: 0;
}
#resultsGtd .filters li {
    padding-left: 10px;
}





/* #resultsGtd thead {
    vertical-align: bottom;
} */
#resultsGtd thead.filters th {
    padding: 15px;
}
#resultsGtd .sorting th {
    padding: 0 10px;
    background-color: #FFF;
    position: relative;
}
#resultsGtd td {
    padding: 8px 10px;
    line-height: 17px;
}
#resultsGtd tbody tr {
    vertical-align: top;
    border-bottom: 1px solid #EEE;
}
#resultsGtd th input.search {
    width: 100%;
    position: initial;
    display: block;
    /* line-height: 17px; */
    height: 25px;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding-left: 5px;
    /* color: #838383; */
    border: 1px solid #e0e0e0;
}
#resultsGtd select {
    background-color: #F3F3F3;
    border: 1px solid #E0E0E0;
    /* width: 85px; */
    height: 25px;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding-left: 5px;
}
/* #resultsGtd .filters .sex {
    max-width: 60px;
} */
#resultsGtd .filters .club {
    max-width: 60px;
    display: block;
}
#resultsGtd .sorting .namefirst {
    width: 120px;
    min-width: 120px;
}
#resultsGtd .sorting .sex {
    width: 60px;
    min-width: 60px;
    padding-right: 0;
}
#resultsGtd .sorting .age {
    width: 60px;
    min-width: 60px;
    padding-left: 0;
}

@media only screen and (min-width: 768px) {
    #resultsGtd .filters .name {
        width: 350px;
        max-width: 350px;
        /* padding-right: 30px; */
        /* display: inline-block; */
    }
    #resultsGtd .filters .agegroup {
        padding-right: 50px;
    }
    #resultsGtd .sorting .namefirst {
        width: 300px;
        min-width: 300px;
    }
    #resultsGtd .sorting .total {
        width: 150px;
        min-width: 150px;
    }
    #resultsGtd .filters .club {
        max-width: 60px;
        display: inline-block;
    }
    #resultsGtd .sorting .club {
        width: 150px;
        min-width: 150px;
    }
    #resultsGtd .sorting .club,
    #resultsGtd .list .club {
        padding-left: 50px;
    }
}




/* td.sex,
td.age,
td.club,
td.lmsc {
    text-align: center;
} */
/* th.club,
td.club {
    text-align: left;
} */
/* td.agegroup {
    text-align: right;
} */
/* .search--club {
    margin: 5px 0 0 !important;
} */
.total {
    text-align: right;
}
/* td.total {
    font-weight: bold;
    background-color: #F9F9F9;
} */
tfoot li {
    display: inline-block;
    padding: 5px 0;
  }





.controls .sort:after {
    opacity: 0.35;
    content: 'arrow_drop_down';
    margin: 0 -5px 0 -1px;
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    display: inline;
    vertical-align: sub;
    line-height: inherit;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.controls .sort {
    color: #1e3666;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}
.controls .sort.asc:after {
    opacity: 1;
    content: 'arrow_drop_up';
}
.controls .sort.desc:after {
    opacity: 1;
    content: 'arrow_drop_down';
}
.controls .agegroup .sort:after {
    position: absolute;
    left: 6px;
} 
 









/* #resultsGtd select {
    display: inline-block;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  } */

/*
.sex .material-icons {
    position: absolute;
    right: 18px;
    font-size: 15px;
    top: 10px;
    background-color: red;
    opacity: 1;
    z-index: 999999999999;
} */



.list__item .namefirst,
.list__item .namelast {
    display: block;
}
.list__item .namelast {
    font-weight: bold;
}
@media only screen and (min-width: 768px) {
    .list__item .namefirst,
    .list__item .namelast {
        display: inline-block;
        font-weight: normal;
    }
}

