#loadingWrapper.hide {
    display: none;
}
#loadingOverlay {
    background-color: rgba(1, 1, 1, .25);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
#loadingSpinner {
    top: 50%;
    position: absolute;
    left: 50%;
    vertical-align: top;
}





#resultsGtd {
    width: 100%;
    margin: 30px auto;
    position: relative;
}
#resultsGtd .filters .title {
    display: block !important;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0 10px;
}
#resultsGtd .filters .title a {
    font-size: 11px;
    font-weight: normal;
    margin-left: 4px;
    padding-left: 8px;
    text-decoration: underline;
    border-left: 1px solid #CCC;
}
#resultsGtd .filters {
    background-color: #DDD;
}
#resultsGtd .filters div,
#resultsGtd .filters ul,
#resultsGtd .filters li {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    padding: 0;
}
#resultsGtd .filters label {
    display: block;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    margin: 0;
}
#resultsGtd .filters ul {
    list-style-type: none;
    font-weight: normal;
    padding: 0;
}
#resultsGtd .filters li {
    padding-left: 10px;
}



#resultsGtd thead.filters th {
    padding: 15px 20px 20px;
}
#resultsGtd .sorting th {
    padding: 10px 10px 0;
    background-color: #FFF;
    position: relative;
}
#resultsGtd td {
    padding: 8px 10px;
    line-height: 17px;
}
#resultsGtd tbody tr {
    vertical-align: top;
    border-bottom: 1px solid #EEE;
}
#resultsGtd th input.search {
    width: 100%;
    position: initial;
    display: block;
    /* line-height: 17px; */
    height: 25px;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding-left: 5px;
    /* color: #838383; */
    border: 1px solid #e0e0e0;
}
#resultsGtd select {
    border: 1px solid #E0E0E0;
    height: 25px;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding-left: 5px;
}

#resultsGtd .filters .name {
    width: 150px;
    max-width: 150px;
}
/* #resultsGtd .filters .sex {
    max-width: 60px;
    display: inline-block;
}  */

#resultsGtd .filters #sexForm {
    display: inline;
}
#resultsGtd .filters #sexForm * {
    display: inline-block;
}
#resultsGtd .filters .club {
    max-width: 60px;
    display: block;
}
#resultsGtd .sorting .namefirst {
    width: 120px;
    min-width: 120px;
}
#resultsGtd .sorting .sex {
    width: 60px;
    min-width: 60px;
    padding-right: 0;
}
#resultsGtd .sorting .age {
    width: 60px;
    min-width: 60px;
    padding-left: 0;
}

@media only screen and (min-width: 768px) {
    #resultsGtd select {
        background-color: #F3F3F3;
    }
    #resultsGtd .filters .name {
        width: 280px;
        max-width: 280px;
        padding-right: 10px;
    }
    #resultsGtd .filters .agegroup {
        padding-left: 10px;
    }
    
    #resultsGtd .filters .sex div {
        padding: 0 2px;
        text-align: center;
    }
    #resultsGtd .filters .lmsc {
        margin-left: 30px;
        padding-left: 30px;
        border-left: 1px solid #CCC;
    }

    #resultsGtd .sorting .namefirst {
        width: 300px;
        min-width: 300px;
    }
    #resultsGtd .sorting .total,
    #resultsGtd .list .total {
        width: 150px;
        min-width: 150px;
        padding-right: 100px;
    }
    #resultsGtd .filters .club {
        max-width: 60px;
        display: inline-block;
    }
    #resultsGtd .sorting .club,
    #resultsGtd .list .club {
        width: 150px;
        min-width: 150px;
    }
    /* #resultsGtd .sorting .club,
    #resultsGtd .list .club {
        padding-left: 50px;
    } */
}







.total {
    text-align: right;
}
tfoot li {
    display: inline-block;
    padding: 5px 0;
  }




.controls .sort:after {
    opacity: 0.35;
    content: 'arrow_drop_down';
    margin: 0 -5px 0 -1px;
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    display: inline;
    vertical-align: sub;
    line-height: inherit;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.controls .sort {
    color: #1e3666;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}
.controls .sort.asc:after {
    opacity: 1;
    content: 'arrow_drop_up';
}
.controls .sort.desc:after {
    opacity: 1;
    content: 'arrow_drop_down';
}
/* .controls .agegroup .sort:after {
    position: absolute;
    left: 6px;
}  */
 





.list__item .namefirst,
.list__item .namelast {
    display: block;
}
.list__item .namelast {
    font-weight: bold;
}
@media only screen and (min-width: 768px) {
    .list__item .namefirst,
    .list__item .namelast {
        display: inline-block;
        font-weight: normal;
    }
}

