h1,h2,h3,h4,h5,h6 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 120%;
    color: inherit;
}
h1 {
    font-size: 3.6rem;
}
h2 {
    font-size: 3.0rem;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 2.2rem;
}
h5 {
    font-size: 2.1rem;
}
h6 {
    font-size: 1.95rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4.5rem;
    }
    h2 {
        font-size: 3.7rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.5rem;
    }
    h5 {
        font-size: 2.2rem;
    }
    h6 {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    h2.header-bar--blue {
        border-radius: 0;
        border-top: 25px solid #FFF;
        margin: 0 0 30px;
        padding: 15px 25px;
        background-color: #0060A7;
        color: #FFF;
        font-size: 3rem;
    }
}