.sticky-ad {
    display: none;
}

@media (min-width: 992px) {
    .sticky-ad {
        display: block;
    }
}
/* .sticky-ad {
    display: none;
    opacity: 0;
} */
/* .sticky-ad:not(.sticky-start) {
    position: relative;
} */
.sticky-ad {
    position: fixed;
}
.sticky-ad-left {
    left: 0;
}
.sticky-ad-right {
    right: 0;
}
@media (min-width: 992px) {
    .sticky-ad {
        display: block;
        position: fixed;
        top: 10px;    
        padding: 3rem;
    }
    /* .sticky-ad.sticky-start {
        width: 25%;
        margin: 0 -15.3px;
    } */
    .sticky-ad-left {
        text-align: left;
        /* left: 50px; */
        /* text-align: center; */
    }
    .sticky-ad-right {
        /* right: 50px; */
        text-align: right;
        /* text-align: center; */
    }
    .sticky-ad img {
        width: 150px;
        height: auto;
    }
    /* .sticky-ad:not(.sticky-start).sticky-ad-left {
        left: -30px !important;
    }
    .sticky-ad:not(.sticky-start).sticky-ad-right {
        left: 25px !important;
    } */
}
@media (min-width: 1200px) {
    .sticky-ad {
        position: fixed;
        /* top: 600px; */
        padding: 5rem 0;
    }
    .sticky-ad-left {
        left: 100px;
    }
    .sticky-ad-right {
        right: 100px;
    }
    .sticky-ad img {
        width: 210px;
        height: auto;
    }
}
@media (min-width: 1400px) {

}