.article-nav {
    position: absolute;
    left: 0;
    padding: 0;
    width: 100%;
    z-index: 9999;
    transition: opacity .5s;
    opacity: 0;
}
.article-nav h3.article-nav-title {
    display: block;
    /* font-size: 2.5rem; */
    background-color: rgb(165, 214, 243);
    margin: 0 -5px;
    padding: 1rem 3rem;
 }
 .article-nav ul {
    list-style: none;
    margin: 1rem auto 3rem;
    padding: 0;
    font-size: 1.8rem;
    background-color: #FFF;
 }

 @media (min-width: 768px) {
    .article-nav {
        position: absolute;
        left: 0;
        padding-top: 5rem;
        /* padding-bottom: 5rem; */
        padding-left: 5rem;
        width: 360px;
        z-index: 9999;
        transition: opacity .5s;
        opacity: 0;
    }
    .article-nav h3.article-nav-title {
        display: block;
        /* font-size: 2.5rem; */
        margin-top: 0;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        background-color: #FFF;
        border-bottom: 1px solid #CCC;
     }
     .article-nav ul {
        list-style: none;
        margin: 1rem auto 3rem;
        padding: 0;
        font-size: 1.8rem;
        background-color: #FFF;
     }    
 }
 .article-nav ul li {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
 }
 .article-nav ul li a {
    color: #666;
    text-decoration: none;
  }
 .article-nav ul li.active a {
    font-weight: bold;
    color: #0068ad;
 }
 /* .article-nav ul li a.active::before {
    content: ">";
 } */
 .article-nav ul li.H2link {
    font-size: 1.8rem;
    line-height: 130%;
    /* padding-top: 2rem; */
    margin-top: 2.5rem;
    margin-bottom: 1rem;
 }
 .article-nav ul li.H2link.active {
    font-size: 1.65rem;
    line-height: 143%;
    letter-spacing: .3px;
 }
 .article-nav ul li.H3link {
    font-size: 1.6rem;
    line-height: 130%;
    /* margin-left: 3rem; */
    margin-bottom: 1.25rem;
    padding-left: 3rem;
 }
 .article-nav ul li.H3link.active {
    font-size: 1.5rem;
    line-height: 136%;
 }
 .article-nav ul li.H3link:before {
    content: "- ";
    margin-left: -1rem;
}

 .row.icon-nav {
    display: none;
 }
 @media (min-width:768px) {
 .row.icon-nav {
    display: flex;
 }
}



.sticky-start {
    opacity: 1;
    position: fixed;
}
.sticky-end {
    opacity: 1; /* You don't see the opacity transition at the bottom because the element is positioned off screen at the same time */
    position: absolute;
    right: auto;
    left: auto;
}
@media (min-width:768px) {
    .sticky-start {
        opacity: 1;
        position: fixed;
    }
    .sticky-end {
        opacity: 1; /* You don't see the opacity transition at the bottom because the element is positioned off screen at the same time */
        position: absolute;
        right: 139px;
        left: auto;
    }
}



.col-xs-12 {
    padding: 0 15px;
}
.page-top {
    font-size: 12px;
    float: right;
    margin-top: 20px !important;
    margin-right: 10px;
    color: #AAA;
}
.icon-index {
    margin: 0 15% !important;
}
.ad__space {
    width: auto;
    margin: 50px;
    margin-left: calc(50% - 470px);
    margin-right: calc(50% - 470px);
    display: none;
}
b, strong {
    font-weight: 500;
    color: #666;
}
.col-sm-6 hr {
    margin-left: calc(50% - 470px);
    margin-right: calc(50% - 470px);
}

.usms-container h3, 
.html-container h3 {
font-size: 2.7rem;
}

.usms-container h4, 
.html-container h4 {
font-size: 2.0rem;
}
.usms-container, .html-container {
    font-size: 2.0rem;
    line-height: 3.5rem;
    color: #666;
    color: #333;
}
.usms-container p, .html-container p, .usms-container li, .html-container li {
    font-weight: 300;
    letter-spacing: .3px;
}
.usms-container ul, .html-container ul {
    margin-bottom: 30px;
}
.col-sm-6 div > p:last-of-type {
    margin-bottom: 60px;
}
.col-sm-6 div > p:first-of-type {
    margin-bottom: 15px !important;
}
.usms-container h2 {
    background-color: #0060a7;
    color: #FFF;
    font-size: 3rem;
    margin: 50px -30px 30px;
    padding: 18px 30px;
    height: auto;
}
.icon-index .col-xs-12.col-sm-4 {
   margin-top: 20px; 
}
.col-xs-12.col-sm-4 > p {
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;  
    text-align: center;
    margin: 0 auto 0px;
    padding: 0;
    min-height: 160px;
}
#navList { 
    display: none; 
    margin-top: 0;
    padding: 1rem 2rem 4rem;
}

@media (min-width: 768px) {
    #navList { display: block; }

    .usms-container {
        width: 100%;
   }
    .icon-index .col-xs-12.col-sm-4 {
        margin-top: 15px;
   }
.usms-container h2 {
     border-radius: 3px;
}
    .col-xs-12.col-sm-4 > p {
        padding: 0 40px;
   }
    .page-top {
        margin-right: -7px;
        margin-top: 77px !important;
        color: #FFF;
   }
    .page-top:active, .page-top:focus, .page-top:hover {
        color: #FFF;
   }
}
@media (min-width: 992px) {
    .usms-container {
        width: 1100px;
   }
    .social-share {
        justify-content: center;
   }
    .ad__space {
        display: block;
   }
}
@media (min-width: 1200px) {
    .usms-container {
        width: 1400px;
   }
}
.col-xs-12.col-sm-4 > img {
    width: 75% !important;
    height: 75% !important;
}
.article-body {
    margin-top: 4rem !important;
}
.article-body h2 {
    border-top: 60px solid #FFF;
}
.article-body h3 {
    background-color: #FFF;
    padding: 1.5rem 0 1.5rem;
    border-top: 70px solid #FFF;
}
.article-body h4 {
    margin: 31px auto 4px !important 
}
.article-body h5 {
    margin: 20px auto 2px !important;
}
.article-body p {
    margin: 0 auto 15px;
}
.content-anchor {
    height: 20px;
    display: block;
    margin-top: -20px;
}
@media (min-width: 768px) {
    .article-body {
        margin-top: 1rem;
    }
    .article-body h3 {
        padding: 1.5rem 0;
    }
}