.article-nav {
    position: absolute;
    left: 0;
    padding-top: 5rem;
    /* padding-bottom: 5rem; */
    padding-left: 5rem;
    width: 360px;
    z-index: 9999;
    transition: opacity .5s;
    opacity: 0;
}
h3.article-nav-title {
    display: block;
    /* font-size: 2.5rem; */
    margin-top: 0;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #CCC;
 }
 .article-nav ul {
    list-style: none;
    margin: 1rem auto 3rem;
    padding: 0;
    font-size: 1.8rem;
 }
 .article-nav ul li {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
 }
 .article-nav ul li.h3link {
    font-size: 1.6rem;
    line-height: 130%;
    /* margin-left: 3rem; */
    padding-left: 3rem;
 }
 .article-nav ul li.h3link .active {
    font-size: 1.5rem;
 }
 .article-nav ul li.h3link:before {
    content: "- ";
    margin-left: -1rem;
}
 .article-nav ul li.h2link {
    font-size: 1.8rem;
    line-height: 130%;
    /* padding-top: 2rem; */
    margin-top: 2.3rem;
 }
 .article-nav ul li.h2link .active {
    font-size: 1.6rem;
 }
.article-nav ul li a {
    color: #0068ad;
    text-decoration: none;
  }
 .article-nav ul li a.active {
    font-weight: bold;
 }
 /* .article-nav ul li a.active::before {
    content: ">";
 } */




.sticky-start {
    opacity: 1;
    position: fixed;
}
.sticky-end {
    opacity: 0; /* You don't see the opacity transition at the bottom because the element is positioned off screen at the same time */
    position: absolute;    
}




.col-xs-12 {
    padding: 0 15px;
}
.page-top {
    font-size: 12px;
    float: right;
    margin-top: 20px !important;
    margin-right: 10px;
    color: #AAA;
}
.icon-index {
    margin: 0 15% !important;
}
.ad__space {
    width: auto;
    margin: 50px;
    margin-left: calc(50% - 470px);
    margin-right: calc(50% - 470px);
    display: none;
}
b, strong {
    font-weight: 500;
    color: #666;
}
.col-sm-6 hr {
    margin-left: calc(50% - 470px);
    margin-right: calc(50% - 470px);
}

.usms-container h3, 
.html-container h3 {
font-size: 2.7rem;
}

.usms-container h4, 
.html-container h4 {
font-size: 2.0rem;
}
.usms-container, .html-container {
    font-size: 2.0rem;
    line-height: 3.5rem;
    color: #666;
    color: #333;
}
.usms-container p, .html-container p, .usms-container li, .html-container li {
    font-weight: 300;
    letter-spacing: .3px;
}
.usms-container ul, .html-container ul {
    margin-bottom: 30px;
}
.col-sm-6 div > p:last-of-type {
    margin-bottom: 60px;
}
.col-sm-6 div > p:first-of-type {
    margin-bottom: 15px !important;
}
.usms-container h2 {
    background-color: #0060a7;
    color: #FFF;
    font-size: 3rem;
    margin: 50px -30px 30px;
    padding: 18px 30px;
    height: auto;
}
.icon-index .col-xs-12.col-sm-4 {
   margin-top: 20px; 
}
.col-xs-12.col-sm-4 > p {
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;  
    text-align: center;
    margin: 0 auto 0px;
    padding: 0;
    min-height: 160px;
}
@media (min-width: 768px) {
    .usms-container {
        width: 100%;
   }
    .icon-index .col-xs-12.col-sm-4 {
        margin-top: 15px;
   }
.usms-container h2 {
     border-radius: 3px;
}
    .col-xs-12.col-sm-4 > p {
        padding: 0 40px;
   }
    .page-top {
        margin-right: -7px;
        margin-top: 77px !important;
        color: #FFF;
   }
    .page-top:active, .page-top:focus, .page-top:hover {
        color: #FFF;
   }
}
@media (min-width: 992px) {
    .usms-container {
        width: 1100px;
   }
    .social-share {
        justify-content: center;
   }
    .ad__space {
        display: block;
   }
}
@media (min-width: 1200px) {
    .usms-container {
        width: 1400px;
   }
}
.col-xs-12.col-sm-4 > img {
    width: 75% !important;
    height: 75% !important;
}
.col-xs-12 > div > h3 {
    /* background-color: #fff; */
    padding: 1.5rem 0 0;
}
.col-xs-12 > div > h4 {
    margin: 31px auto 4px !important 
}
.col-xs-12 > div > h5 {
    margin: 20px auto 2px !important;
}
.col-xs-12 > div > p {
    margin: 0 auto 15px;
}
.content-anchor {
    height: 20px;
    display: block;
    margin-top: -20px;
}