.toggle-filters:before {
  background-image: url('/img/icon-toggle-down.png');
}
.show-filters .toggle-filters:before {
  background-image: url('/img/icon-toggle-up.png');
}


/* Event Grid/List Toggle — DB-1040, CXM2-4574 */
.events-summary-content .list-control-view span.active button {
    color:#444;
}
.events-summary-content .list-control-view button {    
    color: #0068ad;
}
.toggle-grid.active, 
.toggle-grid.active button, 
.toggle-list.active, 
.toggle-list.active button {
    pointer-events: none;
}
