---
permalink: /join-usms/join-or-renew/index.html
title: Join or Renew with USMS | U.S. Masters Swimming
pageTitle: Join/Renew with USMS Today
pageSubtitle: Join or renew with nearly 60,000 adults who swim for fitness, fun, and friends
pageHeaderImage: https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/d7m_6045%20copy.jpg?rev=5ff6bef845d4477f84684f5c2a691c6e&cx=0.5&cy=0.5&cw=1910&ch=500&hash=15F159FC1A70B3FF8D7A6F11333D1F16
breadcrumbs:
  - url: "/home.html"
    label: "Home"
---
{% extends "layouts/article.njk" %}
{% block pageCSS %}
{{ super() }}
<link rel="stylesheet" href="https://www.usms.org/styles/rteMasters.min.css">
{% endblock %}
{% block content %}

<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="html-container">
          <h3 style="color: #333333;"><strong><em>USMS is offering two great 2026 membership options:</em></strong></h3>
          <ul>
            <li><strong><em><a href="/login-to-registration-page">Join</a> at $75 with our standard membership</em></strong></li>
            <li><strong><em><a href="/login-to-registration-page">Join</a> at $249 with our <a href="/join-usms/usmsplus">USMS+</a> membership</em></strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-full p-t-10">
  <div class="usms-container cta--wrapper p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a href="/login-to-registration-page" class="cta">
          <div class="tint-placeholder"></div>
          <div class="cta__image" style="background: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/d7m_7158%20copy.jpg?rev=5f535766ed5d4488a893eda7db81bb66&cx=0.51&cy=0.4&cw=500&ch=500&hash=FF3BD0FF311A309489A850E4C58DB493') no-repeat center center; background-size: cover;"></div>
          <h2 class="cta__title text-uppercase text-center"><strong>Join USMS</strong></h2>
          <span class="cta__button text-uppercase"><strong>Click Here</strong></span>
        </a>
      </div>
      <div class="col-xs-12 col-md-6">
        <a href="/login-to-registration-page" class="cta">
          <div class="tint-placeholder"></div>
          <div class="cta__image" style="background: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/dm7_2424.jpg?rev=2856a785c7a744118750e1eaf834ab86&cx=0.65&cy=0.46&cw=500&ch=500&hash=4E6D84A31A791D3BABFAC415775D2994') no-repeat center center; background-size: cover;"></div>
          <h2 class="cta__title text-uppercase text-center"><strong>Renew Your Membership</strong></h2>
          <span class="cta__button text-uppercase"><strong>Click Here</strong></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="html-container">
          <h2>Benefits of Joining U.S. Masters Swimming</h2>
          <p>Become a member today and take your swimming to the next level. Here are just some of the great benefits you'll receive.</p>
          <ul>
            <li><a href="https://www.usms.org/search?filter=&filterBy=Article%2CVideo&page=1"><strong>Technique and training advice</strong></a> - <em>SWIMMER</em> magazine, <em>STREAMLINES</em> newsletters, and here on the website</li>
            <li><strong><a href="/workout-library">Workout Library</a></strong> - featuring seven specialties and 1,000s of workouts for every swimming level</li>
            <li><strong><a href="/fitness-and-training/six-week-swim-training-plans/six-week-swim-training-plan-information">Training plans</a></strong> - 17 different time-based or event-based goals (NEW)</li>
            <li><strong><a href="/fitness-and-training/usms-video-stroke-analysis">Video stroke analysis</a></strong> - 5-minute video analysis on one stroke at a discounted rate (NEW)</li>
            <li><strong>Events</strong> - ability to participate in USMS <a href="/events">pool, open water</a>, or <a href="/events/fitness-events">virtual</a> events</li>
            <li><strong><a href="/clubs">Local club workouts</a></strong> - access to swim with our 1,200 clubs</li>
            <li><strong><a href="/fitness-and-training/workout-tracking/swimcom-integration-information">Additional Swim.com benefits</a></strong> - free access to challenges, workouts, and clubs, plus swim workout data</li>
            <li><strong><a href="/join-usms/membership-discounts">Exclusive discounts</a></strong> - save up to 50% on products</li>
            <li><strong><a href="/join-usms/swimoutletplus">Free SwimOutlet+ membership</a></strong> - features 2-day shipping, exclusive member pricing, and 5% back on purchases</li>
            <li><strong><a href="https://community.usms.org/">Digital Community</a></strong> - to connect, learn, and share with members and coaches nationwide</li>
            <li>And <a href="/join-usms/membership-benefits">much more</a></li>
          </ul>
          <p>If you're new to swimming, check out our <a href="/about/what-is-us-masters-swimming">What is U.S. Masters Swimming</a> page and our <a href="/fitness-and-training/guides/swimming-101">Masters Swimming 101 guide</a>.</p>
          <p>Still not convinced? Here are <a href="/articles/articledisplay.php?aid=3364">five reasons why you should join today</a>.</p>
          <p>If you have any questions, please contact our membership team at 941-256-USMS (8767) or email <a href="mailto:membership@usmastersswimming.org">membership@usmastersswimming.org</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="accordion-frame accordion__sm" id="accordion-frame-join-faq">
          <h3>Membership FAQs</h3>
          <div class="accordion" id="accordion-faq-1">
            <div class="accordion__header">
              <h5 onclick="handleAccordionClick(this,'accordion-faq-1')">
                <i class="fa-solid fa-plus-square accordion__icon text-primary"></i>
                What is a USMS membership?
              </h5>
            </div>
            <div class="accordion__content">
              <div class="accordion__content-container">
                <div class="html-container">
                  <p>A U.S. Masters Swimming membership allows an athlete to practice with local Masters Swimming programs and participate in USMS-sanctioned meets while receiving membership benefits that include 1000's of searchable online workouts, a subscription to <em>SWIMMER</em> magazine, the <em>STREAMLINES</em> newsletter, inclusion in the USMS national times database, discounts from USMS partners, insurance coverage, and eligibility to qualify for and compete in USMS National Championship events.</p>
                  <p>A yearly membership also includes access to more than 2,600 USMS-certified coaches, a network of 1,500 Masters swim clubs and workout groups, written practices tailored to what you're training for, and fitness tracking through an integration with Swim.com or our Fitness Log.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordion-faq-2">
            <div class="accordion__header">
              <h5 onclick="handleAccordionClick(this,'accordion-faq-2')">
                <i class="fa-solid fa-plus-square accordion__icon text-primary"></i>
                How do I become a USMS member?
              </h5>
            </div>
            <div class="accordion__content">
              <div class="accordion__content-container">
                <div class="html-container">
                  <p>The fastest way to become a member is on our <a href="/login-to-registration-page">Member Registration page</a>. Once the registration process is completed, you can print or add your membership card to your digital wallet and start using your membership immediately to register for meets and take advantage of your My Account section which includes discounts from our partners.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordion-faq-3">
            <div class="accordion__header">
              <h5 onclick="handleAccordionClick(this,'accordion-faq-3')">
                <i class="fa-solid fa-plus-square accordion__icon text-primary"></i>
                How are the membership fees broken up?
              </h5>
            </div>
            <div class="accordion__content">
              <div class="accordion__content-container">
                <div class="html-container">
                  <p>A USMS membership fee consists of a national fee and a Local Masters Swimming Committee (LMSC) fee.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordion-faq-4">
            <div class="accordion__header">
              <h5 onclick="handleAccordionClick(this,'accordion-faq-4')">
                <i class="fa-solid fa-plus-square accordion__icon text-primary"></i>
                What is a Local Masters Swimming Committee (LMSC)?
              </h5>
            </div>
            <div class="accordion__content">
              <div class="accordion__content-container">
                <div class="html-container">
                  <p>When you become a member of USMS, in addition to registering with a club or workout group or as an unattached swimmer, you also become a member of your Local Masters Swimming Committee (LMSC). Your LMSC is a regional governing body that provides certain benefits to USMS members, event sanctions, newsletters about activities within the LMSC, websites, awards and recognition, and social activities. Your LMSC officers are local volunteers, sit on USMS national committees, and vote on policies that set the overall direction for USMS.</p>
                  <p>To learn more check out our <a href="/lmsc/">LMSC information page</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordion-faq-5">
            <div class="accordion__header">
              <h5 onclick="handleAccordionClick(this,'accordion-faq-5')">
                <i class="fa-solid fa-plus-square accordion__icon text-primary"></i>
                Where does my USMS membership fee go?
              </h5>
            </div>
            <div class="accordion__content">
              <div class="accordion__content-container">
                <div class="html-container">
                  <p>Membership fees are used toward making an investment in expanded programs, services, and membership benefits. These include an improved Workout Library, more sanctioned events, more local club swimming opportunities, an enhanced digital Community, more training courses for coaches, member clinics throughout the country, stroke development clinics for swimmers, a digital version of <em>SWIMMER</em> magazine, a College Club Swimming program, Adult Learn-to-Swim classes, and more member discounts and offers.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordion-faq-6">
            <div class="accordion__header">
              <h5 onclick="handleAccordionClick(this,'accordion-faq-6')">
                <i class="fa-solid fa-plus-square accordion__icon text-primary"></i>
                Is a USMS membership based on a calendar year or a revolving year?
              </h5>
            </div>
            <div class="accordion__content">
              <div class="accordion__content-container">
                <div class="html-container">
                  <p>USMS membership is based on a calendar year period (January-December). However, the registration year starts on Nov. 1 of the current year for the following year. If you join in Nov. or Dec. of the current year, you can get the reminder of the current year and until Dec. 31 of the following year.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordion-faq-7">
            <div class="accordion__header">
              <h5 onclick="handleAccordionClick(this,'accordion-faq-7')">
                <i class="fa-solid fa-plus-square accordion__icon text-primary"></i>
                Can I cancel and/or defer my membership?
              </h5>
            </div>
            <div class="accordion__content">
              <div class="accordion__content-container">
                <div class="html-container">
                  <p>All memberships have a no-refund/cancel/deferment/transfer policy.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
