---
permalink: /about/swimmer-magazine/index.html
title: SWIMMER Magazine | U.S. Masters Swimming
pageTitle: SWIMMER Magazine
pageSubtitle: The bimonthly publication is filled with tons of great information
breadcrumbs:
  - url: "/"
    label: "Home"
---
{% extends "layouts/article.njk" %}
{% block content %}
<section class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">

      <div class="col-xs-12 col-md-9">
        <div class="html-container">
          <p><em><a href="/swimmer-magazine/"><em>SWIMMER</em> magazine</a></em> is our premier bimonthly publication. Our members tell us that their subscription to <em>SWIMMER</em> is one of their favorite membership benefits. Each issue is packed with interesting profiles, physiology articles, technique features, history, product reviews, health and nutrition information, and much, much more. With award-winning writers and guest editorials, we think <em>SWIMMER</em> will quickly become one of your must-read publications.</p>
          <p>The digital edition of SWIMMER magazine is free with your membership and has been recently enhanced for easier viewing across all devices. If you would like the print edition for the year, it is $10 and can be purchased in the <a href="/account/addons">Add-Ons and Upgrades</a> page.</p>
          <p>You can read all issues of <em>SWIMMER</em> through your <a href="/account/my-account">My Account</a>.</p>
          <p>If you have any questions about <em>SWIMMER</em>, please contact Editor-in-Chief Daniel Paulling at <a href="mailto:publications@usmastersswimming.org">publications@usmastersswimming.org</a>. We are also collecting <a href="https://docs.google.com/forms/d/1LeXMHzexYRGM43sr_iSeKvfUMN3F_FAvxrbmlksJH0c/edit?ts=58d4360f">story ideas about USMS members</a>.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="image-rendering image-left">
          <a href="/swimmer-magazine/">
            <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/images/swimmer covers/swimmer january-february 2026 cover.jpg?h=2175&w=1625&rev=8e2ef4027b3849d5acf9bed6b9689598&hash=3ABC752217F2A696DF707EBC909F2D80" alt="SWIMMER January-February 2026 Cover" width="1625" height="2175">
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="html-container">
          <h3>Advertising</h3>
          <p>Advertise in <em>SWIMMER</em> and reach the nation's Masters swimmers. That's nearly 60,000 individual members on more than 1,200 clubs and workout groups across the United States. A national nonprofit corporation, U.S. Masters Swimming provides organized workouts and competitions for adults 18 and older. USMS is open to all adult swimmers: those who swim for fitness or competition, triathletes, and open water swimmers.</p>
          <p>For more information on advertising in <em>SWIMMER</em> and advertising rates, please review <a href="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/pdfs/swimmer/2026 usms media kit.pdf?rev=b35a6ea788e64ed89cb17c2201752216&hash=889A8CAF3223820E962D95490890BD4A">our media kit</a>.</p>
          <p>If you have any questions, please contact Jay Eckert, Sr. Director, Business Development, by calling 941-556-6284 or by <a href="mailto:jeckert@usmastersswimming.org">email</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
