---
title: "USMS Style Guide | U.S. Masters Swimming"
permalink: /about/usms-style-guide.html
pageTitle: "USMS Style Guide"
---
{% extends "layouts/base.njk" %}

{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/articleCarousel.min.css">
<link rel="stylesheet" href="/css/Common/article-carousel.css">
{% endblock %}

{% block pageJS %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-container" style="position: relative; padding-bottom: 50px;">
  <div class="breadcrumb">
    <div class="usms-container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcrumb__container">
            <ul class="breadcrumb__items list--nostyle"></ul>
            <span class="breadcrumb__title text-capitalize">Home</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pageHeader %}
{% include "partials/Event/EventHeader.njk" %}
{% endblock %}

{% block content %}

<div class="section section-full p-mh-500">
  <div class="usms-container p-tb-30">
    <div class="row">
      <div class="col-xs-12">
        <div class="heading-container">
          <h1 class="text-left text-primary">Heading Component</h1>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="html-container include-in-nav">
              <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis.</p>
              <p><a href="http://www.usms.org"><span class="rte-btn-blue-sm">Yes</span></a>&nbsp;<a href="http://www.usms.org"><span class="rte-btn-blue-sm-ko">No</span></a></p>
              <h2>Header Level 2</h2>
              <ol>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
              </ol>
              <blockquote>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est."</p>
              </blockquote>
              <h3>Header Level 3</h3>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-3"></div>
      <div class="col-xs-12 col-md-6">
        <div class="heading-container">
          <h4 class="text-left">Article Carousel Component</h4>
        </div>
        <div class="article-carousel">
          <div id="articleCarousel-0df8a522-124c-4cff-922d-f3dea89fbc11" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel-0df8a522-124c-4cff-922d-f3dea89fbc11" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="slide-indicator active" type="button" data-bs-target="#articleCarousel-0df8a522-124c-4cff-922d-f3dea89fbc11" data-bs-slide-to="0" aria-label="Slide 1"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-0df8a522-124c-4cff-922d-f3dea89fbc11" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel-0df8a522-124c-4cff-922d-f3dea89fbc11" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item slide-1 active">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/lanemate/one-off images/d85_6203/freestyle_splitview.jpg?h=812&amp;w=1200&amp;rev=4d88497d6d2d48f3bf92d1f802e198fe&amp;hash=1CC219812229CCA0D86B9D74A5E4326F" alt="">
                  <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
              </div>
              <div class="carousel-item slide-2">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/sanctions/events/iowa swimming open water championships - 20260513162220.jpg?h=376&amp;w=665&amp;rev=f217295115bf43a892c45330583616ef&amp;hash=3FB4BCA69C9AC8124C4643834039AC55" alt="Iowa Swimming Open Water Championships">
                </div>
                <div class="carousel-text-container">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="heading-container">
          <h4 class="text-left">Cropped Image Component 16:9</h4>
        </div>
        <div class="article image">
          <a><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/2026 usms spring nats 4174-edit.jpg?rev=0c33e3437a2e4209ba10f5bc027bcf40&amp;cx=0.32&amp;cy=0.33&amp;cw=2000&amp;ch=1125&amp;hash=F50C76AB939D611A63B07E99D3CEFC5D"></a>
          <p class="image-credit" style="">Image: Matt Roth</p>
        </div>
        <div class="heading-container">
            <h4 class="text-left ">Cropped Image Component 1:1</h4>
        </div>
        <div class="article image">
            <a><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/2026 usms spring nats 4174-edit.jpg?rev=0c33e3437a2e4209ba10f5bc027bcf40&amp;cx=0.5&amp;cy=0.5&amp;cw=1500&amp;ch=1500&amp;hash=6D2D23F7EAB5ADFC98945D992DBDBABA"></a>
            <p class="image-credit" style="">Image: Matt Roth</p>
        </div>
        <div class="heading-container">
          <h4 class="text-left">Single Image Component</h4>
        </div>
        <div class="image-rendering image-left">
          <a><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/240131-leana-wen-swimming-025.jpg?h=2000&amp;w=1333&amp;rev=bb52a1171e2f403d890b99a9b3c86ce6&amp;hash=3C16F8978597729A4972B869BB55478A" alt="240131-Leana-Wen-Swimming-025" width="1333" height="2000"></a>
          <p class="image-credit">Image: Matt Roth</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3"></div>
    </div>
  </div>
</div>

<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a href="/" class="cta" target="">
          <div class="tint-placeholder"></div>
          <div class="cta__image" style="background: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/usms 2021 spring nats 0343-edit.jpg?rev=e211a4569ebb414394123cc4bf6aeeee&amp;cx=0.5&amp;cy=0.5&amp;cw=500&amp;ch=500&amp;hash=CFF7E5F4E5F94F1698894C09BC2D381A') no-repeat center center; background-size: cover;"></div>
          <h2 class="cta__title text-uppercase text-center"><strong>CTA 1 Title</strong></h2>
          <span class="cta__button text-uppercase"><strong>Learn More</strong></span>
        </a>
      </div>
      <div class="col-xs-12 col-md-6">
        <a href="/" class="cta" target="">
          <div class="tint-placeholder"></div>
          <div class="cta__image" style="background-color: #0060a7"></div>
          <h2 class="cta__title text-uppercase text-center"><strong>CTA 2 Title</strong></h2>
          <span class="cta__button text-uppercase"><strong>Click Here</strong></span>
        </a>
      </div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <hr>
        <div class="heading-container">
          <h3 class="text-left text-primary">Button Components</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="button-link__container button-link--left">
          <a class="btn btn-primary btn-sm" href="/">Button Link Small</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-primary btn-md" href="/">Button Link Medium</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-primary btn-lg" href="/">Button Link Large</a>
        </div>
        <div class="button-link__container">
          <a class="btn btn-primary btn-xl" href="/">Button Link XL</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-primary btn-primary-ko btn-sm" href="/">Button Link Small KO</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-primary btn-primary-ko btn-md" href="/">Button Link Medium KO</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-primary btn-primary-ko btn-lg" href="/">Button Link Large KO</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-primary btn-primary-ko btn-xl" href="/">Button Link Large KO</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="button-link__container button-link--left">
          <a class="btn btn-danger btn-sm" href="/">Button Link Small</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-danger btn-md" href="/">Button Link Medium</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-danger btn-lg" href="/">Button Link Large</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-danger btn-xl" href="/">Button Link XL</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-danger btn-danger-ko btn-sm" href="/">Button Link Small KO</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-danger btn-danger-ko btn-md" href="/">Button Link Medium KO</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-danger btn-danger-ko btn-lg" href="/">Button Link Large KO</a>
        </div>
        <div class="button-link__container button-link--left">
          <a class="btn btn-danger btn-danger-ko btn-xl" href="/">Button Link XLarge KO</a>
        </div>
      </div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <hr>
        <div class="heading-container">
          <h3 class="text-left text-primary">RTE Button Styles</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="html-container">
          <p><a href="https://www.usms.org"><span class="rte-btn-blue-sm">Small</span></a>&nbsp;<a href="https://www.usms.org"><span class="rte-btn-blue-sm-ko">Small Reverse</span></a></p>
          <p><a href="https://www.usms.org"><span class="rte-btn-blue-md">Medium</span></a>&nbsp;<a href="https://www.usms.org"><span class="rte-btn-blue-md-ko">Medium Reverse</span></a></p>
          <p><a href="https://www.usms.org"><span class="rte-btn-blue-lg">Large</span></a>&nbsp;<a href="https://www.usms.org"><span class="rte-btn-blue-lg-ko">Large Reverse</span></a></p>
          <p><a href="https://www.usms.org" class="rte-btn-blue-xl">XLarge</a>&nbsp;<a href="https://www.usms.org" class="rte-btn-blue-xl-ko">XL Reverse</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="html-container">
          <p><a href="http://www.usms.org"><span class="rte-btn-red-sm">Small</span></a>&nbsp;<a href="http://www.usms.org"><span class="rte-btn-red-sm-ko">Small Reverse</span></a></p>
          <p><a href="http://www.usms.org"><span class="rte-btn-red-md">Medium</span></a>&nbsp;<a href="http://www.usms.org"><span class="rte-btn-red-md-ko">Medium Reverse</span></a></p>
          <p><a href="http://www.usms.org"><span class="rte-btn-red-lg">Large</span></a>&nbsp;<a href="http://www.usms.org"><span class="rte-btn-red-lg-ko">Large Reverse</span></a></p>
          <p><a href="http://www.usms.org"><span class="rte-btn-red-xl">XLarge</span></a>&nbsp;<a href="http://www.usms.org"><span class="rte-btn-red-xl-ko">XL Reverse</span></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="html-container">
          <h1>Enhance Your Swimming</h1>
          <p>Our <strong>workouts</strong>, <strong>content</strong>, <strong>coaches</strong>, <strong>clubs</strong>, <strong>community</strong> and <strong>events</strong> will help you improve.</p>
          <p><a href="/registration-page"><span class="rte-btn-blue-lg">Join USMS</span></a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6"></div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="heading-container">
          <h3 class="text-left text-primary">Workout Library</h3>
        </div>
        <div class="html-container">
          Over 1,000 Workouts to Choose From
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="heading-container">
          <h3 class="text-left text-primary">Exclusive Content</h3>
        </div>
        <div class="html-container">
          Improve Your Technique and Stay Healthier
        </div>
      </div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="heading-container">
          <h3 class="text-left text-primary">Events</h3>
        </div>
        <div class="html-container">
          <p>Over 300 Pool, Open Water and Virtual Events</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="heading-container">
          <h3 class="text-left text-primary">Clubs</h3>
        </div>
        <div class="html-container">
          <p>Swim With a Group to Help Push You</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row is-flex">
      <div class="col-xs-12 column-top">
        <hr>
        <div class="html-container">
          <p>This is a CDN image:</p>
          <img alt="Finis" src="https://usmsfiles.blob.core.windows.net/usms-cdn/Finis_190x190.png">
          <p>&nbsp;</p>
          <p>This is a rich text component containing a PicSnippet image tag:</p>
          <br>
          <img src="https://image.picsnippets.com/p/a13a350f-1336-4885-a3f1-16935354b362?firstname=$firstname$" width="100%" alt="Welcome to USMS" style="width: 100%; max-width: 600px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: auto; border-width: 0px; border-style: solid;">
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section section-full">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="videoWrapper m-b-10">
          <div><iframe src="https://www.youtube.com/embed/1S1653ervyw" frameborder="0" allowfullscreen></iframe></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section section-full bg-blue p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="latest-content">
          <h3 class="latest-content__title">Latest from USMS</h3>
          <div class="col-xs-12">
            <div class="latest-content__container">

              <div class="latest-content__article">
                <div class="latest-content__image-container">
                  <a href="/fitness-and-training/articles-and-videos/articles/four-exercises-to-alleviate-hip-pain">
                    <div class="latest-content__image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/2025usmssummernats5138-edit.jpg?rev=5b20eacb771c4e2d9773f4c245c66726&amp;cx=0.5&amp;cy=0.5&amp;cw=320&amp;ch=180&amp;hash=470B59544ADBF85D546986F1A494C9E3');"></div>
                  </a>
                </div>
                <div class="latest-content__type text-uppercase">
                  <span>Article</span>
                </div>
                <div class="latest-content__detail">
                  <a href="/fitness-and-training/articles-and-videos/articles/four-exercises-to-alleviate-hip-pain">
                    <h3 class="latest-content__detail-header text-primary">Four Exercises to Alleviate Hip Pain</h3>
                  </a>
                </div>
                <div class="latest-content__author">
                  <img class="latest-content__author-image" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/alex ewart headshot.jpg?rev=550bf480b5124599ba5c4022aad6b462&amp;cx=0.53&amp;cy=0.35&amp;cw=72&amp;ch=72&amp;hash=0A684CE50A70475880CDDEA572E23EEA" alt="author">
                  <p class="latest-content__author-name">Alex Ewart, DPT, CSCS</p>
                </div>
              </div>

              <div class="latest-content__article">
                <div class="latest-content__image-container">
                  <a href="/fitness-and-training/articles-and-videos/articles/should-i-use-ice-or-heat-for-sore-swimming-muscles">
                    <div class="latest-content__image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/juan-valdivieso- 2025 usms spring nationals 2996-edit.jpg?rev=02924e50d4ed488680355bd2e57d3232&amp;cx=0.5&amp;cy=0.5&amp;cw=320&amp;ch=180&amp;hash=03CD7B016D2FE4ACF1BFD53D9387E5A4');"></div>
                  </a>
                </div>
                <div class="latest-content__type text-uppercase">
                  <span>Article</span>
                </div>
                <div class="latest-content__detail">
                  <a href="/fitness-and-training/articles-and-videos/articles/should-i-use-ice-or-heat-for-sore-swimming-muscles">
                    <h3 class="latest-content__detail-header text-primary">Should I Use Ice or Heat for Sore Swimming Muscles?</h3>
                  </a>
                </div>
                <div class="latest-content__author">
                  <img class="latest-content__author-image" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/author bios/elaine-howley.jpg?rev=0363bb4ddc64447bbb0f6b8b0d467f31&amp;cx=0.5&amp;cy=0.5&amp;cw=72&amp;ch=72&amp;hash=C779BE17361E25CE7AE982C597101C53" alt="author">
                  <p class="latest-content__author-name">Elaine K. Howley</p>
                </div>
              </div>

              <div class="latest-content__article">
                <div class="latest-content__image-container">
                  <a href="/fitness-and-training/articles-and-videos/articles/why-you-need-to-buddy-up-for-a-sustainable-swimming-habit">
                    <div class="latest-content__image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/longcoursenats2021-1.jpg?rev=f5bf5866abe244e5990869fbdb6f9f5d&amp;cx=0.5&amp;cy=0.5&amp;cw=320&amp;ch=180&amp;hash=935EEE8126307920E1697DA3845C67EB');"></div>
                  </a>
                </div>
                <div class="latest-content__type text-uppercase">
                  <span>Article</span>
                </div>
                <div class="latest-content__detail">
                  <a href="/fitness-and-training/articles-and-videos/articles/why-you-need-to-buddy-up-for-a-sustainable-swimming-habit">
                    <h3 class="latest-content__detail-header text-primary">Why You Need to Buddy Up for a Sustainable Swimming Habit</h3>
                  </a>
                </div>
                <div class="latest-content__author">
                  <img class="latest-content__author-image" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/author bios/elaine-howley.jpg?rev=0363bb4ddc64447bbb0f6b8b0d467f31&amp;cx=0.5&amp;cy=0.5&amp;cw=72&amp;ch=72&amp;hash=C779BE17361E25CE7AE982C597101C53" alt="author">
                  <p class="latest-content__author-name">Elaine K. Howley</p>
                </div>
              </div>

              <div class="latest-content__article">
                <div class="latest-content__image-container">
                  <a href="/fitness-and-training/articles-and-videos/articles/busting-3-triathlon-swim-training-myths-and-revealing-the-truths-behind-them">
                    <div class="latest-content__image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/bigstock-young-athlete-triathlon-in-fro-183653527.jpg?rev=d919e2882857484394fe0f7af6e76987&amp;cx=0.5&amp;cy=0.5&amp;cw=320&amp;ch=180&amp;hash=4B42A3C5A8186B85C78031231D0ACC7E');"></div>
                  </a>
                </div>
                <div class="latest-content__type text-uppercase">
                  <span>Article</span>
                </div>
                <div class="latest-content__detail">
                  <a href="/fitness-and-training/articles-and-videos/articles/busting-3-triathlon-swim-training-myths-and-revealing-the-truths-behind-them">
                    <h3 class="latest-content__detail-header text-primary">Busting 3 Triathlon Swim Training Myths</h3>
                  </a>
                </div>
                <div class="latest-content__author">
                  <img class="latest-content__author-image" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/author bios/scott-bay.jpg?rev=4e02b470424744f0bf6e18e0ed379687&amp;cx=0.4&amp;cy=0.52&amp;cw=72&amp;ch=72&amp;hash=5DACA6875A3DBE32AE0C5BA53384894F" alt="author">
                  <p class="latest-content__author-name">Scott Bay</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "partials/Advertising/Ad.njk" %}

{% include "partials/PageContent/Sponsors.njk" %}
{% endblock %}
