---
permalink: /volunteer-central/board-of-directors.html
title: Board of Directors | U.S. Masters Swimming
pageTitle: Board of Directors
pageSubtitle: Resources
breadcrumbs:
  - url: "/"
    label: "Home"
  - url: "/volunteer-central"
    label: "Volunteer"
  - url: "/volunteer-central/board-and-committees"
    label: "BOD and Committees"
breadcrumbTitle: "BOD"
---
{% extends "layouts/base.njk" %}

{% block breadcrumb %}
{% include "partials/Common/Breadcrumb.njk" %}
{% endblock %}

{% block pageHeader %}
{% include "partials/Common/PageHeader.njk" %}
{% endblock %}

{% block content %}
<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="html-container">
          <h2>Organizational Structure</h2>
          <ul>
            <li><a href="/volunteer-central/board-and-committees/board-of-directors/board-assignments.html">Board of Directors</a></li>
            <li><a href="/volunteer-central/board-and-committees/committees-and-assignments">National Committees and Members</a></li>
            <li><a href="/volunteer-central/board-and-committees/committees-and-assignments/zone-chairs">Zone Chairs</a></li>
            <li><a href="/volunteer-central/board-and-committees/committees-and-assignments/special-assignments-and-liaisons">Special Assignments and Liaisons</a></li>
            <li><a href="/about/leadership/past-presidents">Past Presidents</a></li>
            <li><a href="/about/national-office">National Office Staff</a></li>
          </ul>
          <h2>Guidelines</h2>
          <ul>
            <li><a href="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/pdfs/guide to operations - gto/policies and governance/policies/usms bod standards.pdf?rev=9f6a333ef4f045498b30af3df0f76e36&hash=8D2AE01589F9D5782866D26084E2AABD">Standards for the Board of Directors</a></li>
            <li><a href="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/pdfs/guide to operations - gto/policies and governance/committee governance and policies/board_orientation.pdf?rev=ae13d37a3c564b8991c427ba21d40a07&hash=55D2B929FFA6251341B8F02CC9D66436">2019 Board Training and Orientation</a></li>
          </ul>
          <h2>Policies</h2>
          <ul>
            <li><a href="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/pdfs/guide to operations - gto/policies and governance/policies/policy_eleccomm.pdf?rev=1eac54a59eea47649f167ef965f820e8&hash=B843C9961E7226AEF20F6D3353F3B809">Electronic Media Communication Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="image-rendering image-left">
          <a>
            <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/usms logos/committee badges/usmscomitteelogos42020v2board of directors copy.png?h=547&w=526&rev=259e63ae4c7847bba919e8662f716d9e&hash=1B5EA7D12266F5D219AB2F98BF19B18E" alt="Board of Directors" width="526" height="547" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
