---
permalink: /volunteer-central/board-and-committees/board-of-directors/board-assignments.html
title: Board of Directors Assignments | U.S. Masters Swimming
pageTitle: Board of Directors Assignments
breadcrumbs:
  - url: "/"
    label: "Home"
  - url: "/volunteer-central"
    label: "Volunteer"
  - url: "/volunteer-central/board-and-committees"
    label: "BOD and Committees"
  - url: "/about/board-of-directors.html"
    label: "BOD"
breadcrumbTitle: "Board of Directors Assignments"
---
{% extends "layouts/base.njk" %}

{% block breadcrumb %}
{% include "partials/Common/Breadcrumb.njk" %}
{% endblock %}

{% block pageHeader %}
{% include "partials/Common/PageHeader.njk" %}
{% endblock %}

{% block content %}
<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">

        <div class="image-rendering image-left">
          <a>
            <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/house art/email graphics/photo feb 22 2026 8 15 33 am.jpg?h=2790&w=4629&rev=e54aa18eb79b4f398b04e785ec53b87f&hash=99919ABA93BE9EDD81E890A0851E2CEF" alt="Winter-Board-Meeting-2026" width="4629" height="2790" title="2026-Winter-Board-Meeting-group-shot" />
          </a>
        </div>

        <div class="html-container">
          <p style="text-align: left;">The Board is composed of 16 voting members. USMS legal counsel and the chief executive officer are nonvoting, ex-officio board members. The Executive Committee, to which members are elected in odd years, includes the president, vice president of administration, vice president of local operations, vice president of programs, vice president of community services, secretary, treasurer, immediate past president, legal counsel, and chief executive officer. The remaining eight board positions, recognized as at-large directors, are elected in even years, one from each zone. BOD members are elected for two-year terms and may run for an additional two-year term, for a total of four years of service. At the annual meeting, the HOD elects the Board of Directors.</p>
          <p>The USMS President appoints <a href="/volunteer-central/board-and-committees/committees-and-assignments">committee chairs and committee members</a> with input from the vice presidents to whom they report. The USMS President also appoints <a href="/volunteer-central/board-and-committees/committees-and-assignments/special-assignments-and-liaisons">special assignments and liaisons.</a> Zone members elect their respective <a href="/volunteer-central/board-and-committees/committees-and-assignments/zone-chairs">Zone chairs</a>.</p>

          <h2>Executive Committee</h2>
          <ul>
            <li><strong>President</strong>
              <ul>
                <li><a href="/people/02NS9">Ed Coates</a></li>
              </ul>
            </li>
            <li><strong>Vice President of Administration</strong> (oversees the following committees: Legislation, Records and Tabulations, Rules)
              <ul>
                <li><a href="/people/01X4N">Julie Dussliere</a></li>
              </ul>
            </li>
            <li><strong>Vice President of Local Operations</strong> (oversees the following committees: History and Archives, LMSC Development, and Recognition and Awards)
              <ul>
                <li><a href="/people/065E7">Crystie McGrail</a></li>
              </ul>
            </li>
            <li><strong>Vice President of Programs</strong> (oversees the following committees: Championship, Long Distance and Officials)
              <ul>
                <li><a href="/people/025C1">Carie Stolar</a></li>
              </ul>
            </li>
            <li><strong>Vice President of Community Services</strong> (oversees the following committees: Coaches and Diversity and Inclusion)
              <ul>
                <li><a href="/people/03DEA">Kenny Brisbin</a></li>
              </ul>
            </li>
            <li><strong>Treasurer</strong> (oversees the following committees: Audit, Investment and Finance)
              <ul>
                <li><a href="/people/036EM">Denise Dombay</a></li>
              </ul>
            </li>
            <li><strong>Secretary</strong>
              <ul>
                <li><a href="/people/023KN">Erika Braun</a></li>
              </ul>
            </li>
            <li><strong>Past President</strong>
              <ul>
                <li><a href="/people/03GFZ">Peter Guadagni</a></li>
              </ul>
            </li>
          </ul>

          <h3>At-Large Directors</h3>
          <ul>
            <li><strong>Breadbasket</strong>
              <ul>
                <li><a href="/people/WZBJ9">Samantha Kraft</a></li>
              </ul>
            </li>
            <li><strong>Colonies</strong>
              <ul>
                <li><a href="/people/034PR">Guy Davis</a></li>
              </ul>
            </li>
            <li><strong>Great Lakes</strong>
              <ul>
                <li><a href="/people/CJRUS">C.J. (Christopher) Rushman</a></li>
              </ul>
            </li>
            <li><strong>Northwest</strong>
              <ul>
                <li><a href="/people/03JPG">Rob Heath</a></li>
              </ul>
            </li>
            <li><strong>Oceana</strong>
              <ul>
                <li><a href="/people/03F7Y">Phyllis Quinn</a></li>
              </ul>
            </li>
            <li><strong>South Central</strong>
              <ul>
                <li><a href="/people/065CM">Nicole Christensen</a></li>
              </ul>
            </li>
            <li><strong>Southeast</strong>
              <ul>
                <li><a href="/people/082TH">Trey Taylor</a></li>
              </ul>
            </li>
            <li><strong>Southwest</strong>
              <ul>
                <li><a href="/people/0310T">Jeff Commings</a></li>
              </ul>
            </li>
          </ul>

          <h3>Non-Voting</h3>
          <ul>
            <li><strong>Legal Counsel</strong>
              <ul>
                <li><a href="/people/09MSC">Katie Kenyon</a></li>
              </ul>
            </li>
            <li><strong>Chief Executive Officer</strong>
              <ul>
                <li><a href="/people/0AB3Y">Dawson Hughes</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
