<header class="page-header{% if pageHeaderImage %} bg-media page-header__image{% endif %}"{% if pageHeaderImage %} style="background-image: url('{{ pageHeaderImage }}');"{% endif %}>
  {% if pageHeaderImage %}<div class="page-header__tint-placeholder"></div>{% endif %}
  <h1>
    {{ pageTitle }}
    {% if pageSubtitle %}
    <br>
    <small>{{ pageSubtitle }}</small>
    {% endif %}
  </h1>
</header>
