{% set pageSize = 10 %}
{% set currentPage = 0 %}
{% set visibleEvents = eventsEnriched | rejectVirtual %}
{% set totalPages = (visibleEvents.length / pageSize) | round(0, "ceil") %}
{% set resultItems = visibleEvents | limit(pageSize) %}

<script type="application/json" id="events-data">{{ eventsEnriched | dump | safe }}</script>
<script type="application/json" id="events-page-size">{{ pageSize | dump | safe }}</script>
<script type="application/json" id="google-maps-key">{{ keys.googleMaps | dump | safe }}</script>

<div class="results-content">
  {% include "partials/Event/EventsFilterForm.njk" %}
  <div class="results-list__summary">
    <div>Showing <strong id="resultsCount">{{ visibleEvents.length }} Events</strong><span id="rangePrefix"></span><strong id="rangeText"></strong><strong id="cityStateText"></strong></div>
  </div>
  {% include "partials/Results/ResultList.njk" %}
  {% include "partials/Event/EventListSmall.njk" %}
  {% include "partials/Results/ResultsPagination.njk" %}
</div>
