{% set resultsTotal = "847" %}
{% set currentPage  = 0 %}
{% set totalPages   = 5 %}
{% set eventItems = [
  {
    id:             "{50C21A56-9924-4135-9437-B7E3DEFA184A}",
    url:            "/events/events/6th-annual-show-your-swag-meet-a1jpo00000avlwy2a1",
    title:          "6th Annual Show Your SWAG Meet",
    date:           "Sunday, Apr. 12, 2026",
    dateShort:      "Apr 12",
    courseType:     "SCY",
    virtual:        false,
    venueName:      "City of Gainesville Recreation Centers",
    venueAddress:   "1100 Northeast 14th Street",
    venueCity:      "Gainesville",
    venueState:     "FL",
    venueZip:       "32601",
    classification: "Sanctioned",
    distance:       "162",
    image:          "https://maps.googleapis.com/maps/api/staticmap?&markers=size:tiny|29.6618574,-82.3075724&zoom=12&size=360x270&maptype=roadmap&scale=1"
  },
  {
    id:             "{577FB649-294F-4738-8BAD-BBD7385D25D9}",
    url:            "/events/events/2026-ymca-masters-national-meet-a1jpo00000avlmz2al",
    title:          "2026 YMCA Masters National Meet",
    date:           "Thursday, Apr. 16, 2026-Sunday, Apr. 19, 2026",
    dateShort:      "Apr 16-19",
    courseType:     "SCY",
    virtual:        false,
    venueName:      "Selby Aquatic Center",
    venueAddress:   "8501 Potter Park Drive",
    venueCity:      "Sarasota",
    venueState:     "FL",
    venueZip:       "34238",
    classification: "Sanctioned",
    distance:       "8",
    image:          "https://maps.googleapis.com/maps/api/staticmap?&markers=size:tiny|27.2276457,-82.4877323&zoom=12&size=360x270&maptype=roadmap&scale=1"
  },
  {
    id:             "{21A53030-3A62-4D2F-91AD-CFFC7B2BD0AC}",
    url:            "/events/events/swim-across-america-florida-keys-a1jpo00000aw7xp2a1",
    title:          "Swim Across America - Florida Keys",
    date:           "Saturday, Apr. 18, 2026",
    dateShort:      "Apr 18",
    courseType:     "OPEN WATER",
    virtual:        false,
    venueName:      "Founders Park",
    venueAddress:   "87000 Overseas Highway",
    venueCity:      "Islamorada",
    venueState:     "FL",
    venueZip:       "33036",
    classification: "Sanctioned",
    distance:       "204",
    image:          "https://maps.googleapis.com/maps/api/staticmap?&markers=size:tiny|24.9625942,-80.5681485&zoom=12&size=360x270&maptype=roadmap&scale=1"
  },
  {
    id:             "{47A4B99A-F71B-4EA6-847C-3F538B72F02C}",
    url:            "/events/events/the-villages-senior-games-a1jpo00000avl552ad",
    title:          "The Villages Senior Games",
    date:           "Saturday, Apr. 18, 2026-Sunday, Apr. 19, 2026",
    dateShort:      "Apr 18-19",
    courseType:     "SCY",
    virtual:        false,
    venueName:      "Villages High School Aquatics Center",
    venueAddress:   "2210 Dr Randy McDaniel Way",
    venueCity:      "Middleton",
    venueState:     "FL",
    venueZip:       "34762",
    classification: "Sanctioned",
    distance:       "103",
    image:          "https://maps.googleapis.com/maps/api/staticmap?&markers=size:tiny|28.7458384,-82.0084256&zoom=12&size=360x270&maptype=roadmap&scale=1"
  },
  {
    id:             "{3B456734-C34F-4512-A78C-96E90CDF87BB}",
    url:            "/events/events/swim-across-america-tampa-a1jpo00000aw7ww2al",
    title:          "Swim Across America - Tampa",
    date:           "Saturday, May. 9, 2026",
    dateShort:      "May 9",
    courseType:     "OPEN WATER",
    virtual:        false,
    venueName:      "SPA Beach at St. Pete Pier",
    venueAddress:   "615 2nd Avenue Northeast",
    venueCity:      "St. Petersburg",
    venueState:     "FL",
    venueZip:       "33701",
    classification: "Sanctioned",
    distance:       "31",
    image:          "https://maps.googleapis.com/maps/api/staticmap?&markers=size:tiny|27.7742449,-82.6268457&zoom=12&size=360x270&maptype=roadmap&scale=1"
  },
  {
    id:             "{E6F1AE26-788B-4977-BDF9-1BBE127EB31F}",
    url:            "/events/events/2026-faa-paradise-sprint-a1jpo00000avl8y2ad",
    title:          "2026 FAA Paradise Sprint",
    date:           "Saturday, May. 23, 2026",
    dateShort:      "May 23",
    courseType:     "SCY",
    virtual:        false,
    venueName:      "Florida Atlantic University",
    venueAddress:   "777 Glades Road",
    venueCity:      "Boca Raton",
    venueState:     "FL",
    venueZip:       "33431",
    classification: "Sanctioned",
    distance:       "164",
    image:          "https://maps.googleapis.com/maps/api/staticmap?&markers=size:tiny|26.3683141,-80.101765&zoom=12&size=360x270&maptype=roadmap&scale=1"
  }
] %}

<div class="results-content">
  {% include "partials/Event/EventsFilterForm.njk" %}
  <div class="results-list__summary">
    <div>Showing <strong>{{ eventItems | length }} Events</strong><span id="rangePrefix">&nbsp;within&nbsp;</span><strong id="rangeText">50 Miles</strong><strong id="cityStateText"></strong></div>
  </div>
  {% include "partials/Event/EventListLarge.njk" %}
  {% include "partials/Event/EventListSmall.njk" %}
  {% include "partials/Results/ResultsPagination.njk" %}
</div>
