<footer>
   <div id="footerOverlay">
      <div class="container-fluid">
         <div class="row">
            <div class="footer-content">
               <div class="footer-left">
                  <div class="footer-left__menu">
                     <div class="row">
                        {% for column in footer.Items | footerColumns %}
                        <div class="col-xs-6 col-md-3">
                           {% for section in column %}
                           <div class="footer-menu">
                              <h3 class="footer-menu__header">{{ section.Title }}</h3>
                              <ul class="footer-menu__list list--nostyle">
                                 {% for child in section.Children %}
                                 <li class="footer-menu__list-item"><a href="{{ child.Url | footerHref(child.Title) }}">{{ child.Title }}</a></li>
                                 {% endfor %}
                              </ul>
                           </div>
                           {% endfor %}
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </div>
               <div class="footer-right">
                  <div class="subscribe">
                     <div>
                        <a class="btn btn-primary btn-lg text-uppercase" href="/login-to-registration-page/">Join Now</a>
                     </div>
                  </div>
                  <nav>
                     <ul class="social-share-icons list--nostyle p-tb-30">
                        <li class="social-share-icons__item">
                           <a href="http://facebook.com/USMastersSwimmingFanPage/" target="_blank" title="Facebook">
                              <i class="fa-brands fa-facebook-f"></i>
                           </a>
                        </li>
                        <li class="social-share-icons__item">
                           <a href="https://www.instagram.com/mastersswimming" target="_blank" title="Instagram">
                              <i class="fa-brands fa-instagram"></i>
                           </a>
                        </li>
                        <li class="social-share-icons__item">
                           <a href="https://www.youtube.com/user/USMastersSwimming" target="_blank" title="YouTube">
                              <i class="fa-brands fa-youtube"></i>
                           </a>
                        </li>
                     </ul>
                  </nav>
                  <small class="copyright">
                     &copy; 2026 U.S. Masters Swimming
                  </small>
                  <nav>
                     <ul class="nav nav-service navbar-nav nav-pills">
                        <li><a href="/about/contact-us.html">Contact Us</a></li>
                        <li style="margin-top: 1rem"><a href="#0">USMS Privacy Policy</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
