.form__notes ul li {
    font-size: 1.5rem;
    font-weight: normal;
}

.form__notes ul li a {
    text-decoration: underline;
}

.modal {
    background-color: rgba(0,0,0,0.3);
}

.modal.in .modal-dialog {
    top: 25%;
    min-height: 360px;
}
.modal-body {
    text-align: center;
}
.modal-content {
    min-height: 300px;
}
.club-link-button {
    margin-top: 2.5rem    
}
.club-link-button:first-of-type {
    margin-left: 48px;
}
.member-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 1rem 1rem 2rem;
}

li.member-name.member-renewed {
    color: #ccc;
}

.member-list {
    margin-bottom: 6rem;
    margin-right: 0.7rem;
    padding-left: 1.8rem;
    max-height: 410px;
    overflow-y: auto;
    position: relative;
}
p.select-all {
    position: relative;
    top: 0;
    font-size: 1.35rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.select-all input[type=checkbox] {
    /* margin-left: -18px; */
    position: relative;
    top: 1px;
}
.member-list input[type=checkbox] {
    margin-left: -18px;
    position: relative;
    top: 1px;
}

.member-name .first,
.member-name .last,
.member-name .swimmer-id {
    display: inline-flex;
    font-size: 1.55rem;
    line-height: 110%;
    vertical-align: auto;
    margin-bottom: 0;
}
.member-name .first {
    padding-right: 0.3rem;
}
.member-name .swimmer-id {
    font-size: 1.3rem;
}
.member-name .last:after {
    content: ", ";
}
.member-name .swimmer-id::before {
    content: " #";
}

input:disabled[type=checkbox] + .last,
input:disabled[type=checkbox] + .last + .first,
input:disabled[type=checkbox] + .last + .first + .swimmer-id {
    color: green;
}

.member-list__heading {
    padding-right: 18px;
    height: auto;
    /* min-height: auto; */
    position: relative;
    border-top: 1px solid #CCC;
    padding-top: 3rem;
}
.member-list__heading h6 {
    font-size: 1.8rem;
    color: #333;
}
.member-list__heading p {
    min-height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    color: #333;
    padding-right: 0.125rem;
}
.checkbox-list__header {
    display: block;
    margin-bottom: 1rem;
}
.checkbox-list__header input[type=checkbox] {
    padding-bottom: 1rem;
    border-bottom: 1px solid #CCC;
}

#selectAllCurrent + span {
    font-weight: bold;
    font-size: 1.3rem;
}
@media(min-width:768px) {
    .member-list__heading {
        /* padding-right: 18px; */
        min-height: 140px;
        border: 0 none;
    }
    .form__notes {
        border-bottom: 1px solid #CCC;
        padding-bottom: 0;
    }
    .form__notes .btn-link + h3 {
        margin: 3rem auto 1rem;
    }
    .member-list__heading p {
        min-height: 140px;
        font-size: 1.55rem;
        font-weight: 300;
        color: #000;
    }
}