.membership-renewal {
    display: block;
    text-align: center;
    margin: 0;
    padding: 4rem 2rem 3rem;
    border: 1px solid #CCC;
}
.membership-renewal p {
    font-size: 1.5rem;
    margin: 3rem auto 1.5rem;
}
.btn-renew {
    height: 3.3rem;
    line-height: 3.2rem;
    border-radius: 2.3rem;
    margin: 0.25rem;
    padding: 0 1.4rem;
    background-color: #CCC;
    color: #333;
    width: auto;
    display: inline-block;
}
.btn-renew__one-time.selected {
    background-color: #CCC;
    color: black;
    border: 1px solid black;
}
.btn-renew__auto.selected {
    background-color: rgb(193, 237, 255);
    color:rgb(0, 89, 128);
    border: 1px solid rgb(0, 89, 128);
}
@media (min-width: 768px) {
    .membership-renewal {
        margin: 5rem 20rem 2rem;
    }
}