.card .card__total {
    font-size: 20.8px;
    font-size: 1.3rem;
    color: #434343;
    margin: 48px auto 16px;
    margin: 3rem auto 1rem;
    text-align: right;
    white-space: nowrap;
    width: 100%
}


/* .form-group.card-name [class*=" col-"], 
.form-group.card-number [class*=" col-"], 
.form-group.city-state-zip [class*=" col-"], 
.form-group.email-phone [class*=" col-"], 
.form-group.first-last [class*=" col-"], 
.form-group.gender [class*=" col-"], 
.form-group.street [class*=" col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
} */





.form-group > div {
    padding-left: 5px !important;
    padding-right: 5px !important;
}





.auto-renew .checkbox-label {
    margin-left: 0;
    /* line-height: 2rem */
}
/* .form-group.auto-renew span.help-block {
    font-size: 12px
} */
.renew__form-body .form-group.auto-renew {
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 0;
    background-color: #c0eeff;
    padding: 1.25rem 1rem 3rem 3.75rem;
}
.auto-renew .checkbox-note {
    display: flex;
    margin-top: 0.75rem;
    margin-left: 5px;
}


/* Modify existing style */
#register-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    line-height: 1.5rem
}