---
permalink: /college-club/index.html
title: College Club Swimming
---
{% extends "layouts/college-club.njk" %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/college-club/ccs-instagram.css">
{% endblock %}

{% block content %}
    {% include "partials/college-club/ccs-hero-carousel.njk" %}
    {% include "partials/college-club/ccs-instagram.njk" %}
    {% include "partials/college-club/ccs-about.njk" %}
    {% include "partials/college-club/ccs-parallax.njk" %}
{% endblock %}

{% block pageJS %}
<script src="https://static.elfsight.com/platform/platform.js" async></script>
{% endblock %}
