.membership-renewal-ribbon {
    background-color: rgba(206, 14, 45, 0.3);
}

.membership-renewal-ribbon .usms-container {
    /* padding-top: 7px;
    padding-bottom: 7px; */
}

.membership-renewal-ribbon p.membership-renewal-ribbon__text {
    margin: 0 0 1rem;
    padding: .75rem 0;
    color: #7a0014;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
}

.membership-renewal-ribbon .membership-renewal-ribbon__text a {
    color: #7a0014;
    text-decoration: underline;
}

.membership-renewal-ribbon__text--short {
    display: block;
}

.membership-renewal-ribbon__text--full {
    display: none;
}

@media (min-width: 768px) {
    .membership-renewal-ribbon__text--short {
        display: none;
    }

    .membership-renewal-ribbon__text--full {
        display: block;
    }
}
