/* .results-list__item-detail {
  position: relative;
} */

/* .results-list__item-type--container {
    display: flex;
    flex-direction: row;
}

.results-list__item-type {
    position: relative;
    top: -29rem;
    background-color: #E7E7E7;
    color: #656565;
    font-size: 11px;
    line-height: 24px;
    padding: 0 8px;
    border-radius: 3px;
    margin: 0 0.5rem 1.0rem 0;
}

@media (min-width: 768px) {
    .results-list__item-type {
        position: relative;
        top: 0;
    }
} */
