
/* .container {
    font-size: 2.15rem;
    line-height: 3.6rem;
} */

.container {
    font-size: 17px;
    line-height: 150%;
}

.carousel-item {
    height: 41rem;
}

.carousel-item > img {
    width: 100%;
    height: auto;
}

.carousel-inner {
    height: 150%;
}

.carousel-control-prev {
    bottom: 0;
    height: 15rem;
    top: initial;
    z-index: 11;
    width: 10%;
}

.carousel-control-next {
    bottom: 0;
    height: 15rem;
    top: initial;
    z-index: 11;
    width: 10%;
}

.carousel-caption {
    /* background-color: #051d37; */
    /* color:#FFF; */
    left: 0;
    right: 0;
    bottom: 0;
    height: 15rem;
    padding: 1.5rem 4rem 1rem;
}

.carousel-caption p {
    font-size: 1.1rem;
}

@media (min-width: 992px) {
    .container {
        width: 1100px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1400px;
    }
}