body {
    /* font-family: 'Helvetica Neue' ,Helvetica,Arial,sans-serif */
}

main {
    background-color: #415a8b;
}

.section.section-full {
    background-color: #FFF;
}

.usm-container,
.html-container {
    font-size: 2.15rem;
    line-height: 3.6rem;
    width: 100%;
    color: #444;
}

.html-container h1 {
    font-size: 4.5rem;
    line-height: 5.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.html-container h2 {
    font-size: 3.7rem;
    line-height: 4.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.html-container h3 {
    font-size: 2.7rem;
    line-height: 3.2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.page-header {
    width: 100%;
}

.page-header__image {
    /* margin: 0 auto; */
    width: 100%;
    height: 200px;
}

/* .page-header__image {
    filter: blur(10px);
} */

.page-header__image img {
    margin: 0 auto;
    width: 900px;
    margin-left: calc(50% - 450px);
    z-index: 9;
}

.page-header__tint-placeholder {
    background-color: #000;
    opacity: 0.5;
}
.feature-author .author__detail {
    display: block;
}

/* .feature-author .author__name, 
.feature-author .author__date {
    display: block;
    color: #444;
    margin: 1rem 0;
    line-height: 100%;
    font-size: 1.7rem;
} */


.author__name {
    /* margin: 0 auto !important; */
    /* padding: 1rem 0 !important; */
    color: #999;
    font-size: 1.5rem;
    line-height: 150%;
    margin: 0 auto 2.7rem;
}

.html-container p {
    margin-bottom: 1.8rem;
}

.feature-title > * {
    /* margin-bottom: 1rem; */
}

.feature-title h1 {
    font-size: 5rem;
    margin-bottom: 0;
}

.feature-title h2 {
    font-size: 3.6rem;
    line-height: 4.5rem;
    font-weight: 300;
    /* font-style: italic; */
    color: #888;
    margin: 1rem auto 1.75rem;
}

/* .feature-author .author__name,
.feature-author .author__date {
    line-height: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
} */

.pull-quote,
.pull-quote-left,
.pull-quote-center,
.pull-quote-right {
    float: none;
    margin: 6rem 0;
    padding: 4rem 2rem;
    border: 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    text-align: center;
}

/* .pull-quote-left,
.pull-quote-center,
.pull-quote-right {
    float: none;
    margin: 5rem auto;
    border: 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
} */

@media (min-width: 768px) {
    .pull-quote-left {
        width: 35rem;
        float: left;
        margin: 1rem 4rem 2rem -40rem;
        padding: 2rem 3rem 2rem 0;
        border-width: 0;
        border-right: 1px solid #ccc;
    }

    .pull-quote-right {
        width: 35rem;
        float: right;
        margin: 1rem -40rem 2rem 4rem;
        padding: 2rem 0 2rem 4rem;
        border-width: 0;
        border-left: 1px solid #ccc;
    }

    .pull-quote-center {
        margin: 6rem 0;
        padding: 4rem 10rem;
        border-width: 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
}

.pull-quote p {
    font-size: 3.6rem;
    line-height: 5rem;
    font-weight: 300;
    color: #888;
    display: inline;
}

/* .pull-quote p:first-letter {
    font-size: 4.9rem;
    padding-right: 0.1rem;
    font-weight: 500;
} */

.pull-quote::before {
    color: #888;
    content: "\201C";
    display: inline;
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: -0.2rem;
}

.pull-quote::after {
    color: #888;
    content: "\201D";
    display: inline;
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -0.8rem;
}

.ad-inline {
    margin-top: 4rem;
    padding-top: 6rem;
    margin-bottom: 4rem;
    padding-bottom: 6rem;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.ad-inline img {
    width: 100%;
    max-width: initial;
    margin: 0 auto;    
}

.ad-bottom img {
    position: absolute;
    bottom: 53rem;
}

.article-carousel-item {
    width: 24.5%;
    display: inline-block;
}

@media (min-width: 576px) {
    .page-header__image {
        height: 230px;
    }
}

@media (min-width: 768px) {
    .usms-container {
        width: 100%;
    }

    .page-header__image {
        /* width: 100%; */
        height: 360px;
    }
    
    .feature-author .author__detail {
        display: flex;
    }
     
    /* .feature-author .author__name, 
    .feature-author .author__date {
        display: flex;
        margin: 2rem 3rem 2rem 0;
    } */
}

@media (min-width: 992px) {
    .usms-container {
        width: 1100px;
    }
    .page-header__image {
        /* width: 840px; */
        height: 500px;
        margin: 0 auto;
    }

    .ad-inline img {
        width: auto;
        margin-left: calc(50% - 470px);
    }    
}

@media (min-width: 1200px) {
    .usms-container {
        width: 1400px;
    }
}

@media (min-width: 1400px) {

}

