.usms-container,
.html-container {
    font-size: 2.15rem;
    line-height: 3.6rem;
    width: 100%;
    color: #444;
}

.issue-selector {
    background-color: #FFF;
}

.current-year,
.current-issue {
    margin: 0 0 5rem 0;
    border: 0 none;
    background: #FFF;
    font-size: 2.5rem;
    height: auto;
    color: #0068ad;
}

.current-issue {
    font-size: 2rem;
}

.current-year:after {
    content: url('../img/icon-arrow-down.svg');
    width: 20px;
    height: 20px;
    display: inline-block;
    padding-left: 1rem;
}

.past-years {
    font-size: 1.6rem;
    display: block;
    list-style-type: none;
    display: none;
}

.publications-list {
    margin-bottom: 50px;
    text-align: center;
    background-color: #FFF;
}

.publications-list img {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.publications-list p {
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    height: 27px;
    margin: 35px auto 0;
    vertical-align: bottom;
    text-transform: uppercase;
    padding: 0 20px;
}

/* .swimmer-toc .row {
    margin-bottom: 20px; 
}

.swimmer--features-secondary > .row,
.swimmer--departments > .row {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #CCC;
}

/* .swimmer--features-primary > div > div:last-of-type article,
.swimmer--features-secondary > div > div:last-of-type article,
.swimmer--departments > div > div:last-of-type article {
    border: 0 none;
} */

/* .swimmer--features-primary article {
    flex-wrap: wrap;
    flex-direction: column;
} */

article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid #CCC;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    align-self: center;
}

.article-header {
    order: 1;
}

.article-body {
    order: 2;
}

.swimmer--features-primary .article-header {
    order: 1;
}

.swimmer--features-primary .article-body {
    order: 2;
}

/* .swimmer--features-primary .article-image__container {
    width: 100%;
    overflow: hidden;
} */

.article-body a {
    text-decoration: none;
}

.article-title {
    font-size: 2.7rem;
}

/* .swimmer--features-primary .article-title { */
    /* font-size: 4rem; */
    /* line-height: 115%; */
    /* margin: 0 auto 2rem; */
/* } */

/* .swimmer--features-secondary .article-title { */
    /* font-size: 2.3rem; */
    /* line-height: 125%; */
    /* margin: 2rem auto 1rem; */
/* } */

/* .swimmer--departments .article-title { */
    /* font-size: 1.9rem; */
    /* line-height: 130%; */
    /* font-weight: bold; */
    /* margin: 1rem auto 0; */
/* } */

.swimmer--departments .article-header {
    margin-top: -2rem;
}

.swimmer--departments .article-group,
.swimmer--departments .article-subgroup {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 110%;
    font-weight: bold;
    color: #888;
    margin: 0 auto;
}

.swimmer--departments .article-group + .article-subgroup:before {
    content: "|";
    font-weight: 400;
    padding-left: 1px;
    padding-right: 4px;
}

article .article-subtitle {
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: bold;
    color: #333;
    margin: 0.5rem auto 1rem;
}

article .article-summary {
    font-size: 1.7rem;
    line-height: 150%;
    color: #333;
}

article .article-author {
    margin: 0 auto !important;
    padding: 0.5rem 0 1rem !important;
    color: #999;
    font-size: 1.5rem;
    line-height: 150%;
}

.article-image__container {
    display: block;
}

.swimmer--departments .article-image__container {
    margin-top: 1rem;
}


.swimmer--features-primary .article-image {
    /* -webkit-box-ordinal-group: 3; */
    order: 2;
    /* -webkit-box-flex: 1; */
    flex: 1 0 100%;
    height: 250px;
    width: 100%;
}

/* .swimmer--features-primary .article-image, */
.swimmer--features-secondary .article-image,
.swimmer--departments .article-image {
    /* -webkit-box-ordinal-group: 3; */
    order: 2;
    /* -webkit-box-flex: 1; */
    flex: 1 0 100%;
    height: 250px;
    width: 100%;
}

.article--department .article-header {
    height: 200px;
    overflow: hidden;
}

.article--department {
    min-height: initial;
}

.article--hero .article--body {
    order: 1;
}

.article--feature .article-header {
    overflow: hidden;
    max-height: 200px;
}

.article-title {
    margin: 1.5rem auto 1rem;
}

.article--hero .article-title {
    font-size: 24px;
    line-height: 1.25rem;
    margin: 1.5rem auto 0.75rem;
}

.article--feature .article-title {
    font-size: 19px;
    line-height: 1.25rem;
    margin: 1.25rem auto 0.5rem;
}

.article--department .article-title {
    font-size: 15px;
    line-height: 1.25rem;
    margin: 0 auto 0.5rem;
}

.bg-image {
    background: url("https://usms-cdn.azureedge.net/-/media/usms/lightroom/ldm_3009.jpg?rev=30ac69776a1d486f946db7eb73017f42&cx=0.5&cy=0.5&cw=1000&ch=500&hash=4FF218FEBE6145285F1555AFB62D0638");
    background-size: cover;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    opacity: 0.25;
    width: 100%;
    height: 100%;
    margin-top: -30px;
    margin-bottom: 30px;
    position: absolute;
    z-index: -1;
}

.page-header__image {
    background-size: 100%;
    height: 180px;
}

@media (min-width: 768px) {
    .page-header__image {
        height: 200px;
    }
    .swimmer-toc .row {
        margin-bottom: 20px; 
    }    
    .swimmer--features-secondary > .row,
    .swimmer--departments > .row {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #CCC;
    }    
    .swimmer--departments > .row {
        padding-bottom: 0;
        margin-bottom: 20px;
    }   
    article {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        border-bottom: 0 none;
        border-right: 1px solid #CCC;
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: 0;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        align-self: center;
    }
    .swimmer--features-primary article {
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .swimmer--features-primary > div > div:last-of-type article,
    .swimmer--features-secondary > div > div:last-of-type article,
    .swimmer--departments > div > div:last-of-type article {
        border: 0 none;
    }
    .swimmer--features-primary .article-header {
        order: 2;
    }    
    .swimmer--features-primary .article-body {
        order: 1;
        align-self: center;
    }
    .swimmer--features-primary .article-body {
        padding-right: 25px;
    }

    .swimmer--features-primary .article-image {
        flex: 0 0 540px;
        width: 540px;
        height: 400px;
    }
    .swimmer--features-secondary .article-image {
        flex: 0 0 260px;
        width: 100%;
        height: 260px;
    }
    .swimmer--departments .article-header {
        margin-top: 0;
    }
    .swimmer--departments .article-image {
        flex: 0 0 200px;
        width: 100%;
        height: 200px;
    }
    .swimmer--departments .article-body {
        min-height: 60px;
    }
    .usms-container.swimmer-toc {
        margin-top: 2rem;
    }
    .swimmer--features-primary {
        padding-left: 180px;
        padding-right: 180px;
    }
    .swimmer--features-primary .article-title {
        font-size: 4rem;
        line-height: 115%;
        margin: 0 auto 2rem;
    }
    
    .swimmer--features-secondary .article-title {
        font-size: 2.3rem;
        line-height: 125%;
        margin: 2rem auto 1rem;
    }
    
    .swimmer--departments .article-title {
        font-size: 1.9rem;
        line-height: 130%;
        font-weight: bold;
        margin: 1rem auto 0;
    }    
}

@media (min-width: 1280px) {
    .usms-container {
        width: 1200px;
    }
}

@media (min-width: 1460px) {
    .usms-container {
        width: 1400px;
    }
}







