:root {
    --bs-btn-active-color: #FFF;
    /* --bs-btn-active-bg: inherit; */
    /* --bs-btn-active-border-color: inherit; */
}

.form__container select.form-control {
    background-image: url(https://usms-cdn.azureedge.net/-/media/usms/developers/Images/MyUSMS/icon-arrow-down);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 5px 5px 5px 5px !important;
    height: 4.6rem;
    padding: 0;
    color: #656565;
    background-color: #fff;
}

#contact-info__content {
    max-width: 800px;
    margin-left: 0;
}

.add-new-inputs {
    padding: 2rem;
    /* background-color: #f4f4f4; */
}

.form__container .club-edit .help-block.has-error {
    background-color: transparent !important;
}

#contact-info__content .radio-group {
    margin-bottom: 0.5rem;
}

.input-group select {
    color: #CCC;
}

.input-group select.has-success {
    color: #626262 !important;
}

.club-edit .event-info-image.input-group {
    display: table;
}

.event-info-classification label,
.event-info-course label,
.event-info-lmsc label,
.input-group label,
.form-group label,
.entry-info__paper-meet-announcement {
    /* font-size: 12.5px; */
    font-size: 1.4rem;
    font-weight: bold;
}

label.radio-label {
    font-size: 14px;
}

.lookup-ref-name label,
.lookup-safety-coordinator-name label {
    margin: 2rem 0;
}

.lookup-name label {
    margin-bottom: 2rem;
}

.contact-info-head-referee__add-new p,
.contact-info__event-director-other--add-new p, 
.contact-info-safety-coordinator__add-new p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.add-new-inputs label {
    font-weight: normal !important;
}

.event-info-classification select.form-control,
.event-info-course select.form-control,
.event-info-lmsc select.form-control {
    margin-bottom: 1.5rem;
}

/* .event-info-image > label {
    font-weight: bold;
} */

.event-info-image .upload-box label {
    max-width: 170px;
}

.event-info-details textarea.form-control {
    height: 14rem;
    width: calc(98%);
    resize: none;
}

.event-info-details textarea {
    height: 14rem;
    width: calc(98%);
    resize: none;
}

/********************************************************************** Section 3 - Contact Info Event Director */
#contact-info .radio-label {
    margin-bottom: 0;
    padding-left: 30px;
}

/* .contact-info-director__other--container p, */
.section__header--summary p {
    font-size: 1.6rem;
}

.entry-info__paper-entry-form .upload-box {
    margin-left: 0;
}

.contact-privacy-name,
.contact-privacy-email,
.contact-privacy-phone {
    display: inline-block;
    width: auto;
    margin: 0 2rem 1rem 0;
}

.list .list__container .contact-column {
    display: none;
}

.event-list__container {
    margin: 0;
    padding: 0;
}

/* .contact-information__event-host--list, */
/* .location-info__add-new-location--container */
.row.contact-info__host-type,
.contact-info__head-ref-container,
.row.contact-info__safety-coordinator {
    border-top: 1px dashed #DDD;
    max-width: 100%;
    /* margin-bottom: 2rem; */
    padding-top: 2rem;
}

.row.contact-info__host-type {
    /* border-bottom: 1px dashed #DDD; */
    margin-bottom: 2rem;
    padding-bottom: 0rem;
}

/* .form-group.contact-information__event-host--list {
    margin-bottom: 4rem;
} */

/* .input-group.contact-info__safety-coordinator,
.input-group.contact-info__head-ref,
.input-group.contact-info__host-type {
    margin-top: 2rem;
    padding-top: 0rem;
} */

.contact-info__head-ref button,
.contact-info__safety-coordinator button {
    margin: 1.25rem 0 0.25rem;
}

.contact-list__additional-contacts--header {
    padding-top: 2rem;
}

#addNewEventDirector,
.form-group.contact-info__event-director--add-new-container.add-new-inputs {
    margin-bottom: 3rem;
}

.input-group.lookup-ref-name,
.form-group.contact-info-organization__add-new,
.form-group.contact-info__event-director-other--add-new,
.form-group.contact-info-host-type__other--container,
.form-group.contact-info__event-director-other--container,
.input-group.contact-info__head-ref,
.input-group.contact-info__safety-coordinator {
    margin-bottom: 0;
}


@media (min-width: 1200px) {
    .form-group.contact-information__event-director--list,
    .form__container .club-edit .section__header--summary.contact-list__event-director--message,
    .form-group.contact-info__event-director--add-new-container,
    .form-group.contact-info__event-director-other--container,
    .form-group.contact-info__event-director-other--add-new,
    .section__header--summary.contact-list__event-director--message,
    .form-group.contact-info__safety-coordinator-lookup--container,
    .form-group.contact-info__safety-coordinator-new--add-new,
    .form-group.contact-info__safety-coordinator--add-new-container,
    .form-group.contact-information__head-ref--list,
    .form-group.contact-information__safety-coordinator--list,
    .form-group.contact-info__head-ref-new--add-new,
    .form-group.contact-info__head-ref-lookup--container,
    .form-group.contact-info__head-ref--add-new-container,
    .form-group.contact-information__event-host--list,
    .form-group.contact-info__host-type-club--container,
    .form-group.contact-info__host-type-lmsc--container,
    .form-group.contact-info-host-type__other--container,
    .form-group.contact-info-organization__add-new,
    .form-group.contact-info-host-type__other-organization--container {
        margin-left: 3rem;
    }
    
    /* .form-group.contact-info__head-ref-new--add-new,
    .form-group.contact-info__safety-coordinator-new--add-new {
        margin-bottom: 5rem;
    } */

    .list__header {
        margin-left: -3rem !important;
    }
}

.contact-info__host-type label {
    /* margin-top: 0.7rem; */
    /* margin-bottom: 1.5rem; */
}

/* .contact-list__safety-coordinator--header,
.list__header.contact-list__event-host--header {
    margin-top: 0;
} */

.usms-container .event-list__container .button-row__footer {
    margin: 2rem auto;
}

.list-item__pending {
    color: red;
    margin: 0 0 0.5rem;
}

.contact-info__event-director-type-form {
    margin-bottom: 3rem;
}

/* .contact-info__safety-coordinator--container > [class*='col-'] */
.form-group [class*='col-'] {
    /* margin-left: 1rem; */
    /* padding-left: 0; */
}

.club-edit .list__header.contact-list__head-ref--header,
.club-edit .list__header.contact-list__safety-coordinator--header {
    margin-top: 0;
}

.club-edit .list__header.contact-list__event-director--header {
    margin-top: 1.2rem;
}

/* .contact-info__event-director-type-form .input-group-header.radio-group-header {
    margin-top: 0.7rem;
    margin-bottom: 1.3rem;
} */

.add-new-inputs {
    background-color: #f4f4f4;
    transition: all 0.25s ease;
    max-width: 800px;
    margin-bottom: 4rem;
}

.input-read-only {
    font-size: 1.6rem;;
}

#confirmCurrentHost,
.contact-info__host-type-lmsc--container,
.contact-info__host-type-club--container,
.contact-info-host-type__other--container,
.contact-info-safety-coordinator__add-new,
.lookup-host-type-usms-club,
.contact-info__host-type-event-director--container,
.contact-info-organization__add-new,
#contact__recentlyadded,
#contact__recentlyadded-valid,
#contact__recentlyadded-invalid {
    display: none;
}

.contact-info__head-ref-lookup--container,
.contact-info__head-ref-new--add-new,
.contact-info__head-ref-lookup--add-new,
.contact-info__head-ref--add-new-container,
.contact-info__head-ref--website-display-preferences {
    display: none;
}

.contact-info__safety-coordinator-lookup--container,
.contact-info__safety-coordinator-new--add-new,
.contact-info__safety-coordinator-lookup--add-new,
.contact-info__safety-coordinator--add-new-container,
.contact-info__safety-coordinator--website-display-preferences {
    display:none;
}

/* .location-info__add-new-location--container */
.list--lookup.locations,
.event-location-details,
.location-information__locations-list,
.locations-list__header,
.location-add-configuration,
.list-venue-form,
.input-group.list-configuration-form {
    display: none;
}

.event-list__container h3 {
    margin: 1rem 0 0.5rem;
}

.event-card__link {
    width: 180px;
}

.event-card__title {
    font-size: 1.7rem;
}

/* .event-card.pending {
    opacity: 0.5;
} */

.event-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin: 1rem auto;
    padding: 2rem 0 0;
    text-align: left;
}

.event-card:not(:first-of-type) {
    border-top: 1px solid #CCC;
}

.event-card .btn {
    margin: 1rem 0 4rem;
}

.list .btn {
    /* margin-top: 2rem; */
}

.event-card__title {
    margin: 0 1rem 0.5rem 0;
    /* max-width: 400px; */
    margin-left: 0 !important;
}

.event-card p.event-card__date,
.event-card p.event-card__id {
    margin: 0 1rem 0.5rem 0;
}

.button-row__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card.liability {
    border: 0 none;
}

.liability .html-container {
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 15px;
    border: 0 none;
    padding: 0 1rem 0 0;
    font-size: 1.3rem;
    line-height: 2.3rem;
}

.liability .checkbox {
    margin-left: 2rem;
    margin-top: 4px;
    line-height: 150%;
    text-transform:capitalize;
}

.liability .checkbox+.checkbox {
    margin-top: 1rem;
}

/* .liability .checkbox input[type=checkbox] {
    margin-left: 10px;
} */

.liability .form-group {
    border: 0 none;
}

.liability .form-group label {
    display: inline-block;
    font-weight: normal;
}

@media (min-width: 768px) {
    #agree__label, #disagree__label {
        margin: 3rem 2rem 2rem;
    }
}

.event-list__container h2 {
    /* background-color: #0068ad; */
    background-color: #accbdf;
    color: #FFF;
    margin: 5rem 0 1rem;
    padding: 1rem;
}

.event-list__filters.all-events-past .input-group {
    margin: 2rem 0 1rem;
}

@media (min-width: 768px) {
    .event-list__container {
        margin: 0 4rem;
        padding: 5rem 2rem;
    }
    .event-list__container:first-of-type {
        padding-top: 0;
        padding-bottom: 7rem;
    }
    .event-list__container h2 {
        background-color: transparent;
        color: #0068ad;
        margin: 1rem 0;
        padding: 0;
    }
    .event-list__container:not(:first-of-type) {
        border-top: 1px solid #CCC;
    }
    .event-list__container.all-events-past:not(.event-list__filters) {
        border: 0 none;
        margin-top: 0;
        padding-top: 0;
    }
    .event-list__filters {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .event-card {
        align-items: baseline;
        flex-direction: row;
        border-top: 0;
        padding-top: 1rem;
        padding-right: 1.5rem;
        /* flex-direction: column; */
        text-align: left;
    }
    .event-card:not(:first-of-type) {
        border: 0;
    }
    .event-card .btn {
        margin-top: 0;
        margin-right: 2rem;
    }
    h3.event-card__title {
        margin: 1rem 1rem 1rem 0;
    }
    .event-card p.event-card__date,
    .event-card p.event-card__id {
        margin: 1rem 1rem 1rem 0;
        padding-left: 1rem;
        border-left: 1px solid #CCC;
    }
    .usms-container.form__container .event-list__container h2 {
        font-size: 2.7rem;
        margin: 0 0 4rem;
    }
    .event-list__container h3.event-card__title,
    .event-list__container p.event-card__date {
        margin: 0 1rem;
    }
    .usms-container.form__container .event-list__container h3.event-card__title {
        font-size: 2rem;
        max-width: 360px;
    }
    .event-card p,
    .event-list__container p.event-card__date {
        font-size: 1.6rem;
    }
    .event-list__filters.all-events-past .input-group {
        margin: 0 0 2rem;
    }
}






.form__container .btn.btn-small,
.form__container a.btn-small,
.form__container button.btn-small {
    font-size: 1.35rem !important;
    margin-bottom: 2rem !important;
    padding: 0 1.1rem !important;
    height: 3rem !important;
    line-height: 3rem !important;
    text-transform: none !important;
    border-radius: 4px;
}

#confirmCurrentEventDirector {
    margin-bottom: 3rem;
}

#addHeadRef,
#cancelAddHeadRef,
#addSafetyCoordinator,
#cancelAddSafetyCoordinator {
    height: 2.3rem !important;
    line-height: 100% !important;
    padding: 0 0.7rem !important;
    font-size: 1.1rem !important;
}

/* #addNewOrganization,
#addNewEventDirector,
#addNewHeadRef,
#addNewHeadRef,
#addNewSafetyCoordinator {
    padding: .5rem 1rem .7rem 1.6rem;
} */

/* Render '+' on buttons */
#addNewOrganization:before,
#addNewEventDirector:before,
#addNewHeadRef:before,
#addNewHeadRef:before,
#addNewSafetyCoordinator:before,
#addLocationBtn:before,
#addConfigurationBtn:before {
    content: "+";
    position: relative;
    top: -1px;
    left: -9px;
    width: 7px;
    display: inline-block;
    padding: 0 0 0 5px;
    margin: 0;
}


.form__container .list--lookup.locations .list-item--lookup button {
    height: 2.3rem !important;
    line-height: 2.3rem !important;
    padding: 0 0.7rem !important;
    font-size: 1.1rem !important;
}



/* Locations */
.lookup-results--locations {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.form__container .locations button.btn.btn-small {
    margin-bottom: 9px !important;
}

/* .location-column .list-item:last-of-type */
/* .location-column {
    margin: 0 0 3rem !important;
} */

.location-column {
    padding: 1rem 0;
}

.location-column .list-item {
    margin: 1rem 0;
    padding: 0;
    display: block;
    flex-direction: row;
}

.location-column .list-item > * {
    display: inline-flex !important;
}

.club-edit .list-item p.event-location__address--name {
    /* margin: 0 0.8rem 0 0; */
    /* padding: 0; */
    margin: 0 0 0 1rem;
    padding: 0 1rem 0 0rem;
    border-right: 1px solid #CCC;
    line-height: 120%;
}

.club-edit .list-item p.event-location__address--street {
    padding: 0 1.2rem 0 0;
    margin: 0 1rem 0 0.8rem;
    border-right: 1px solid #CCC;
    line-height: 120%;
    font-size: 1.6rem;
}

.event-location-details {
    /* margin: 2.5rem 0 1rem; */
    margin: 0 auto 1rem;
}

p.lookup__location--or {
    font-size: 1.6rem;
    margin: 0;
    font-weight: bold;
}

@media (min-width: 768px) {
    p.lookup__location--or {
        /* position: absolute;
        right: 10px;
        top: 26px; */

        font-size: 1.6rem;
        margin: 0 auto;
        /* text-align: right; */
        /* line-height: 100%; */
        /* padding: 0; */
        padding-left: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.club-edit .location-header {
    margin-bottom: 0;
}

.add-new__label {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.club-edit .list__container {
    margin: 0 auto;
}

.liability span.checkbox {
    display: block;
    margin-left: 1.75rem;
}

.liability .checkbox input {
    margin-left: -1.75rem;
}

.form-header.duplicate-event {
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid #DDD;
}

#form-accept-submit {
    margin-top: 6rem;
}

.contact-info__event-director-privacy--container {
    display: none;
}

.event-director-privacy__header {
    font-size: 14px;
    font-weight: 600;
    line-height: 2.0rem;
    height: 2.0rem;
    margin: 0 auto 2.0rem;
    padding: 0;
}

.event-card.pending-approval .btn {
    background-color: #aacee4;
}

.event-card.edits-needed .btn {
    background-color: #d2202e;
}

.pool-configuration .location-name {
    margin: 2rem 0 1rem;
}

.html-container p, .usms-container p { margin: 0; }

.radio-container {
    margin-left: -3.3rem;
}
.radio-label {
    margin-left: 3rem;
    max-width: 85%;
    line-height: 130% !important;
}
.radio-label--inline .radio-container {
    margin-right: 8px;
}
.radio__placeholder {
    left: -3rem;
}