.contact-info__event-director-other--container,
.contact-info__event-director-other--add-new,
.contact-information__event-director--list,
.contact-info__event-director-current--container,
.contact-info-event-director__current-message,
.contact-info__event-director--add-new-container.add-new-inputs,
.contact-info__event-director--website-display-preferences,
.contact-info-host-type__other-organization--container.add-new-inputs {
    display: none;
}


.club-edit .isEdit .section__header:after, .club-edit .hasData.isEdit .section__header:after {
    background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-checkmark.png');
}


.club-edit button.list__controls--settings {
    background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-pencil.png');
}