.contact-info__event-director-other--container,
.contact-info__event-director-other--add-new,
.contact-information__event-director--list,
.contact-info__event-director-current--container,
.contact-info-event-director__current-message,
.contact-info__event-director--add-new-container.add-new-inputs,
.contact-info__event-director--website-display-preferences,
.contact-info-host-type__other-organization--container.add-new-inputs {
    display: none;
}


.club-edit .isEdit .section__header:after, 
.club-edit .hasData.isEdit .section__header:after {
    background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-checkmark.png');
}

a.btn,
button.btn {
    border-radius: 3px !important;
}


.club-edit a.list-item__edit, 
.club-edit a.list-item__delete,
.club-edit a.list-item__save {
    display: none;
}

/* .club-edit .edit-list a.configuration-edit-button:before {
    background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-pencil-active.png');
    width: 15px;
} */

/* .club-edit a.venue-edit-button:before, 
.club-edit a.configuration-edit-button:before,
.club-edit a.list-item__edit:before {
    content: "";
    background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-pencil.png');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 15px;
    height: 20px;
    margin: 0;
    top: 4px;
    left: 0;
} */

/* .club-edit a.list__controls--settings,
.club-edit button.list__controls--settings {
    background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-pencil.png');
} */

.event-edit .venue-edit-button:before, 
.event-edit .configuration-edit-button:before {
    content: "";
    background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-pencil.png');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 15px;
    height: 20px;
    margin: 0;
    top: 4px;
    left: 0;
}

.event-edit .list__controls--settings {
    position: relative;
    background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-pencil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 15px;
    height: 20px;
    margin: 0;
    top: 4px;
    left: 5px;
    display: inline-flex;
}

.event-edit .edit-list .list__controls--settings {
    background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-pencil-active.png');
}

.club-edit .edit-list a.venue-remove-button:before, 
.club-edit .edit-list a.configuration-remove-button:before, 
.club-edit .edit-list a.list-item__delete:before {
    content: "";
    opacity: 0.4;
    background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-list-item-delete.png');
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    top: 2px;
    left: 0;
}

.SingleDatePicker,
.entry-info__paper-entry-form {
    margin-top: 0.5rem;
}



.btn.btn-small {
    padding: .5rem 1.3rem .7rem !important;
}

.location-add-venue,
.location-add-configuration {
    display: none;
}
