.list-control {
    position: relative;
    /* margin-top: -5px; */
}

.list-control-search {
    display: flex;
    flex-direction: column;
}

.list-control-filter.is-flex, .list-control-search__content.is-flex, .is-flex {
    display: flex;
    flex-wrap: wrap;
}

.list-control-search__input {
    margin: 0 auto 15px;
    flex: 0 0 100%;
}

.list-control-search__input:first-of-type {
    margin-left: 0;
}

@media only screen and (min-width: 768px) {
    .list-control-search__input {
        margin-bottom: 0;
        margin-left: 15px;
        flex: 1;
    }
}

/* @media only screen and (min-width: 768px) { */
    .list-control-filter {
        display: block;
        margin: 0 auto;
        padding: 0 35px 23px;
    }
/* } */

/* @media only screen and (min-width: 768px) { */
    .list-control-filter .list-control-filter__content {
        position: absolute;
        margin: 0;
        padding: 3.5rem 0 0;
        width: 100%;
        left: 0;
    }
/* } */