.form__container .event-edit .help-block.help-block--CityStateZip.has-error {
    line-height: 120%;
    top: -2.75rem;
    height: 2.5rem;
}

@media (min-width: 1200px) {
    .form__container .club-edit .help-block.help-block--CityStateZip.has-error,
    .form__container .event-edit .help-block.help-block--CityStateZip.has-error {
        top: -2.5rem;
        height: 2.25rem;
    }
}


.form__container .event-edit .help-block.help-block--expandSearch.has-error,
.form__container .event-edit .help-block.help-block--selectLocation.has-error,
.form__container .club-edit .help-block.help-block--selectLocation.has-error {
    position: relative;
    top: 10px;
    font-size: 1.2rem;
}

.club-edit .row.locations,
.event-edit .row.locations, 
.list--lookup.locations, 
.event-location-details, 
.location-information__locations-list, 
.locations-list__header, 
.location-add-configuration, 
.list-venue-form, 
.club-edit .venue__list, 
.club-edit .configuration__list, 
.club-edit .configuration__list--item, 
.event-edit .venue__list, 
.event-edit .configuration__list, 
.event-edit .configuration__list--item, 
.input-group.list-configuration-form {
    display: none;
}