.add-new-inputs .required label,
.location-inputs .required label {
    /* margin-left: 0; */
}

.add-new-inputs .required label:before,
.location-inputs .required label:before {
    top: 0;
}

.list-control-search__content {
    background-color: transparent;
    padding: 0;
}

.list-control select, 
.list-control input[type="text"] {
    border: 1px solid #CCC !important;
}

.list-control-filter {
    background-color: transparent;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: -7rem;
    display: block;
}

.list-control-filter .list-control-filter__content {
    position: relative !important;
    display: block;
    top: 0 !important;
    padding-top: 1rem;
    padding-left: 0;
    visibility: visible !important;
    opacity: 1 !important;
}

@media (min-width: 1200px) {
    .list-control-filter .list-control-filter__content {
        position: relative !important;
        display: block;
        top: -180px !important;
        padding-top: 1rem;
        padding-left: 0;
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.modal-footer .btn+.btn:hover {
    color: #FFF !important;
}

.list-control-search__input--button {
    /* top: 9rem; */
}

.list-control-filter__content .check-list-item {
    width: auto;
    margin-right: 4rem;
}

@media (min-width: 1200px) {

    .list-control-filter {
        margin-bottom: 0;
    }

    .list-control-filter .list-control-filter__content {
        top: 0 !important;
    }

    .list-control-search__input--button {
        top: 0.3rem;
    }
    
}

.list-control-filter .list-control-filter__content .check-list 
{
    opacity: 1;
    visibility: visible;
}

.list-control-search__input label {
    margin: 0 0 1rem;
}

.input-group select {
    background-image: url('https://usms-cdn.azureedge.net/-/media/usms/developers/Images/MyUSMS/icon-arrow-down');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 5px 5px 5px 5px !important;
    height: 4.6rem;
    padding: 0;
    color: #656565;
    background-color: #f4f4f4;
    appearance: none;
}

.input-group select::-ms-expand {
    display: none;
}

.locations .location-column {
    padding-top: 0;
}

.list--lookup.locations .list__container {
    width: 100%;
    max-height: 450px;
    overflow-x: clip;
    overflow-y: auto;
    padding-left: 1.5rem;
    /* margin-bottom: 1.5rem; */
    margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
    .list-control-search__header {
        margin-bottom: 2rem;
        padding-left: 1rem;
    }
    .list-control-search--summary-loading {
        left: 0;
    }
    .list--lookup.locations .list__container {
        max-height: 260px;
        margin-bottom: 3rem;
    }
}

.list--result.locations .list-item {
    display: none;
}

.list-item p.event-location--course {
    font-size: 1.1rem;
    background-color: #AAA;
    color: #FFF;
    font-weight: 400;
    margin: 0 0.1rem;
    padding: 0 .3rem;
    line-height: 1.8rem;
    border-radius: 3px;
    bottom: 2px;
    position: relative;
}

.list--result.locations .list-item .location-name {
    display: inline;
    /* margin-bottom: 0.5rem; */
}
.list--result.locations .list-item .location-name .list__controls {
    /* display: inline; */
}

.list--result.locations .list-item .location-name .list__controls a.list-item__edit,
.list--result.locations .list-item .location-name .list__controls button.list-item__edit {
    /* display: inline; */
}

.configuration-title.selected {
    font-weight: 500;
    color: green;
}

.input-group.chose-pool-configuration label {
    font-weight: normal !important;
}

.check-list--pool-length .check-list-item {

}