/* .event-edit.club-edit .input-group-header.radio-group-header,
.event-edit.club-edit .radio-group-header {
    margin-top: 1rem !important;
    margin-bottom: -1rem !important;
} */







.event-edit.club-edit .input-group.required:not(.upload-file) label,
.event-edit.club-edit .form-group.date-select-group label, 
.event-edit.club-edit .input-group:not(.radio-group) label {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.event-edit.club-edit .entry-info__paper-entry-form .upload-box {
    margin-top: 0;
}
.event-edit.club-edit .input-group:not(.radio-group).event-info-image label {
    margin-bottom: 1.5rem;
}
.event-edit.club-edit .entry-info__paper-entry-form .event-document__remove-file {
    top: 55px;
}
.event-edit.club-edit .event-info-image .upload-box label {
    margin-top: 0;
}










.event-edit.club-edit .required:not(.upload-file) label {
    padding-left: 1rem;
    margin-left: unset;
}