<div class="image-slider rte">
  <div class="usms-container">
    <div class="row">
      <div class="col-xs-12">
        <div class="image-slider__container">
          <button class="image-slider__button-previous"><i class="fa-solid fa-chevron-left"></i></button>
          <div class="image-slider__slider-container">
            <ul class="image-slider__slider list--nostyle">
              <li class="image-slider__slider-item" id="image-slider__slider-item-0">
                <a href="https://www.swim.com"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/swim-com_190x190.png" alt="Swim.com"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-1">
                <a href="https://dermasport.com/"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/dermasport_190x190.png" alt="Dermasport"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-2">
                <a href="http://www.activeswim.com/"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/active-network_190x190.png" alt="Active Network"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-3">
                <a href="https://www.usaswimming.org/foundation"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/usa-swimming-foundation-vertical-full-color190x190-02.png" alt="USA Swimming Foundation"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-4">
                <a href="https://www.swimoutlet.com/ProductBrand.asp?Brand=1766&click=1668780"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/swimoutlet_190x190.png" alt="Swim Outlet"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-5">
                <a href="https://www.sbrsportsinc.com/index.html"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/triswim_190x190.png" alt="TriSwim"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-6">
                <a href="http://www.toyota.com"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/toyota_190x190.png" alt="Toyota"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-7">
                <a href="https://www.swimtrek.com/"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/swimtrek_190x190.png" alt="SwimTrek"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-8">
                <a href="https://www.tyr.com/"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/tyr2.png" alt="Tyr"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-9">
                <a href=""><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/swim-across-america-full-color190x190.png" alt="Swim Across America"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-10">
                <a href="https://www.ioausa.com"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/ioa_190x190.png" alt="Insurance Office of America"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-11">
                <a href="https://www.infinitnutrition.us/"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/infinit_190x190.png" alt="Infinit"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-12">
                <a href="https://www.coloradotime.com/"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/cts_190x190.png" alt="Colorado Timing Systems"></div></div></a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-13">
                <a href="https://www.masterspas.com/usms/"><div class="image__container--desktop"><div class="image-desktop"><img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/partner logos/master-spas_190x190.png" alt="MasterSpas"></div></div></a>
              </li>
            </ul>
          </div>
          <button class="image-slider__button-next"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
