/* College Club Swimming — Instagram feed (Elfsight widget overrides) */

@media (min-width: 1600px) {
    .col-ccs-instagram {
        background-color: #000;
    }
    #eapps-instagram-feed-1,
    .eapps-instagram-feed-container {
        max-width: 1400px !important;
    }
}

#eapps-instagram-feed-1 .eapps-instagram-feed-posts-grid-load-more {
    background: #000 !important;
    width: auto !important;
    text-transform: capitalize !important;
    padding: 2.0rem !important;
    line-height: 0 !important;
    margin-top: 4rem !important;
}
