/* College Club Swimming — page-header component */

.page-header {
    background-color: transparent;
    margin: 0;
}

@media (max-width: 960px) {
    .page-header {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.page-header h1,
.page-header h1 small {
    color: #000;
    text-shadow: none;
    text-align: left;
}

.page-header:not(.page-header__image) h1 {
    padding: 6rem 0 5rem;
}

.page-header .page-header--dark {
    background: rgba(0, 0, 0, .5);
    position: absolute !important;
}

.page-header.page-header__image h1,
.page-header.page-header__image h1 small {
    color: #FFF;
}

@media (min-width: 992px) {
    .page-header__image {
        height: 300px;
        overflow: hidden;
    }
}
