.article-stepper #articleStepper .carousel-text-container p,
.article-stepper h3.article-stepper__title {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    width: 25px;
    margin-right: 3px;
    margin-left: 3px;
}
.carousel {
    height: 100%;
    margin-bottom: 2rem;
}
.carousel-inner {
    height: auto;
}
.carousel-item {
    height: 100%;
    padding: 0 5px;
}
@media (min-width: 768px) {
    #articleStepper .carousel-inner .carousel-item-end.active,
    #articleStepper .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    #articleStepper .carousel-inner .carousel-item-prev,
    #articleStepper .carousel-inner .carousel-item-start.active {
        transform: translateX(-25%);
    }
}
#articleStepper .carousel-inner .carousel-item-end,
#articleStepper .carousel-inner .carousel-item-start,
.article-stepper .carousel-inner .carousel-item-end,
.article-stepper .carousel-inner .carousel-item-start {
    transform: translateX(0);
}
.article-stepper {
    display: block;
    text-align: left;
}
.article-stepper h4 {
    font-size: 2.5rem;
}
.article-stepper > a {
    display: block;
    margin: 2rem auto;
    text-decoration: underline;
}
.article-stepper > a:nth-of-type(2n) {
    border: 0;
}
.article-stepper .carousel-control-prev {
    left: 0;
    height: 70%;
}
.article-stepper .carousel-control-next {
    right: 0;
    height: 70%;
}
.article-stepper .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.article-stepper .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
@media (max-width: 767px) {
    .article-stepper .carousel-inner {
        width: 90%;
        margin: 0 auto;
    }
    .article-stepper .carousel-inner .carousel-item > div {
        display: none;
    }
    .article-stepper .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}
.article-stepper .carousel-inner .carousel-item-next,
.article-stepper .carousel-inner .carousel-item-prev,
.article-stepper .carousel-inner .carousel-item.active {
    display: flex;
}
.article-stepper .carousel-image-container {
    height: 220px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.article-stepper {
    border-top: 1px solid #ccc;
    margin: 2rem 0 0;
    padding-top: 3rem;
}
.article-stepper .carousel-item {
    height: 100%;
}
.article-stepper #articleStepper .carousel-text-container p {
    color: #0068ad;
    font-weight: 700;
    letter-spacing: 0.3px;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 2rem;
    padding: 1rem 1rem 0;
    min-height: 90px;
    background-color: #fff;
    text-align: center;
}
.article-stepper a {
    text-decoration: none;
    color: #777;
}
.article-stepper h3.article-stepper__title {
    margin: 0 auto 3rem;
    color: #0068ad;
    font-weight: 500;
    font-size: 30px;
}
#articleStepper {
    position: relative;
}
.slick-slide-container {
    padding: 0 5px;
}
.slick-slide-container .slick-slide-image {
    height: 220px;
}
.slick-slide-container .slick-slide-text {
    text-align: center;
    margin-top: 0.5rem;
    padding: 8px;
    background-color: #fff;
}
.slick-slide-container .slick-slide-text p {
    color: #0068ad;
    font-size: 1.8rem;
    line-height: 130%;
    font-weight: 700;
    text-align: center;
}
@media all and (max-width: 767px) {
    .slick-list {
        max-width: calc(100vw - 70px) !important;
        margin: 0 auto !important;
    }
}
@media (min-width: 768px) {
    .article-stepper .carousel-inner {
        width: calc(100% - 70px);
        margin: 0 auto;
    }
    .article-stepper > a {
        display: inline-block;
    }
    .article-stepper > a:nth-of-type(2n) {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .article-stepper .carousel-control-next,
    .article-stepper .carousel-control-prev,
    .article-stepper .carousel-image-container {
        height: 170px;
    }
    .article-stepper .carousel-inner .carousel-item-end.active,
    .article-stepper .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    .article-stepper .carousel-inner .carousel-item-prev,
    .article-stepper .carousel-inner .carousel-item-start.active {
        transform: translateX(-25%);
    }
    .article-stepper .carousel {
        margin-bottom: 3rem;
    }
    .article-stepper {
        width: auto;
    }
    #articleStepper {
        position: relative;
    }
    .carousel-inner-slick {
        margin: 0 auto;
        width: calc(100% - 70px);
    }
    .slick-slide-container {
        height: 257px;
        padding: 5px;
    }
    .slick-slide-container .slick-slide-image {
        height: 170px;
    }
    .slick-slide-container .slick-slide-text {
        text-align: center;
        margin-top: 0.5rem;
        padding: 8px;
        background-color: #fff;
    }
    .slick-slide-container .slick-slide-text p {
        color: #0068ad;
        font-size: 1.8rem;
        line-height: 130%;
        font-weight: 700;
        text-align: center;
    }
}
@media (min-width: 992px) {
    .article-stepper > a {
        margin: 2rem 0 8rem;
    }
}
/*# sourceMappingURL=../../maps/Styles/SwimmerMagazine/alsoInThisIssue.css.map */
