.donate__input {
    position: relative;
}

.donate__input .currency-symbol {
    position: absolute;
    left: 7px;
    top: 11px;
    font-size: 28px;
    font-size: 1.75rem;
    color: #656565
}

input[type=text].currency {
    padding-left: 5px;
}


.donation .donate__input input[type=text] {
    padding-left: 5px;
}

.donation--sslf .donate__text label {
    font-size: 1.4rem;
}