main h1, main h2, main h3, main h4, main h5, main h6 {
    color: var(--lm-blue);
}
input[type=checkbox]:checked ~ .checkbox__placeholder {
    background-color: var(--lm-blue);
    -webkit-text-stroke: 1px var(--lm-blue);
}

.membership-length--option.selected {
    border-color: var(--lm-blue);
    border: 2px solid var(--lm-blue);
}

.membership-length--option.selected .promo {
    background-color: var(--lm-blue);
}

.membership-length--usmsPlus.selected .promo, 
.membership-length--usmsPlusYearPlus.selected .promo {
    background-color: var(--lm-blue);
}