<div class="author">
  <div class="author__container">
    <div class="author__image-container bg-gray">
      {% if authorImage %}<img src="{{ authorImage }}" alt="{{ authorName }}">{% endif %}
    </div>
    <div class="author__detail">
      <h4 class="author__name">by <strong>{{ authorName }}</strong></h4>
      <p class="author__date"><strong>{{ articleDate }}</strong></p>
    </div>
  </div>
</div>
