<div class="social-share">
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-size="large" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter"></i> Post</a>
  <a class="fb-like-button" href="https://www.facebook.com/sharer/sharer.php?u=https://www.usms.org{{ permalink }}" target="_blank" rel="noopener"><i class="fa-brands fa-facebook-f"></i> Share</a>
</div>
