<div class="categories">
  <div class="categories__container">
    <p class="categories__header"><strong>Categories:</strong></p>
    <ul class="categories__list list--nostyle">
      {% for category in categories %}
      <li class="categories__item text-uppercase text-center">{{ category }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
