<div class="tags">
  <div class="tags__container">
    <p class="tags__header"><strong>Tags:</strong></p>
    <ul class="tags__list list--nostyle">
      {% for tag in tags %}
      <li class="tags__item text-uppercase text-center">{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
