<div class="social-share">
  <a class="share-icon share-icon--link" href="https://www.usms.org{{ permalink }}" aria-label="Copy link" target="_blank" rel="noopener"><i class="fa-solid fa-link" aria-hidden="true"></i></a>
  <a class="share-icon share-icon--x" href="https://twitter.com/intent/tweet?url=https://www.usms.org{{ permalink }}" aria-label="Share on X" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
  <a class="share-icon share-icon--facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.usms.org{{ permalink }}" aria-label="Share on Facebook" target="_blank" rel="noopener"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
  <a class="share-icon" href="https://www.threads.net/intent/post?url=https://www.usms.org{{ permalink }}" aria-label="Share on Threads" target="_blank" rel="noopener"><i class="fa-brands fa-threads" aria-hidden="true"></i></a>
</div>
