/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* Move this to Single Image component style sheet */
.container-fluid p.image-credit, 
.usms-container p.image-credit {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 140%;
    margin: 0.5rem 0 2rem;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif;
    text-align: left;
    white-space: nowrap;
    text-wrap: wrap;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!! */


.page-header__image {
    padding: 0;
}


b, strong {
    font-weight: 600;
}


/* Bandaid to make local nav carrots match test; do not put in source */
.mega-main-menu__items>li .fa-chevron-right {
    /* margin-right: -1px; */
}


/* Adjust size of paragraphs in Bootstrap modal */
.modal h5 {
    line-height: 120%;
}
.modal p {
    font-size: 1.8rem;
    line-height: 140%;
}




/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* Set widths for USMS Container, Main Menu, Page Header, Login Dropdown and Homepage Carousel */
/* !!!!!!!!!!!!!!!!!!!!!!!!! */

@media (min-width: 768px) {
    .usms-container {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .usms-container {
        width: 1100px;
    }
}
@media (min-width: 1400px) {
    .usms-container {
        width: 1200px;
    }
}


/* This is for testing only. It overrides a setting in source. Once removed from source this will on longer be needed. */
@media (max-width: 1199px) {
    .mega-main-menu {
        max-width: 100%;
    }
}



/* These are in souruce now; verify correct UI in Git before deleting */
/* @media (min-width: 1200px) {
    .mega-main-menu {
        max-width: 1100px;
    }
}
@media (min-width: 1400px) {
    .mega-main-menu {
        max-width: 1200px;
    }
} */


/* Mega Menu Dropdown */
@media (min-width: 1200px) {
    .mega-menu-overlay {
        width: 1100px;
    }
}
@media (min-width: 1400px) {
    .mega-menu-overlay {
        width: 1200px;
    }
}



/* Login Dropdown */
/* @media (min-width: 992px) and (max-width: 1199px) {
    .login__items-container {
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 10;
        width: 100%;
        height: auto;
        display: flex;
        left: unset;
        transform: unset;    
    }
    .login__items-container .login__list {
        display: none;
        list-style-type: none;
        width: 100%;
        height: auto;
        padding: 25px 25px 10px;
        margin: 0;
        text-align: right;
        position: absolute;
        right: 0;
        background-color: #fff;
        border-bottom: 12px solid #0060a7;
        transition: all 0ms ease-in-out;
        transform: translateY(0);
        opacity: 0;
    }
    .login__items-container .login__list-item {
        padding: 0 0 17px;
        font-size: 18px;
    }
} */



@media (min-width: 1200px) {
    .login__items-container {
        width: 1100px;
    }
}
@media (min-width: 1400px) {
    .login__items-container {
        width: 1200px;
    }
}


/* Page Header */
/* @media (min-width: 992px) {
    .page-header {
        padding: 0 15px;
    }
} */
/* @media (min-width: 768px) {
    .page-header h1 {
        max-width: 100%;
    }
} */
@media (min-width: 1200px) {
    .page-header h1 {
        max-width: 1100px;
    }
}
@media (min-width: 1400px) {
    .page-header h1 {
        max-width: 1200px;
    }
}


