.hub-nav {
    margin: 0 auto;
    /* border-bottom: 1px solid #CCC; */
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.hub-nav p {
    display: inline-block;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 1rem 0 1.5rem;
    padding: 0 1rem 0 0;
    line-height: 120%;
}
.content-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-nav-list li {
    display: inline-block;
    margin: 0.5rem 5px 0.5rem 0;
    letter-spacing: normal;
}
@media (min-width: 768px) {
    .hub-nav {
        margin: 2rem 0 3rem;
        border: 0 none;
    }
    .hub-nav p {
        display: block;
        font-size: 1.8rem;
    }
    .content-nav-list li {
        margin: 0.5rem 10px 10px 0;
    }
}