.hub-nav {
    margin: 1rem 0 3rem;  
}
.hub-nav p {
    display: inline-block;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 2rem 0;
    padding: 0 1rem 0 0;
    line-height: 120%;
}
.content-nav-list {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-nav-list li {
    display: inline-block;
    margin: 1rem 0;
    padding: 8px 12px;
    margin-right: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    background-color: #FFF;
    border: 1px solid #0068ad;;
    border-radius: 4px;
}
.content-nav-list li:last-of-type {
    /* border: 0 none; */
    margin: 0;
    /* padding: 0; */
}
.content-nav-list li:hover {
    background-color: #0068ad;
}
.content-nav-list li a {
    color: #0068ad;
    text-decoration: none;
}
.content-nav-list li:hover a {
    color: #FFF;
}
@media (min-width: 768px) {
    .hub-nav {
        margin: 3rem 0;
    }
    .hub-nav p {
        display: inline;
        font-size: 1.8rem;
    }
    .content-nav-list li {
        display: inline-block;
        margin: .5rem 10px 10px 0;
        padding: 10px 15px;
        /* margin-right: 10px; */
        line-height: 2rem;
        font-size: 1.8rem;
        /* border-radius: 4px; */
    }
}