.gtd-milestones {
    width: 100%;
    margin: 3rem auto;
    position: relative;
}
.gtd-milestones .filters .filters__milestones {
    width: 140px;
    max-width: 140px;
    display: block;
    margin: 10px 0 5px;
    padding: 10px 0;
}
.gtd-milestones .filters__count, 
.gtd-milestones .filters__summary {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 0;
}
.gtd-milestones .filters__summary--item-filters__milestones {
    margin-right: 0;
}
.gtd-milestones .filters__milestones .filters label {
    margin: 0 auto;
}
.gtd-milestones .list .milestone {
    width: 100px;
}
.gtd-milestones .sorting .name,
.gtd-milestones .list .name {
    width: 100px;
    min-width: 100px;
}
.gtd-milestones .summary-container {
    display: block;
}
.gtd-milestones .filters .title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}
.gtd-milestones #pageInfo {
    position: absolute;
    bottom: -90px;
    right: 70px;
}
.gtd-milestones .sorting .name,
.gtd-milestones .list .name {
    width: 170px;
    min-width: 170px;
}
.gtd-milestones .list .last {
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.gtd-milestones .sorting .sex,
.gtd-milestones .list .sex {
    width: 60px;
    min-width: 60px;
    text-align: center;
}
.gtd-milestones .sorting .age,
.gtd-milestones .list .age {
    width: 60px;
    min-width: 60px;
    text-align: center;
}
.gtd-milestones .sorting .clubAbbr,
.gtd-milestones .list .clubAbbr {
    text-align: center;
}
.gtd-milestones th.clubAbbr,
.gtd-milestones td.clubAbbr,
.gtd-milestones th.milestone,
.gtd-milestones td.milestone {
    display: none;
}
@media only screen and (min-width: 768px) {
    .gtd-milestones th.clubAbbr,
    .gtd-milestones td.clubAbbr,
    .gtd-milestones th.milestone,
    .gtd-milestones td.milestone {
        display: table-cell;
    }
    .gtd-milestones .sorting .name,
    .gtd-milestones .list .name {
        width: 300px;
        min-width: 300px;
    }
    .gtd-milestones .filters .filters__milestones {
        display: inline-block;
        margin: 10px 20px 25px 0;
        padding: 10px 30px 10px 0;
        border-right: 1px solid #CCC;
    }
    .gtd-milestones .summary-container {
        display: inline-block;
    }
    .gtd-milestones .sorting .name,
    .gtd-milestones .list .name {
        width: 280px;
        min-width: 280px;
    }
    .gtd-milestones .sorting .first,
    .gtd-milestones .list .first {
        display: inline-block;
        font-size: 16px;
    }
    .gtd-milestones .sorting .last,
    .gtd-milestones .list .last {
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
    }
    .gtd-milestones .sorting .miles,
    .gtd-milestones .list .miles {
        font-size: 15px;
        width: 130px;
        min-width: 130px;
        padding-right: 40px;
    }
    .gtd-milestones .sorting .age,
    .gtd-milestones .list .age {
        width: 60px;
        min-width: 60px;
    }
    .gtd-milestones .sorting .ageGroup,
    .gtd-milestones .list .ageGroup {
        width: 120px;
        min-width: 120px;
        text-align: center;
    }
    .gtd-milestones .sorting .clubAbbr,
    .gtd-milestones .list .clubAbbr {
        width: 90px;
        min-width: 90px;
        padding-left: 0;
    }
    .gtd-milestones .list .clubAbbr {
        font-size: 14px;
    }
    .gtd-milestones .sorting .lmsc,
    .gtd-milestones .list .lmsc {
        width: 130px;
        min-width: 130px;
    }
    .gtd-milestones .list .lmsc {
        font-size: 14px;
        line-height: 16px;
    }
    .gtd-milestones .sorting .zone,
    .gtd-milestones .list .zone {
        width: 120px;
        min-width: 120px;
    }
    .gtd-milestones .list .zone {
        font-size: 14px;
    }
}