.usms-container h1, 
.usms-container h2, 
.usms-container h3, 
.usms-container h4, 
.usms-container h5, 
.usms-container h6 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 120%;
    color: inherit;
}
.usms-container h1 {
    font-size: 3.6rem;
}
.usms-container h2 {
    font-size: 3.0rem;
}
.usms-container h3 {
    font-size: 2.6rem;
}
.usms-container h4 {
    font-size: 2.4rem;
}
.usms-container h5 {
    font-size: 2.2rem;
}
.usms-container h6 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .usms-container h1 {
        font-size: 4.5rem;
    }
    .usms-container h2 {
        font-size: 3.7rem;
    }
    .usms-container h3 {
        font-size: 3rem;
    }
    .usms-container h4 {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    h2.header-bar--blue {
        border-radius: 0;
        border-top: 25px solid #FFF;
        margin: 0 0 30px;
        padding: 15px 25px;
        background-color: #0060A7;
        color: #FFF;
        font-size: 3rem;
    }
}