h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 120%;
  color: inherit;

}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.0rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.7rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.5rem;
  }
}

.header-bar--blue {
  display: block;
  border-radius: 0;
  border-top: 25px solid #FFF;
  margin: 0 0 30px;
  padding: 15px 25px;
  background-color: var(--rte-blue);
  color: #FFF;
  font-size: 3rem;
}

body {
  font-weight: 400;
  font-family: arial;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  color: var(--rte-blue);
}

body,
a,
span {
  text-decoration-thickness: 0.08rem !important;
  text-underline-offset: 0.2rem;
}

/* For the editor */
.btn-danger {
  background-image: none;
  border: 0;
  background-color: #d9534f;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.42857143;
  text-decoration: none;
}

.btn-danger a:hover,
.btn-danger a:focus,
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
  text-decoration: none;
}

/* For the editor */
.btn-blue {
  font-size: 1.35rem !important;
  padding: .5rem 1.3rem .7rem;
  height: 3rem !important;
  line-height: 2rem !important;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: var(--rte-blue);
  color: white;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
}

.btn-blue a:hover,
.btn-blue a:focus,
.btn-blue:hover,
.btn-blue:focus {
  background-color: var(--rte-blue-hover);
  background-position: 0 -15px;
  text-decoration: none;
}

/* For the editor */
.btn-clear {
  background-image: none;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  text-decoration: none
}



.btn-clear a:hover,
.btn-clear a:focus,
.btn-clear:hover,
.btn-clear:focus {
  color: var(--rte-blue);
  background-color: #fff;
  text-decoration: none;
}

.light-blue {
  color: var(--rte-blue);
}

.btn-danger {
  background-color: #d2202e;
}

.rte-btn-blue-sm {
  text-shadow: none;
  font-weight: 500;
  font-size: 12px !important;
  padding: 5px 10px;
  height: 28px !important;
  /* line-height: 18px !important; */
  line-height: normal;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: var(--rte-blue);
  color: white;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-blue-md {
  text-shadow: none;
  font-weight: 500;
  font-size: 15px !important;
  padding: 6px 12px;
  height: 32px !important;
  /* line-height: 20px !important; */
  line-height: normal;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: var(--rte-blue);
  color: white;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-blue-lg {
  text-shadow: none;
  font-weight: 500;
  font-size: 18px !important;
  padding: 10px 16px;
  height: 44px !important;
  /* line-height: 24px !important; */
  line-height: normal;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: var(--rte-blue);
  color: white;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-blue-xl {
  text-shadow: none;
  font-weight: 500;
  font-size: 21px !important;
  padding: 15px 25px;
  height: 60px !important;
  /* line-height: 30px !important; */
  line-height: normal;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: var(--rte-blue);
  color: white;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-blue-sm-ko {
  text-shadow: none;
  font-weight: 500;
  font-size: 12px !important;
  padding: 5px 10px;
  height: 28px !important;
  /* line-height: 18px !important; */
  line-height: normal;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid var(--rte-blue);
  color: var(--rte-blue);
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-blue-md-ko {
  text-shadow: none;
  font-weight: 500;
  font-size: 15px !important;
  padding: 6px 12px;
  height: 32px !important;
  /* line-height: 20px !important; */
  line-height: normal;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid var(--rte-blue);
  color: var(--rte-blue);
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-blue-lg-ko {
  text-shadow: none;
  font-weight: 500;
  font-size: 18px !important;
  padding: 10px 16px;
  height: 44px !important;
  /* line-height: 24px !important; */
  line-height: normal;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid var(--rte-blue);
  color: var(--rte-blue);
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-blue-xl-ko {
  text-shadow: none;
  font-weight: 500;
  font-size: 21px !important;
  padding: 15px 25px;
  height: 60px !important;
  /* line-height: 30px !important; */
  line-height: normal;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid var(--rte-blue);
  color: var(--rte-blue);
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-red-sm {
  text-shadow: none;
  font-weight: 500;
  font-size: 12px !important;
  padding: 5px 10px;
  height: 28px !important;
  /* line-height: 18px !important; */
  line-height: normal;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #d2202e;
  color: white;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-red-md {
  text-shadow: none;
  font-weight: 500;
  font-size: 15px !important;
  padding: 6px 12px;
  height: 32px !important;
  /* line-height: 20px !important; */
  line-height: normal;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #d2202e;
  color: white;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-red-lg {
  text-shadow: none;
  font-weight: 500;
  font-size: 18px !important;
  padding: 10px 16px;
  height: 44px !important;
  /* line-height: 24px !important; */
  line-height: normal;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #d2202e;
  color: white;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-red-xl {
  text-shadow: none;
  font-weight: 500;
  font-size: 21px !important;
  padding: 15px 25px;
  height: 60px !important;
  /* line-height: 30px !important; */
  line-height: normal;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #d2202e;
  color: white;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-red-sm-ko {
  text-shadow: none;
  font-weight: 500;
  font-size: 12px !important;
  padding: 5px 10px;
  height: 28px !important;
  line-height: 18px !important;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #d2202e;
  color: #d2202e;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-red-md-ko {
  text-shadow: none;
  font-weight: 500;
  font-size: 15px !important;
  padding: 6px 12px;
  height: 32px !important;
  line-height: 20px !important;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #d2202e;
  color: #d2202e;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-red-lg-ko {
  text-shadow: none;
  font-weight: 500;
  font-size: 18px !important;
  padding: 10px 16px;
  height: 44px !important;
  line-height: 24px !important;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #d2202e;
  color: #d2202e;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-red-sm-ko {
  text-shadow: none;
  font-weight: 500;
  font-size: 12px !important;
  padding: 5px 10px;
  height: 28px !important;
  line-height: 18px !important;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #d2202e;
  color: #d2202e;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-red-md-ko {
  text-shadow: none;
  font-weight: 500;
  font-size: 15px !important;
  padding: 6px 12px;
  height: 32px !important;
  line-height: 20px !important;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #d2202e;
  color: #d2202e;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.rte-btn-red-xl-ko {
  text-shadow: none;
  font-weight: 500;
  font-size: 21px !important;
  padding: 15px 25px;
  height: 60px !important;
  line-height: 30px !important;
  text-transform: none;
  border-radius: 4px;
  background-image: none;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #d2202e;
  color: #d2202e;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.pull-quote-text-only,
.pull-quote-text {
  font-size: 3.6rem;
  line-height: 140%;
  font-weight: 300;
  color: #888;
  text-align: center;
  display: inline-block;
}

.pull-quote-text-only {
  margin: 6rem 0;
  padding: 4rem 2rem;
  border: 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.pull-quote-text {
  margin: 6rem 0 0;
  padding: 4rem 2rem;
  border: 0;
  border-top: 1px solid #CCC;
}

.pull-quote-text-only::before,
.pull-quote-text::before {
  color: #888;
  content: "\201C";
  display: inline;
  font-size: 3.8rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0.2rem;
}

.pull-quote-text-only::after,
.pull-quote-text::after {
  color: #888;
  content: "\201D";
  display: inline;
  font-size: 3.8rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0.2rem;
}

.pull-quote-attribution {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 300;
  color: #888;
  text-align: right;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #CCC;
  width: 100%;
  padding: 0 0 4rem;
  margin: 0 0 6rem;
}

.html-container .pull-quote-attribution {
  padding: 0 8rem 4rem;
}

.pull-quote-attribution::before {
  color: #888;
  content: "–";
  display: inline;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

font.pull-quote-attribution,
#EditorWrapper.reLayoutWrapper span.pull-quote-attribution {
  padding-left: 0;
  padding-right: 0;
}

td[title=".pull-quote-attribution"]>div,
.Metro.reDropDownBody .reItemOver>div {
  padding: 0 !important;
  margin: 0 !important;
}
