
@media (min-width: 992px) {
    .ad__space.sticky-ad {
        position: relative;
        margin: 0 0 0 auto;
        padding: 2rem 0;
        text-align: right;
    }
    .ad__space.sticky-ad.sticky-start {
        transition: opacity .25s;
        opacity: 1;
        position: fixed;
        border-top: 0;
        z-index: 9999999;
    }
}