@media (min-width: 1200px) {
    .ad__space.sticky-ad {
        position: relative;
    }
    .ad__space.sticky-ad-start {
        transition: opacity .25s;
        opacity: 1;
        position: fixed;
        border-top: 0;
        z-index: 9999999;
    }
    .ad__space.sticky-ad {
        margin: 0 0 0 auto;
        padding: 2rem 0;
    }
}