#menu-item-5 {
    display: none;
}
@media (min-width: 1200px) {
    .mega-main-menu__items-container {
        padding-left: 165px;
    }
}
@media (min-width: 1400px) {
    .mega-main-menu__items-container {
        padding-left: 270px;
    }
}