#comments {
    margin-top: 1rem;
}
.EmbeddedForumHeaderArea {
    display: none;
}
.EmbeddedForumPosts {
    border-top: 0 none !important;
}
.EmbeddedForumField textarea {
    width: 100% !important;
}
.EmbeddedForumPost .EmbeddedForumPostAvatar,
.EmbeddedForumPost .EmbeddedForumPostDetails,
.EmbeddedForumPost .EmbeddedForumPostContent {
    border: 0 none !important;
    padding-top: 2rem;
    padding-left: 1rem;
}
.EmbeddedForumPostAlt .EmbeddedForumPostAvatar,
.EmbeddedForumPostAlt .EmbeddedForumPostDetails,
.EmbeddedForumPostAlt .EmbeddedForumPostContent {
    border: 0 none !important;
    padding-top: 2rem;
    padding-left: 1rem;
}
.EmbeddedForumPostActions {
    font-size: 85% !Important;
    margin-right: 0.75rem !important;
}

#embeddedforumform input[type="button"] {
    border-radius: 3px;
    font-size: 1.8rem;
    padding: 0 1.4rem;
    height: 40px;
    line-height: 40px;
    background-color: #0068ad;
    border: 0 none;
    color: #FFF;
    font-weight: normal;
    text-shadow: none;
}

#embeddedforumform + p {
    margin: 20px auto 10px;
}