.article-sidebar-ad .advertising-dc {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .article-sidebar-ad .advertising-dc {
    justify-content: flex-end;
  }
}

.social-share {
  display: flex;
  align-items: center;
  gap: 16px;
}

.share-icon {
  display: inline-flex;
  align-items: center;
  color: #adb5bd !important;
  font-size: 2.75rem;
  line-height: 1;
  text-decoration: none !important;
}

.share-icon--link {
  font-size: 1.8055440625rem;
}

.share-icon--x {
  font-size: 2.475rem;
}

.share-icon--facebook {
  font-size: 2.35125rem;
}

.share-icon:hover,
.share-icon:focus {
  color: #0068ad !important;
  text-decoration: none !important;
}
