.social-share {
  display: flex;
  align-items: center;
  gap: 24px;
}

.share-icon {
  display: inline-flex;
  align-items: center;
  color: #adb5bd !important;
  font-size: 2.75rem;
  line-height: 1;
  text-decoration: none !important;
}

.share-icon--link {
  font-size: 1.95rem;
}

.share-icon--x {
  font-size: 2.475rem;
}

.share-icon--facebook {
  font-size: 2.35125rem;
}

.share-icon:hover,
.share-icon:focus {
  color: #0068ad !important;
  text-decoration: none !important;
}
