/* .video__disclaimer {
    color: #999;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 3rem auto -1rem;
    display: inline-block;
}

.video__date {
    color: #999;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 3rem auto -1rem;
    display: inline-block;
}*/

.video-issue {
    color: #999;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 3rem auto -1rem;
}

.video-issue__title {
    display: block;
    margin-bottom: 8px;
}

.video-issue__date {
    display: block;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .video-issue__title {
        display: inline-block;
    }
    
    .video-issue__date {
        display: inline-block;
    }
    
    .video-issue__date:before {
        content: "|";
        padding: 0 10px 0 6px;
    }
}