/* .video__disclaimer {
    color: #999;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 3rem auto -1rem;
    display: inline-block;
}

.video__date {
    color: #999;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 3rem auto -1rem;
    display: inline-block;
}*/

.feature-title h2 {
    font-size: 3.6rem;
    line-height: 4.5rem;
    font-weight: 300;
    color: #888;
    margin: 1rem auto 1.75rem;
}


.video-issue {
    color: #999;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 3rem auto -1rem;
}

.video-issue__title {
    display: block;
    margin-bottom: 8px;
}

.video-issue__date {
    display: block;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .video-issue__title {
        display: inline-block;
    }
    
    .video-issue__date {
        display: inline-block;
    }
    
    .video-issue__date:before {
        content: "|";
        padding: 0 10px 0 6px;
    }
}