{% macro articleStepper(articles) %}
<div class="articleStepper">
  <button class="carousel-control-prev" type="button">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <div class="carousel-inner-slick">
    {% for article in articles %}
    <div>
      <div class="carousel-image-container">
        <a href="{{ article.href }}">
          <img src="{{ article.image }}" alt="{{ article.title }}" />
        </a>
      </div>
      <div class="carousel-text-container">
        <a href="{{ article.href }}"><p>{{ article.title }}</p></a>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-next" type="button">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endmacro %}
