<div class="col-xs-12 col-sm-6">
  <div class="confirmation-membership">
    <h3>Your Club</h3>
    <p class="confirmation-membership-label">Club Name:</p>
    <p>Bay Area Masters</p>
    <p class="confirmation-membership-label">Club Abbreviation:</p>
    <p>BAM</p>
    <p class="confirmation-membership-label">LMSC:</p>
    <p>Pacific Masters</p>
    <p class="confirmation-membership-label">Contact Name:</p>
    <p>Kevin Brown</p>
    <p class="confirmation-membership-label">Email:</p>
    <p>kevin.brown@example.com</p>
    <p class="confirmation-membership-label">Phone:</p>
    <p>(555) 123-4567</p>
  </div>
</div>
<div class="col-xs-12 col-sm-6">
  <div class="confirmation-charges">
    <h3>Payment Summary</h3>
    <p class="confirmation-membership-label">Registration Year:</p>
    <p>2026</p>
    <p class="confirmation-membership-label">Date of Payment:</p>
    <p>{{ paymentDate }}</p>
    {% if showClubFee %}
    <p class="confirmation-membership-label">2026 USMS Club Fee:</p>
    <p>$75.00</p>
    {% endif %}
    <p class="confirmation-membership-label">Marketing Bundle:</p>
    <p>$199.00</p>
    <p class="confirmation-membership-label">Total:</p>
    <p>{{ totalAmount }}</p>
  </div>
</div>
