<div class="section section-coach" id="coach">
    <h3 class="section__header" data-target="#club-coach__content" data-toggle="collapse" aria-expanded="false" aria-controls="coach__content">
        <span class="section__number">4</span>Coach/Instructor
    </h3>
    <div class="section__content collapse" id="club-coach__content" data-parent="#accordion">
        <div class="section__header--summary">The dropdown will show currently registered USMS members. Only add active, on-deck coaches or instructors.</div>
        <div class="coach-details show">
            <div class="row lookup-inputs show" id="coachLookupFields">
                <div class="col-sm-5 col-md-6">
                    <div class="input-group lookup-name">
                        <label for="lookupCoachName">Lookup by First and/or Last Name</label>
                        <input tabindex="0" type="text" class="form-control lookup__input lookup-primary__input" min="3" max="30" name="LookupCoachName" id="lookupCoachName" autocomplete="off">
                        <span class="help-block help-block--LookupCoachName">Please enter coach name</span>
                        <div class="lookup__input-spinner lookup__input-spinner--hide">
                            <img src="/-/media/usms/developers/images/loader.gif" alt="loading">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group lookup-id" style="display: none;">
                        <label for="lookupCoachId">Lookup by Member ID<a tabindex="0" role="button" class="icon-help" data-bs-toggle="tooltip" data-bs-trigger="focus" data-bs-placement="top" data-bs-container="body" title="Enter the coach's USMS member ID to search directly."></a></label>
                        <input tabindex="-1" type="text" class="form-control lookup-secondary__input" min="5" max="5" name="LookupCoachId" id="lookupCoachId" disabled>
                        <span class="help-block help-block--LookupCoachId">Please enter coach member ID</span>
                        <div class="lookup__input-spinner lookup__input-spinner--hide">
                            <img src="/-/media/usms/developers/images/loader.gif" alt="loading">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="coach-error">
                        <span class="help-block">Head coach already assigned</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="input-group lookup-confirm">
                        <button class="btn btn-small save-as-coach" type="button" id="addAsCoach" onclick="setTitle(event, 'coach')" disabled>Add <span class="lookup-confirm--name"></span></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group coach-list">
            <div class="list list--lookup people">
                <div class="list__header coach-list__header">
                    <span class="lookup-results--club-abbr"></span> Coaches and Instructors
                    <div class="list__controls coach-list__controls">
                        <button class="list__controls--settings" id="listCoachSettings" onclick="editCoachList()" disabled></button>
                        <button class="btn btn-link" id="editCoachList" onclick="editCoachList()" disabled>Edit</button>
                        <button class="btn btn-link" id="saveCoachList" onclick="saveCoachList(event)">Done Editing</button>
                        <button class="btn btn-link" id="cancelCoachList" onclick="cancelCoachList()">Cancel</button>
                    </div>
                </div>
                <div class="list__container">
                    <div class="row is-flex">
                    </div>
                </div>
            </div>
        </div>

        <div class="section__controls">
            <button class="btn save-section" type="button" id="saveCoach" onclick="saveCoach()" disabled>Save &amp; Continue</button>
        </div>
    </div>
</div>
