<form id="form-club-bundles">
<div class="section" id="club-bundles">
    <h3 class="section__header" data-target="#club-bundles__content" data-toggle="collapse" aria-expanded="false" aria-controls="club-bundles__content">
        <span class="section__number">6</span>Club Bundles
    </h3>
    <div class="section__content collapse" id="club-bundles__content" data-parent="#accordion">
        <div class="form-group">
            <div class="row">

                <div class="col-sm-12">
                    <div class="input-group club-bundles">
                        <div class="input-group-header radio-group-header bundle-group-header required">Marketing Bundle</div>
                        <span class="help-block help-block--marketingBundle">Please make a Marketing Bundle selection</span>
                        <label class="radio-label radio-label--inline" for="marketingBundleYes">
                            <span class="radio-container">
                                <input type="radio" name="marketingBundle" id="marketingBundleYes" value="True" />
                                <span class="radio__placeholder"></span>
                            </span>
                            Yes
                        </label>
                        <label class="radio-label radio-label--inline" for="marketingBundleNo">
                            <span class="radio-container">
                                <input type="radio" name="marketingBundle" id="marketingBundleNo" value="False" />
                                <span class="radio__placeholder"></span>
                            </span>
                            No
                        </label>
                        <p class="input-group-description"><i>Member Clubs</i> (clubs who require USMS membership) receive these benefits for free.</p>
                        <p class="input-group-description"><i>Affiliate Clubs</i> (clubs who don't require USMS membership) pay for these benefits based on club member size.</p>
                        <p class="input-group-description"><i>Benefits include:</i> paid digital advertising (included in national campaign), 6x4 vinyl banner, downloadable promotional assets and templates, enhanced Club Finder listing.</p>
                        <p class="input-group-description" id="marketingBundleTierPrice"><span class="bundle-tier-name">Tier 1</span><span class="bundle-tier-price">$99/yr</span><span class="bundle-tier-swimmer-count">(&lt; 5 swimmers)</span></p>
                    </div>
                </div>

            </div>

            <div class="section__controls">
                <button class="btn save-section" id="saveGoldClub" onclick="saveGold(event)">Save &amp; Continue</button>
            </div>
        </div>
    </div>
</div>
</form>
