<form id="form-club-bundles">
<div class="section" id="club-bundles">
    <h3 class="section__header" data-target="#club-bundles__content" data-toggle="collapse" aria-expanded="false" aria-controls="club-bundles__content">
        <span class="section__number">6</span>Club Bundles
    </h3>
    <div class="section__content collapse" id="club-bundles__content" data-parent="#accordion">
        <div class="form-group">
            <div class="row">

                <div class="col-sm-12">
                    <div class="input-group club-bundles">
                        <span class="help-block help-block--marketingBundle">Please make a selection</span>
                        <label class="radio-label radio-label--inline" for="marketingBundleYes">
                            <span class="radio-container">
                                <input type="radio" name="marketingBundle" id="marketingBundleYes" value="True" />
                                <span class="radio__placeholder"></span>
                            </span>
                            Yes
                        </label>
                        <label class="radio-label radio-label--inline" for="marketingBundleNo">
                            <span class="radio-container">
                                <input type="radio" name="marketingBundle" id="marketingBundleNo" value="False" />
                                <span class="radio__placeholder"></span>
                            </span>
                            No
                        </label>
                        <div class="input-group-header radio-group-header bundle-group-header">Marketing Bundle</div>
                        <p class="input-group-description"><i>Member Clubs</i> (clubs who require USMS membership) receive these benefits for free.</p>
                        <p class="input-group-description"><i>Affiliate Clubs</i> (clubs who don't require USMS membership) pay for these benefits based on club member size.</p>
                        <p class="input-group-description"><i>Benefits include:</i> digital advertising (included in national campaign), 6x4 vinyl banner, downloadable promotional assets and templates, enhanced Club Finder listing.</p>
                        <ul class="input-group-description">
                            <li>Tier 1 (< 5 swimmers) $99 / yr</li>
                            <li>Tier 2 (5 - 24 swimmers) $199 / yr</li>
                            <li>Tier 3 (25 - 99 swimmers) $299 / уг</li>
                            <li>Tier 4 (100+ swimmers) $499 / уг</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="input-group club-bundles">
                        <span class="help-block help-block--clubBundleOption2">Please make a selection</span>
                        <label class="radio-label radio-label--inline" for="clubBundleOption2Yes">
                            <span class="radio-container">
                                <input type="radio" name="clubBundleOption2" id="clubBundleOption2Yes" value="True" />
                                <span class="radio__placeholder"></span>
                            </span>
                            Yes
                        </label>
                        <label class="radio-label radio-label--inline" for="clubBundleOption2No">
                            <span class="radio-container">
                                <input type="radio" name="clubBundleOption2" id="clubBundleOption2No" value="False" />
                                <span class="radio__placeholder"></span>
                            </span>
                            No
                        </label>
                        <div class="input-group-header radio-group-header bundle-group-header">Club Bundle Option 2</div>
                        <p class="input-group-description"><i>Member Clubs</i> (clubs who require USMS membership) receive these benefits for free.</p>
                        <p class="input-group-description"><i>Affiliate Clubs</i> (clubs who don't require USMS membership) pay for these benefits based on club member size.</p>
                        <p class="input-group-description"><i>Benefits include:</i> digital advertising (included in national campaign), 6x4 vinyl banner, downloadable promotional assets and templates, enhanced Club Finder listing.</p>
                        <ul class="input-group-description">
                            <li>Tier 1 (< 5 swimmers) $99 / yr</li>
                            <li>Tier 2 (5 - 24 swimmers) $199 / yr</li>
                            <li>Tier 3 (25 - 99 swimmers) $299 / уг</li>
                            <li>Tier 4 (100+ swimmers) $499 / уг</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="input-group club-bundles">
                        <span class="help-block help-block--clubBundleOption3">Please make a selection</span>
                        <label class="radio-label radio-label--inline" for="clubBundleOption3Yes">
                            <span class="radio-container">
                                <input type="radio" name="clubBundleOption3" id="clubBundleOption3Yes" value="True" />
                                <span class="radio__placeholder"></span>
                            </span>
                            Yes
                        </label>
                        <label class="radio-label radio-label--inline" for="clubBundleOption3No">
                            <span class="radio-container">
                                <input type="radio" name="clubBundleOption3" id="clubBundleOption3No" value="False" />
                                <span class="radio__placeholder"></span>
                            </span>
                            No
                        </label>
                        <div class="input-group-header radio-group-header bundle-group-header">Club Bundle Option 3</div>
                        <p class="input-group-description"><i>Member Clubs</i> (clubs who require USMS membership) receive these benefits for free.</p>
                        <p class="input-group-description"><i>Affiliate Clubs</i> (clubs who don't require USMS membership) pay for these benefits based on club member size.</p>
                        <p class="input-group-description"><i>Benefits include:</i> digital advertising (included in national campaign), 6x4 vinyl banner, downloadable promotional assets and templates, enhanced Club Finder listing.</p>
                        <ul class="input-group-description">
                            <li>Tier 1 (< 5 swimmers) $99 / yr</li>
                            <li>Tier 2 (5 - 24 swimmers) $199 / yr</li>
                            <li>Tier 3 (25 - 99 swimmers) $299 / уг</li>
                            <li>Tier 4 (100+ swimmers) $499 / уг</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="section__controls">
                <button class="btn save-section" id="saveGoldClub" onclick="saveGold(event)">Save &amp; Continue</button>
            </div>
        </div>
    </div>
</div>
</form>
