<div class="club-receipt">
    <h2>USMS 2026 Club Registration RECEIPT</h2>
    <p>Your Club has been successfully registered for USMS for 2026</p>

    <div class="section section-full p-tb-10">
        <h3>Club Membership</h3>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>Club Name:</strong></div>
            <div class="col-xs-6 col-md-9">Bay Area Masters</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>Club Abbreviation:</strong></div>
            <div class="col-xs-6 col-md-9">BAM</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>LMSC:</strong></div>
            <div class="col-xs-6 col-md-9">Pacific Masters</div>
        </div>
    </div>
    <div class="section section-full p-tb-10">
        <h3>Club Contact</h3>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>Contact Name:</strong></div>
            <div class="col-xs-6 col-md-9">Kevin Brown</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>Email:</strong></div>
            <div class="col-xs-6 col-md-9">kevin.brown@example.com</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>Phone:</strong></div>
            <div class="col-xs-6 col-md-9">(555) 123-4567</div>
        </div>
    </div>
    <div class="section section-full p-tb-10">
        <h3>Summary of Charges</h3>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>2026 USMS Club Fee:</strong></div>
            <div class="col-xs-6 col-md-9">$75.00</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>Marketing Bundle:</strong></div>
            <div class="col-xs-6 col-md-9">$199.00</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>Total:</strong></div>
            <div class="col-xs-6 col-md-9">$274.00</div>
        </div>
    </div>
    <div class="section section-full p-tb-10">
        <h3>Registration Information</h3>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>Registration Year:</strong></div>
            <div class="col-xs-6 col-md-9">2026</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3"><strong>Date of Payment:</strong></div>
            <div class="col-xs-6 col-md-9">07/11/2026</div>
        </div>
    </div>
    <div class="section section-full p-tb-10">
        <div class="row">
            <h3>Important Information</h3>
            <!-- <p>Thank you for registering your club with USMS for 2026. A confirmation email has been sent to your club contact. You can log in to the Club Dashboard at any time to review or update your club details.</p> -->
            <ul>
                <li>All club registrations expire on December 31, 0</li>
                <li>All sales are final</li>
                <li>Credit card charge will read "U.S. Masters Swimming"</li>
                <li>Your club should appear in Club Finder within three business days</li>
            </ul>
        </div>
    </div>
</div>
