<div class="ccs-logo" id="cssLogo">
    <a href="/college-club/">
        <img width="auto" alt="College Club Swimming" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/ccs/site/ccs-logo-custom.svg" />
    </a>
</div>

<nav class="main" id="ccsNavMain" role="navigation" aria-label="Main navigation" aria-hidden="true">
    <ul class="menu" id="mobileNavMain">
        <li>
            <button aria-haspopup="true" aria-expanded="false" aria-controls="submenu-events">Events</button>
            <ul id="submenu-events" class="submenu" role="menu" aria-label="Events submenu" aria-hidden="true">
                <li class="menu-return"><a href="">Return to Menu</a></li>
                <li><a href="/events/Calendar%20of%20Events" role="menuitem">Calendar of Events</a></li>
                <li><a href="/events/National%20Championships" role="menuitem">National Championships</a></li>
                <li><a href="/events/Regional%20Championships" role="menuitem">Regional Championships</a></li>
                <li><a href="/events/Submit%20an%20Event" role="menuitem">Submit an Event to the Calendar</a></li>
            </ul>
        </li>
        <li>
            <button aria-haspopup="true" aria-expanded="false" aria-controls="submenu-results">Results</button>
            <ul id="submenu-results" class="submenu" role="menu" aria-label="Results submenu" aria-hidden="true">
                <li class="menu-return"><a href="">Return to Menu</a></li>
                <li><a href="/results/Meet%20Results" role="menuitem">Meet Results</a></li>
                <li><a href="/results/Rankings" role="menuitem">Rankings</a></li>
                <li><a href="/results/Records" role="menuitem">Records</a></li>
            </ul>
        </li>
        <li>
            <button aria-haspopup="true" aria-expanded="false" aria-controls="submenu-clubs">Clubs</button>
            <ul id="submenu-clubs" class="submenu" role="menu" aria-label="Clubs submenu" aria-hidden="true">
                <li class="menu-return"><a href="">Return to Menu</a></li>
                <li><a href="/clubs/Club%20Lookup" role="menuitem">Club Lookup</a></li>
                <li><a href="https://www.clubassistant.com/club/college_club_swimming.cfm" role="menuitem">Club Rosters &amp; Registration</a></li>
                <li><a href="/clubs/Best%20Practices" role="menuitem">Best Practices</a></li>
            </ul>
        </li>
        <li>
            <button aria-haspopup="true" aria-expanded="false" aria-controls="submenu-about">About</button>
            <ul id="submenu-about" class="submenu" role="menu" aria-label="About submenu" aria-hidden="true">
                <li class="menu-return"><a href="">Return to Menu</a></li>
                <li><a href="/about-ccs/Contact" role="menuitem">Contact</a></li>
                <li><a href="/about-ccs/FAQs" role="menuitem">FAQ's</a></li>
                <li><a href="/about-ccs/Policy%20and%20Governance" role="menuitem">Policy and Governance</a></li>
                <li><a href="/about-ccs/Town%20Hall%20Meetings" role="menuitem">Town Hall Meetings</a></li>
                <li><a href="/about-ccs/Advisory%20Board" role="menuitem">Advisory Board</a></li>
                <li><a href="/about-ccs/Background" role="menuitem">Background</a></li>
                <li><a href="/about-ccs/Benefits" role="menuitem">Benefits</a></li>
                <li><a href="/about-ccs/Insurance" role="menuitem">Insurance</a></li>
            </ul>
        </li>
        <li>
            <button aria-haspopup="true" aria-expanded="false" aria-controls="submenu-register">Register</button>
            <ul id="submenu-register" class="submenu" role="menu" aria-label="Register submenu" aria-hidden="true">
                <li class="menu-return"><a href="">Return to Menu</a></li>
                <li><a href="/register/Swimmer%20Registration" role="menuitem">Swimmer Registration</a></li>
                <li><a href="/register/Club%20Registration" role="menuitem">Club Registration</a></li>
            </ul>
        </li>
    </ul>
</nav>

<nav class="admin" id="ccsNavAdmin" aria-label="Admin navigation">
    <ul class="menu">
        <li class="menu-item--search">
            <a class="admin-search-btn" id="searchBtn"></a>
            <div id="submenuSearch">
                <input id="searchInput" type="text" placeholder="Enter search term" tabindex="0" />
                <a id="searchSubmit" href="#" role="menuitem"></a>
            </div>
        </li>
        <li class="menu-item--login">
            <a class="admin-login-btn" id="adminNavBtn"></a>
            <ul id="submenuAdmin" class="submenu-login">
                <li><a href="https://www.clubassistant.com/club/login_form.cfm?c=2417" role="menuitem">Swimmer Login</a></li>
                <li><a href="https://www.clubassistant.com/clubs/?c=2413" role="menuitem">Admin Login</a></li>
            </ul>
        </li>
        <li class="menu-item--mobile-nav">
            <a id="mobileNavBtn" class="mobile-nav-btn"></a>
        </li>
    </ul>
</nav>
