<div class="section section-full">
    <div class="container-fluid  p-t-50">
        <div class="row  ">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div class="heading-container">
                    <h2 class="text-center ">
                        Upcoming Events
                    </h2>
                </div>
            </div>
            <div class="col-xs-12 col-md-2"></div>
        </div>
    </div>
</div>
<div class="section section-full">
    <div class="event-marquee marquee-wrapper" id="eventMarquee">
        <div class="track" id="track">

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">9/26/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Maryland-Club-Swimming.png" alt="University of Maryland">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">UMD Terps Invitational 2026</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">9/26/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Swim-Club-At-ASU.png" alt="Grand Canyon University">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">Arizona Dual Meet Tournament</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">9/26/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/GCU-Club-Swimming.png" alt="Georgia Tech">
                    </div>
                    {# TODO meet name was truncated in source — "2026 GTSC Ramblin Splash & …" #}
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">2026 GTSC Ramblin Splash &amp; Dash</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">9/29/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/CCS-Events.png" alt="Georgia Tech">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">2026 Fall Hurricane Invite</a></h3>
                </div>
            </div>

        </div>
    </div>
</div>
