<div class="section section-full col-ccs-parallax">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="parallax-container">
                    <img id="ccsParallaxLarge" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/ccs/site/ccs-parallax-large.jpg" alt="College Club Swimming. Have Fun. Compete. Connect.">
                    <div class="parallax-foreground">
                        <img src="/public/college-club/img/ccs-parallax-foreground.png" alt="">
                    </div>
                    <div class="parallax-text">
                        <h3>Have Fun.</h3>
                        <h3>Compete.</h3>
                        <h3>Connect.</h3>
                    </div>
                    <div class="parallax-background">
                        <img src="/public/college-club/img/ccs-parallax-background.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
