<div class="section section-full">
    <div class="container-fluid  p-t-50">
        <div class="row  ">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div class="heading-container">
                    <h2 class="text-center ">
                        Upcoming Events
                    </h2>
                </div>
            </div>
            <div class="col-xs-12 col-md-2"></div>
        </div>
    </div>
</div>
<div class="section section-full">
    <div class="event-marquee marquee-wrapper" id="eventMarquee">
        <div class="track" id="track">

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">9/26/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Maryland-Club-Swimming.png" alt="Maryland Club Swimming">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">UMD Terps Invitational 2026</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">9/26/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/GCU-Club-Swimming.png" alt="GCU Club Swimming">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">Arizona Dual Meet Tournament</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">9/26/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Georgia-Tech-Swim-Club.png" alt="Georgia Tech Swim Club">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">2026 GTSC Ramblin Splash &amp; Dash</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">10/3/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/Miami-of-Ohio-Club-Swimming.png" alt="Miami of Ohio Club Swimming">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">2026 Redfins Fall Invitational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">10/3/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/Swim-Club-at-Iowa-State.png" alt="Swim Club at Iowa State">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">ISUSC Spooktacular 2026</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">10/3/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Auburn-Swimming-Club.png" alt="Auburn Swimming Club">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">2026 War Eagle Invitational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">10/10/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Tulane-Swim-Club.png" alt="Tulane Swim Club">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">Fall 2026 Bayeaux Invitational at Tulane University</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">10/17/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/Florida-Club-Swim.png" alt="Florida Club Swim">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">2026 Florida Freak Fest Halloween Invitational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">10/18/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/UCSD-Swim-Club.png" alt="UCSD Swim Club">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">UC San Diego Club Swim Fall Invitational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">10/18/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/UMass-Club-Swimming.png" alt="UMass Club Swimming">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">Minuteman Zombie Apocalypse</a></h3>
                </div>
            </div>

        </div>
    </div>
</div>
