<div class="section section-full">
    <div class="container-fluid p-t-50">
        <div class="row">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div class="heading-container">
                    <h2 class="text-center">Join Our Social Club</h2>
                </div>
                <div class="html-container">
                    <p style="text-align: center; padding-bottom: 2rem;">CCS in a community like none other. Each club is unique in its traditions, location, and membership and highlighting those differences while seeing our similarities is what makes our social media channels so great. Follow us on <a rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/collegeclubswimming/">Instagram</a> and <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/collegeclubswimming/">Facebook</a> and tag @collegeclubswimming to be featured.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2"></div>
        </div>
    </div>
</div>
<div class="section section-full col-ccs-instagram">
    <div class="elfsight-app-4205f634-001a-483a-95fe-487ea664d935" data-elfsight-app-lazy></div>
</div>
