<div class="section section-full">
    <div class="event-marquee marquee-wrapper" id="eventMarquee">
        <div class="track" id="track">

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/7/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Tulane-Swim-Club.png" alt="Tulane Swim Club">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">Mardi Gras Invitational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/7/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Northwestern-Club-Swimming.png" alt="Northwestern Club Swimming">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">Northwestern Rubber Ducky Invitational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/13/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/Bowling-Green-Club-Swimming.png" alt="Bowling Green Club Swimming">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">BGSU Mini Meet #2</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/15/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Stony-Brook-Club-Swimming.png" alt="Stony Brook Club Swimming">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">Stony Brook Spring 2026 Invitational Meet</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/21/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Virginia-Club-Swim.png" alt="Virginia Club Swim">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">2026 'Wet Wahoo' Invitational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/21/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/FSU-Swim-Club.png" alt="FSU Swim Club">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">2026 FSU Spring Splash</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/21/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/Swim-Club-at-Iowa-State.png" alt="Swim Club at Iowa State">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">ISUSC Cyclone Invite 2026</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/21/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/Purdue-University.png" alt="Purdue University">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">2026 Purdue Pool Party Invitational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/21/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/GVSU-Swim-Club.png" alt="GVSU Swim Club">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">Anchor Up Invitational 2026</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/21/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/Florida-Club-Swim.png" alt="Florida Club Swim">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">Gator Chomp Invitational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/21/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/LSU-Swim-Club.png" alt="LSU Swim Club">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">King Cake Invitational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/21/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Swim-Club-At-ASU.png" alt="Swim Club at ASU">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">ASU Innovational</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/22/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/Tampa-Club-Swim.png" alt="Tampa Club Swim">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">University of Tampa Club Swimming Spring Invite 2026</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/28/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Georgia-Tech-Swim-Club.png" alt="Georgia Tech Swim Club">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">2026 GTSC Sting 'Em Classic</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/28/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2025-26/Bowling-Green-Club-Swimming.png" alt="Bowling Green Club Swimming">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">BGFCS Winter Invitation</a></h3>
                </div>
            </div>

            <div class="marquee-item">
                <div class="marquee-box">
                    <p class="event-date">2/28/2026</p>
                    <div class="event-logo">
                        <img src="https://www.collegeclubswimming.com/-/media/ccs/events/college%20logos/2026-27/Swim-Club-At-Berkley.png" alt="Swim Club at Berkeley">
                    </div>
                    <h3 class="event-name"><a href="/events/Calendar%20of%20Events">SCB Last Chance Invitational 2026</a></h3>
                </div>
            </div>

        </div>
    </div>
</div>
