<div class="section section-full">
    <div class="container-fluid p-t-50">
        <div class="row">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div class="heading-container">
                    <h2 class="text-center">About College Club Swimming</h2>
                </div>
                <div class="html-container">
                    <p style="text-align: center;">CCS is the collective organization that unifies college club swim programs across the country. CCS provides the rules, calendar of events, results database, and communications across the over 200 registered clubs and 9,000 registered swimmers. It's run by an advisory board made up of CCS swimmers and backed by U.S. Masters Swimming.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2"></div>
        </div>
    </div>
    <div class="usms-container p-t-30">
        <div class="row about-ccs-icons">
            <div class="col-xs-12 col-md-4">
                <div class="html-container">
                    <div><img alt="" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/ccs/site/ccs-icon-watch.svg" width="54"></div>
                    <p>CCS member swimmers' times will be included in the CCS meet results database</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="html-container">
                    <div><img alt="" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/ccs/site/ccs-icon-calendar.svg" width="55"></div>
                    <p>The ability to post meets and events on the CCS Calendar of Events</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="html-container">
                    <div><img alt="" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/ccs/site/ccs-icon-guide.svg" width="45"></div>
                    <p>Access to best practices on running and growing a CCS club and help from the CCS support team</p>
                </div>
            </div>
        </div>
    </div>
    <div class="usms-container p-b-50">
        <div class="row about-ccs-icons">
            <div class="col-xs-12 col-md-4">
                <div class="html-container">
                    <div><img alt="" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/ccs/site/ccs-icon-certificate.svg" width="60"></div>
                    <p>Certification/documentation of legitimate status within the CCS national organization (required by many colleges and universities)</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="html-container">
                    <div><img alt="" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/ccs/site/ccs-icon-sponsors.svg" width="65"></div>
                    <p>Access to USMS partners for possible club sponsorships</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="html-container">
                    <div><img alt="" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/ccs/site/ccs-icon-clubs.svg" width="63"></div>
                    <p>Access to local USMS clubs for collaboration and fundraising</p>
                </div>
            </div>
        </div>
    </div>
</div>
