<div class="carousel-container">
    <button class="carousel-previous-button"><i class="fa fa-chevron-left"></i></button>
    <ul class="carousel list--nostyle" style="left: 0%;">
        <li class="carousel__slide">
            <div class="carousel__slide-content">
                <h1 class="text-capitalize"></h1>
                <p class="lead">What is College Club Swimming?</p>
                <a href="/about-ccs/FAQs" class="text-capitalize text-center">Learn More</a>
            </div>
            <div class="carousel__slide-image--desktop">
                <div class="carousel__slide-image" style="background-image:url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/dsc00001.jpg?rev=ac6fc88435224e60bdfc8ae87fc3c890');"></div>
            </div>
            <div class="carousel__slide-image--mobile">
                <div class="carousel__slide-image" style="background-image:url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/dsc00001.jpg?rev=ac6fc88435224e60bdfc8ae87fc3c890');"></div>
            </div>
        </li>
        <li class="carousel__slide">
            <div class="carousel__slide-content">
                <h1 class="text-capitalize">April 10-12 | Greensboro, NC</h1>
                <p class="lead">2026 TYR CCS Nationals</p>
                <a href="/Events/national-championships/2026-national-championship" class="text-capitalize text-center">Meet Information</a>
            </div>
            <div class="carousel__slide-image--desktop">
                <div class="carousel__slide-image" style="background-image:url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/dsc07493.jpg?rev=40d8fda4d9bc486f94d478f48bae0ca2');"></div>
            </div>
            <div class="carousel__slide-image--mobile">
                <div class="carousel__slide-image" style="background-image:url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/dsc07493.jpg?rev=40d8fda4d9bc486f94d478f48bae0ca2');"></div>
            </div>
        </li>
        <li class="carousel__slide">
            <div class="carousel__slide-content">
                <h1 class="text-capitalize">Club Registration</h1>
                <p class="lead">Is Now Open</p>
                <a href="/Register/club-registration" class="text-capitalize text-center">Register Now</a>
            </div>
            <div class="carousel__slide-image--desktop">
                <div class="carousel__slide-image" style="background-image:url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/dsc01605.jpg?rev=e8f03c6181854f72823bad0803d9d6fc');"></div>
            </div>
            <div class="carousel__slide-image--mobile">
                <div class="carousel__slide-image" style="background-image:url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/dsc01605.jpg?rev=e8f03c6181854f72823bad0803d9d6fc');"></div>
            </div>
        </li>
        <li class="carousel__slide">
            <div class="carousel__slide-content">
                <h1 class="text-capitalize">Swimmer Registration</h1>
                <p class="lead">Is Now Open</p>
                <a href="/Register/swimmer-registration" class="text-capitalize text-center">Register Now</a>
            </div>
            <div class="carousel__slide-image--desktop">
                <div class="carousel__slide-image" style="background-image:url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/dsc07527.jpg?rev=b2f76eb9b588451c9a0d013bfde8e793');"></div>
            </div>
            <div class="carousel__slide-image--mobile">
                <div class="carousel__slide-image" style="background-image:url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/dsc07527.jpg?rev=b2f76eb9b588451c9a0d013bfde8e793');"></div>
            </div>
        </li>
    </ul>
    <ul class="carousel-nav list--nostyle">
        <li class="carousel-nav__item carousel-nav__item--active" id="carousel-nav__item-0">
            <button class="carousel-nav__item-button" aria-label="carousel navigation button 0" id="carousel-nav__item-button-0"></button>
        </li>
        <li class="carousel-nav__item" id="carousel-nav__item-1">
            <button class="carousel-nav__item-button" aria-label="carousel navigation button 1" id="carousel-nav__item-button-1"></button>
        </li>
        <li class="carousel-nav__item" id="carousel-nav__item-2">
            <button class="carousel-nav__item-button" aria-label="carousel navigation button 2" id="carousel-nav__item-button-2"></button>
        </li>
        <li class="carousel-nav__item" id="carousel-nav__item-3">
            <button class="carousel-nav__item-button" aria-label="carousel navigation button 3" id="carousel-nav__item-button-3"></button>
        </li>
    </ul>
    <button class="carousel-next-button"><i class="fa fa-chevron-right"></i></button>
</div>
