---
permalink: /club-central/club-dashboard/confirmation.html
title: Club Registration Confirmation | U.S. Masters Swimming
pageTitle: Club Registration Confirmation
breadcrumbs:
  - url: "/home"
    label: "Home"
  - url: "/club-central"
    label: "Club Central"
  - url: "/club-central/club-dashboard.html"
    label: "Club Dashboard"
breadcrumbTitle: "Confirmation"
---
{% extends "layouts/base.njk" %}

{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/club2.min.css">
<link rel="stylesheet" href="https://www.usms.org/styles/clubEdit.min.css">
{% endblock %}

{% block breadcrumb %}
{% include "partials/Common/Breadcrumb.njk" %}
{% endblock %}

{% block content %}
<div class="section section-full bg-gray p-mh-500">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <header class="page-title">
          <h1>Club Registration Confirmation</h1>
        </header>
      </div>
    </div>
  </div>

  <div class="usms-container form__container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        {% include "partials/ClubEdit/ClubEditReceipt.njk" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
