---
permalink: /club-central/club-dashboard/confirmation-v2.html
title: Club Registration Confirmation | U.S. Masters Swimming
showBenefits: false
---
{% extends "layouts/confirmation.njk" %}

{% block confirmationH1 %}Club Registration Confirmation{% endblock %}

{% block confirmationHeader %}
<div class="row">
  <div class="col-xs-12">
    <p class="text-center">Your Club has been successfully registered for USMS for 2026. We recommend printing this page for your records.</p>
  </div>
</div>
{% endblock %}

{% block confirmationColumns %}
{% include "partials/ClubEdit/ClubEditReceiptV2.njk" %}
{% endblock %}

{% block confirmationFooter %}
<div class="row">
  <div class="col-xs-12">
    <h3 class="text-primary">Important Information</h3>
    <ul>
      <li>All club registrations expire on December 31, 2026</li>
      <li>All sales are final</li>
      <li>Credit card charge will read "U.S. Masters Swimming"</li>
      <li>Your club should appear in Club Finder within three business days</li>
    </ul>
  </div>
</div>
{% endblock %}
