.editor textarea {
    display: block !important;
    width: 100%;
    resize: vertical;
    border: 1px solid #CCC;
}

.reply-content {
    display: block !important;
    min-height: 80px;
    width: 100%;
    resize: vertical;
    border: 1px solid #CCC;
}

.reply-actions {
    border: 1px solid #CCC;
    border-top: 0;
    text-align: right;
    padding: 0 5px 5px;
}

.reply-actions button {
    background-color: #2196f3 !important;
    color: #fff !important;
    border-radius: 3px !important;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 8px;
    /* text-shadow: 1px 1px #333; */
}