{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/algoliaStyles.min.css">
{% endblock %}
{% block breadcrumb %}
{% include "partials/Common/Breadcrumb.njk" %}
{% endblock %}
{% block pageHeader %}
{% include "partials/Event/EventHeader.njk" %}
{% endblock %}
{% block content %}{{ content | safe }}{% endblock %}
