{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/algoliaStyles.min.css">
<link rel="stylesheet" href="https://www.usms.org/styles/algoliaEventSearch.min.css">
{% endblock %}
{% block pageHeader %}
{% include "partials/page-header.njk" %}
{% endblock %}
{% block content %}{{ content | safe }}{% endblock %}
