{% set swimmer = swimmers[swimmerId] if swimmerId else null %}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <title>{{ title if title else "U.S. Masters Swimming" }}</title>
  {% include "partials/head-meta.njk" %}
  {% include "partials/head-js.njk" %}
  {% include "partials/head-css.njk" %}
  {% block pageCSS %}{% endblock %}
  {% if dev.env === "dev" %}{% for name, overlay in devOverlays %}{% if permalink in overlay.pages %}<link rel="stylesheet" href="{{ overlay.css }}">{% endif %}{% endfor %}{% endif %}
</head>
<body class="">
  <div id="main-container">
    <header class="header-static">
      {% include "partials/header.njk" %}
      {% block siteHeader %}{% endblock %}
    </header>
    <main role="main">
      {% block breadcrumb %}{% endblock %}
      {% block pageHeader %}{% endblock %}
      {% block content %}{% endblock %}
    </main>
  </div>
  {% include "partials/footer.njk" %}
  <script src="/js/megamenu.js" defer></script>
  {% block pageJS %}{% endblock %}
  {% if dev.env === "dev" %}{% for name, overlay in devOverlays %}{% if permalink in overlay.pages %}<script src="{{ overlay.js }}" defer></script>{% endif %}{% endfor %}{% endif %}
</body>
</html>
