{% extends "layouts/base.njk" %}

{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/clubDetail.min.css">
<link rel="stylesheet" href="/css/Common/sc-form.css">
<link rel="stylesheet" href="/css/Club/club-detail.css">
{% endblock %}

{% block pageJS %}
<script src="/js/sc-form.js" defer></script>
{% endblock %}

{% block breadcrumb %}
{% include "partials/Common/Breadcrumb.njk" %}
{% endblock %}

{% block content %}

{% block heroSection %}{% endblock %}

<div class="section section-full p-b-10">
  <div class="usms-container p-tb-10">
    <div class="row">

      <div class="col-xs-12 col-md-8">
        {% block clubMain %}{% endblock %}
        {% include "partials/Club/contact-form.njk" %}
      </div>

      <div class="col-xs-12 col-md-4">
        {% block clubSidebar %}{% endblock %}
      </div>

    </div>
  </div>
</div>

<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">

        {% set modalId = "badgeCoach" %}
        {% set modalModifier = "cta-modal--club-badge" %}
        {% set modalBodyClass = "modal-body--lg" %}
        {% set modalBody %}
        <div class="cta-col--center">
          <div class="club-badge--image">
            <img style="width:80px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/developers/images/club%20detail/club-badge-coach.png?h=321&w=350&rev=635d566be36d4cdcadc27626fde72b68&hash=82DC6C945E565F72016697C779170E0D">
          </div>
          <h4 class="club-badge--header">USMS Certified Coaches</h4>
          <p class="club-badge--content">The U.S. Masters Swimming–Certified Coach logo identifies swim clubs near me where you can find a USMS-certified coach. These coaches have furthered their Masters coaching education and have passed the certification exam. Note: A certified coach might not be at all locations or workouts.</p>
        </div>
        {% endset %}
        {% include "components/modal.njk" %}

        {% set modalId = "badgeGold" %}
        {% set modalModifier = "cta-modal--club-badge" %}
        {% set modalBodyClass = "modal-body--lg" %}
        {% set modalBody %}
        <div class="cta-col--center">
          <div class="club-badge--image">
            <img style="width:86px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/developers/images/club%20detail/club-badge-gold.png?h=321&w=350&rev=31ba632063c64b5ab6621a05722f46ad&hash=F7D51558DD678357C7C8CB607BA359BE">
          </div>
          <h4 class="club-badge--header">Gold Club Designation</h4>
          <p class="club-badge--content">The Gold Club logo identifies Masters clubs and workout groups that provide members with the best Masters Swimming experience possible. Gold Clubs have a U.S. Masters Swimming–certified coach on staff, participate in fitness events, and offer a free trial to potential members, among many other benefits.</p>
        </div>
        {% endset %}
        {% include "components/modal.njk" %}

        {% set modalId = "badgeAlts" %}
        {% set modalModifier = "cta-modal--club-badge" %}
        {% set modalBodyClass = "modal-body--lg" %}
        {% set modalBody %}
        <div class="cta-col--center">
          <div class="club-badge--image">
            <img style="width:82px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/developers/images/club%20detail/club-badge-alts.png?h=321&w=350&rev=3b08e5ab609141ad9a924f61da33bc96&hash=CEA3F6989ED4F63208DFA8A8AC32352B">
          </div>
          <h4 class="club-badge--header">USMS Certified Adult Learn-to-Swim Instructors</h4>
          <p class="club-badge--content">The Certified Adult Learn-to-Swim Instructor logo identifies swim teams near me that have a U.S. Masters Swimming–certified ALTS instructor. These instructors have furthered their swim-lessons instruction education and have passed the certification exam. Note: A certified ALTS instructor might not be at all locations or workouts.</p>
        </div>
        {% endset %}
        {% include "components/modal.njk" %}

        {% set modalId = "badgeSslf" %}
        {% set modalModifier = "cta-modal--club-badge" %}
        {% set modalBodyClass = "modal-body--lg" %}
        {% set modalBody %}
        <div class="cta-col--center">
          <div class="club-badge--image">
            <img style="height:69px; width:75px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/usms%20logos/usa%20swimming%20foundation/usa%20swimming%20foundation%20vertical-full%20color.png">
          </div>
          <h4 class="club-badge--header">USA Swimming Foundation</h4>
          <p class="club-badge--content">The USA Swimming Foundation logo identifies clubs that receive support from the foundation for their adult swim-lessons program. These grant programs offer adult learn-to-swim lessons at a reduced cost. Most also are led by a USMS-certified adult learn-to-swim instructor.</p>
        </div>
        {% endset %}
        {% include "components/modal.njk" %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
