{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/home.min.css">
{% endblock %}
{% block pageJS %}
<script src="/js/home-personalize.js" defer></script>
{% endblock %}
{% block siteHeader %}
{% include "partials/home-carousel.njk" %}
{% endblock %}
{% block content %}{{ content | safe }}{% endblock %}
