{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link rel="stylesheet" href="/css/Home/home.css">
<link rel="stylesheet" href="/css/Home/personalize.css">
<link rel="stylesheet" href="/css/Home/image-slider.css">
{% endblock %}
{% block pageJS %}
<script src="/js/home-personalize.js" defer></script>
<script src="/js/carousel.js" defer></script>
<script src="/js/image-slider.js" defer></script>
{% endblock %}
{% block siteHeader %}
{% include "partials/Media/Carousel.njk" %}
{% endblock %}
{% block content %}{{ content | safe }}{% endblock %}
