{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" rel="stylesheet">
<link rel="stylesheet" href="https://www.usms.org/styles/algoliaStyles.min.css">
{% endblock %}
{% block pageHeader %}
{% include "partials/page-header.njk" %}
{% endblock %}
{% block content %}{{ content | safe }}{% endblock %}
{% block pageJS %}
<script src="/js/search.js" defer></script>
{% endblock %}
