{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link rel="stylesheet" href="/vendor/css/www.usms.org-results.min.css?v=20260819.1">
<link href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" rel="stylesheet">
<link rel="stylesheet" href="/vendor/css/www.usms.org-algoliaStyles.min.css?v=20260819.1">
{% endblock %}
{% block pageHeader %}
{% include "partials/Event/EventHeader.njk" %}
{% endblock %}
{% block content %}{{ content | safe }}{% endblock %}
{% block pageJS %}
<script src="/js/search.js" defer></script>
{% endblock %}
