{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link href="/vendor/css/www.usms.org-inThisArticle.min.css?v=20260919.1" rel="stylesheet">
<link href="/vendor/css/www.usms.org-alsoInThisIssue.min.css?v=20260919.1" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" rel="stylesheet">
<link href="/vendor/css/www.usms.org-articleCarousel.min.css?v=20260919.1" rel="stylesheet">
<link href="/vendor/css/www.usms.org-feature.min.css?v=20260919.1" rel="stylesheet">
<link href="/vendor/css/www.usms.org-rteMasters.min.css?v=20260919.1" rel="stylesheet">{% endblock %}
{% block pageHeader %}
{% include "partials/swimmer-page-header.njk" %}
{% endblock %}
{% block content %}{{ content | safe }}{% endblock %}
{% block pageJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="/vendor/js/www.usms.org-swimmerMagazine.min.js?v=20260919.1"></script>
<script src="/vendor/js/www.usms.org-stickyAd.min.js?v=20260919.1"></script>
{% endblock %}
