---
permalink: /registration/confirmation-club-bulk.html
title: Registration Confirmation | U.S. Masters Swimming
showBenefits: false
---
{% extends "layouts/confirmation.njk" %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/Registration/confirmation-club-bulk.css">
{% endblock %}

{% block confirmationH1 %}Registration Confirmation{% endblock %}

{% block confirmationColumns %}
<div class="col-xs-12 col-sm-6">
  <div class="confirmation-membership">
    <h3>Registered Members</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Swimmer ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Kevin Brown</td>
          <td>789012T</td>
        </tr>
        <tr>
          <td>Lisa Wang</td>
          <td>890123T</td>
        </tr>
        <tr>
          <td>Michael Davis</td>
          <td>901234T</td>
        </tr>
        <tr>
          <td>Thomas Martinez</td>
          <td>112345T</td>
        </tr>
        <tr>
          <td>Patricia Anderson</td>
          <td>212345T</td>
        </tr>
        <tr>
          <td>James Taylor</td>
          <td>312345T</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-xs-12 col-sm-4 col-sm-offset-2">
  <div class="confirmation-charges">
    <h3>Payment Summary</h3>
    <p class="confirmation-membership-label">Date:</p>
    <p class="confirmation-date">July 11, 2026</p>
    <p class="confirmation-membership-label">Club:</p>
    <p class="confirmation-summary">
      <span class="confirmation-summary__club">Bay Area Masters</span>
    </p>
    <p class="confirmation-membership-label">6 members &times; $75.00:</p>
    <p>$450.00</p>
    <p class="confirmation-membership-label">Total:</p>
    <p>$450.00</p>
  </div>
</div>
{% endblock %}

