---
permalink: /registration/confirmation-add-on-competition.html
title: Purchase Confirmation | U.S. Masters Swimming
---
{% extends "layouts/confirmation.njk" %}

{% block confirmationColumns %}
<div class="col-xs-12 col-sm-5 offset-sm-1 offset-lg-2">
  <div class="confirmation-membership">
    <h3>Your Membership</h3>
    <p class="confirmation-membership-label">Name:</p>
    <p>Kyle Deery</p>
    <p class="confirmation-membership-label">USMS Permanent ID:</p>
    <p>Y65JY</p>
    <p class="confirmation-membership-label">Event License:</p>
    <p>Yes</p>
  </div>
</div>
<div class="col-xs-12 col-sm-5 offset-sm-1 offset-lg-0">
  <div class="confirmation-charges">
    <h3>Payment Summary</h3>
    <p class="confirmation-membership-label">USMS+:</p>
    <p>$174.00</p>
    <p class="confirmation-membership-label">Print <i>SWIMMER</i> Magazine:</p>
    <p>$10.00</p>
    <p class="confirmation-membership-label">Video Stroke Analysis:</p>
    <p>$110.00</p>
    <p class="confirmation-membership-label">Coach/ALTS Designation:</p>
    <p>$30.00</p>
    <p class="confirmation-membership-label">USA Swimming Foundation Donation:</p>
    <p>$30.00</p>
    <p class="confirmation-membership-label">ISHOF Donation:</p>
    <p>$20.00</p>
    <p class="confirmation-membership-label">LMSC Donation:</p>
    <p>$20.00</p>
    <p class="confirmation-membership-label">Total:</p>
    <p>$220.00</p>
  </div>
</div>
{% endblock %}
