---
permalink: /registration/registration-receipt.html
title: Register Confirmation | U.S. Masters Swimming
---
{% extends "layouts/base.njk" %}

{% block content %}
<div class="section section-full p-tb-10">

  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="heading-container">
          <h1 class="text-center">Welcome to Our Community</h1>
        </div>
        <div class="image-rendering image-left">
          <a>
            <img src="https://www.usms.org/-/media/usms/non-lightroom%20images/house%20art/welcome-header.png?h=215&w=1338&hash=370CE4F89803131F79DD19D29DC4F030" alt="Welcome to U.S. Masters Swimming" width="1338" height="215">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="confirmation-membership">
          <h3>Your Information</h3>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="confirmation-membership-label">Name:</p>
              <p>Terry Tate</p>
              <p class="confirmation-membership-label">USMS Permanent ID:</p>
              <p>MGPBZ</p>
              <p class="confirmation-membership-label">Registration Date:</p>
              <p>06/10/2026</p>
              <p class="confirmation-membership-label">Expiration Date:</p>
              <p>12/31/2026</p>
              <p class="confirmation-membership-label">USMS Registration ID:</p>
              <p>146E-MGPBZ</p>
              <p class="confirmation-membership-label">USMS Club:</p>
              <p>Unattached - Florida</p>
              <iframe id="telligentLogin" name="telligentLogin" src="about:blank" class="login__iframe" style="width: 0; height: 0; border: 0; border: none;"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="confirmation-payment">
          <h3>Payment Summary</h3>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="confirmation-membership-label">2026 USMS Membership Fee</p>
              <p>$75.00</p>
              <p class="confirmation-membership-label">Total:</p>
              <p>$75.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="confirmation-notes">
          <div class="row confirmation-benefits-wrapper">
            <div class="col-xs-12">
              <h3 class="text-primary">Membership Benefits</h3>
              <div class="confirmation-login-wrapper">
                <a href="/myusmslogin">Login to My USMS</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="registration-benefit">
                <a href="/reg/getcard.php?FirstName=Terry&amp;MI=&amp;LastName=Tate&amp;Gender=Male&amp;BirthDate=01/01/1987&amp;Zip=34251&amp;SwimmerID=MGPBZ&amp;action=getcard">
                  <img alt="USMS Card Icon" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-card-pdf.svg">
                </a>
                <p><a href="/reg/getcard.php?FirstName=Terry&amp;MI=&amp;LastName=Tate&amp;Gender=Male&amp;BirthDate=01/01/1987&amp;Zip=34251&amp;SwimmerID=MGPBZ&amp;action=getcard">Download Your Membership Card</a></p>
              </div>
              <div class="registration-benefit">
                <a href="/workout-library">
                  <img alt="" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-workout-library.svg">
                </a>
                <p><a href="/workout-library">Get Exclusive Workouts</a></p>
              </div>
              <div class="registration-benefit">
                <a href="https://www.usms.org/account/my-information">
                  <img alt="Profile Icon" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-profile.svg">
                </a>
                <p><a href="https://www.usms.org/account/my-information">Complete Your My Information Page</a></p>
              </div>
              <div class="registration-benefit">
                <a href="/join-usms/membership-discounts">
                  <img alt="Discounts Icon" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-discounts.svg">
                </a>
                <p><a href="/join-usms/membership-discounts">Take Advantage of Discounts</a></p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="registration-benefit">
                <a href="/fitness-and-training/articles-and-videos">
                  <img alt="Online Learning Icon" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-online-learning.svg">
                </a>
                <p><a href="/fitness-and-training/articles-and-videos">View the Latest Articles and Videos</a></p>
              </div>
              <div class="registration-benefit">
                <a href="/events">
                  <img alt="Events Icon" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-fitness-series.svg">
                </a>
                <p><a href="/events">Search Upcoming Events</a></p>
              </div>
              <div class="registration-benefit">
                <a href="/fitness-and-training/workout-tracking/swimcom-integration-information">
                  <img alt="Swim.com Icon" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-swim.svg">
                </a>
                <p><a href="/fitness-and-training/workout-tracking/swimcom-integration-information">Link Account with Swim.com</a></p>
              </div>
              <div class="registration-benefit">
                <a href="/clubs">
                  <img alt="Club Finder Icon" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-volunteer-central.svg">
                </a>
                <p><a href="/clubs">Find Nearby Clubs</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
