<div class="set">
    <div class="set__title">KD: IM Set</div>
    <!-- If ( item.listInterval.count > 1 ) -->
        <div class="group-repeat">4<!-- item.listInterval.grouprepeat.value --></div>
    <!-- End if -->
    <div class="interval">
        <!-- If ( item.listInterval.lengthRepeat.val > 1 ) -->
            <div class="length-repeat" id="lengthRepeat">4</div>
        <!-- End if -->
        <div class="distance" id="distanceByUnit">50</div>   
        <div class="stroke" id="strokeType">Choice</div>
    </div>
    <div class="interval">
        <!-- If ( item.listInterval.lengthRepeat.val > 1 ) -->
            <div class="length-repeat" id="lengthRepeat">2</div>
        <!-- End if -->
        <div class="distance" id="distanceByUnit">100</div>   
        <div class="stroke" id="strokeType">Choice</div>
    </div>
    <div class="interval">
        <!-- If ( lengthRepeat.val > 1 ) -->
            <!-- <div class="length-repeat" id="lengthRepeat">1</div> -->
        <!-- End if -->
        <div class="distance" id="distanceByUnit">200</div>   
        <div class="stroke" id="strokeType">Choice</div>
    </div>  
    <!-- If ( item.listInterval.count > 1 ) -->
    <!--item.listInterval.grouprepeat.value -->
    <!-- <div class="group-repeat">2</div>--> 
    <!-- End if -->
    <div class="length">
        <!-- If ( item.listInterval.lengthRepeat.val > 1 ) -->
            <div class="length-repeat" id="lengthRepeat">4</div>
        <!-- End if -->
        <div class="distance" id="distanceByUnit">100</div>   
        <div class="stroke" id="strokeType">IM</div>
    </div>
</div>