<div class="col-xs-12">
    <div class="list-results">

        <div class="list-item workout">

            <div class="workout__title">KD: Great Workout</div>
            <div class="workout__stats">
                <div class="workout_stats--date">01/06/2020</div>
                <div class="workout_stats--course">Course: <strong>25y</strong></div>
                <div class="workout_stats--distance">Distance: <strong>2700</strong></div>
                <div class="workout_stats--time">Time: <strong>4h 50m</strong></div>
            </div>

            <a class="view-details btn btn-primary btn-small" href="./usms-workout-detail.html">View Workout Details</a>

            <div class="workout__summary">
                <div class="col-sm-4">
                    {{> workout-item }}
                </div>
                <div class="col-sm-4">
                    {{> workout-item }}
                    {{> workout-item }}
                </div>
                <div class="col-sm-4">
                    {{> workout-item }}
                </div>
            </div>
            <div class="workout__footer"></div>
        </div>
    </div>
</div>