<div class="col-xs-12">
    <div class="list-results">
        <div class="list-item workout">
            <div class="workout__title">KD: Great Workout</div>
            <div class="workout__stats">
                <div class="workout_stats--date">01/06/2020</div>
                <div class="workout_stats--course">Course: <strong>25y</strong></div>
                <div class="workout_stats--distance">Distance: <strong>2700</strong></div>
                <div class="workout_stats--time">Time: <strong>4h 50m</strong></div>
            </div>
            <a class="view-details btn btn-primary btn-small" href="./usms-workout-detail.html">View Workout Details</a>
            <div class="workout__summary">
                <div class="col-sm-4">
                    <div class="set">
                        <div class="set__title">KD: Easy Warm Up</div>
                        <!-- If ( item.listInterval.count > 1 ) -->
                            <!-- <div class="group-repeat">1</div> -->
                        <!-- End if -->
                        <div class="length">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <!-- <div class="length-repeat" id="lengthRepeat">1</div> -->
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">400</div>   
                            <div class="stroke" id="strokeType">Choice</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="set">
                        <div class="set__title">KD: Repeat Main Set</div>
                        <!-- If ( item.listInterval.count > 1 ) -->
                            <!-- <div class="group-repeat">1</div> -->
                        <!-- End if -->
                        <div class="length">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">5</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">100</div>   
                            <div class="stroke" id="strokeType">Free</div>
                        </div>
                    </div>
                    <div class="set">
                        <div class="set__title">KD: IM Set</div>
                        <!-- If ( item.listInterval.count > 1 ) -->
                            <div class="group-repeat">4<!-- item.listInterval.grouprepeat.value --></div>
                        <!-- End if -->
                        <div class="interval">
                            <!-- If ( item.listInterval.lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">4</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">50</div>   
                            <div class="stroke" id="strokeType">Choice</div>
                        </div>
                        <div class="interval">
                            <!-- If ( item.listInterval.lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">2</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">100</div>   
                            <div class="stroke" id="strokeType">Choice</div>
                        </div>
                        <div class="interval">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <!-- <div class="length-repeat" id="lengthRepeat">1</div> -->
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">200</div>   
                            <div class="stroke" id="strokeType">Choice</div>
                        </div>  
                        <!-- If ( item.listInterval.count > 1 ) -->
                        <!--item.listInterval.grouprepeat.value -->
                        <!-- <div class="group-repeat">2</div>--> 
                        <!-- End if -->
                        <div class="length">
                            <!-- If ( item.listInterval.lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">4</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">100</div>   
                            <div class="stroke" id="strokeType">IM</div>
                        </div>
                        <div class="length">
                            <!-- If ( item.listInterval.lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">2</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">200</div>   
                            <div class="stroke" id="strokeType">IM</div>
                        </div>
                        <div class="length">
                            <!-- If ( item.listInterval.lengthRepeat.val > 1 ) -->
                                <!-- <div class="length-repeat" id="lengthRepeat">1</div> -->
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">400</div>   
                            <div class="stroke" id="strokeType">IM</div>
                        </div>
                    </div>
                    <div class="set">
                        <!-- If ( item.listInterval.count > 1 ) -->
                            <!-- <div class="group-repeat">4item.listInterval.grouprepeat.value</div> -->
                        <!-- End if -->
                        <div class="set__title">KD: Pull Set</div>
                        <div class="length">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">8</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">50</div>   
                            <div class="stroke" id="strokeType">Pull</div>
                        </div>
                        <div class="length">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">4</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">100</div>   
                            <div class="stroke" id="strokeType">Pull</div>
                        </div>
                        <div class="length">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">2</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">200</div>   
                            <div class="stroke" id="strokeType">Pull</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="set">
                        <!-- If ( item.listInterval.count > 1 ) -->
                            <!-- <div class="group-repeat">4item.listInterval.grouprepeat.value</div> -->
                        <!-- End if -->
                        <div class="set__title">KD: Warm Down</div>
                        <div class="length">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <!-- <div class="length-repeat" id="lengthRepeat">1</div> -->
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">200</div>   
                            <div class="stroke" id="strokeType">Choice</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="workout__footer"></div>
        </div>
        <div class="list-item workout">
            <div class="workout__title">KD: Great Workout</div>
            <div class="workout__stats">
                <div class="workout_stats--date">01/06/2020</div>
                <div class="workout_stats--course">Course: <strong>25y</strong></div>
                <div class="workout_stats--distance">Distance: <strong>2700</strong></div>
                <div class="workout_stats--time">Time: <strong>4h 50m</strong></div>
            </div>
            <button class="view-details btn btn-primary btn-small" href="./usms-workout-detail.html">View Workout Details</button>
            <div class="workout__summary">
                <!-- Get all of setType = "Warm Up" and put in this column -->
                <div class="col-sm-4">
                    <div class="set">
                        <div class="set__title">KD: Easy Warm Up</div>
                        <!-- If ( item.listInterval.count > 1 ) -->
                            <!-- <div class="group-repeat">1</div> -->
                        <!-- End if -->
                        <div class="length">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <!-- <div class="length-repeat" id="lengthRepeat">1</div> -->
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">400</div>   
                            <div class="stroke" id="strokeType">Choice</div>
                        </div>
                    </div>
                </div>
                <!-- Get all of setType = "Main Set" and put in this column -->
                <div class="col-sm-4">
                    <div class="set">
                        <div class="set__title">KD: Repeat Main Set</div>
                        <!-- If ( item.listInterval.count > 1 ) -->
                            <!-- <div class="group-repeat">1</div> -->
                        <!-- End if -->
                        <div class="length">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">5</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">100</div>   
                            <div class="stroke" id="strokeType">Free</div>
                        </div>
                    </div>
                    <div class="set">
                        <div class="set__title">KD: IM Set</div>
                        <!-- If ( item.listInterval.count > 1 ) -->
                            <div class="group-repeat">4<!-- item.listInterval.grouprepeat.value --></div>
                        <!-- End if -->
                        <div class="interval">
                            <!-- If ( item.listInterval.lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">4</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">50</div>   
                            <div class="stroke" id="strokeType">Choice</div>
                        </div>                                                
                        <div class="interval">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <!-- <div class="length-repeat" id="lengthRepeat">1</div> -->
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">100</div>   
                            <div class="stroke" id="strokeType">Choice</div>
                        </div>  
                    </div>
                    <div class="set">
                        <!-- If ( item.listInterval.count > 1 ) -->
                            <!-- <div class="group-repeat">4item.listInterval.grouprepeat.value</div> -->
                        <!-- End if -->
                        <div class="set__title">KD: Pull Set</div>
                        <div class="length">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <div class="length-repeat" id="lengthRepeat">8</div>
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">50</div>   
                            <div class="stroke" id="strokeType">Pull</div>
                        </div>
                    </div>
                </div>
                <!-- Get all of setType = "Cool Down" and put in this column -->
                <div class="col-sm-4">
                    <div class="set">
                        <!-- If ( item.listInterval.count > 1 ) -->
                            <!-- <div class="group-repeat">4item.listInterval.grouprepeat.value</div> -->
                        <!-- End if -->
                        <div class="set__title">KD: Warm Down</div>
                        <div class="length">
                            <!-- If ( lengthRepeat.val > 1 ) -->
                                <!-- <div class="length-repeat" id="lengthRepeat">1</div> -->
                            <!-- End if -->
                            <div class="distance" id="distanceByUnit">200</div>   
                            <div class="stroke" id="strokeType">Choice</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="workout__footer"></div>
        </div>
    </div>
</div>