<div class="registration-step registration-step--club">
	<div class="card club-information">
		<h3 class="club-information___form-header">Do you swim with a club?</h3>
		<p class="club-information__form-text">If you belong to a club you can select it here.</p>
		<form class="form-club-information form-horizontal">
			<div class="suggested-lmsc visible-xs">
				An LMSC has been suggested for you based on your zip code, but you are not required to register in this LMSC
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-sm-4">
					<label for="selectedLmsc" class="font-weight-bold">Your LMSC</label>
					<div>
						<span class="help-block help-block--selectedLmsc">Please select a valid LMSC</span>
						<select name="selectedLmsc" id="selectedLmsc" class="form-control">
							<option selected value="-1">Select your LMSC</option>
							<option value="adirondack">Adirondack</option>
							<option value="alaska">Alaska</option>
							<option value="arizona">Arizona</option>
							<option value="arkansas">Arkansas</option>
							<option value="colorado">Colorado</option>
							<option value="connecticut">Connecticut</option>
							<option value="florida">Florida</option>
							<option value="georgia">Georgia</option>
							<option value="kentucky">Kentucky</option>
							<option value="michigan">Michigan</option>
							<option value="new_england">New England</option>
							<option value="pacific">Pacific</option>
						</select>
					</div>
					<span class="help-block has-error"></span>
				</div>
				<div class="col-xs-12 col-sm-4">
					<label for="selectedClub" class="font-weight-bold">Your Club</label>
					<div>
						<span class="help-block help-block--selectedClub">Please select a valid club</span>
						<select name="selectedClub" id="selectedClub" class="form-control">
							<option selected value="-1">Select a club</option>
						</select>
					</div>
					<span class="help-block has-error"></span>
				</div>
				<div class="club-information__column col-xs-12 col-sm-4">
					<label for="selectedWorkoutgroup">Workout Group (if applicable)</label>
					<select name="selectedWorkoutgroup" id="selectedWorkoutgroup" class="form-control">
						<option selected value="-1">Select a workout group</option>
					</select>
				</div>
			</div>
			<div class="suggested-lmsc hidden-xs">
				An LMSC has been suggested for you based on your zip code, but you are not required to register in this LMSC
			</div>
		</form>
	</div>
</div>
