<div class="renew__form-container m-b-30">
	<div class="row">
		<div class="col-xs-12">
			<div class="renew__header">
				<p>Welcome to U.S. Masters Swimming. Let's finish your registration.</p>
			</div>
			<div class="renew__form-body">
				<div id="registration_form">
					<div class="full-registration-form" data-membership-level="{{ currentUser.membershipTier if currentUser else '' }}">

						{% include "partials/Forms/ContactInformation.njk" %}

						{% include "partials/Forms/ClubInformation.njk" %}

						{% include "partials/Forms/Interests.njk" %}

						{% include "partials/Forms/Liability.njk" %}

						<div class="registration-step registration-step--payment">
							<form class="form-membership-length form-horizontal">
								<input type="hidden" name="current-reg-year" value="2026">
								<input type="hidden" name="magazineAddonPrice" value="10">

								{% include "partials/Forms/Participation.njk" %}

								{% include "partials/Forms/MembershipOptions.njk" %}

								{% include "partials/Forms/CompetitionCert.njk" %}

								{% include "partials/Forms/Vsa.njk" %}

								{% include "partials/Forms/Donations.njk" %}

								{% include "partials/Forms/Payment.njk" %}

							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
