<div class="registration-step registration-step--interests">
	<form class="form-interests form-horizontal">
		<div class="card interests">
			<h3 class="interests___form-header m-b-30">Tell Us More About You</h3>
			<div class="row">
				<div class="order-1 col-xs-12 col-sm-6">
					<div class="row"></div>
				</div>
				<div class="order-1 col-xs-12 col-sm-6">
					<div class="row">
						<div class="order-3 order-sm-2 col-xs-12">
							<label for="checkbox-interests-self-identified-coach--true" class="control-label font-weight-bold col-xs-12">Are you currently a coach?</label>
							<div class="col-xs-12"><span class="help-block help-block--checkbox-interests-self-identified-coach">Please select are you currently a coach</span></div>
							<div class="col-xs-12">
								<label id="checkbox-interests-self-identified-coach--true__label" class="radio-label" for="checkbox-interests-self-identified-coach--true" style="cursor:pointer;">
									<div class="radio-container">
										<input type="radio" name="checkbox-interests-self-identified-coach" id="checkbox-interests-self-identified-coach--true" value="true">
										<span class="radio__placeholder"></span>
									</div>
									Yes
								</label>
								<label id="checkbox-interests-self-identified-coach--false__label" class="radio-label" for="checkbox-interests-self-identified-coach--false" style="cursor:pointer;">
									<div class="radio-container">
										<input type="radio" name="checkbox-interests-self-identified-coach" id="checkbox-interests-self-identified-coach--false" value="false">
										<span class="radio__placeholder"></span>
									</div>
									No
								</label>
							</div>
						</div>
						<div class="order-4 col-xs-12">
							<label for="checkbox-interests-coach--true" class="control-label font-weight-bold col-xs-12">Do you have an interest in coaching?</label>
							<div class="col-xs-12">
								<span class="help-block help-block--checkbox-interests-coach">Please select coach interest</span>
							</div>
							<div class="col-xs-12">
								<label id="checkbox-interests-coach--true__label" class="radio-label" for="checkbox-interests-coach--true" style="cursor:pointer;">
									<div class="radio-container">
										<input type="radio" name="checkbox-interests-coach" id="checkbox-interests-coach--true" value="checkbox-interests-coach--true">
										<span class="radio__placeholder"></span>
									</div>
									Yes
								</label>
								<label id="checkbox-interests-coach--false__label" class="radio-label" for="checkbox-interests-coach--false" style="cursor:pointer;">
									<div class="radio-container">
										<input type="radio" name="checkbox-interests-coach" id="checkbox-interests-coach--false" value="checkbox-interests-coach--false">
										<span class="radio__placeholder"></span>
									</div>
									No
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="order-3 col-xs-12 col-sm-6">
					<div class="row"></div>
				</div>
			</div>
		</div>
	</form>
</div>
