<div class="section section-full bg-gray login">
  <div class="usms-container form__container">
    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class="form-col__header">
          <h3>Log in to My Account</h3>
        </div>
        <form method="POST" class="login-form form-horizontal">
          <div class="form-group">
            <div class="col-xs-12">
              <input type="email" class="form-control" placeholder="Email Address" name="Email" id="loginEmail" autocomplete="email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input type="password" class="form-control" placeholder="Password" name="Password" id="loginPassword" autocomplete="current-password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input type="checkbox" name="RememberMe" id="rememberMe">
              <label class="label--rememberme" for="rememberMe">Remember Me</label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary text-uppercase login-form__submit">GO!</button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <a href="/account/forgotpassword">Forgot/Reset Password</a><br>
              <a href="/registration/">Join USMS Today</a>
            </div>
          </div>
        </form>
      </div>

      <div class="col-xs-12 col-sm-6 form-col--valign-center">
        <div class="form-col__header">
          <h3>Join U.S. Masters Swimming</h3>
          <p>Become a USMS member and enjoy all of the benefits of membership, including:</p>
          <ul>
            <li><strong>Workout Library</strong><br>Search through our 5,000 workouts designed for all skill levels and a variety of distances and themes</li>
            <li><strong>Exclusive Content</strong><br>Don't miss our SWIMMER magazine, web articles, and videos with tips to improve your swimming</li>
            <li><strong>On-Deck Coaching</strong><br>Our 1,200 clubs provide organized workouts, technique advice, and a group to swim with</li>
            <li><strong>In-person and Virtual Events</strong><br>We sanction over 400 pool, open water, and virtual events each year</li>
            <li><strong>Discounted Products</strong><br>Get exclusive access to discounts from our partners</li>
            <li><strong>Online Community</strong><br>Our vibrant forums provide an opportunity to connect and learn with other swimmers</li>
          </ul>
        </div>
        <div class="button-row__content button-row__content--left">
          <a href="/registration/" class="btn btn-primary">Join Now</a>
        </div>
      </div>

    </div>
  </div>
</div>
