<div id="cardParticipationInfo" class="card participation-info">
	<h3 class="registration__section--header">Do you plan on participating in events?</h3>
	<p class="registration__section--summary">
		Events include swim meets, virtual championships, and open water races.
	</p>
	<div class="form-group">
		<div class="col-xs-12">
			<span class="help-block help-block--participationInfo">Please select your participation preference</span>
		</div>
		<label class="radio-label" for="participationInfoYes" style="cursor:pointer;">
			<div class="radio-container">
				<input type="radio" name="participationInfo" id="participationInfoYes" value="yes">
				<span class="radio__placeholder"></span>
			</div>
			Yes, I plan to participate in events
		</label>
		<label class="radio-label" for="participationInfoNo" style="cursor:pointer;">
			<div class="radio-container">
				<input type="radio" name="participationInfo" id="participationInfoNo" value="no">
				<span class="radio__placeholder"></span>
			</div>
			No, I do not plan to participate in events
		</label>
	</div>
</div>
