<div class="card add-on video-stroke-analysis">
	<h3 class="membership-length__form-header">Video Stroke Analysis</h3>
	<p class="membership-length__form-summary addon__registration">Get a single video stroke analysis by a certified coach. You will have two rounds of feedback. The analysis will be up to five minutes long and contain visual and verbal feedback as well as links to additional resources.</p>
	<input type="hidden" name="addonPrice" id="addonPrice" value="1">
	<div class="form-group">
		<span class="help-block help-block--videoStrokeAnalysis">Please select video stroke analysis option</span>
		<label class="radio-label radio-label--inline col-xs-12 disabled" for="videoStrokeAnalysisYes">
			<div class="radio-container">
				<input type="radio" disabled name="videoStrokeAnalysis" id="videoStrokeAnalysisYes" value="yes">
				<span class="radio__placeholder"></span>
			</div>
			<strong>Yes! I want to purchase the Video Stroke Analysis Add-On<span class="price-string__video-stroke-analysis"></span></strong>
		</label>
		<div class="select-stroke-focus col-xs-12">
			<span class="help-block help-block--stroke-video-analysis__focus">Please select video stroke analysis option</span>
			<label for="stroke-video-analysis__focus">Select a stroke</label>
			<select name="stroke-video-analysis__focus" id="stroke-video-analysis__focus">
				<option value="-1" disabled=""></option>
				<option value="Freestyle">Freestyle</option>
				<option value="Breaststroke">Breaststroke</option>
				<option value="Backstroke">Backstroke</option>
				<option value="Butterfly">Butterfly</option>
				<option value="Starts and Turns">Starts/Turns</option>
			</select>
		</div>
		<label class="radio-label radio-label--inline col-xs-12 disabled" for="videoStrokeAnalysisNo">
			<div class="radio-container">
				<input type="radio" disabled name="videoStrokeAnalysis" id="videoStrokeAnalysisNo" value="no">
				<span class="radio__placeholder"></span>
			</div>
			No, thanks
		</label>
	</div>
	<h4 class="card__total">Video Stroke Analysis <span class="video-stroke-analysis--total card__total--amount">$0.00</span></h4>
</div>
