
/* :root {
    --lm-blue: #092c5c;
    --ccs-nav-link-hover: rgba(255, 255, 255, 0.4);
} */

.section.section-full .usms-container {
    width: 100%;
    padding: 0;
}

.no-scroll {
    margin: 0; 
    height: 100%; 
    width: 100%;
    position: fixed;
    overflow-y: scroll;
}

.search--icon,
.login--icon {
    background: none;
}

.search--icon {
    background: url('https://www.usms.org/-/media/usms/developers/images/myusms/icon-search-ko.svg');
}

.login--icon {
    background: url('https://www.usms.org/-/media/usms/developers/images/myusms/icon-profile-login-ko.svg');
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #000;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    width: 25px;
    margin-right: 3px;
    margin-left: 3px
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

    .carousel__slide-content a {
        background-color: transparent;
        border: 2px solid #FFF;
        text-shadow: 0 0 6px #111;
        height: 40px;
        line-height: 36px;
    }

    .carousel__slide-content a:focus,
    .carousel__slide-content a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

@media (min-width: 1200px) {
    .carousel__slide-image--desktop .carousel__slide-image {
        padding-bottom: 880px;
    }
}


.carousel-previous-button,
.carousel-next-button {
    display: block !important;
}

.carousel__slide-content,
.carousel__slide-content > h1,
.carousel__slide-content > p {
    text-align: center;
    margin: 1rem auto 0;
}

.carousel__slide-content > h1 {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 0 6px #111;
}

.carousel__slide-content > p {
    border: 0 none;
}

.carousel__slide-content > a {
    margin-top: 5rem;
    display: block;
}

.carousel-nav {
    z-index: 100;
}

.carousel-nav__item-button {
    height: 20px;
    width: 60px;
    border-radius: 0;
}

.carousel__slide-content {
    z-index: 99;
}

@media (min-width: 1200px) {
    
    .carousel-container {
        margin-top: 0;
        overflow: visible;
        z-index: 0;
        margin-bottom: 12.5rem;
    }

    .carousel {
        max-height: 640px;
    }
    
    .carousel__slide {
        margin-top: -101px;
    }

    .carousel__slide-content {
        top: 50%;
    }

    .carousel__slide-content a {
        /* background-color: transparent;
        border: 2px solid #FFF;
        text-shadow: 0 0 6px #111; */
        font-weight: 600;
        font-size: 18px;
        height: 50px;
        line-height: 46px;
        padding: 0 15px;
    }
    
    /* .carousel__slide-content a:focus,
    .carousel__slide-content a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    } */

    .carousel-previous-button,
    .carousel-next-button {
        display: block;
        z-index: 99;
        height: 500px;
        width: 100px;
        opacity: 0.3;
    }

    .carousel-next-button:hover, 
    .carousel-previous-button:hover {
        opacity: 1;
    }


    .carousel-container .carousel-previous-button,
    .carousel-container .carousel-next-button { 
        display: block;
    }

}

/* Override Lanemate.min.css - NOT FOR PRODUCTION !!!!!!! */

.image-rendering img {
    margin: 0;
}