
@media (min-width: 1400px) {
    .mega-menu-overlay {
        display: none;
    }
    .mega-menu-overlay {
        width: 100%;
        padding-left: calc(1200px - 50%);
        padding-right: calc(1200px - 50%);
    }
}

.search--icon,
.login--icon {
    background: none;
}

.mega-main-menu__items>li:last-of-type>a {
    border-color: #000;
    background-color: #000;
}

.mega-main-menu__actions-login--wrapper label, 
.mega-main-menu__actions-search--wrapper label, 
.mega-main-menu__actions a label, 
.mega-main-menu__toggle-mobile label {
    color: #000;
}

.carousel__slide-content,
.carousel__slide-content > h1,
.carousel__slide-content > p {
    text-align: center;
    margin: 1rem auto 0;
}

.carousel__slide-content > p {
    border: 0 none;
}

.carousel__slide-content > a {
    margin-top: 5rem;
    display: block;
}

.carousel-nav {
    z-index: 100;
}

.carousel-nav__item-button {
    height: 20px;
    width: 60px;
    border-radius: 0;
}

.carousel__slide-content {
    z-index: 100;
}

@media (min-width: 1200px) {

    .header-static {
        background-color: transparent;
        background-color: rgba(0,0,0,0.5);
    }
    
    /* TEST THIS - Position Sticky !!!!!!! */
    .header-static {
        position: sticky;
        z-index: 2;
    }
    
    .mega-main-menu__logo img {
        width: 220px;
        height: auto;
        margin-top: 3px;
    }

    .mega-main-menu__items > li.has--children,
    .mega-main-menu__items > li > a {
        color: #FFF;
        text-shadow: 0 0 10px #000;
    }
    
    .carousel-container {
        margin-top: -101px;
    }
    
    .carousel {
        max-height: 710px;
    }
    
    .carousel-previous-button,
    .carousel-next-button {
        display: block;
        z-index: 100;
        opacity: 1;
    }

    .carousel-container .carousel-previous-button,
    .carousel-container .carousel-next-button { 
        display: block;
    }

}
