.section {
    background-color: #f4f4f4;
    display: initial !important;
}

.membership-comparison table {
    width: 100%;
    background-color: #FFF;
    /* box-shadow: 0 0 20px #ccc; */
    margin-bottom: 60px;
}

.membership-comparison th,
.membership-comparison td {
    text-align: center;
    /* border: 1px solid #f4f4f4; */
    border-bottom: 1px solid #CCC;
}
.membership-comparison th {
    height: 50px;
    font-size: 14px;
    line-height: 16px;
    padding: 12px;
    vertical-align: bottom;
}
.membership-comparison td {
    width: 100px;
    height: 40px;
    font-size: 15px;
    line-height: 17px;
}
.table-section td {
    width: 100%;
    text-align: left;
    padding-left: 15px;
    background-color: #AAA;
    border-top: 20px solid #FFF;
    color: #FFF;    
}
.membership-comparison td img {
    width: 20px;
}
.membership-comparison .feature {
    min-width: 200px;
    text-align: left;
    padding-left: 15px;
}

.membership-comparison .btn {
    display: block;
    margin: 10px auto 30px;
    width: 88px;
}

@media (min-width: 480px) {
}
@media (min-width: 720px) {
}
