.section {
    background-color: #f4f4f4;
    display: initial !important;
}

.membership-comparison {
    margin-top: 2rem;
}

.membership-comparison table {
    width: 100%;
    background-color: #FFF;
    /* box-shadow: 0 0 20px #ccc; */
    /* margin-bottom: 60px; */
    min-width: 1000px;
}
.membership-comparison td {
    padding: 12px;
}

.membership-comparison th {
    /* height: 50px; */
    font-size: 14px;
    line-height: 16px;
    padding: 12px;
    vertical-align: bottom;
}

.membership-comparison th p {
    margin: 0 auto;
    padding: 0;
    line-height: 120%;
    font-weight: normal;
    text-align: center;
}

.membership-comparison th p.ribbon {
    margin: 0 auto 1.5rem;
    padding: 0.25rem;
    font-size: 1.3rem;
    border-radius: 3px;
    color: #FFF;
    /* text-align: center; */
}

.ribbon-most-popular {
    width: 100px;
    background-color: rgb(101, 182, 76);
}

.ribbon-best-value {
    width: 85px;
    background-color: rgb(0, 133, 29);
}

.membership-comparison th p.type {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 1rem auto 0;
    /* text-align: center; */
}

.membership-comparison th p.price {
    margin: 0.75rem auto 0.5rem;
    font-size: 2.2rem;
    /* text-align: center; */
}

.membership-comparison th p.savings {
    margin: 0 auto;
    font-size: 1.3rem;
    font-style: italic;
    /* text-align: center; */
}

/* .membership-comparison th p.savings:before {
    content: "(";
} */

/* .membership-comparison th p.savings:after {
    content: ")";
} */

.membership-comparison th p.duration {
    font-size: 1.2rem;
    border-bottom: 1px solid #CCC;
    margin: 0.25rem 9rem 0;
    padding-bottom: 1rem;
}

.comparison-featured-benefits ul {
    /* list-style: none; */
    text-align: left;
    margin-top: 1.25rem;
    margin-left: -2rem;
}

.comparison-featured-benefits ul li {
    margin: 0 auto .75rem;
}

.membership-comparison td {
    min-width: 100px;
    height: 40px;
    font-size: 15px;
    line-height: 17px;
}
.table-section td {
    width: 10%;
    text-align: left;
    padding-left: 15px;
    background-color: #AAA;
    border-top: 20px solid #FFF;
    color: #FFF;    
}
.table-section td:first-child {
    text-align: left;
    width: 60%;
}
.membership-comparison td img {
    width: 20px;
}

.comparison-table__overview td {
    width: 25%;
    padding: 0 7rem;
}

/* .membership-comparison th, */
.comparison-table__details td {
    text-align: center;
    /* border: 1px solid #f4f4f4; */
    border-bottom: 1px solid #CCC;
}

.membership-comparison .feature {
    /* min-width: 200px; */
    text-align: left;
    padding-left: 15px;
}

.membership-comparison .btn {
    display: block;
    margin: 10px auto 30px;
    width: 88px;
}

.show-details {
    /* display: block; */
    width: 100%;
    text-align: center;
}
.show-details__button {
    display: block;
    margin: 2rem auto 4rem;
}
.show-details__button:hover {
    text-decoration: none;
}
.show-details__button:before {
    content: "+ ";
    font-size: 2.3rem;
}

#compareDetails {
    /* display: none; */
    /* height: 0; */
    /* -webkit-transition: all 0.5s; */
    /* transition: all 0.5s; */
    /* overflow: hidden; */
}

.collapsing {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

@media (min-width: 480px) {
}
@media (min-width: 720px) {
}
