.is-fixed {
    position: fixed;
    background-color: #FFF;
    width: 1400px;
    margin: 0 auto;
    padding: 0 0 40px;
    left: 0;
    right: 0;
    z-index: 999;
}

#membershipOverview.is-fixed {
    top: -10px;
}

#showDetails.is-fixed {
    top: 355px;
}

#showDetails.is-fixed.is-fixed-footer {
    position: absolute;
    top: 2160px;
}
#membershipOverview.is-fixed.is-fixed-footer {
    position: absolute;
    top: 1790px;
}

.section {
    background-color: #f4f4f4;
    display: initial !important;
}

.membership-option {
    font-size: 14px;
    line-height: 16px;
    margin: 3rem auto 0;
    padding: 12px;
    vertical-align: bottom;
}

.membership-option {
    height: auto;
}

.membership-option p {
    margin: 0 auto;
    padding: 0;
    line-height: 120%;
    font-weight: normal;
    text-align: left;
}

.membership-option p.ribbon {
    margin: 0 0 1.5rem;
    padding: 0.25rem;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 3px;
    color: #FFF;
    display: none;
}

.membership-option p.ribbon.ribbon-most-popular {
    display: block;
    width: 100px;
    background-color: rgb(101, 182, 76);
}

.membership-option p.ribbon.ribbon-best-value {
    display: block;
    width: 85px;
    background-color: rgb(0, 133, 29);
}

.membership-option {
    margin: 4rem 2rem 0;
    padding: 0 3rem;
}

.membership-option p.type {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 1rem auto 0;
}

.membership-option p.price {
    margin: 0.75rem auto 0.5rem;
    font-size: 2.2rem;
}

.membership-option p.savings {
    margin: 0 auto;
    font-size: 1.3rem;
    font-style: italic;
}

.standard .membership-option p.savings {
    display: none;
}

.membership-option p.duration {
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 1rem;
}

.membership-option-list {
    font-size: 14px;
    line-height: 16px;
    margin: 0 2rem;
    padding: 0 3rem 3rem;
    border-bottom: 1px solid #CCC;
}

.membership-option-list .list-header {
    text-align: left;
    margin: 1.25rem auto;
    font-weight: bold;
}

.membership-option-list ul {
    margin-left: -2rem;
}

.membership-option-list li {
    margin: 0 auto .75rem;
}



/* Compare Details Table */

.membership-comparison {
    margin-bottom: 5rem;
    overflow: hidden;
    -webkit-transition: height 0.5s ease, opacity 2.0s ease;
    transition: height 0.5s ease, opacity 2.0s ease;
    height: 0;
    opacity: 0;
}
.membership-comparison.show {
    -webkit-transition: height 2.0s ease, opacity 0.5s ease;
    transition: height 2.0s ease, opacity 0.5s ease;
    height: 100%;
    opacity: 1;
    overflow-x: scroll;
}

.compare-details table {
    width: 100%;
    background-color: #FFF;
}

.compare-details > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.compare-details td {
    border: 0 none;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    text-align: left;
}

.compare-details td {
    min-width: 100px;
    height: 40px;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    width: 10%;
}

.compare-details td:first-child {
    text-align: left;
    width: 50%;
    min-width: 270px;
}

.compare-details td.feature {
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    z-index: 999;
    left: 0;
    background-color: #FFF;
}

.compare-details .table-section td {
    background-color: #CCC;
    border-top: 50px solid #FFF;
    font-size: 1.3rem;
    min-width: 125px;
}

.compare-details .table-section td:first-child {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 3rem;
    position: sticky;
    z-index: 999;
    left: 0;
    background-color: #CCC;
}

.compare-details .table-section td:nth-child(2):after {
    content: ">";
    position: relative;
    left: 2rem;
}

/* Checkmark */
.compare-details td img {
    width: 20px;
}

.show-details {
    width: 100%;
    text-align: center;
}

.show-details .btn {
    margin: 7rem auto;
}

.show-details .btn:before {
    content: "+";
    margin: 0 5px 0 0px;
    top: -1px;
    position: relative;
    width: 15px;
    font-size: 2rem;
    line-height: 18px;
}

.show-details .btn.open:before {
    content: "-";
    margin: 0 6px 0 3px;
    width: 15px;
    position: relative;
    font-size: 2rem;
    line-height: 18px;
}

.compare-details > tbody > tr.price-row {
    background-color: #FFF;
    border-top: 2px solid;
    font-weight: bold !important;
}

.compare-details .price-row td {
    padding-top: 30px;
}

@media (min-width: 480px) {
}

@media (min-width: 720px) {
    .compare-details .table-section td:nth-child(2):after {
        content: "";
    }    
    .compare-details td.feature {
        padding-left: 40px;
        padding-right: 60px;
    }    
    .membership-option p.ribbon {
        display: block;
        margin: 0 auto 1.5rem;
    }
    .membership-option p {
        text-align: center;
    }
    .membership-option p.duration {
        font-size: 1.2rem;
        border-bottom: 1px solid #CCC;
        margin: 0.25rem 4.5rem 0;
        padding-bottom: 1rem;
    }
    .standard .membership-option p.savings {
        display: block;
    }
    .membership-option-list {
        border: 0 none;
        padding: 0 2rem 0 5rem;
    }

    /* .table-section {
        border-top: 50px solid #FFF;
    } */

    .show-details .btn {
        margin: 3.5rem auto 1rem;
    }

    .membership-comparison.show {
        overflow-x: initial;
        overflow: hidden;
    }
    
}
