.filter-form__input-search span {
  color: #0068AD;
}

.filter-form-title {
  margin-bottom: 30px;
}

.filter-form__filters--open {
  color: #0068AD;
}

.filter-form__zip-label {
  padding-top: 7px;
}

.filter-form__show-all {
  width: 100%;
}
