
.events-filter-form__dropdown {
  position: absolute;
  top: 10rem;
  background-color: white;
  padding: 2rem 3rem;
  z-index: 10;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  left: -20px;
  width: 100vw;
  max-width: 940px;
}

.events-filter-form__dropdown-event-filter,
.events-filter-form__dropdown-event-types {
  display: flex;
  flex-direction: column;
}

.events-filter-form__dropdown-title {
  margin: 2rem auto 0;
  font-size: 1.8rem;
  /* margin-bottom: 10px; */
  color: #333;
}

.events-filter-form__dropdown input[type="text"] {
  text-indent: 0;
  padding: 6px 20px 6px 30px;
}

.events-filter-form__dropdown input[type="text"].DateInput_input {
  padding: 12px;
  font-size: 16px;
}

.events-filter-form__dropdown .form-control-feedback {
  right: 0;
  left: 15px;
  color: #AAA;
}

.events-filter-form__dropdown .SingleDatePickerInput_calendarIcon {
  padding: 0;
}

.events-filter-form__dropdown select {
  width: 161px;
}

/* @media(--sm-viewport) { */
@media (min-width: 768px) {
  .events-filter-form__dropdown-event-filter {
    margin-top: 1.25rem;
    margin-bottom: 2rem;
  }
}

/* @media(--md-viewport) { */
@media (min-width: 992px) {
  .events-filter-form__dropdown {
    top: 4rem;
  }
}
