.events-summary-content .list-control-filter {
    /* display: block; */
    margin: 0 -10px;
    padding: 10px 20px 40px;
}

/* Temp until date plugin dependency is linked */
.events-summary-content  .SingleDatePickerInput_calendarIcon {
    display: none;
}

.events-summary-content .date-range__wrapper > div,
.events-summary-content .form-group__inline-separator {
    display: inline-block;
}

.events-summary-content .form-group__inline-separator {
    padding: 0 8px;
    color: #555;
}

.events-summary-content .date-range__wrapper {
    /* border-bottom: 1px solid #CCC; */
    margin: 5px -5px 20px;
    /* padding-bottom: 20px; */
}

.events-summary-content .list-control-search__input.list-control-search__input--button {
    flex: none;
    position: relative;
    bottom: 0;
    margin: 2.5rem 0 1.5rem;
}

.events-summary-content .events-filter-form__dropdown-title {
    margin: 2rem auto 0;
    font-size: 1.8rem;
    color: #333;
}

.events-summary-content #search-filter__lmsc {
    margin-top: 1.6rem;
}

.events-summary-content .list-control-filter__content {
    margin-top: 25px;
}

.events-summary-content .list-control-filter__content .check-list {
    margin-bottom: 0;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .events-summary-content .list-control-filter {
        margin: 0;
        padding: 0 35px 40px;
    }
    .events-summary-content .list-control-search__input.list-control-search__input--button {
        margin: 0 0 0 15px;
    }
    .events-summary-content .date-range__wrapper {
        /* margin: 15px -5px 25px; */
        margin: -30px -5px 45px -50px;
    }
    .events-summary-content .list-control-filter__content {
        margin-top: 0;
    }
    /* .events-summary-content #search-filter__lmsc {
        margin-top: 0;
    } */
    .events-summary-content .events-filter-form__dropdown-title {
        margin: 0 auto;
    }
}

.DateInput {
    width: 130px;
}
