.events-summary-content .list-control-filter {
    /* display: block; */
    margin: 0;
    padding: 10px 20px 40px;
}

/* Temp until date plugin dependency is linked */
.events-summary-content  .SingleDatePickerInput_calendarIcon {
    display: none;
}

.events-summary-content .date-range__wrapper > div,
.events-summary-content .form-group__inline-separator {
    display: inline-block;
}

.events-summary-content .form-group__inline-separator {
    margin: 0 auto;
    padding: 0 8px;
    font-size: 1.8rem;
    color: #555;
}

.events-summary-content .date-range__wrapper {
    /* margin: 15px 0 5px; */
    /* padding-bottom: 20px; */
    margin: 20px 0;
}

.events-summary-content .list-control-search__input.list-control-search__input--button {
    flex: none;
    position: relative;
    bottom: 0;
    margin: 2.5rem 0 1.5rem;
}

.events-summary-content .events-filter-form__dropdown-title {
    margin: 2rem auto 1rem;
    font-size: 1.8rem;
    color: #333;
}

.events-summary-content #search-filter__lmsc {
    margin-top: 1.6rem;
}

.events-summary-content .list-control-filter__content {
    margin-top: 25px;
}

.events-summary-content .list-control-filter__content .check-list {
    margin-bottom: 0;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .events-summary-content .list-control-filter {
        margin: 0;
        padding: 0 3.5rem 4rem;
    }
    .events-summary-content .list-control-search__input.list-control-search__input--button {
        margin: 0 0 0 15px;
    }
    .events-summary-content .list-control-filter__content {
        margin-top: 0;
    }
    .events-summary-content .events-filter-form__dropdown-title {
        margin: 1rem auto 2rem;
    }
    .events-filter-form__dropdown-title--date-range {
        display: inline-block;
    }
    .events-summary-content .date-range__wrapper {
        display: inline-block;
        margin: 1rem 0 3rem 1rem;
    }
}

.DateInput {
    width: 130px;
}