---
permalink: /fitness-and-training/articles-and-videos/articles/masters-swimming-training-plan-for-former-competitive-swimmers/index.html
title: Masters Swimming Training Plan for Former Competitive Swimmers | U.S. Masters Swimming
pageTitle: Masters Swimming Training Plan for Former Competitive Swimmers
heroImageSrc: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/house art/default article images/defaultarticleimage2.jpg?rev=89803ea447594e14a5ccab3effec236c&cx=0.5&cy=0.5&cw=1000&ch=500&hash=B3FF0DEF353B4D0F67FFE9A814D5B48D"
heroTitle: "Masters Swimming Training Plan for Former Competitive Swimmers"
articleDeck: "If you were a competitive swimmer as a kid and are looking to try Masters Swimming, keep reading"
articleDate: "June 24, 2026"
authorName: "Elaine K Howley"
authorImage: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/author bios/elaine-howley.jpg?h=100&w=100&rev=0363bb4ddc64447bbb0f6b8b0d467f31&hash=03B8813045E4CBC9837C93F02640265F"
categories: []
tags: []
breadcrumbs:
  - url: "/home"
    label: "Home"
  - url: "/fitness-and-training/articles-and-videos"
    label: "Articles and Videos"
breadcrumbTitle: "Masters Swimming Training Plan for Former Competitive Swimmers"
relatedArticles:
  - url: "/swimmer-magazine/jul-aug-2026/the-sound-of-swimming"
    title: "The Sound of Swimming"
    imageUrl: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/_dsc8415.jpg?cx=0.56&cy=0.48&cw=600&ch=270&hash=ED7BE730D7E1A6A98E851DD826F47AB2"
    authorName: "Joanne C. Gerstner"
    authorImage: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/usms logos/usms logo/usms logo with only swimmer icon.png?cx=0.5&cy=0.5&cw=72&ch=72&hash=1AA39EEC0EB6D009EAD481F01E538249"
  - url: "/swimmer-magazine/jul-aug-2026/6-ways-to-swim-fast-as-you-get-older"
    title: "6 Ways to Swim Fast as You Get Older"
    imageUrl: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/2025usmssummernats2160-edit.jpg?cx=0.57&cy=0.46&cw=600&ch=270&hash=C8B2247A06FDBA87BE9A6DAF9F2BF1E5"
    authorName: "Marty Munson"
    authorImage: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/author bios/marty munson.jpg?cx=0.5&cy=0.5&cw=72&ch=72&hash=3ED21E281FC92C72FE6AC43B543817B6"
  - url: "/swimmer-magazine/jul-aug-2026/how-to-do-a-great-backstroke-pull"
    title: "How to Do a Great Backstroke Pull"
    imageUrl: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm03865.jpg?cx=0.5&cy=0.5&cw=600&ch=270&hash=7263DF5DFDEDCB1E3082B0A8D57AFF75"
    authorName: "Andrew Sheaff"
    authorImage: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/usms logos/usms logo/usms logo with only swimmer icon.png?cx=0.5&cy=0.5&cw=72&ch=72&hash=1AA39EEC0EB6D009EAD481F01E538249"
  - url: "/swimmer-magazine/jul-aug-2026/free-diving-with-jacques-francis"
    title: "Free Diving With Jacques Francis"
    imageUrl: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/testimony_jacques_francis.jpg?cx=0.6&cy=0.39&cw=600&ch=270&hash=1D53A55053AE9A33E38156ACB176C61E"
    authorName: "Elaine K. Howley"
    authorImage: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/author bios/elaine-howley.jpg?cx=0.5&cy=0.5&cw=72&ch=72&hash=FDE3B06696BDD567FBD0F59CB04BCCB0"
---
{% extends "layouts/article.njk" %}

{% block pageCSS %}
<link href="https://www.usms.org/styles/usms.min.css" rel="stylesheet">
<link href="/css/Article/article-share.css" rel="stylesheet">
{% endblock %}

{% set authorBio %}
<p><span>Elaine K. Howley is an award-winning freelance writer and editor specializing in sports, health, and history topics. Her work has appeared in numerous print and online publications including </span><a rel="noopener noreferrer" href="http://aarp.org/" target="_blank">AARP.org</a><span>, </span><em>Atlas Obscura</em><span>, </span><em>espnW</em><span>, and </span><em>U.S. News &amp; World Report</em><span>. A lifelong swimmer who specializes in cold water marathon swimming, she has contributed to </span><em>SWIMMER</em><span> magazine since 2009 and </span><a href="http://usms.org/">USMS.org</a><span> since 2012. Contact her via her website: </span><a href="http://elainekhowley.com/">elainekhowley.com</a></p>
{% endset %}

{% block content %}
{% include "partials/Media/HeroImage.njk" %}

<div class="section section-full p-tb-10">
  <div class="usms-container p-t-10">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        {% include "partials/Article/ArticleAuthor.njk" %}
      </div>
      <div class="col-xs-12 col-md-3">
        {% include "partials/Article/ArticleShare.njk" %}
      </div>
    </div>
  </div>

  <div class="usms-container p-b-10">
    <div class="row is-flex">
      <div class="col-xs-12 col-md-9">
        <h2 class="text-primary page-title">{{ articleDeck }}</h2>

        <div class="row">
          <div class="col-xs-12">
            <div class="html-container include-in-nav">
              <p>Masters Swimming beckons to many former competitive swimmers and, if you're among them, you may be wondering how best to get back into competitive swimming.</p>
              <p>The good news is, even if decades have passed since your last race, you can and should get back into swimming when the time is right, as it provides a wide range of fitness and health benefits and is truly a lifelong sport.</p>
              <p>U.S. Masters Swimming offers a community for adult swimmers of all ages and ability levels. With organized workouts in hundreds of locations across the country, usually overseen by highly skilled and certified coaches, chances are good there's a thriving <a href="/clubs">club or workout group</a> near you that's eager to have you join their ranks.</p>
              <p>And if you've been thinking about getting back into the swim of things, there's no time like the present. Here are some best practices for how to restart your competitive swimming lifestyle and what to watch out for as you venture back into the deep end.</p>
              <h2>Lean into your muscle memory</h2>
              <p>First, it's important to realize that coming to Masters Swimming with any kind of former competitive swimming background is a great advantage for you and means getting back to it will likely be much easier than it is for someone who has no swimming background. Having the base fundamentals of the four strokes, understanding how to read a pace clock, being able to read a written workout, and knowing the lingo of competitive swimmers will immediately put you ahead of the game when getting into Masters Swimming.</p>
              <p>Even if you're out of shape and your former fitness level seems stuck in your bygone era, rest assured, muscle memory is a real thing and with some consistent effort and a slow, steady ramp up, you can get back into great swimming shape.</p>
              <h2>Respect your current fitness situation</h2>
              <p>It's true that your former glory days may be well behind you. Our bodies change with age, and even if you've been keeping fit with other activities or sports, for many folks, time erodes their ability to achieve their previous peak times.</p>
              <p>But there's more good news here: Masters Swimming divides competition into five-year age groups so you're competing directly against others who are the same age. This gives you a fighting chance to <a href="/Global/Links/Header/Events/Calendar of Events">win races</a> even if it's been a long time since you last competed.</p>
              <h2>Ramp up slowly to avoid injury</h2>
              <p>It's easy to fall into the trap of trying to jump right back into where you were once upon a time. The more time has passed, the more gentle you need to be in returning to a regular swimming routine. A smart training plan focuses on ramping up slowly, working out consistently, and giving your body time to adjust to the progressive increase in workload so you can adapt, get stronger, and improve stamina and fitness.</p>
              <p>Start by easing back into the water two or three times a week and be careful not to overdo it. A general rule of thumb is to increase the distance you swim by about 10% each week, as that allows your body to adapt to the increased stress without risking injury.</p>
              <p>And remember, progress isn't always linear. Some days you'll feel like your old self in the pool, other days you'll feel all those years you weren't swimming. This is completely normal and a sign that your body is adjusting. Roll with it and be patient with the process.</p>
              <h2>Focus on good technique</h2>
              <p>Your flexibility and range of motion may have also shifted over time, so it's a good idea to get a tune up with an experienced Masters coach when you start back into swimming to help you adjust your stroke for how your body works now. Not to mention that technique in all the strokes may have changed a lot since your swimming days.</p>
              <p>An astute technique coach can help you understand where your stroke can be optimized for the kind of swimming you want to do now and update any outdated techniques you're using.</p>
              <h2>Add strength training</h2>
              <p>If your schedule allows, incorporating dryland strength or resistance training can also help you ease back into the swim of things with less risk of injury. Balancing the work you're doing in the pool with appropriate strength training can help you build stamina and the muscles you need to swim strong for life.</p>
              <p>In particular, adopting a strength protocol to protect your shoulders is especially important for aging swimmers. Shoulder injuries are common, and a lack of flexibility and strength in some of the tiny muscles in the upper back and shoulder is often to blame.</p>
              <p>If you notice discomfort when you start training again, work with a physical therapist or experienced strength and conditioning coach who understands the unique demands swimming places on the shoulders, core, and upper body to develop a plan that can help keep your shoulders and back healthy in and out of the water.</p>
              <h2>Learn when it's time to rest</h2>
              <p>Recovery also matters more now than it did during your teenage years. Adequate sleep, hydration, and rest days are essential for adapting to training and regaining your swim fitness. Many former competitive swimmers soon learn that while they can still swim fast, they need more time to recover between workouts and races to achieve that top performance. That's to be expected. Lean into it and make resting your super recovery tool.</p>
              <h2>Celebrate discipline with the wisdom of time</h2>
              <p>For many former competitive swimmers, reestablishing that routine can feel like a rolling back of the clock and you may be tempted to give into the grind and push too hard, too fast. That's also normal, but one of the wonderful things you've done along your journey is develop interests and knowledge outside of the pool. Look to your other life experiences to help you find the balance that works for you to keep you swimming well for years to come.</p>
            </div>
          </div>
        </div>

        <hr>
        {% include "partials/Article/ArticleCategories.njk" %}
        {% include "partials/Article/ArticleTags.njk" %}
        {% include "partials/Article/ArticleAboutAuthor.njk" %}
      </div>
      <div class="col-xs-12 col-md-3 flex-row justify-content-center justify-content-md-end">
        {% include "partials/Advertising/AdSidebar.njk" %}
      </div>
    </div>
  </div>
</div>

<div>
  <div class="sign-up">
    <div class="usms-container">
      <div class="row">
        <form action="{{ permalink }}" method="post">
          <div class="col-xs-12">
            <div class="sign-up__container">
              <div class="sign-up__text">
                <p class="sign-up__headline text-uppercase">SIGN UP FOR UPDATES FROM USMS</p>
              </div>
              <div class="sign-up__form">
                <div class="input-group">
                  <input type="text" class="form-control" name="emailAddress" id="emailAddress">
                  <span class="input-group-btn">
                    <button class="btn btn-danger text-uppercase sign-up__button" id="sign-up__button">sign up</button>
                  </span>
                </div>
                <p class="sign-up__validation" style="display: none">Please enter a valid email address</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <p class="text-uppercase text-center sign-up__confirmation" style="display: none;">Thank you for signing up</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% include "partials/PageContent/RelatedContent.njk" %}
{% endblock %}
