/* Location lookup filter checkboxes *******************************************************/
.check-list--pool-length {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1200px) {
    .check-list--pool-length {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        flex-direction: row;
    }
}

/* Location lookup results list ***************************************************************/

.location-column .list-item > * {
    display: inline-flex;
}

.form__container .locations .list-item--location button.btn.btn-small {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}
.location-column .list-item {
    margin: 1.8rem 0 0;
    padding: 0;
    display: block;
    flex-direction: row;
}
.club-edit .list-item p.event-location__address--name {
    margin: 0 0.8rem 0.5rem 0;
    padding: 0 1.2rem 0 0rem;
    font-size: 2rem;
    line-height: 120%;
}
.club-edit .list-item p.event-location__address--street,
.club-edit .list-item p.event-location__city-state {
    padding: 0 1.2rem 0 0;
    margin: 0.5 0 0;
    font-size: 1.7rem;
    line-height: 100%;;
}
/* .club-edit .list-item p.event-location__address--street {
    display: flex;
} */
.club-edit .list-item .event-location--course-tags {
    display: inline-2flex;
    margin-top: 0.8rem;
} 
@media (min-width: 1200px) {
    .form__container .locations .list-item--location button.btn.btn-small {
        margin-bottom: 0;
        margin-top: 1rem;
        vertical-align: text-bottom;
    }
    .location-column .list-item {
        margin: 0.3rem 0 -0.5rem;
    }
    .club-edit .list-item p.event-location__address--name {
        margin: 0 0.8rem 0 1rem;
        border-right: 1px solid #CCC;
    }
    .club-edit .list-item p.event-location__address--street,
    .club-edit .list-item p.event-location__city-state {
        padding: 0 1.2rem 0 0;
        margin: 0.5rem 1rem 2.2rem 0;
        font-size: 1.7rem;
        line-height: 100%;;
    }
}






/* 
.event-location-details {
    display: none;
} */