---
permalink: /fitness-and-training/articles-and-videos/index.html
title: Articles and Videos | U.S. Masters Swimming
pageTitle: Articles and Videos
breadcrumbs:
  - url: "/home"
    label: "Home"
---
{% extends "layouts/article.njk" %}
{% block content %}
<section class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        {% include "partials/results-content.njk" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
