---
permalink: /home/index.html
swimmerId: "loggedOut"
devSwimmerIds:
  - loggedOut
  - standardCurrent
---
{% extends "layouts/home.njk" %}
{% set title = "Homepage | U.S. Masters Swimming" %}
{% block content %}
{% include "partials/Homepage/Personalize.njk" %}
{% include "partials/Advertising/Ad.njk" %}
{% include "partials/Homepage/latest.njk" %}
{% include "partials/Advertising/Ad.njk" %}
{% include "partials/Homepage/ImageSlider.njk" %}
{% endblock %}
