---
permalink: /home/index.html
---
{% extends "layouts/home.njk" %}
{% set title = "Homepage | U.S. Masters Swimming" %}
{% block content %}
{% include "partials/home-personalize.njk" %}
<div class="usms-container p-t-10">
  <h1>U.S. Masters Swimming</h1>
  <p>Homepage mockup</p>
</div>
{% endblock %}
