---
layout: layouts/home.njk
title: Homepage | U.S. Masters Swimming
permalink: /home/index.html
---
{% block content %}
<div class="usms-container p-t-10">
  <h1>U.S. Masters Swimming</h1>
  <p>Homepage mockup</p>
</div>
{% endblock %}
