---
layout: layouts/base.njk
title: USMS Mockup Index
permalink: /index.html
---
{% block content %}
<div class="usms-container p-t-10">
  <h1>USMS Mockup Index</h1>
  <ul>
    <li><a href="/home/">Homepage (Eleventy)</a></li>
    <li><a href="/public/">Legacy mockup index (Sergey)</a></li>
  </ul>
</div>
{% endblock %}
