---
permalink: /index.html
---
{% extends "layouts/base.njk" %}
{% set title = "USMS Mockup Index" %}
{% block content %}
<main>
<div class="section section-full">
  <div class="usms-container" style="margin: 4rem auto 6rem;">
    <div class="row">
      <div class="col-lg-4">
        {# <h5>2026</h5> #}
        <ul style="margin-top: 1rem; list-style-type: none; padding-left: 0;">
          <li style="padding: 3px 0; font-size: 15px;"><a href="/public/">Original Public Index</a></li>
          <li style="padding: 3px 0; font-size: 15px;"><a href="/home/">Mockup Site Homepage</a></li>
          <li style="padding: 3px 0; font-size: 15px;"><a href="/account/addons-ncc.html">Add-Ons NCC</a></li>
          <li style="padding: 3px 0; font-size: 15px;"><a href="/join-usms/join-or-renew-tms/">Join or Renew (TMS)</a></li>
          <li style="padding: 3px 0; font-size: 15px;"><a href="/event-results/swimmer/">Swimmer Results</a></li>
        </ul>

    </div>
  </div>
</div>
</main>
{% endblock %}
