---
permalink: /registration/index.html
title: Registration | U.S. Masters Swimming
swimmerId: "newMember"
devSwimmerIds:
  - newMember
  - standardExpired
  - standardCurrent
  - coachCurrent
membershipTierKeys:
  - usmsPlus
  - usmsPlusEventLicense
  - usmsStandardEventLicense
  - usmsStandard
---
{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/registration.min.css">
<link rel="stylesheet" href="/css/registration.css">
<link rel="stylesheet" href="/css/agree-terms.css">
{% endblock %}
{% block pageJS %}
<script src="/js/registration.js" defer></script>
{% endblock %}
{% block content %}
<div class="section section-full bg-gray">
	<div class="usms-container">
		<div class="row">
			<div class="col-xs-12">
				{% include "partials/Forms/FullRegistrationForm.njk" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
