---
permalink: /registration/index.html
title: Registration | U.S. Masters Swimming
---
{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/registration.min.css">
<link rel="stylesheet" href="https://www.usms.org/styles/rteMasters.min.css">
{% endblock %}
{% block content %}

<div class="section section-full bg-gray">
    <div class="usms-container">
        <div class="row">
            <div class="col-xs-12">
                {% include "partials/registration-form.njk" %}  
            </div>
        </div>
    </div>
</div>
{% endblock %}