---
permalink: /visual-regression-viewer.html
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visual Regression Screenshot Viewer</title>
  <link rel="stylesheet" href="/css/visual-regression-viewer.css">
</head>
<body>
  <div class="vrgv">
    <img id="vrgv-img" class="vrgv__img" alt="Visual regression screenshot">
  </div>
  <script src="/js/visual-regression-viewer.js"></script>
</body>
</html>
