---
permalink: /swimmer-magazine/may-jun-2026/how-to-do-butterfly-pull/index.html
title: How to Do Butterfly Pull | U.S. Masters Swimming
pageTitle: How to Do Butterfly Pull
pageHeaderImage: https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01860.jpg?rev=30049383334244ff8675b74a58b20c37&cx=0.5&cy=0.5&cw=900&ch=500&hash=854C2A2F074650E0D103DA0543A8DCA7
pageHeaderImageAlt: LDM01860
photoCredit: "Image: Mike Lewis/@Mike2Swim"
photoCreditClass: photo-credit--light-1
breadcrumbs:
  - url: "/home"
    label: "Home"
  - url: "/swimmer-magazine"
    label: "SWIMMER"
  - url: "/swimmer-magazine/may-jun-2026"
    label: "May-Jun 2026"
alsoInThisIssue:
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/lights-camera-chlorine"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/timothy-olyphant- 2024 usms summer nats 3070-edit.jpg?rev=14a620fc2a624a2796997b0fe7f2112d&cx=0.39&cy=0.45&cw=245&ch=170&hash=4C380D960FEDAFCCD832B176BB8FDD32"
    title: "Lights, Camera, Chlorine!"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/how-to-do-butterfly-pull"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01860.jpg?rev=30049383334244ff8675b74a58b20c37&cx=0.5&cy=0.5&cw=245&ch=170&hash=11DC5B99BC3315F133799283B1C430FC"
    title: "How to Do Butterfly Pull"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/infrared-or-in-fad-red-does-red-light-therapy-actually-work"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/bigstock--206570809.jpg?rev=23b6b49c7c054f4b9a3171d08b37aba5&cx=0.5&cy=0.5&cw=245&ch=170&hash=DAFB47C69A97224DF990C5402B962A3C"
    title: "Infrared or In-Fad-Red: Does Red Light Therapy Actually Work?"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/your-brain-on-water"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/bvi swimmer.jpg?rev=82cc91d150a8463799a7354fc19e63da&cx=0.5&cy=0.5&cw=245&ch=170&hash=955CC1554C75A1D37113AD04ED8B75C7"
    title: "Your Brain on Water"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/strong-shoulders-for-your-summer-of-swimming"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/26 mj digitalgraphicsdd_01.jpg?rev=04ae7fc8f70144f588a553f1689f1c92&cx=0.5&cy=0.5&cw=245&ch=170&hash=85C44AC88E85A4BA15EF50C23FC60C0AA"
    title: "Strong Shoulders for Your Summer of Swimming"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/feeling-off-your-game"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/usms 2021 spring nats 3348-edit.jpg?rev=2e0d2972d9af41dfaaed54e69c9189ad&cx=0.49&cy=0.45&cw=245&ch=170&hash=378EC092688DC579B802654B9B1163CE"
    title: "Feeling Off Your Game?"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/a-dream-come-true"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/c16e8cd8-f9b8-4570-8e24-2a00e54a1721.jpg?rev=9eb4cb67c02a46048584f7746b107c7f&cx=0.5&cy=0.5&cw=245&ch=170&hash=EA99785B4234DE8328F84C1B4BC3BF92"
    title: "A Dream Come True"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/a-bone-to-pick"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/bigstock-swimmers-ear-color-icon-vector-440357144.jpg?rev=1f37f55c9ecb4eafbab04a82c3684134&cx=0.5&cy=0.5&cw=245&ch=170&hash=852D088E6BEB84ACAABF32DDC9C07EA6"
    title: "A Bone to Pick"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/sore-shoulders-how-to-know-when-to-push-through-and-when-to-pull-back"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/bigstock-woman-with-shoulder-and-back-p-47262583.jpg?rev=1de3f71d24db4dc480e07c3a6864a189&cx=0.46&cy=0.25&cw=245&ch=170&hash=9B49BB191F8DF71CB6602D32E8773DF7"
    title: "Sore Shoulders: How to Know When to Push Through and When to Pull Back"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/ask-the-coach-jake-andersen"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/26 mj digitalgraphics_whiteboard.jpg?rev=565adcc449754b95983a59ce3d675f94&cx=0.5&cy=0.5&cw=245&ch=170&hash=ABA205B1BBF0A8B6F1B5957596493D80"
    title: "Ask the Coach: Jake Andersen"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/tart-cherry-and-banana-nut-energy-balls"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/tart cherry banana nut energy balls horizantal.jpg?rev=3e91bc103f1345a5bf57edf22ae8aa35&cx=0.5&cy=0.5&cw=245&ch=170&hash=7EDF6BE8ECC3C464A2A3F77203004E8F"
    title: "Tart Cherry and Banana Nut Energy Balls"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/from-the-center-lanes-jennifer-brooks-crozier"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/mzb04044.jpg?rev=834689723bbf4402ab365bf3b621719c&cx=0.47&cy=0.38&cw=245&ch=170&hash=6D8D4ECB1982C2CBCD45109359CE06A2"
    title: "From the Center Lanes: Jennifer Brooks Crozier"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/open-up"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm00839.jpg?rev=69ad2e8055504301a658e21b6b06901d&cx=0.45&cy=0.52&cw=245&ch=170&hash=79AC2E8A27B0C27D32104CB0E82B8F7F"
    title: "Open Up"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/call-of-the-wild"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/londons_surfing_in_hawaii.jpg?rev=5b9cffaed5494feabe057ce1e88afed3&cx=0.49&cy=0.35&cw=245&ch=170&hash=A46482592D5D00E92F829629B6087B7C"
    title: "Call of the Wild"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/saga-of-an-aging-masters-swimmer"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/faeceaba-bc3c-4de4-a24f-d695528f1fad.jpg?rev=c7a1e24e712d4c63baa4bcba90154cf7&cx=0.43&cy=0.63&cw=245&ch=170&hash=5AE5AE3C08AA14618387C4EE3DFBFAD6"
    title: "Saga of an Aging Masters Swimmer"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/saved-by-swimming"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ptw_still_michele_underwater_freestyle-topaz-enhance-4x.jpg?rev=a1863a35a03447af9010d3a649f10b73&cx=0.48&cy=0.46&cw=245&ch=170&hash=5F055EA7E298482E2F32265481C1F055"
    title: "Saved By Swimming"
  - href: "https://www.usms.org/swimmer-magazine/may-jun-2026/volunteer-profile-nicki-phillips"
    image: "https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/jpo oow 311 - 20260311124626.jpg?rev=88b1d826e93e4359a499c6941931375e&cx=0.5&cy=0.53&cw=245&ch=170&hash=8D350B4AE7B54BE799392C44D2C8CD9E"
    title: "Volunteer Profile: Nicki Phillips"
---
{% extends "layouts/swimmer.njk" %}
{% block pageCSS %}
{{ super() }}
<link rel="stylesheet" href="/css/Common/article-carousel.css">
{% endblock %}
{% block pageJS %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
{% block content %}
{% from "components/article-stepper.njk" import articleStepper %}
<section class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">

      <div class="col-xs-12 col-lg-3">
        <div class="article-nav article-nav--Scroll article-nav--DisplayH3">
          <h3 class="article-nav-title">In This Article</h3>
          <ul id="navList"></ul>
        </div>
      </div>

      <div class="col-xs-12 col-lg-6">
        <div class="article-issue">
          <div class="article-issue__title text"><em>SWIMMER</em>&nbsp;Magazine</div>
          <div class="article-issue__date">May-Jun 2026</div>
        </div>

        <header class="page-title">
          <h1>How to Do Butterfly Pull</h1>
          <h2>The butterfly pull is difficult because of the range of motion and power needed</h2>
        </header>

        <div class="article-attribution">
          <div class="author feature-author">
            <div class="author__container">
              <div class="author__detail">
                <p class="author__name">By <strong>Andrew Sheaff</strong></p>
              </div>
            </div>
          </div>
          <div class="article-attribution" style="padding-bottom:15px"></div>
        </div>

        <div class="html-container include-in-nav">
          <p>The butterfly pull is challenging because it demands a lot of strength, a large range of motion, great timing, and a lot of skill. You must quickly get into difficult positions and then apply a lot of force to create propulsion.</p>
          <p>Here's what you need to know to do a great butterfly pull.</p>
          <h2 id="TheKeySkillsforanEffectiveButterflyPull">The Key Skills for an Effective Butterfly Pull</h2>
          <p>An effective butterfly pull requires you to push backward forcefully against the water so you can get propelled forward. This requires you to position and move your arms properly and finish your stroke effectively. Doing so maximizes propulsion and allows for a smooth transition into your recovery. If you can do these key skills well, you'll create speed.</p>
          <h3 id="SetUptheStroke">Set Up the Stroke</h3>
          <p>A great butterfly starts with setting up your stroke, which requires you to get as much of your forearm facing backward as possible prior to pulling.</p>
        </div>

        <div class="article-carousel">
          <div id="articleCarousel-6c0dc206-33f7-491a-ab60-0b55374eaceb" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel-6c0dc206-33f7-491a-ab60-0b55374eaceb" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="slide-indicator active" type="button" data-bs-target="#articleCarousel-6c0dc206-33f7-491a-ab60-0b55374eaceb" data-bs-slide-to="0" aria-label="Slide 1"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-6c0dc206-33f7-491a-ab60-0b55374eaceb" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-6c0dc206-33f7-491a-ab60-0b55374eaceb" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-6c0dc206-33f7-491a-ab60-0b55374eaceb" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel-6c0dc206-33f7-491a-ab60-0b55374eaceb" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item slide-1 active">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm02217.jpg?h=1333&w=2000&rev=ef2bb246d72e451d8b375c8a3a38e6f4&hash=095E0FEB79D47A8DCDAA25A6FDF0D5E7" alt="LDM02217" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>Because of the lack of body rotation in butterfly, you&rsquo;re going to have to get your arms wider than you would in freestyle.</p>
                </div>
              </div>
              <div class="carousel-item slide-2">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01962.jpg?h=1333&w=2000&rev=a8eba21d45e94c5ea6e00f2dfec9bb4f&hash=FA3C405DBD133936488DB7866C430993" alt="LDM01962" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>If you enter relatively narrow, you may have to slide out wider. If you enter a little wider than shoulder-width apart, you should be good to go.&nbsp;</p>
                </div>
              </div>
              <div class="carousel-item slide-3">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01852.jpg?h=1333&w=2000&rev=22b3261b075f4d60b4675e941a74e807&hash=D256C41B759A0DC4E06BEA7E5A4A3B52" alt="LDM01852" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>From this position, bend your elbows, so that they travel up and out while you press down with your hands.</p>
                </div>
              </div>
              <div class="carousel-item slide-4">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm02219.jpg?h=1333&w=2000&rev=2495478e51284fd6afd939f86d852d4c&hash=5E32F1EBB32A1891108B923CC2A27B51" alt="LDM02219" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>This rotational movement ensures that your forearms are facing backward as much as your range of motion allows. Because of the rhythm of butterfly, this motion must happen relatively quickly to be effective.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="html-container include-in-nav">
          <h3 id="ApplyPressureBackward">Apply Pressure Backward</h3>
        </div>

        <div class="article-carousel">
          <div id="articleCarousel-a4b2b181-902f-4352-a697-67ba8d8cecdf" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel-a4b2b181-902f-4352-a697-67ba8d8cecdf" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="slide-indicator active" type="button" data-bs-target="#articleCarousel-a4b2b181-902f-4352-a697-67ba8d8cecdf" data-bs-slide-to="0" aria-label="Slide 1"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-a4b2b181-902f-4352-a697-67ba8d8cecdf" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-a4b2b181-902f-4352-a697-67ba8d8cecdf" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel-a4b2b181-902f-4352-a697-67ba8d8cecdf" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item slide-1 active">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01854.jpg?rev=3b2e2605dbc646eaa5247a14895a2166&hash=97AB34BBF50AF503D6CD0C371C3D32C2" alt="LDM01854" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>Once you&rsquo;re in position, accelerate your arms backward to accelerate yourself forward. The challenge is that using both arms at the same time without body rotation requires a lot of strength and skill.</p>
                </div>
              </div>
              <div class="carousel-item slide-2">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01860.jpg?h=1333&w=2000&rev=30049383334244ff8675b74a58b20c37&hash=B03DD29D9F30AC7AF581E5A4BF5113EB" alt="LDM01860" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>You have to accelerate hard while keeping your arms facing backward, all without letting your pulling position collapse.</p>
                </div>
              </div>
              <div class="carousel-item slide-3">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm02144.jpg?h=1334&w=2000&rev=180cd00e35df4bc688780447b1405b2e&hash=6BAB3AB69467D3EDF5B370A2905A90D5" alt="LDM02144" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>Although the focus is on pulling backward, you&rsquo;ll have an inward motion during your pull as your arms are brought into your body. The goal is to let this happen naturally rather than force it or prevent it from happening.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="html-container include-in-nav">
          <h3 id="TransitionintotheRecovery">Transition into the Recovery</h3>
        </div>

        <div class="article-carousel">
          <div id="articleCarousel-db39939f-7042-4d54-9528-515a3875de6f" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel-db39939f-7042-4d54-9528-515a3875de6f" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="slide-indicator active" type="button" data-bs-target="#articleCarousel-db39939f-7042-4d54-9528-515a3875de6f" data-bs-slide-to="0" aria-label="Slide 1"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-db39939f-7042-4d54-9528-515a3875de6f" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel-db39939f-7042-4d54-9528-515a3875de6f" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item slide-1 active">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01861.jpg?h=1333&w=2000&rev=b111404992354a2bab8175bbc02f32fc&hash=535E4BB617C7014CB5D05CB7A89332B7" alt="LDM01861" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>Keep pushing as long as you can keep your forearms facing backward.</p>
                </div>
              </div>
              <div class="carousel-item slide-2">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01862.jpg?h=1333&w=2000&rev=5965a05e08824619b6f67ea9bb3d76c1&hash=B4ADA713DE646A50A9B46F5101161567" alt="LDM01862" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>Once you can&rsquo;t, transition into your recovery. This allows you to maintain your momentum into your recovery, making your recovery easier, without sacrificing much propulsion. Make sure to accelerate your hands through your finish as much as possible.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="html-container include-in-nav">
          <h2 id="ImprovingYourPull">Improving Your Pull</h2>
          <p>Doing an effective butterfly requires you to do a great pull effectively. These drills make feeling and doing these skills easier. The more easily you can find and feel the positions, the more you can practice them and the more likely it is that you'll start to do them when you swim butterfly.</p>
          <h3 id="WallPull">Wall Pull</h3>
          <p>Wall pull is a simple drill that helps you feel the key skills of an effective pull. It allows you to understand how to use your forearms to create propulsion and how to apply pressure against the water while maintaining those positions. You can do this drill for five or 10 seconds before doing any of the other drills here or before swimming butterfly.</p>
        </div>

        <div class="article-carousel">
          <div id="articleCarousel-31a65056-01b3-489e-b5c5-34e6de12da4f" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel-31a65056-01b3-489e-b5c5-34e6de12da4f" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="slide-indicator active" type="button" data-bs-target="#articleCarousel-31a65056-01b3-489e-b5c5-34e6de12da4f" data-bs-slide-to="0" aria-label="Slide 1"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-31a65056-01b3-489e-b5c5-34e6de12da4f" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel-31a65056-01b3-489e-b5c5-34e6de12da4f" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item slide-1 active">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01773.jpg?h=1333&w=2000&rev=02274affa05e4f9198c2ddd69dabb9b4&hash=8EF714075AA2FCBD1398ECC6CA147882" alt="LDM01773" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>To do this drill, face the side of the pool in the water. Lay your arms on the deck so that your forearms are flat on the deck or in the gutter.</p>
                </div>
              </div>
              <div class="carousel-item slide-2">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01778.jpg?h=1333&w=2000&rev=c83f329674544f54b6e2afe593a81557&hash=7930379CF3F858999791417006B148BF" alt="LDM01778" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>From this position, press straight down onto the deck through your whole arm. You can raise or lower yourself in the water to better feel effective positions at different points in the pull.</p>
                  <p>This drill can help you emphasize the initial set-up of your stroke, the central part of your pull, or the final stages of your pull.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="html-container include-in-nav">
          <h3 id="PowerPullsWithBuoy">Power Pulls With Buoy</h3>
          <p>The goal of power pulls with buoy is simple: Learn how to hold as much water as possible.</p>
        </div>

        <div class="article-carousel">
          <div id="articleCarousel-01a770a6-4869-44b0-b26a-136b1fde737f" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel-01a770a6-4869-44b0-b26a-136b1fde737f" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="slide-indicator active" type="button" data-bs-target="#articleCarousel-01a770a6-4869-44b0-b26a-136b1fde737f" data-bs-slide-to="0" aria-label="Slide 1"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-01a770a6-4869-44b0-b26a-136b1fde737f" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-01a770a6-4869-44b0-b26a-136b1fde737f" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-01a770a6-4869-44b0-b26a-136b1fde737f" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel-01a770a6-4869-44b0-b26a-136b1fde737f" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item slide-1 active">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm02521.jpg?h=1333&w=2000&rev=7b98355b0a3e4716a4dce6417bbdca07&hash=FBDA5ECB60AD0B1605F4059C38CF7789" alt="LDM02521" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>To do this drill, start in the water on your stomach with your hands fully extended. From this position, set up your stroke, apply pressure to the water, and accelerate through your pull.</p>
                </div>
              </div>
              <div class="carousel-item slide-2">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm02489.jpg?h=1334&w=2000&rev=dda3826161584faab14480a728abe191&hash=AEF9CDC5AA08E05BE8D8BE8556E7FF00" alt="LDM02489" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>The goal is to move as far forward as possible with each pull.</p>
                </div>
              </div>
              <div class="carousel-item slide-3">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm02553.jpg?h=1334&w=2000&rev=af087618817147b88bbf32de54c94476&hash=6BD4B169CE64F6E707BC5D77DD793B95" alt="LDM02553" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>Take your time and work on perfecting each aspect of your pull. Doing this drill with a snorkel can be useful because it eliminates the need to lift your head to breathe.</p>
                </div>
              </div>
              <div class="carousel-item slide-4">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm02733.jpg?h=1334&w=2000&rev=ba20ecc300b3446491849db8d7aa36ef&hash=909B23C2CDC5F6CD323750269AD2396D" alt="LDM02733" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>Power pulls with buoy is particularly effective when combined with the upside down paddles drill, stroke count work, or parachutes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="html-container include-in-nav">
          <h3 id="PowerPullDowns">Power Pull-Downs</h3>
          <p>Power pull-downs integrate the timing of your butterfly kick into your pulling rhythm while maintaining the emphasis on power. This helps you learn how to hold water within the rhythm and timing of your stroke.</p>
        </div>

        <div class="article-carousel">
          <div id="articleCarousel-afe049a5-fe76-4f90-8830-b5bf7e1ffbe9" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel-afe049a5-fe76-4f90-8830-b5bf7e1ffbe9" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="slide-indicator active" type="button" data-bs-target="#articleCarousel-afe049a5-fe76-4f90-8830-b5bf7e1ffbe9" data-bs-slide-to="0" aria-label="Slide 1"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-afe049a5-fe76-4f90-8830-b5bf7e1ffbe9" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel-afe049a5-fe76-4f90-8830-b5bf7e1ffbe9" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item slide-1 active">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm02810.jpg?h=1333&w=2000&rev=65af8f9d533245d08eec8df8f1d9aa0b&hash=F3A24CBC82A49C3421EA8803B91FF45F" alt="LDM02810" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>To do this drill, push off the wall underwater in streamlined position. Do a butterfly kick and immediately do a butterfly pull and a second butterfly kick, just as you would when doing a pull on the surface.</p>
                </div>
              </div>
              <div class="carousel-item slide-2">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm02929.jpg?h=1334&w=2000&rev=39979399504f48288c5aa9d4f50a8e97&hash=F16A53B4F11F660FB9EBA4CE10F654C2" alt="LDM02929" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>After gliding for a short time, recover your arms forward. As soon as your arms reach full extension, do another butterfly kick followed by a pull and kick. The idea is to get as far as possible with each pull using the kick rhythm you&rsquo;ll use in butterfly.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="html-container include-in-nav">
          <h3 id="UpsideDownPaddlesAndPinchPaddles">Upside Down Paddles And Pinch Paddles</h3>
          <p>An effective butterfly pull requires you to use your whole arm to create propulsion. Upside down paddles drill is a simple way to encourage this skill, regardless of whether you're swimming butterfly or doing a drill.</p>
        </div>

        <div class="article-carousel">
          <div id="articleCarousel-d8f4c487-fa87-4486-ae3f-ecd698e22f1b" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel-d8f4c487-fa87-4486-ae3f-ecd698e22f1b" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="slide-indicator active" type="button" data-bs-target="#articleCarousel-d8f4c487-fa87-4486-ae3f-ecd698e22f1b" data-bs-slide-to="0" aria-label="Slide 1"></button>
              <button class="slide-indicator" type="button" data-bs-target="#articleCarousel-d8f4c487-fa87-4486-ae3f-ecd698e22f1b" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel-d8f4c487-fa87-4486-ae3f-ecd698e22f1b" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item slide-1 active">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm03081.jpg?h=1334&w=2000&rev=aaa720d5f4f94364863f724a3e12f2a4&hash=48714AD1C791E46C53EFAE209B2180C6" alt="LDM03081" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>By holding your paddles upside down, you&rsquo;re blocking your wrist from bending, which forces you to use your forearm and hand together.</p>
                </div>
              </div>
              <div class="carousel-item slide-2">
                <div class="carousel-image-container">
                  <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm03150.jpg?h=1333&w=2000&rev=8b0d52f24e7d4e55b440b434f60c8558&hash=D867CF60C42372B42ACE6ABB9C4F1D45" alt="LDM03150" />
                                <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
                </div>
                <div class="carousel-text-container">
                  <p>Another effective option is to pinch the side of your paddles. This will force you to keep your wrist very stiff when applying pressure to the water. Many swimmers struggle with this skill while doing butterfly, and this is a great teaching option. If you don&rsquo;t maintain stiff wrists, the paddle will move all over the place.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="html-container include-in-nav">
          <h3>Straight-Arm Freestyle With A Buoy And Snorkel</h3>
          <p>Many swimmers struggle with doing butterfly pull, so the preceding drills are not a great option for them. If you're looking for more upper-body work specific to butterfly, do straight-arm freestyle with a buoy and snorkel. By using a straight-arm recovery, you're matching the butterfly recovery. This also tends to flatten out your stroke, which also makes it more like butterfly.</p>
          <p>Although it's not a perfect match, this drill is a great way to do a lot of quality work that develops your arms' fitness in a way that can improve your butterfly skills. Mixing in this drill with the other drills and swimming regular butterfly can help you improve your skill and fitness at the same time.</p>
        </div>

        <div class="image-rendering image-left">
          <a>
            <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm03196.jpg?h=1305&w=2000&rev=e90aa23430e44318a8186eb9bf17c453&hash=1A4E365D7ED7A18ED9758370F0C78093" alt="LDM03196" width="2000" height="1305" />
          </a>
          <p class="image-credit">Image: Mike Lewis/@Mike2Swim</p>
        </div>

      </div>

      <div class="col-xs-12 col-lg-3"></div>

    </div>
  </div>

  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        {{ articleStepper(alsoInThisIssue) }}
      </div>
    </div>
  </div>

  <div class="usms-container p-t-10">
    <div class="row">
      <div class="col-xs-12 col-md-3"></div>
      <div class="col-xs-12 col-md-6">
        <div class="article-author bg-ltblue">
          <div class="article-author__header">
            <div class="article-author__image-container bg-gray">
              <img class="article-author__image" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/usms logos/usms logo/usms logo with only swimmer icon.png?h=1000&w=1000&rev=2233754a0f1e40da89abc074431ff3e2&hash=9CCB3CD1BEE5ED917C6CAD74FBEB7ED6" alt="Article image" />
            </div>
            <h3 class="text-capitalize article-author__title"><small>About the Author</small><br />Andrew Sheaff</h3>
          </div>
          <div class="article-author__content">
            <div class="html-container">
              <p>Andrew Sheaff has over 20 years of coaching experience, working with swimmers of all ages and experience. You can learn more about Andrew and his approach to coaching at <a href="http://www.coachandrewsheaff.com">www.coachandrewsheaff.com</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3"></div>
    </div>
  </div>

</section>
{% endblock %}
