---
permalink: /swimmer-magazine/may-jun-2026/index.html
title: May-Jun 2026 | U.S. Masters Swimming
pageTitle: May-Jun 2026
breadcrumbs:
  - url: "/home"
    label: "Home"
  - url: "/swimmer-magazine"
    label: "SWIMMER"
---
{% extends "layouts/swimmer-library.njk" %}
{% block pageCSS %}
{{ super() }}
<link rel="stylesheet" href="/css/Common/toc.css">
{% endblock %}
{% block content %}
<div class="section section-full">
  <div class="usms-container">
    <div class="row">
      <div class="col-xs-12">

        <div class="image-rendering image-left swimmer-magazine__header-image">
          <a href="/swimmer-magazine/">
            <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/jbw%20magazine/swimmermastko.svg?rev=6457b089043041cd82475f86d24f6a85&hash=0D060E4375694A995AF78FCF7E02833E" alt="SWIMMER Magazine">
          </a>
        </div>

        <div class="magazine-page">

          <div class="issue-selector">
            <h5 class="current-issue">May-Jun 2026</h5>
          </div>

          {# Primary feature #}
          <div class="usms-container swimmer--features-primary">
            <div class="row">
              <div class="col-xs-12">
                <article>
                  <div class="article-header">
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/lights-camera-chlorine">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/timothy-olyphant- 2024 usms summer nats 3070-edit.jpg?rev=14a620fc2a624a2796997b0fe7f2112d&cx=0.39&cy=0.45&cw=1024&ch=767&hash=7A210F58517982C044D10EAB62D6D17F'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/lights-camera-chlorine">
                      <h2 class="article-title">Lights, Camera, Chlorine!</h2>
                      <p class="article-summary">Timothy Olyphant, a successful actor whose career has included roles in "The Office," "Curb Your Enthusiasm," "The Mandalorian," says his return to swimming was something he didn't see coming. He had switched off the swimmer part of his life after college. But the former competitive swimmer in him, once dormant, came back quickly.</p>
                      <div class="author">
                        <div class="author__container">
                          <div class="author__detail">
                            <h4 class="author__name">By <strong>Joanne C. Gerstner</strong></h4>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </article>
              </div>
            </div>
          </div>

          {# Secondary features #}
          <div class="usms-container swimmer--features-secondary">
            <div class="row">

              <div class="col-xs-12 col-md-4">
                <article>
                  <div class="article-header">
                    <a class="article-image__container" href="/swimmer-magazine/may-jun-2026/how-to-do-butterfly-pull/">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm01860.jpg?rev=30049383334244ff8675b74a58b20c37&cx=0.5&cy=0.5&cw=1024&ch=767&hash=ABF576FB51D29CD8138F993D47D2C77B'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="/swimmer-magazine/may-jun-2026/how-to-do-butterfly-pull/">
                      <h2 class="article-title">How to Do Butterfly Pull</h2>
                      <p class="article-summary">The butterfly pull is challenging because it demands a lot of strength, a large range of motion, great timing, and a lot of skill. You must quickly get into difficult positions and then apply a lot of force to create propulsion. Here's what you need to know to do a great butterfly pull.</p>
                      <div class="author">
                        <div class="author__container">
                          <div class="author__detail">
                            <h4 class="author__name">By <strong>Andrew Sheaff</strong></h4>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </article>
              </div>

              <div class="col-xs-12 col-md-4">
                <article>
                  <div class="article-header">
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/infrared-or-in-fad-red-does-red-light-therapy-actually-work">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/bigstock--206570809.jpg?rev=23b6b49c7c054f4b9a3171d08b37aba5&cx=0.5&cy=0.5&cw=1024&ch=767&hash=2C730D000EC48042F63D8E3B3FAA9F3B'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/infrared-or-in-fad-red-does-red-light-therapy-actually-work">
                      <h2 class="article-title">Infrared or In-Fad-Red: Does Red Light Therapy Actually Work?</h2>
                      <p class="article-summary">Claims about the benefits of red light therapy are varied, running the gamut from hair growth and skin rejuvenation to reducing muscle soreness to improvements in mental health. As a result, some athletes have started using red light therapy to help with recovery. Here's what swimmers need to know.</p>
                      <div class="author">
                        <div class="author__container">
                          <div class="author__detail">
                            <h4 class="author__name">By <strong>David McGlynn</strong></h4>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </article>
              </div>

              <div class="col-xs-12 col-md-4">
                <article>
                  <div class="article-header">
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/your-brain-on-water">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/bvi swimmer.jpg?rev=82cc91d150a8463799a7354fc19e63da&cx=0.5&cy=0.5&cw=1024&ch=767&hash=B9A4C3AC6F85F789CBB2802B1B504B81'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/your-brain-on-water">
                      <h2 class="article-title">Your Brain on Water</h2>
                      <p class="article-summary">Researchers, psychologists, neuroscientists, and conservationists are spreading the word that we really are better in, on, or by the water. Their work aims to describe the exact mechanisms of that connection and provide the scientific evidence that will persuade everyone that our oceans, rivers, lakes, seas, ponds, and other waterways are worthy of preservation.</p>
                      <div class="author">
                        <div class="author__container">
                          <div class="author__detail">
                            <h4 class="author__name">By <strong>Elaine K. Howley</strong></h4>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </article>
              </div>

            </div>
          </div>

          {# Departments #}
          <div class="usms-container swimmer--departments">

            <div class="row row-4">
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Dryland Difference</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/strong-shoulders-for-your-summer-of-swimming">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/26 mj digitalgraphicsdd_01.jpg?rev=04ae7fc8f70144f588a553f1689f1c92&cx=0.5&cy=0.5&cw=1024&ch=767&hash=3A0CBE53A3EDA0646B63173DC25596E2'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/strong-shoulders-for-your-summer-of-swimming">
                      <h2 class="article-title">Strong Shoulders for Your Summer of Swimming</h2>
                    </a>
                  </div>
                </article>
              </div>
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Psych Sheet</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/feeling-off-your-game">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/usms 2021 spring nats 3348-edit.jpg?rev=2e0d2972d9af41dfaaed54e69c9189ad&cx=0.49&cy=0.45&cw=1024&ch=767&hash=3585494591290BBC64E10D7111E1BA8F'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/feeling-off-your-game">
                      <h2 class="article-title">Feeling Off Your Game?</h2>
                    </a>
                  </div>
                </article>
              </div>
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Editor's Note</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/a-dream-come-true">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/c16e8cd8-f9b8-4570-8e24-2a00e54a1721.jpg?rev=9eb4cb67c02a46048584f7746b107c7f&cx=0.5&cy=0.5&cw=1024&ch=767&hash=E10C8ADC652262DFCECFC00DBE235FC1'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/a-dream-come-true">
                      <h2 class="article-title">A Dream Come True</h2>
                    </a>
                  </div>
                </article>
              </div>
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Check-Up</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/a-bone-to-pick">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/bigstock-swimmers-ear-color-icon-vector-440357144.jpg?rev=1f37f55c9ecb4eafbab04a82c3684134&cx=0.5&cy=0.5&cw=1024&ch=767&hash=12D2125009D4E14006DDF9E7781EFC9E'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/a-bone-to-pick">
                      <h2 class="article-title">A Bone to Pick</h2>
                    </a>
                  </div>
                </article>
              </div>
            </div>

            <div class="row row-4">
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Poolside PT</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/sore-shoulders-how-to-know-when-to-push-through-and-when-to-pull-back">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/bigstock-woman-with-shoulder-and-back-p-47262583.jpg?rev=1de3f71d24db4dc480e07c3a6864a189&cx=0.46&cy=0.25&cw=1024&ch=767&hash=5415A10651EE1FEA6C3D0C2710969719'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/sore-shoulders-how-to-know-when-to-push-through-and-when-to-pull-back">
                      <h2 class="article-title">Sore Shoulders: How to Know When to Push Through and When to Pull Back</h2>
                    </a>
                  </div>
                </article>
              </div>
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Ask the Coach</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/ask-the-coach-jake-andersen">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/26 mj digitalgraphics_whiteboard.jpg?rev=565adcc449754b95983a59ce3d675f94&cx=0.5&cy=0.5&cw=1024&ch=767&hash=B703D59C03C0DCD417CCEC198043A4B3'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/ask-the-coach-jake-andersen">
                      <h2 class="article-title">Ask the Coach: Jake Andersen</h2>
                    </a>
                  </div>
                </article>
              </div>
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Mastering Nutrition</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/tart-cherry-and-banana-nut-energy-balls">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/tart cherry banana nut energy balls horizantal.jpg?rev=3e91bc103f1345a5bf57edf22ae8aa35&cx=0.5&cy=0.5&cw=1024&ch=767&hash=E258B233109F619C0A187F923A03FA74'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/tart-cherry-and-banana-nut-energy-balls">
                      <h2 class="article-title">Tart Cherry and Banana Nut Energy Balls</h2>
                    </a>
                  </div>
                </article>
              </div>
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">From the Center Lanes</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/from-the-center-lanes-jennifer-brooks-crozier">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/mzb04044.jpg?rev=834689723bbf4402ab365bf3b621719c&cx=0.47&cy=0.38&cw=1024&ch=767&hash=5E3693E7FA297A46B0DFEA09CD120937'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/from-the-center-lanes-jennifer-brooks-crozier">
                      <h2 class="article-title">From the Center Lanes: Jennifer Brooks Crozier</h2>
                    </a>
                  </div>
                </article>
              </div>
            </div>

            <div class="row row-4">
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Out in the Open</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/open-up">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ldm00839.jpg?rev=69ad2e8055504301a658e21b6b06901d&cx=0.45&cy=0.52&cw=1024&ch=767&hash=A81EAC93A8AFEF5AA3E76876AC90E6C3'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/open-up">
                      <h2 class="article-title">Open Up</h2>
                    </a>
                  </div>
                </article>
              </div>
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Splashback</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/call-of-the-wild">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/londons_surfing_in_hawaii.jpg?rev=5b9cffaed5494feabe057ce1e88afed3&cx=0.49&cy=0.35&cw=1024&ch=767&hash=DD836F45CC0F11D8EC306F73B6EF73E0'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/call-of-the-wild">
                      <h2 class="article-title">Call of the Wild</h2>
                    </a>
                  </div>
                </article>
              </div>
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Hot Tub</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/saga-of-an-aging-masters-swimmer">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/faeceaba-bc3c-4de4-a24f-d695528f1fad.jpg?rev=c7a1e24e712d4c63baa4bcba90154cf7&cx=0.43&cy=0.63&cw=1024&ch=767&hash=A5E1C2BA08983241842E824E8DEAD000'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/saga-of-an-aging-masters-swimmer">
                      <h2 class="article-title">Saga of an Aging Masters Swimmer</h2>
                    </a>
                  </div>
                </article>
              </div>
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Swimming Life</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/saved-by-swimming">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/ptw_still_michele_underwater_freestyle-topaz-enhance-4x.jpg?rev=a1863a35a03447af9010d3a649f10b73&cx=0.48&cy=0.46&cw=1024&ch=767&hash=C100BABB8467A4B85B0B3E93A653EE6C'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/saved-by-swimming">
                      <h2 class="article-title">Saved By Swimming</h2>
                    </a>
                  </div>
                </article>
              </div>
            </div>

            <div class="row row-4">
              <div class="col-sm-3">
                <article>
                  <div class="article-header">
                    <h2 class="article-group">Inside USMS</h2>
                    <a class="article-image__container" href="https://www.usms.org/swimmer-magazine/may-jun-2026/volunteer-profile-nicki-phillips">
                      <div class="article-image" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/sanctions/events/jpo oow 311 - 20260311124626.jpg?rev=88b1d826e93e4359a499c6941931375e&cx=0.5&cy=0.53&cw=1024&ch=767&hash=5DBB9B9747227999D913B98D98980B11'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
                    </a>
                  </div>
                  <div class="article-body">
                    <a href="https://www.usms.org/swimmer-magazine/may-jun-2026/volunteer-profile-nicki-phillips">
                      <h2 class="article-title">Volunteer Profile: Nicki Phillips</h2>
                    </a>
                  </div>
                </article>
              </div>
            </div>

          </div>{# end swimmer--departments #}
        </div>{# end magazine-page #}
      </div>
    </div>
  </div>
</div>
{% endblock %}
