<div class="row clubs-content-new">
  <div class="col-xs-12">
    {% include "partials/Club/ClubFinderFilter.njk" %}
  </div>
  <div class="col-xs-12 col-sm-4">
    {% include "partials/Club/ClubList.njk" %}
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="club-map-new-container">
      <div class="club-map-new"></div>
    </div>
  </div>
</div>
