{% set markerOrange = clubs.data.markerUrlGold %}
{% set markerBlue   = clubs.data.markerUrlBlue %}

<ul class="club-list-new list--nostyle">
  {% for club in clubs.data.clubs | limit(25) %}
  <li class="club-list-item-new">
    <input type="hidden" value="{{ club.id }}">
    <a href="{{ club.url }}" class="club-list-item-new__title-link">
      <h4 class="club-list-item-new__title">{{ club.title }}{% if club.abbreviation %} ({{ club.abbreviation }}){% endif %}</h4>
    </a>
    <div class="club-list-item-new__locations">
      {% for location in club.location %}
      <button type="button" class="club-list-item-new__locations-item">
        <div class="row">
          <div class="col-2">
            <div class="club-list-item-new__marker-container">
              <div class="club-list-item-new__marker">
                <img src="{{ markerOrange if club.isGold else markerBlue }}" alt="Map pin">
              </div>
              {% if location.distance %}
              <p class="club-list-item-new__distance text-center">{{ location.distance | int }} mi.</p>
              {% endif %}
            </div>
          </div>
          <div class="col-10">
            <h5 class="club-list-item-new__locations-item--name">{{ location.name }}</h5>
            <p>{{ location.address1 }}</p>
            {% if location.address2 %}<p>{{ location.address2 }}</p>{% endif %}
            <p>{{ location.city }}, {{ location.state }} {{ location.zip }}</p>
          </div>
        </div>
      </button>
      {% endfor %}
    </div>
    <div class="club-list-item-new__badges-container">
      {% for badge in club.badges | limit(3) %}
      <div class="club-list-item-new__badge-item">
        <img class="club-list-item-new__badge" src="{{ badge.src }}" alt="{{ badge.alt }}">
        <p class="text-center">{{ badge.label }}</p>
      </div>
      {% endfor %}
    </div>
    <a href="{{ club.url }}" class="club-list-item-new__details-link">
      <button type="button" class="club-list-item-new__action">{{ clubs.data.labels.clubDetailsButton }}</button>
    </a>
  </li>
  {% endfor %}
</ul>

<script type="text/html" id="no-clubs-tpl">
  <li class="club-list-item-new">
    <div class="club-list-item-new__html">{{ clubs.data.labels.noClubsText | safe }}</div>
    <br>
    <div class="input-group">
      <div>
        <span class="help-block help-block--no-club__first-name"></span>
        <input type="text" class="form-control" placeholder="First Name" name="no-club__first-name" autocomplete="on" maxlength="100" value="">
        <span class="glyphicon form-control-feedback glyphicon--no-club__first-name" aria-hidden="true"></span>
      </div>
    </div>
    <div class="input-group">
      <div>
        <span class="help-block help-block--no-club__last-name"></span>
        <input type="text" class="form-control" placeholder="Last Name" name="no-club__last-name" autocomplete="on" maxlength="100" value="">
        <span class="glyphicon form-control-feedback glyphicon--no-club__last-name" aria-hidden="true"></span>
      </div>
    </div>
    <div class="input-group">
      <div>
        <span class="help-block help-block--no-club__email"></span>
        <input type="email" class="form-control" placeholder="Email Address" name="no-club__email" autocomplete="on" maxlength="100" value="">
        <span class="glyphicon form-control-feedback glyphicon--no-club__email" aria-hidden="true"></span>
      </div>
    </div>
    <div class="input-group">
      <div>
        <span class="help-block help-block--no-club__zip"></span>
        <input class="form-control" type="text" name="no-club__zip" placeholder="Zip Code">
        <span class="glyphicon form-control-feedback glyphicon--no-club__zip" aria-hidden="true"></span>
      </div>
    </div>
    <div class="input-group">
      <button type="button" class="btn btn-primary btn-lg" id="noClubSubmit">SEND</button>
    </div>
  </li>
</script>
