<div class="section section-full  p-tb-10  ">
	<div class="usms-container  p-tb-10">
		<div class="row  ">
			<div class="col-xs-12  ">
				<header class="page-title" style="position: relative;">
					<h1>
						{{ pageTitle }}
					</h1>
				</header>
			</div>
		</div>
	</div>
	<div class="usms-container  p-tb-10">
		<div class="row  ">
			<div class="col-xs-12  ">
				<div id="">
					<div class="renew__form-body masters-addons" data-membership-level="{{ currentUser.membershipTier if currentUser else '' }}" data-vsa-price="{{ membershipTiers[currentUser.membershipTier].vsaPrice if currentUser else '' }}" data-swimmer-name="{{ swimmer.firstName + ' ' + swimmer.lastName if swimmer else '' }}">
						<input type="hidden" name="videoStrokeAnalysisProductId" value=""><input type="hidden" name="usmsPlusProductId" data-product-name="" value=""><input type="hidden" name="designatedCoachProductId" data-product-name="" value=""><input type="hidden" name="magazineProductId" data-product-name="" value=""><input type="hidden" name="swimmerId" id="swimmerId" value="{{ currentUser.swimmerId if currentUser else '' }}">
						<div class="modal" id="modalSexNotMatch" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5>We Will Contact You</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p>A USMS representative will contact you within a week to discuss participation and eligibility procedures. Please go ahead and finish your registration.</p>
									</div>
									<div class="modal-footer"><button type="button" class="btn btn-lg btn-primary" id="confirmSexNotMatch" data-bs-dismiss="modal">Okay</button></div>
								</div>
							</div>
						</div>

						<div class="modal-container" style="transition:all 250ms ease-in-out;transform:translateY(-10px);opacity:0;z-index:-1;">
							<div class="modal" id="">
								<div class="modal-close"><button type="button"><i class="fa-solid fa-times"></i></button></div>
								<div class="row ">
									<div class="col-xs-12">
										<p class="text-danger text-center" style="display:flex;flex-direction:column;"></p>
									</div>
								</div>
							</div>
						</div>

						<div>
							{% include "partials/Masters/AddOnProductOptions.njk" %}
						</div>

						{% if showDonations %}
						{% include "partials/Forms/Donations.njk" %}
						{% endif %}

						{% include "partials/Masters/ReviewOrder.njk" %}

						{% include "partials/Masters/AddOnsPayment.njk" %}

					</div>
				</div>
			</div>
		</div>
	</div>
	{% if showDonations %}
	<div class="usms-container  p-tb-10">
		<div class="row  ">
			<div class="col-xs-12  ">
				<div class="html-container  ">
					The USA Swimming Foundation is registered as a 501(c)(3) nonprofit organization. Contributions to the USA Swimming Foundation are tax deductible to the fullest extent of the law. USA Swimming Foundation's tax identification number is 72-1581977. You can find out more about us on guidestar.org under USA Swimming Foundation. A COPY OF THE OFFICIAL REGISTRATION AND FINANCIAL INFORMATION MAY BE OBTAINED FROM THE DIVISION OF CONSUMER SERVICES BY CALLING TOLL-FREE WITHIN THE STATE. 1- 800-HELP-FLA (435-7352) OR www.FloridaConsumerHelp.com. REGISTRATION DOES NOT IMPLY ENDORSEMENT, APPROVAL, OR RECOMMENDATION BY THE STATE." FLORIDA REGISTRATION CH22685
					<div style="display: none;">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
