.form__notes p,
.form__notes ul li {
    font-size: 1.5rem;
    font-weight: normal;
}

.form__notes ul li a {
    text-decoration: underline;
}




.modal.in .modal-dialog {
    top: 25%;
    min-height: 360px;
}
.modal-content {
    min-height: 300px;
}



.member-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 1rem 1rem 2rem;
}

.member-name.member-renewed {
    color: green;
}

.member-list {
    padding-left: 18px;
}

.member-list input[type=checkbox] {
    margin-left: -18px;
}