.form__notes p,
.form__notes ul li {
    font-size: 1.5rem;
    font-weight: normal;
}

.form__notes ul li a {
    text-decoration: underline;
}




.modal.in .modal-dialog {
    top: 25%;
    min-height: 360px;
}
.modal-content {
    min-height: 300px;
}



.member-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 1rem 1rem 2rem;
}

li.member-name.member-renewed {
    /* color: rgb(114, 157, 114); */
    /* color: #0068ad; */
    /* color: rgb(62, 177, 62); */
    color: #ccc;
    /* font-weight: bold; */
}

.member-list {
    padding-left: 18px;
    max-height: 400px;
    overflow-y: scroll;
    position: relative;
}
p.select-all {
    position: relative;
    top: 0;
    font-size: 1.35rem;
    font-weight: 500;;
}

.select-all input[type=checkbox] {
    /* margin-left: -18px; */
    position: relative;
    top: 1px;
}
.member-list input[type=checkbox] {
    margin-left: -18px;
    position: relative;
    top: 1px;
}


.member-name .first,
.member-name .last,
.member-name .swimmer-id {
    display: inline-flex;
    font-size: 1.5rem;
    vertical-align: auto;
}


input:disabled[type=checkbox] + .last,
input:disabled[type=checkbox] + .last + .first,
input:disabled[type=checkbox] + .last + .first + .swimmer-id {
    color: green;
}


.form__container h6 {
    /* display: inline; */
    /* float: left; */
}
.checkbox-list__header {
    display: block;
    /* float: left; */
    /* padding-bottom: 2rem; */
    margin-bottom: 1rem;
    /* border-bottom: 1px solid #CCC; */
}
.checkbox-list__header input[type=checkbox] {
    padding-bottom: 1rem;
    border-bottom: 1px solid #CCC;
}

#selectAllCurrent + span {
    font-weight: bold;
    font-size: 1.3rem;
}