/* Club Detail page — local overrides */
/* Only add rules here for confirmed gaps not covered by clubDetail.min.css */

.club-location__facility {
    margin-bottom: 0.5rem;
}

.club-location__facility--name {
    margin-right: 0.5rem;
}

.club-location__facility--environment:before {
    content: "- ";
}

.club-location__facility--environment {
    margin-right: 0.75rem;
}

.club-location__facility--length {
    background-color: #aaa;
    border-radius: 3px;
    bottom: 1px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 0 .1rem;
    padding: 0 .3rem;
    position: relative;
}
