.usms-container.message__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  margin: 0 auto 6rem;
  padding: 6rem 3rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
  max-width: 1200px;
  min-height: 500px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.club-manage-options {
  margin: 1rem auto 2rem;
  text-align: center;
}

.club-manage-options h3.add-club-choice__title {
  margin: 0 auto 1rem;
  text-align: center;
}

.club-manage-options p {
  font-size: 1.6rem;
  text-align: center;
}

.club-manage-options .col-lg-4 {
  padding: 2rem 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

.club-manage-options .col-lg-4:last-of-type {
  border: 0 none;
}

.club-manage-options .col-lg-4 .btn {
  margin-top: 3rem;
}

@media (min-width: 992px) {
  .usms-container.message__container {
    padding: 6rem 3rem;
  }

  .club-manage-options h3.add-club-choice__title {
    margin: 0 auto 5rem;
  }

  .club-manage-options .col-lg-4 {
    padding: 0 2rem;
    border-bottom: 0 none;
    border-right: 1px solid #ccc;
  }

  .club-manage-options .col-lg-4:last-of-type {
    border: 0 none;
  }

  .club-manage-options .col-lg-4 .btn {
    margin-top: 1rem;
  }
}
