.cta-col--club-programs .cta-col__image img {
  width: 96px;
}

.clubs-content-new .toggle-filters:before {
  background-image: url('/img/icon-toggle-down.png');
}
.clubs-content-new .show-filters .toggle-filters:before {
  background-image: url('/img/icon-toggle-up.png');
}

.club-list-new {
  margin: 20px 0 0;
  padding-left: 0;
  max-height: 600px;
  overflow-y: scroll;
}