---
permalink: /lmsc/florida-lmsc.html
title: Florida LMSC | U.S. Masters Swimming
pageTitle: Florida LMSC
breadcrumbs:
  - url: "/home"
    label: "Home"
  - url: "/lmsc"
    label: "LMSC"
breadcrumbTitle: "Florida LMSC"
---
{% extends "layouts/base.njk" %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/LMSC/lmsc-bf.css">
<link rel="stylesheet" href="/css/LMSC/lmsc.css">
<link rel="stylesheet" href="/css/Common/sc-form.css">
<link rel="stylesheet" href="/css/Common/recaptcha-enterprise-fpo.css">
{% endblock %}

{% block pageJS %}
<script src="/js/LMSC/lmsc.js" defer></script>
<script src="/js/sc-form.js" defer></script>
{% endblock %}

{% block breadcrumb %}
{% include "partials/Common/Breadcrumb.njk" %}
{% endblock %}

{% block pageHeader %}
{% include "partials/Common/PageHeader.njk" %}
{% endblock %}

{% block content %}

{# Stats comparison #}
<div class="section section-full lmsc__stats-compare">
  <div class="usms-container lmsc__stats-compare__inner">
    <div class="lmsc__stats-compare__panel lmsc__stats-compare__panel--current">
      <div class="lmsc__stats-compare__header">
        <span class="lmsc__stats-compare__title">Current Season</span>
        <span class="lmsc__stats-compare__season">2025&ndash;26</span>
      </div>
      <div class="lmsc__stats-compare__stats">
        <div class="lmsc__stats-compare__stat">
          <span class="lmsc__stats-compare__number">1,983</span>
          <span class="lmsc__stats-compare__label">Members</span>
          <span class="lmsc__stats-compare__delta lmsc__stats-compare__delta--down">&#9660; 19.6%</span>
        </div>
        <div class="lmsc__stats-compare__stat">
          <span class="lmsc__stats-compare__number">62</span>
          <span class="lmsc__stats-compare__label">Clubs</span>
          <span class="lmsc__stats-compare__delta lmsc__stats-compare__delta--up">&#9650; 6.9%</span>
        </div>
      </div>
    </div>
    <div class="lmsc__stats-compare__panel lmsc__stats-compare__panel--prior">
      <div class="lmsc__stats-compare__header">
        <span class="lmsc__stats-compare__title">Prior Season</span>
        <span class="lmsc__stats-compare__season">2024&ndash;25</span>
      </div>
      <div class="lmsc__stats-compare__stats">
        <div class="lmsc__stats-compare__stat">
          <span class="lmsc__stats-compare__number">2,466</span>
          <span class="lmsc__stats-compare__label">Members</span>
        </div>
        <div class="lmsc__stats-compare__stat">
          <span class="lmsc__stats-compare__number">58</span>
          <span class="lmsc__stats-compare__label">Clubs</span>
        </div>
      </div>
    </div>
  </div>
</div>

{# Main content #}
<div class="section section-full p-t-30 lmsc__main-section">
  <div class="usms-container p-tb-10">
    <div class="row">

      {# Main column #}
      <div class="col-xs-12 col-md-8">

        <div class="club__description">
          <p>
            The state of Florida except the counties of Palm Beach, Broward, Dade, Monroe, and that part of Hendry County
            east of Route 833; and also excluding the counties of Escambia, Santa Rosa, Okaloosa, Walton, Holmes,
            Washington, Bay, and that part of Calhoun and Jackson Counties west of the Apalachicola River.
          </p>
        </div>

        <div class="lmsc__resources">
          <h3 class="">Resources</h3>
          <ul class="lmsc__resources--list">
            <li><a href="/lmsc/lmscofficers.php?LMSCID=14">
              <span class="lmsc__resources--list__icon-wrap"><img class="lmsc__resources--list__icon--officers" src="https://www.usms.org/fitness-and-training/guides/-/media/usms/non-lightroom%20images/house%20art/Join%20Icons/icon-clubs" width="40" height="40" alt=""></span>
              LMSC Officers
            </a></li>
            <li><a href="https://www.usms.org/clubs">
              <span class="lmsc__resources--list__icon-wrap"><img class="lmsc__resources--list__icon--places" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-places.svg" width="65" height="65" alt=""></span>
              Places to Swim
            </a></li>
            <li><a href="/comp/tt/toptenlmscsummary.php?LMSCID=14">
              <span class="lmsc__resources--list__icon-wrap"><img class="lmsc__resources--list__icon--top10" src="https://www.usms.org/-/media/USMS/Developers/Images/MyUSMS/icon-myusms-results" width="60" height="60" alt=""></span>
              Top 10 Listings
            </a></li>
            <li><a href="https://www.usms.org/events">
              <span class="lmsc__resources--list__icon-wrap"><img class="lmsc__resources--list__icon--calendar" src="https://www.usms.org/fitness-and-training/guides/-/media/usms/non-lightroom%20images/house%20art/Join%20Icons/icon-calendar" width="40" height="40" alt=""></span>
              Calendar of Events
            </a></li>
            <li><a href="/comp/aa/aalist.php?LMSCID=14">
              <span class="lmsc__resources--list__icon-wrap lmsc__resources--list__icon-wrap--allamericans"><svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg></span>
              All-Americans
            </a></li>
            <li><a href="/comp/as/aslist.php?LMSCID=14">
              <span class="lmsc__resources--list__icon-wrap lmsc__resources--list__icon-wrap--allstars"><svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg></span>
              All-Star Swimmers
            </a></li>
            <li><a href="#">
              <span class="lmsc__resources--list__icon-wrap lmsc__resources--list__icon-wrap--bylaws"><img class="lmsc__resources--list__icon--bylaws" src="https://www.usms.org/fitness-and-training/guides/-/media/usms/non-lightroom%20images/house%20art/IamA%20icons/icons-book" width="60" height="60" alt=""></span>
              Bylaws
            </a></li>
            <li><a href="#">
              <span class="lmsc__resources--list__icon-wrap"><img class="lmsc__resources--list__icon--minutes" src="https://www.usms.org/-/media/USMS/Developers/Images/MyUSMS/icon-myusms-flog" width="60" height="60" alt=""></span>
              Meeting Minutes
            </a></li>
          </ul>
        </div>
        <div class="lmsc__admin">
          <h3 class="">Officers</h3>
          <table class="lmsc__officers">
            <tbody>
              <tr>
                <td class="lmsc__officer-name">Mary Smith</td>
                <td class="lmsc__officer-role">Chair</td>
              </tr>
              <tr>
                <td class="lmsc__officer-name">John Davis</td>
                <td class="lmsc__officer-role">Registrar</td>
              </tr>
              <tr>
                <td class="lmsc__officer-name">Lisa Johnson</td>
                <td class="lmsc__officer-role">Sanctions Officer</td>
              </tr>
              <tr>
                <td class="lmsc__officer-name">Robert Wilson</td>
                <td class="lmsc__officer-role">Open Water Chair</td>
              </tr>
              <tr>
                <td class="lmsc__officer-name">Karen Martinez</td>
                <td class="lmsc__officer-role">Top 10 Recorder</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="lmsc__contact">
          <h3 class="lmsc-contact-form__header">Contact Florida LMSC</h3>
          {% include "partials/LMSC/form-contact-lmsc-generic.njk" %}
        </div>

      </div>

      {# Sidebar #}
      <div class="col-xs-12 col-md-4">

        {# Map #}
        <div class="lmsc__sidebar-card lmsc__sidebar-card--map">
          <img id="lmsc-map-thumb" src="https://www.usms.org/lmsc/maps/flmap.png" alt="Map of the Florida LMSC geographic region" role="button" tabindex="0" aria-haspopup="dialog" aria-controls="lmsc-map-modal">
          <p class="lmsc__map-caption">Florida LMSC Region</p>
        </div>

        {# CTAs #}
        <div class="lmsc__sidebar-card--cta">  
          <button class="btn btn-lg lmsc__join-now" href="/join-usms/join-or-renew">Join / Renew Now</button>
          <button class="btn btn-lg btn-outline" href="http://www.floridalmsc.org" target="_blank" rel="noopener">Visit LMSC Website</button>
        </div>

      </div>

    </div>
  </div>
</div>

{# Map modal #}
<div id="lmsc-map-modal" class="lmsc__map-modal" role="dialog" aria-modal="true" aria-labelledby="lmsc-map-modal-title" hidden>
  <button type="button" class="lmsc__map-modal__close" aria-label="Close map">&times;</button>
  <img class="lmsc__map-modal__img" src="https://www.usms.org/lmsc/maps/flmap.png" alt="Map of the Florida LMSC geographic region" id="lmsc-map-modal-title">
</div>

{% endblock %}
