---
layout: layouts/lmsc.njk
permalink: /lmsc/ohio-masters-swimming/
title: Ohio LMSC
---

{% block content %}
<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="html-container">
          <p class="main-paragraph">The Ohio LMSC is a collection of over 20 local Masters swimming clubs throughout the state promoting all levels of adult swimming. Whatever your goals, we have a lane for you. For more information, contact any of our teams or visit <a href="https://www.usms.org">usms.org</a></p>
        </div>
        <div class="heading-container"style="border-top: 1px solid #CCC; margin-top: 2rem; margin-right: 5rem; padding-top: 2rem;">
          <h4 class="text-left">LMSC Contact Form</h4>
        </div>
        <div class="row lmsc-contact-form">
          {# <div class="loading-form" style="display: none">
            <img src="/img/loader.gif" alt="loading">
          </div> #}
          <div class="form-container">
            <form action="/about/usms-style-guide" data-sc-fxb="f2c6c565-6d42-42ec-98a5-149a087c053e" enctype="multipart/form-data" id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_f2c6c565-6d42-42ec-98a5-149a087c053e" method="post" novalidate="novalidate"><input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_FormSessionId" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.FormSessionId" type="hidden" value="a6fd32ed-a4ff-4531-b20c-50f4d0f7792d"><input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_IsSessionExpired" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.IsSessionExpired" type="hidden" value="0"><input name="__RequestVerificationToken" type="hidden" value="AxoUho06U9PE9V-AOr4FMvHwIKwJY-UTvPO8Wg-PRGA5ENvKhO-2SYZxI-97WxEadXncreqKDzMTm7R7MM1z7-SKB5H1KwOGpe2PTceOEM6KdPUSkbf0cSqE0U9chD71FU5_A33TUtnvafVlsrUIlw2"><input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_FormItemId" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.FormItemId" type="hidden" value="f2c6c565-6d42-42ec-98a5-149a087c053e">
              <div class="sc-form__container">
                <div class="row">
                  <div class="sc-form__header">
                    <p class="sc-form__header--summary">Contact your LMSC.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="sc-form__select-group">
                      <label for="lmsc" class="">Select an LMSC</label>
                      <select class="">
                        <option label=" "></option>
                        <option value="Adirondack">Adirondack</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Allegheny Mountain">Allegheny Mountain</option>
                        <option value="Arizona">Arizona</option>
                      </select>
                      <span class="field-validation-valid"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <div class="sc-form__select-group">
                      <input id="" name="" type="hidden">
                      <input id="" name="" type="hidden" value="bf1c64eb-830b-4acd-bc49-37a270756371">
                      <label for="" class="">Subject</label>
                      <select id="" name="" class="">
                        <option label=" "></option>
                        <option value="General Information">General Information</option>
                        <option value="Membership">Membership</option>
                        <option value="Events/Sanctioning">Events/Sanctioning</option>
                        <option value="Results/Records">Results/Records</option>
                      </select>
                      <span class="field-validation-valid" data-valmsg-for="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields[bf1c64eb-830b-4acd-bc49-37a270756371].Value" data-valmsg-replace="true"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <input id="" name="" type="hidden" value="">
                    <input id="" name="" type="hidden" value="e1225b0c-b7ca-4c5a-bb29-bdbe0c7eed11"><label for="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_e1225b0c-b7ca-4c5a-bb29-bdbe0c7eed11__Value" class="">First Name</label>
                    <input id="" name="" class="" type="text" value="" maxlength="255" placeholder="" data-sc-tracking="True" data-sc-field-name="FirstName" data-val-required="First Name is required." data-val="true">
                    <span class="field-validation-valid" data-valmsg-replace="true"></span>
                  </div>
                  <div class="col-sm-6">
                    <input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_Index_9ed5739a-168f-403a-835d-1ec792f290ef" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields.Index" type="hidden" value="9ed5739a-168f-403a-835d-1ec792f290ef"><input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_9ed5739a-168f-403a-835d-1ec792f290ef__ItemId" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields[9ed5739a-168f-403a-835d-1ec792f290ef].ItemId" type="hidden" value="9ed5739a-168f-403a-835d-1ec792f290ef"><label for="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_9ed5739a-168f-403a-835d-1ec792f290ef__Value" class="">Last Name</label>
                    <input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_9ed5739a-168f-403a-835d-1ec792f290ef__Value" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields[9ed5739a-168f-403a-835d-1ec792f290ef].Value" class="" type="text" value="" maxlength="255" placeholder="" data-sc-tracking="True" data-sc-field-name="LastName" data-val-required="Last Name is required." data-val="true">
                    <span class="field-validation-valid" data-valmsg-for="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields[9ed5739a-168f-403a-835d-1ec792f290ef].Value" data-valmsg-replace="true"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="row">
                    <div class="col-sm-8">
                      <input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_Index_6fddab83-c666-4888-9956-138aaf5bc3aa" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields.Index" type="hidden" value="6fddab83-c666-4888-9956-138aaf5bc3aa"><input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_6fddab83-c666-4888-9956-138aaf5bc3aa__ItemId" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields[6fddab83-c666-4888-9956-138aaf5bc3aa].ItemId" type="hidden" value="6fddab83-c666-4888-9956-138aaf5bc3aa"><label for="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_6fddab83-c666-4888-9956-138aaf5bc3aa__Value" class="">Email Address</label>
                      <input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_6fddab83-c666-4888-9956-138aaf5bc3aa__Value" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields[6fddab83-c666-4888-9956-138aaf5bc3aa].Value" class="" type="email" value="" maxlength="255" placeholder="" data-sc-tracking="True" data-sc-field-name="Email" data-val-regex="Email Address contains an invalid email address." data-val-regex-pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,17}$" data-val-required="Email Address is required." data-val="true">
                      <span class="field-validation-valid" data-valmsg-for="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields[6fddab83-c666-4888-9956-138aaf5bc3aa].Value" data-valmsg-replace="true"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_Index_fa3e6ad6-7186-4e6c-90c6-3281fc7bbc13" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields.Index" type="hidden" value="fa3e6ad6-7186-4e6c-90c6-3281fc7bbc13"><input id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_fa3e6ad6-7186-4e6c-90c6-3281fc7bbc13__ItemId" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields[fa3e6ad6-7186-4e6c-90c6-3281fc7bbc13].ItemId" type="hidden" value="fa3e6ad6-7186-4e6c-90c6-3281fc7bbc13"><label for="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_fa3e6ad6-7186-4e6c-90c6-3281fc7bbc13__Value" class="">Message</label>
                    <textarea id="fxb_988df76e-d7ae-40e9-ad47-70102c273011_Fields_fa3e6ad6-7186-4e6c-90c6-3281fc7bbc13__Value" name="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields[fa3e6ad6-7186-4e6c-90c6-3281fc7bbc13].Value" class="" rows="5" maxlength="1042" placeholder="" data-sc-tracking="True" data-sc-field-name="Message" data-val-required="Message is required." data-val="true"></textarea>
                    <span class="field-validation-valid" data-valmsg-for="fxb.988df76e-d7ae-40e9-ad47-70102c273011.Fields[fa3e6ad6-7186-4e6c-90c6-3281fc7bbc13].Value" data-valmsg-replace="true"></span>
                  </div>
                </div>
                <div class="row upload-file">
                  <label for="" class="">Upload File</label>
                  <input id="" name="" class="" type="file">
                  <span class="field-validation-valid"></span>
                </div>
                <div class="row">
                  <div class="col-sm-10">
                    <div class="sc-captcha">
                      <div class="sc-recaptcha-anchor">
                        <div class="sc-captcha__widget" tabindex="0" aria-label="I'm not a robot">
                          <span class="goog-inline-block recaptcha-checkbox" role="checkbox" aria-checked="false">
                            <div class="recaptcha-checkbox-border" role="presentation"></div>
                            <div class="recaptcha-checkbox-spinner-gif"></div>
                            <div class="recaptcha-checkbox-spinner" role="presentation">
                              <div class="recaptcha-checkbox-spinner-overlay"></div>
                            </div>
                            <div class="recaptcha-checkbox-checkmark" role="presentation"></div>
                          </span>
                        </div>
                        <div class="sc-recaptcha-content">
                          <span class="sc-recaptcha-label">I'm not a robot</span>
                        </div>
                        <div class="sc-recaptcha-logo">
                          <div class="sc-recaptcha-logo-icon"></div>
                          <span class="sc-recaptcha-logo-name">reCAPTCHA</span>
                          <div class="sc-recaptcha-logo-links">
                            <a href="#" tabindex="-1" onclick="return false">Privacy</a><span aria-hidden="true"> - </span><a href="#" tabindex="-1" onclick="return false">Terms</a>
                          </div>
                        </div>
                      </div>
                      <input id="captchaVerified" name="captchaVerified" type="hidden" class="fxt-captcha" data-val="true" data-val-required="Please confirm you are not a robot." aria-required="true" value="">
                      <span class="field-validation-valid" data-valmsg-for="captchaVerified" data-valmsg-replace="true"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row btn-submit--initial">
                <div class="sc-form__footer">
                  <input value="Submit" type="submit" class="btn btn-primary btn-large">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="html-container">
          <h4 style="margin-top: 0px;">Local Volunteer Contact</h4>
          <p>Jennifer Wood<br>
          <a href="https://www.usms.org/admin/email.php?a=OHRegistrar&amp;To=Jennifer+Wood">Send Email</a></p>
        </div>
        <div class="html-container">
          <h5>National Office Contact</h5>
          <p>(941) 256-8767<br>
          <a href="mailto:membership@usmastersswimming.org">Send Email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="image-slider rte">
  <div class="usms-container">
    <div class="row">
      <div class="col-xs-12">
        <div class="image-slider__container">
          <button class="image-slider__button-previous"><i class="fa-solid fa-chevron-left"></i></button>
          <div class="image-slider__slider-container">
            <ul class="image-slider__slider list--nostyle">
              <li class="image-slider__slider-item" id="image-slider__slider-item-0">
                <a href="https://www.infinitnutrition.us/">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/infinit_190x190.png?rev=37848db7be734cd08c3471b38f730db0" alt="Infinit">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-1">
                <a href="https://dermasport.com/">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/dermasport_190x190.png?rev=1891b17200e14e6195d14834fcdc8f72" alt="Dermasport">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-2">
                <a href="https://www.coloradotime.com/">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/cts_190x190.png?rev=f391e5edb3334d459889c98abf25aa6c" alt="Colorado Timing Systems">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-3">
                <a href="http://www.toyota.com">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/toyota_190x190.png?rev=86940e1dd5e347a496279e2b6f04838c" alt="Toyota">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-4">
                <a href="https://www.masterspas.com/usms/">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/master-spas_190x190.png?rev=9944939a03ec4a60887c48ace5509d46" alt="MasterSpas">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-5">
                <a href="https://www.sbrsportsinc.com/index.html">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/triswim_190x190.png?rev=df4187fcc77f4d3a8a4420704f3b768f" alt="TriSwim">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-6">
                <a href="https://www.ioausa.com">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/ioa_190x190.png?rev=4a5a0c22eb0c4294bb3141ad645ba670" alt="Insurance Office of America">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-7">
                <a href="">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/swim-across-america-full-color190x190.png?rev=15ca727e98c942aa820f7893c7c6cc2e" alt="Swim Across America">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-8">
                <a href="http://www.activeswim.com/">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/active-network_190x190.png?rev=a07eedc7fcce4da3bb0a9052a9be622b" alt="Active Network">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-9">
                <a href="https://www.swimoutlet.com/ProductBrand.asp?Brand=1766&amp;click=1668780">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/swimoutlet_190x190.png?rev=fdfb0afb3700477b9e4c03b4627e8a78" alt="Swim Outlet">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-10">
                <a href="https://www.usaswimming.org/foundation">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/usa-swimming-foundation-vertical-full-color190x190-02.png?rev=27a4ea018ddf4199bcc3e098e455aae3" alt="USA Swimming Foundation">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-11">
                <a href="https://www.swim.com">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/swim-com_190x190.png?rev=ea64202f43e047b1b89366245d2418b5" alt="Swim.com">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-12">
                <a href="https://www.tyr.com/">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/tyr2.png?rev=49b8615cc67d438d9fceb64935b57083" alt="Tyr">
                    </div>
                  </div>
                </a>
              </li>
              <li class="image-slider__slider-item" id="image-slider__slider-item-13">
                <a href="https://www.swimtrek.com/">
                  <div class="image__container--desktop">
                    <div class="image-desktop">
                      <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/partner%20logos/swimtrek_190x190.png?rev=4a6a6c9fdcaf4ead824c3e5cfe010ec0" alt="SwimTrek">
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <button class="image-slider__button-next"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
