.usms-container .current-plan h3,
.usms-container .available-plans h3,
.usms-container .billing-information h3,
.usms-container .payment-information h3 {
    font-size: 3rem;
    margin: 0 0 3rem;
}

.current-plan a,
.plan-option a,
.payment-information a,
.billing-information a {
    text-decoration: underline;
}

.current-plan .plan-name,
.current-plan .plan-type,
.current-plan .plan-price {
    display: inline-flex;
}

.date,
.product,
.amount {
    display: inline-flex;
}

.current-plan,
.billing-information {
    margin-bottom: 6rem;
}

.plan-option {
    border: 1px solid #0068ad;
    border-radius: 4px;
    margin: 0 auto 2rem;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: flex-start;
}

.current-plan .plan-name,
.current-plan .plan-type {
    padding: 0 2rem 0 0;
}

.current-plan .plan-name {
    font-weight: 500;
}

.current-plan a {
    display: block;
    margin-bottom: 6rem;
}

.plan-option .plan-name,
.plan-option .plan-type {
    background-color: #0068ad;
    color: #FFF !important;
    flex: auto;
}

.plan-option .plan-name {
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 1rem;
    line-height: 4rem;
}

.plan-option .plan-type {
    font-size: 1.8rem;
    line-height: 4rem;
}

.plan-option .plan-price {
    flex: 100%;
    margin: 0;
    padding-left: 3rem;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.plan-option ul {
    margin: 0 0 2rem;
    padding: 0 6rem 0 4rem;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.plan-option li {
    margin: 0;
}

.payment-information a,
.billing-information a {
    display: block;
    padding: 2rem 0;
}

.plan-option a { 
    flex: 100%;
    padding: 1rem 0 3rem 3rem;
}