.modal input[type=checkbox] + label {
    padding: 0 0 0 2rem;
    margin: -2.5rem 0 0;
}

@media (min-width: 1200px) {
    .modal input[type=checkbox] + label {
        padding: 0 0 0 0.5rem;
        margin: -2.5rem 0 0;
    }    
}

.form__container .btn {
    margin-bottom: 1rem;
}

.payment-information--form,
.cancel-auto-renew--form,
.cancel-auto-renew--confirmation {
    display: none;
}

@media (max-width: 1199px) {
    .payment-information--form,
    .cancel-auto-renew--form,
    .cancel-auto-renew--confirmation {
        padding-top: 2rem;
        border-top: 1px solid #CCC;
        margin-top: 3rem;
    }
}

.usms-container.form__container h3,
.usms-container .current-plan h3,
.usms-container .available-plans h3,
.usms-container .billing-information h3,
.usms-container .payment-information h3 {
    /* font-size: 3rem; */
    margin: 0 0 1rem;
    display: inline-flex;
}

.payment-information--summary h3 {
    margin: 3rem 0 2rem;
}

/* .usms-container p,
.usms-container.form__container p {
    margin: 0;
} */

/* .cancel-auto-renew-message,
.cancel-auto-renew--confirmation {
    margin: 2rem 0 1rem;
} */

@media (min-width: 1200px) {
    .cancel-auto-renew-message {
        margin: -1rem 0 2rem;
    }
}


.current-plan a,
.plan-option a,
.payment-information a,
.billing-information a {
    text-decoration: underline;
}

.date,
.product,
.amount {
    display: inline-flex;
}

.current-plan__renewal-date {
    /* display: inline-flex; */
    display: none;
}

.current-plan,
.billing-information {
    margin-bottom: 6rem;
}

.available-plans {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin: 2rem auto 0;
}

@media (min-width: 1200px) {
    .available-plans {
        flex-direction: row;
        margin-bottom: 8rem;
    }
}

.payment-information--form {
    margin-top: 3rem;
    padding-top: 3.5rem;
}

@media (min-width: 1200px) {
    .payment-information--form {
        margin: 0 0 3rem;
    }
    .modal-dialog {
        top: 30%;
    }
}

.plan-option {
    text-align: center;
    vertical-align: top;
    transition: opacity .25s ease;
    cursor: pointer;
    opacity: 1;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px #ccc
}

.plan-option {
    /* max-width: 260px; */
    height: auto;
    width: 100%;
    margin: 0 0.5rem 2rem;
    padding: 0 0 5rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: flex-start;
    padding-bottom: 4rem;
}

@media (min-width: 1200px) {
    .plan-option {
        max-width: 260px;
        height: 350px;
        padding-bottom: 30%;
    }
}

p.plan-name {
    font-weight: 500;
    width: 100%;
}

p span.plan-type {
    font-weight: 300;
    padding-left: 0.7rem;
}

.current-plan__summary {
    display: none;
    background-color: #0068ad;
    margin-bottom: 5rem;
}

.current-plan__summary p {
    color: #FFF;
}

.current-plan__renewal-date {
    margin: 0 0 1rem;
}

.current-plan__renewal-date.current-plan--selected,
.current-plan__summary.current-plan--selected {
    /* display: block; */
    display: flex;
}

.plan-option p.plan-selected-label {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
    /* height: 5rem;
    line-height: 5rem; */
}

.current-plan .current-plan__summary p {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    line-height: 120%;
}

.plan-option p {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    line-height: 120%;
}

.plan-option a { 
    margin: 0;
    padding: 0;
    /* height: 5rem;
    line-height: 5rem; */
    font-size: 1.6rem;
}

.current-plan__summary p.plan-name,
.current-plan__summary p.plan-price {
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: 1.8rem;
    padding: 1rem 2rem;
}

.current-plan .plan-name,
.current-plan .plan-type,
.current-plan .plan-price {
    display: inline-flex;
    color: #FFF;
}

/* .current-plan__summary {
    color: #FFF;
    background-color: #777;
} */

.plan-option .plan-name,
.plan-option .plan-type {
    padding: 0.5rem;
    font-size: 1.6rem;
    background-color: #777;
    color: #FFF;
    flex: auto;
}

.plan-option.plan-option-selected {
    border: 3px solid #0068ad;
    border-top-width: 1px;
}

/* .plan-option.plan-option-selected a {
    display: none;
} */

p.switch-plan-label,
p.plan-selected-label {
    height: 5rem;
    line-height: 5rem;
    /* display: block; */
}

.plan-selected-label {
    display: none;
}

.plan-option-selected .plan-selected-label {
    display: block;
}

.plan-option-selected .switch-plan-label {
    display: none;
}

/* .current-plan__summary, */
.plan-option.plan-option-selected .plan-name,
.plan-option.plan-option-selected .plan-type {
    background-color: #0068ad;
}

.plan-option .plan-price {
    flex: 100%;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    font-size: 2.3rem;
    font-weight: 700;
}

.plan-option ul {
    text-align: left;
    margin: 0 0 2rem;
    padding: 0 6rem 0 4rem;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.plan-option li {
    margin: 0;
}

.payment-information {
    padding: 0 0 5rem;
}

.payment-information a,
.billing-information a {
    display: inline-flex;
    text-align: center;
}

.billing-information {
    width: 100%;
}

.billing-invoice {
    display: flex;
}

.billing-invoice {
    border-bottom: 1px solid #EEE;
    margin: 0;
    padding: 1.5rem 0;
}
.billing-invoice > p {
    margin: 0;
    line-height: 100%;
}
.billing-invoice .date {
    flex: 0 0 20%;
    font-size: 1.6rem;
    padding-top: .2rem;
}
.billing-invoice .product {
    flex: 0 0 50%;
    margin: 0 2rem;
}
.billing-invoice .amount {
    text-align: right;
    flex: 0 0 30%;
}

.card-number,
.card-expiration {
    display: inline-flex;
}

.card-expiration {
        padding-left: 2.5rem;
}

.card-expiration + a {
    display: flex;
    /* border-right: 1px solid #CCC; */
    /* margin-right: .5rem; */
    /* padding-right: 1rem; */
    margin: 1rem 0;
}

.payment-information--form > div {
    margin-bottom: 3rem;
}

/* Overrides source form container styling */

@media (min-width: 768px) {
    .usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(2), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(2), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(2) {
        border: 0 none;
        margin-top: 6rem;
    }
    .usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(4), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(4), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(4) {
        border-top: 0 none;
        margin-top: 1rem;
        padding-top: 0;
        border-left: 1px solid #ccc;
    }
    .cancel-auto-renew--form, .cancel-auto-renew--confirmation {
        padding-top: 2rem;
    }
}