<!-- Header -->
<header class="header-static">
	<div id="react_9v4BbESxoECEPsCVsD1EUw">
		<nav class="mega-main-menu" data-react-checksum="987433928">
			<div class="mega-main-menu__logo-container">
				<a class="mega-main-menu__logo" href="https://www.usms.org/"><img src="/img/USMSLogo.png" alt="" width="264" height="50"></a>
			</div>
			<div class="mega-main-menu__nav-search-container">
				<form method="GET" action="https://www.usms.org/search" class="search" style="transition:all 250ms ease-in-out;transform:translateY(-10px);opacity:0;z-index:-1;">
					<div class="input-group">
						<input type="text" name="filter" class="form-control search__input" placeholder="Search USMS" aria-describedby="basic-addon">
						<input type="hidden" name="page" value="1">
						<input type="hidden" name="perPage" value="10" data-reactid="10">
						<span class="input-group-addon btn search__button text-uppercase" id="basic-addon" data-reactid="11">Search</span>
					</div>
				</form>
				<div class="mega-main-menu__items-container" data-reactid="12"><ul class="mega-main-menu__items list--nostyle" style="width:auto;">
					<li class="has--children" id="menu-item-0"<!-- react-text: 15 -->Fitness &amp; Training<span class="fa"></span></li>
					<li class="has--children" id="menu-item-1"<!-- react-text: 19 -->Events<span class="fa"></span></li>
					<li id="menu-item-2"><a href="https://www.usms.org/club-resources">Club Finder</a></li>
					<li class="has--children" id="menu-item-3"<!-- react-text: 25 -->About USMS<span class="fa"></span></li>
					<li class="has--children" id="menu-item-4"<!-- react-text: 29 -->Join<span class="fa"></span></li>
					</ul>
				</div>
				<button class="mega-main-menu__toggle-mobile btn btn-default"><i class="fa fa-bars text-primary"></i></button>
				<div class="mega-main-menu__actions">
					<a href="#" class="btn bg-primary mega-main-menu__actions-login">My USMS</a><i class="fa fa-search text-primary mega-main-menu__actions-search"></i>
				</div>
			</div>
			<div class="mobile-menu" style="transition:all 250ms ease-in-out;transform:translateY(-10px);opacity:0;z-index:-1;">
				<div class="mobile-menu__container">
					<form class="mobile-menu__form" action="https://www.usms.org/search">
						<div class="mobile-menu__input"><input type="text" name="filter" placeholder="Search">
							<button class="mobile-menu__search-button" type="submit"><i class="fa fa-search text-primary"></i></button>
						</div>
					</form>
					<button class="mobile-menu__toggle"><i class="fa fa-times"></i></button>
				</div>
			</div>
		</nav>
	</div>
</header>