.usms-container .current-plan h3,
.usms-container .available-plans h3,
.usms-container .billing-information h3,
.usms-container .payment-information h3 {
    font-size: 3rem;
    margin: 0 0 3rem;
}

.current-plan a,
.plan-option a,
.payment-information a,
.billing-information a {
    text-decoration: underline;
}

.date,
.product,
.amount {
    display: inline-flex;
}

.current-plan,
.billing-information {
    margin-bottom: 6rem;
}

.available-plans {
    display: flex;
    flex-direction: row;
    margin: 2rem auto 0;
}

.billing-information,
.payment-information {
    margin-top: 2rem;
}


@media (min-width: 1200px) {
    .payment-information {
        margin: 3rem auto;
    }

    .modal-dialog {
        top: 30%;
    }
}

.plan-option {
    text-align: center;
    vertical-align: top;
    transition: opacity .25s ease;
    cursor: pointer;
    opacity: 1;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px #ccc
}

.plan-option {
    max-width: 260px;
    margin: 0 0.5rem 2rem;
    padding: 0 0 5rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: flex-start;
}

p.plan-name {
    font-weight: 500;
}

p span.plan-type {
    font-weight: 300;
    padding-left: 1rem;
}

.current-plan__summary {
    display: none;
}
.current-plan__summary.current-plan--selected {
    display: block;
}

.plan-option p.plan-selected-label {
    font-size: 1.6rem;
    /* color: green; */
    margin: 0;
    padding: 1rem 0 3rem;
    position: absolute;
    bottom: 1.5rem;
    font-weight: 500;
}

.current-plan .plan-name,
.current-plan .plan-type,
.current-plan .plan-price {
    display: inline-flex;
    color: #FFF;
}

.current-plan__summary {
    color: #FFF;
    background-color: #777;
}

.plan-option .plan-name,
.plan-option .plan-type {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    background-color: #777;
    color: #FFF;
    flex: auto;
}

.plan-option.plan-option-selected {
    border: 3px solid #0068ad;
    border-top-width: 1px;
}

.plan-option.plan-option-selected a {
    display: none;
}

.plan-selected-label {
    display: none;
}

.plan-option-selected .plan-selected-label {
    display: block;
}

.current-plan__summary,
.plan-option.plan-option-selected .plan-name,
.plan-option.plan-option-selected .plan-type {
    background-color: #0068ad;
}

.current-plan .current-plan__summary p,
.plan-option p {
    font-size: 1.8rem;
    margin: 0;
    padding: 0 3rem;
    line-height: 120%;
}

.plan-option .plan-price {
    flex: 100%;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    font-size: 2.3rem;
    font-weight: 700;
}

.plan-option ul {
    text-align: left;
    margin: 0 0 2rem;
    padding: 0 6rem 0 4rem;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.plan-option li {
    margin: 0;
}

.payment-information a,
.billing-information a {
    display: block;
    padding: 5rem 0;
    text-align: center;
}

.plan-option a { 
    margin: 0;
    padding: 1rem 0 3rem;
    position: absolute;
    bottom: 1.5rem;
}

.billing-information {
    width: 100%;
}

.billing-invoice {
    display: flex;
}

.billing-invoice {
    border-bottom: 1px solid #EEE;
    margin: 0;
    padding: 1.5rem 0;
}
.billing-invoice > p {
    margin: 0;
    line-height: 100%;
}
.billing-invoice .date {
    flex: 0 0 20%;
    font-size: 1.6rem;
    padding-top: .2rem;
}
.billing-invoice .product {
    flex: 0 0 50%;
    margin: 0 2rem;
}
.billing-invoice .amount {
    text-align: right;
    flex: 0 0 30%;
}

.card-expiration {
    display: inline;
    padding-left: 2.5rem;
}




/* Overrides source form container styling */

@media (min-width: 768px) {
    .usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(2), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(2), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(2) {
        border: 0 none;
        margin-top: 6rem;
    }
    .usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(3), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(3), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(3) {
        border-top: 0 none;
        margin-top: 6rem;
        padding-top: 0;
        border-left: 1px solid #ccc;
    }
}