.content-nav-list li {
    border: 1px solid var(--lm-blue) !important;
}
.content-nav-list li:hover {
    background-color: var(--lm-blue) !important;
}
.content-nav-list li a {
    color: var(--lm-blue) !important;
}
.filter-form__go-button,
.filter-form__go-button:focus,
.filter-form__go-button:hover,
.filter-form__go-button:visited {
    background-color: var(--lm-blue) !important;
}
.results-list__pagination button {
    background-color: var(--lm-blue);
}
.results-list__pagination button.btn-active {
    border: 2px solid var(--lm-blue) !important;
    color: var(--lm-blue) !important;
}
.results-list__pagination .btn-chevron-left,
.results-list__pagination .btn-chevron-right {
    color: var(--lm-blue);
}
.results-list__item-title a {
    color: var(--lm-blue) !important;
}
.results-list__item-footer a {
    color: var(--lm-blue) !important;
}
.filter-additional-links a {
    color: var(--lm-blue-md) !important;
}
.btn-sort {
    color: var(--lm-blue-md);
}
.btn-sort.selected {
    background-color: var(--lm-blue-md) !important;
}
.list-control-search--summary-loading {
    color: var(--lm-blue-md) !important;
}
.toggle-filters {
    background-color: var(--lm-blue-md) !important;
}
.results-list__item-footer a:after {
    background-color: var(--lm-blue) !important;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    margin-left: 4px;
}