@import url(../css-components/product-group-lanemate.css);
@import url(../css-components/plans-payment-lanemate.css);
@import url(../css-components/registration-lanemate.css);
@import url(../css-components/confirmation-lanemate.css);
@import url(./search/css/ResultsPagination.css);

/* Coach ALTS Certification /////////////////////////////////////////////////////// */

.card.coach-alts-certification .form-group {
    margin: 0 auto;
}
.coach-alts-certification h3 + p {
    margin: 0 auto 2rem;
    padding: 0 1rem;
    text-align: center;
}
@media (min-width: 1200px) {
    .card.coach-alts-certification .form-group {
        width: 500px;
    }
    .coach-alts-certification h3 + p {
        padding: 0 8rem;
    }
}

/* Donations /////////////////////////////////////////////////////// */

.donate__input {
    position: relative;
}
.donate__input .currency-symbol {
    position: absolute;
    left: 7px;
    top: 11px;
    font-size: 28px;
    font-size: 1.75rem;
    color: #656565
}
input[type=text].currency {
    padding-left: 5px;
}
.donation .donate__input input[type=text] {
    padding-left: 5px;
}
.donation--sslf .donate__text label {
    font-size: 1.4rem;
}

/* Payment Info /////////////////////////////////////////////////////// */

.payment-info .card__content {
    display: none;
}
#btnSubmitOrder {
    width: 120px;
    margin: 4rem 0 6rem;
}
#agreeTerms + .checkbox__placeholder,
#agreeTerms:disabled {
    cursor: initial;
}
.agree-terms.disabled {
    opacity: 0.5;
}