.my-account__container h3,
.my-account__container p {
    text-align: left;
    margin-left: 0;
}

.input-group-header {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin: 2rem 0 1rem;
    width: 100%;
}

.full-name {
    /* display: block; */
    width: 100%;
}

.full-name + span {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}

.form-header {
    width: 100%;
    margin-top: 3rem;
    padding-top: 4rem;    
    border-top: 1px solid #CCC;
}

.first-last {
    width: 100%;
}

.hide {
    display: none;
}

.row.form-group {
    width: 100%;
    margin-bottom: 3rem;
}

.form-group label {
    width: 100%;
}
/* .form-group span:not(.hide) {

} */