.my-usms--wrapper {
    margin-bottom: 80px;
}

.myusms--tile {
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 0 auto 10px;
    padding: 10px;
    border:1px solid #0068ad;
}

.myusms--tile--renew {
    background-color: #0068ad;
    border: 0 none;
}

.myusms--tile.myusms--tile--renew > h4 {
    color: #FFF;
}

.myusms--tile:hover {
    border:3px solid #c0eeff;
    padding:8px;
    background-color: #c0eeff;
}

.myusms--tile.myusms--tile--renew:hover {
    border:3px solid #0068ad;
    padding:7px;
    background-color: #0068ad;
}

.myusms--tile--secondary {
    color: #CCC !important;
    border:2px solid #0068ad;
}
.myusms--tile--secondary h5 {
    font-size: 14px;
    padding: 5px 0;
    color: #565656;
    font-weight: normal;
    text-decoration: underline;
}

.myusms--page-title > h1 {
    color: #0068ad;
    margin:15px 0 5px 0;
}

.myusms--tile > h4 {
    font-size: 18px;
    color: #0068ad;
    margin:0 7px 0 0;
}

.myusms--tile > h5 {
    font-size: 16px;
    color: #0068ad;
    margin: 0 7px 0 3px;
}

.myusms__section-header {
    margin: 23px auto 10px;
    color:#0068ad;
}

.myusms--tile img {
    height: 50px;
}

.myusms--tile > a {
    position: absolute;
    width: calc(90%);
    height: calc(90%);
    margin: 0;
    padding: 0;
    top:0;
}

.myusms--tile-image {
    display: flex;
    align-items: center;
    height: 110px;
    border-radius: 4px;
    margin: 0 auto 10px;
    position: relative;
    overflow:hidden;
}

.myusms--tile-image a {
    font-size: 19px;
    font-weight: bold;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    text-shadow: 0 0 10px #111;
    text-shadow:0 0 30px #111;
}

.myusms--tile-image a, .myusms--tile-image a:visited {
    color:#fff;
}

.myusms--tile-image a:hover {
    text-decoration:none;
}

.myusms--tile-image > h4 {
    color:#fff;
}

.myusms--link a {
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width:100%;
}

.myusms--link a:visited {
    color:#fff;
}

.myusms--link, #membership-info, #my-badges {
    background-color: #0068ad;
    border-radius: 4px;
    margin: 0 0 15px;
    padding: 15px 10px;
    color: #fff;
    text-align:center;
}

.myusms__section-header {
    margin: 20px 15px 20px 0;
    color:#0068ad;
    display: inline-block;
}

.my-usms__btn--renew {
    display: inline-block;
    position: relative;
    background-color: #d2202e;
    color: #fff;
    font-size: 13px;
    top: -3px;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #d2202e;
    margin-bottom: 1rem;
}

.my-usms__tile--edit {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    text-decoration: none;
}

.my-usms__tile--description {
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
}

.myusms--tile--same {
    height: 70px;
}
