#tempNav {
    float: right;
    position: absolute;
    top: -20rem;
    right: 0;
}

/* These should not be needed in source, or compared with source */
.modal {
    align-content: center;
}
.modal-content {
    border: 0 none;
}
.modal-body {
    padding-top: 2rem;
}

#tempNav .btn-link {
    color: #000;
    text-decoration: none;
}

#tempNav .btn-link-selected {
    color: #0068ad;
}



.checkbox-group.disabled .checkbox-label,
.checkbox-group.disabled .checkbox-container,
.checkbox-group.disabled input {
    cursor: default;
}

/* input:disabled + .checkbox__placeholder, */
.checkbox-group.disabled input[type=checkbox]:checked ~ .checkbox__placeholder {
    background-color: #666;
}
.checkbox-group.disabled .checkbox-container {
-webkit-text-stroke: #666;
}

.form-group-display-value,
.form-group-display-value-static {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 150%;
}

.social-share-icons {
    justify-content: flex-start;
}

.social-share-icons .fa {
    padding-top: 1rem;
    font-size: 3.5rem !important;
}

.my-account__container h3,
.my-account__container p {
    text-align: left;
    margin-left: 0;
}

.input-group-header {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin: 0;
    width: 100%;
}
@media (min-width: 1200px) {
    .input-group-header {
        margin: 0 0 1rem;
    }
}

.input-group-header,
.my-account__container label {
    margin-top: 2.4rem;
}

@media (min-width: 1200px) {
    .input-group-header,
    .my-account__container label {
        margin-top: 0;
    }    
}


.form-group-header {
    margin: 1rem auto;
}

.general-information,
.registration-information,
.swimming-history,
.contact-preferences,
.fun-facts {
    width: 100%;
    border-top: 1px solid #CCC;
    margin: 2rem 0 1rem;
    padding: 3rem 0 1rem;
}

.general-information {
    border: 0 none;
}

.usms-container.form__container .form-header h3 {
    color: #0068ad;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.full-name {
    /* display: block; */
    width: 100%;
}

/* .full-name + span {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
} */

/* .private-information {
    border-top: 1px solid #CCC;
    margin-top: 3rem;
    padding-top: 4rem;    
} */

.form-group,
.form-header {
    width: 100%;
}

/* .form-header:first-of-type {
    border: 0 none;
} */

.first-last {
    width: 100%;
}

.hide {
    display: none;
}

.row.form-group,
.row.input-group {
    /* width: 100%; */
    /* margin-bottom: 3rem; */
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .row.form-group,
    .row.input-group {
        /* width: 100%; */
        /* margin-bottom: 3rem; */
        margin-bottom: 3rem;
    }    
}

.form-group label:not(.checkbox-label) {
    width: 100%;
    font-weight: 700;
}

/* .form-group span:not(.hide) {

} */

/* .interests {
    margin-bottom: 4rem;
} */

.swimmer .radio-label {
    display: inline-block;
    width: auto;
}


.mail-text-usms {
    margin-top: 2rem;
}

.favorite-events .input-group-header {
    margin-bottom: 2rem;
}

.favorite-events .col-sm-3 {
    padding-bottom: 1rem;
}

@media (min-width: 1200px) {
    .favorite-events .col-sm-3 {
        padding-bottom: 3rem;
    }    
}

/* Temporary css for toggling between USMS and LaneMate in the mockups */
.usms .lanemate-only {
    display: none;
}
.lanemate .usms-only {
    display: none;
}