.latest-content__container .latest-content__author .latest-content__author-name {
line-height: 120%;
}

.footer-left__menu {
    padding: 2rem 1rem !important;
line-height: 130%;
}

@media (min-width: 768px) {
.footer-left__menu {
    padding: 5rem !important;
line-height: 20px;
}

.sc-form__container .row {
    clear: both;
}

.sc-form__radio-group label,
.sc-form__checkbox-group label {
    display: block;
    margin: 0;
    padding-left: 1.75rem;
    padding-bottom: 0.5rem;
    font-size: 14px;
}

