	.review-order__line-item--price {
		text-align: left;
		padding-right: 0;
		padding-left: 2rem;
	}
	.review-order__form-summary {
		margin-bottom: 2.5rem;
	}
	.review-order__form-summary {
		margin-top: 2rem;
	}
	.review-order__form-summary h4 {
		font-size: 1.8rem;
		text-align: center;
		color: #545454;
		margin: 0 auto 2rem;
	}
	.usms-container p.review-order__line-item:last-of-type {
		font-weight: 700
	}
	.usms-container p.review-order__line-item {
		font-size: 1.3rem;
		font-weight: 400;
		margin: 0 0 2px
	}
	.review-order__line-item--price {
		display: inline-block;
		font-size: 1.5rem;
		width: 42%;
		padding-right: 20%
	}
	.review-order__form-summary {
		text-align: right;
		margin-bottom: 1em;
	}
	@media (min-width:768px) {
		.review-order__line-item--price {
			width: 52%;
			padding-right: 41%
		}
	}