.membership-length--nextYear .promo {
    background-color: #1e3666;
}
.membership-length--currentYear .promo {
    background-color: green;
}
.membership-length--usmsPlus .promo, .membership-length--usmsPlusYearPlus .promo {
    background-color: #0068ad;
}
.selection-made .promo {
    background-color: #999;
}
.selection-made .membership-length--nextYear.selected {
    border-color: #1e3666;
}
.selection-made .membership-length--nextYear.selected .promo {
    background-color: #1e3666;
}
.selection-made .membership-length--currentYear.selected {
    border-color: green;
}
.selection-made .membership-length--currentYear.selected .promo {
    background-color: green;
}
.selection-made .membership-length--usmsPlus.selected, .selection-made .membership-length--usmsPlusYearPlus.selected {
    border-color: #0068ad;
}
.selection-made .membership-length--usmsPlus.selected .promo, .selection-made .membership-length--usmsPlusYearPlus.selected .promo {
    background-color: #0068ad;
}
.promo {
    font-size: 1.7rem !important;
    height: 40px !important;
    line-height: 40px !important;
}
.modal-body, .modal-body ul {
    text-align: left;
    padding-left: 10px !important;
    padding-top: 0 !important;
    font-size: 1.5rem !important;
    line-height: 1.75rem !important;
}
.modal-content {
    padding: 1rem 3rem !important;
}
.modal-body ul li {
    margin: 0 auto 5px !important;
    padding: 0 !important;
}
.modal-body > ul > li > ul {
    margin: 15px 0 15px 5px !important;
}
.membership-length--container > div {
    margin: 0 !important;
}
.membership-length--option .control-label {
    text-align: center;
}
.membership-length--currentYear, .membership-length--nextYear, .membership-length--usmsPlus, .membership-length--usmsPlusYearPlus {
    text-align: center;
    vertical-align: top;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    cursor: pointer;
    opacity: 1;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}
.membership-length--option {
    margin: 1.5rem 2rem !important;
}
span.membership-length--note {
    font-size: 16px !important;
    line-height: 20px !important;
    padding-top: 0 !important;
}
.payment-note {
    text-align: left !important;
    margin: 0 !important;
    padding: 0.5rem 3rem !important;
}
.payment-bullets {
    text-align: left !important;
    margin: 1rem auto 0 !important;
    padding: 0 2.0rem 1 !important;
}
.payment-bullets li {
    margin-left: 15px !important;
    margin-bottom: 5px !important;
    font-size: 1.5rem !important;
}
.membership-length--option .membership-length--description {
    font-size: 1.8rem!important;
    margin-bottom: 8px !important;
}
.control-label > span {
    font-size: 1.7rem!important;
}
.card.membership-length {
    padding: 2rem 2rem 4rem !important;
}
.membership-length--option {
    padding-bottom: 10px !important;
}
.membership-length--price {
    font-size: 2.3rem !important;
    line-height: 3rem !important;
}
span.savings {
    top: 43px !important;
    top: 62px !important;
    font-size: 1.6rem !important;
}
.membership-length--option .control-label {
    padding-bottom: 1.5rem !important;
}
.selection-made .selected .membership-length--option {
    margin: 1.3rem 2rem !important;
}
.selection-made .selected span.membership-length--note {
    padding: 8px;
}
.interests__list h4 {
    margin-bottom: 1.5rem !important;
}
.interests__list h4, .renew__form-container .interests .control-label {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
}
@media (min-width:768px) {
    .promo {
        font-size: 1.2rem !important;
        height: 23px !important;
        line-height: 23px !important;
   }
    .selection-made .selected {
        margin-left: -2px !important;
        margin-right: -2px !important;
        margin-bottom: -2px !important;
        margin-top: 0 !important;
   }
    .membership-length--price {
        font-size: 2rem !important;
        line-height: 2.5rem !important;
   }
    .selection-made .selected span.membership-length--note {
        padding: 10px;
   }
    .membership-length--option .control-label {
        margin-top: 0.25rem !important;
        padding-bottom: 1rem !important;
   }
    .payment-note {
        padding: 1rem 0 !important;
   }
    .payment-bullets {
        margin: 0.5rem auto 0 !important;
        padding: 0 1rem 1.5rem !important;
   }
    .payment-bullets li {
        margin-left: 1.0rem !important;
        margin-bottom: 5px !important;
        font-size: 1.2rem !important;
   }
    .membership-length--option {
        padding-bottom: 0 !important;
   }
    span.membership-length--note {
        font-size: 12px !important;
        line-height: 15px !important;
   }
    .membership-length--option .membership-length--description {
        font-size: 1.4rem!important;
        margin-bottom: 2px !important;
   }
    .control-label > span {
        font-size: 1.35rem!important;
   }
    span.savings {
        top: 25px !important;
        font-size: 1.2rem !important 
   }
}
.interests__list {
    margin-bottom: 3rem !important;
}