<div class="rc-enterprise-badge">
  <div class="rc-enterprise-badge__logo">
    <img src="/img/recaptcha_logo_48.png" alt="reCAPTCHA" width="32" height="32">
  </div>
  <div class="rc-enterprise-badge__text">
    <span class="rc-enterprise-badge__protected">protected by&nbsp;<strong>reCAPTCHA</strong></span>
  </div>
</div>
