.login-form a { display: block; font-size: 13px; }
.login-form a:first-child { margin-top: 2.5rem; }
.login-form a + a { margin-top: .5rem; }
.form-col__header h3 { font-size: 21px !important; }
.form-col__header h3 + p { font-size: 14px !important; }
.login-form__submit,
.register-form__submit { width: 100px !important; }
.section.bg-gray { padding-top: 0; padding-bottom: 0; }
