/* NCC page overrides */
.product-option {
    padding-bottom: 8rem;
}
.product-option.selected {
    border: 1px solid #0068ad;
    outline: 2px solid #0068ad;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-bottom: 8.2rem;
}

@media (min-width: 768px) {
    .product-group {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 4rem;
    }
    .product-option {
        flex: 1 1 0;
        max-width: 260px;
    }
}


/* Override Source */
.product-option.selected ul {
    padding: 0 3rem 0 3.5rem;
}