<div class="carousel-container">
   <button class="carousel-previous-button" style="display:none;"><i class="fa fa-chevron-left"></i></button>
   <ul class="carousel list--nostyle" style="left: 0%;">
      <li class="carousel__slide">
         <div class="carousel__slide-content">
             <h1 class="text-capitalize">Free with your USMS+ membership</h1>
             <p class="lead">1-Hour Virtual Championship</p>
             <a href="/events/national-championships/virtual-championships/2022-virtual-championships/2022-1-hour-virtual-championship" class="text-capitalize text-center">REGISTER NOW</a>
         </div>
         <!-- <div class="page-header__photo-credit photo-credit--dark-1">
            <div class="photo-credit__wrapper">
               <p>Image: William Kolb</p> 
            </div>
         </div> -->
          <div class="carousel__slide-image--desktop">
             <div class="carousel__slide-image" style="background-image:url('https://www.usms.org/-/media/usms/lightroom/6023966686_0f37a918d4_o.jpg');"></div>
          </div>
          <div class="carousel__slide-image--mobile">
             <div class="carousel__slide-image" style="background-image:url('https://www.usms.org/-/media/usms/lightroom/6023966686_0f37a918d4_o.jpg');"></div>
          </div>
      </li>
      <li class="carousel__slide">
         <div class="carousel__slide-content">
             <h1 class="text-capitalize">Calendar of Events</h1>
             <p class="lead">Find an Event Near You</p>
             <a href="https://www.usms.org/events" class="text-capitalize text-center">Compete Now</a>
         </div>
         <div class="page-header__photo-credit photo-credit--dark-1">
            <div class="photo-credit__wrapper">
               <p>Image: William Kolb</p> 
            </div>
         </div>
         <div class="carousel__slide-video">
             <video autoplay="" loop="" muted="" class="" preload="none">
                <source src="https://www.usms.org/-/media/videos/homepage hero videos/swimmer dive 15.mp4" type="video/mp4">
             </video>
         </div>
         <div class="carousel__slide-image--mobile">
             <div class="carousel__slide-image" style="background-image:url('https://www.usms.org/-/media/usms/lightroom/anthony-kung- 2023 usms sp nats 2962-enhanced-nr.jpg');"></div>
         </div>
      </li>
      <!-- <li class="carousel__slide">
         <div class="carousel__slide-content">
            <h1 class="text-capitalize">Learn More About Your Swimming Pool</h1>
            <p class="lead">How Swimming Pools Stay Clean</p>
            <a href="/fitness-and-training/articles-and-videos/articles/how-are-swimming-pools-kept-clean" class="text-capitalize text-center">Learn How</a></div><div class="carousel__slide-video"><video autoplay="" loop="" muted="" class="video--only" preload="none"><source src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/videos/homepage hero videos/male swimmer underwater with group15.mp4?rev=cd2d555f89cb4e5aae0e87123bac8b8f" type="video/mp4"></video></div><div class="carousel__slide-image--mobile">
               <div class="carousel__slide-image" style="background-image:url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/lightroom/usms technique 2018 1769.jpg?rev=b28eb9b8d589413d8fb10e632642660b');">
         </div>
         </div>
      </li> -->
   </ul>
   <ul class="carousel-nav list--nostyle">
      <li class="carousel-nav__item carousel-nav__item--active" id="carousel-nav__item-0"><button class="carousel-nav__item-button" aria-label="carousel navigation button 0" id="carousel-nav__item-button-0"></button></li>
      <li class="carousel-nav__item" id="carousel-nav__item-1"><button class="carousel-nav__item-button" aria-label="carousel navigation button 1" id="carousel-nav__item-button-1"></button></li>
   </ul>
   <button class="carousel-next-button" style="display:none;"><i class="fa fa-chevron-right"></i></button>
 </div>