<header class="page-header bg-media page-header__image" style="background-image: url('{{ heroImageSrc }}'); background-position: center;">
  <div class="page-header__tint-placeholder"></div>
  {% if heroTitle %}<h1>{{ heroTitle }}</h1>{% endif %}
</header>
