.article-carousel {
    font-family: var(--bs-body-font-family);
    font-weight: 300;
}

.article-carousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.article-carousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.article-carousel .carousel {
    height: 100%;
    margin-bottom: 2rem;
    background-color: #EEE;
    overflow: hidden;
}

.article-carousel .carousel-inner {
    height: auto;
}

.article-carousel .carousel-item {
    height: 100%;
}

.article-carousel .carousel-image-container {
    height: 230px;
    width: 100%;
    background-color: #878787;
    text-align: center;
    overflow: hidden;
}

.article-carousel .carousel-image-container img {
    width: auto;
    height: 102%;
    margin: 0 auto;
}

.article-carousel .carousel-indicators {
    position: absolute;
    top: 230px;
    height: 80px;
    margin: 0 auto;
    padding: 2rem 0 0;
}

.article-carousel .carousel-indicators [data-bs-target] {
    text-indent: 0;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin-left: 8px;
    margin-right: 8px;
    color: #FFF;
    background-color: #1e3666;
}

.article-carousel .carousel-indicators [data-bs-slide-to="0"]:before {
    content: "1";
}

.article-carousel .carousel-indicators [data-bs-slide-to="1"]:before {
    content: "2";
}

.article-carousel .carousel-indicators [data-bs-slide-to="2"]:before {
    content: "3";
}

.article-carousel .carousel-indicators [data-bs-slide-to="3"]:before {
    content: "4";
}

.article-carousel .carousel-indicators [data-bs-slide-to="4"]:before {
    content: "5";
}

.article-carousel .carousel-indicators [data-bs-slide-to="5"]:before {
    content: "6";
}

.article-carousel .carousel-indicators [data-bs-slide-to="6"]:before {
    content: "7";
}

.article-carousel .carousel-indicators [data-bs-slide-to="7"]:before {
    content: "8";
}

.article-carousel .carousel-indicators [data-bs-slide-to="8"]:before {
    content: "9";
}

.article-carousel .carousel-indicators [data-bs-slide=prev],.article-carousel .carousel-indicators [data-bs-slide=next] {
    background-color: transparent;
    position: relative;
}

.article-carousel .carousel-control-prev {
    bottom: initial;
    top: 0;
    z-index: 11;
    left: 0;
}

.article-carousel .carousel-control-next {
    bottom: initial;
    top: 0;
    z-index: 11;
    right: 0;
}

.article-carousel .carousel-text-container {
    display: block;
    position: relative;
    margin: 8.5rem auto 0;
    padding: 0 1rem 2rem;
}

@media (min-width: 768px) {
    .article-carousel .carousel {
        margin-top: 1rem;
        padding: 0;
    }

    .article-carousel .carousel-indicators {
        top:450px;
        padding-top: 1rem;
    }

    .article-carousel .carousel-indicators [data-bs-target] {
        font-size: 14px;
        line-height: 25px;
        height: 25px;
        width: 25px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .article-carousel .carousel-image-container {
        height: 450px;
    }

    .article-carousel .carousel-text-container {
        margin: 4rem auto 0;
        padding: 3rem;
    }
}