

.page-carousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

.page-carousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.carousel.page-carousel  {
    height: 100%;
    /* height: auto; */
    margin-bottom: 2rem;
}

.page-carousel  .carousel-inner {
    height: auto;
}

.page-carousel .carousel-item {
    height: 100%;
}

/* v v v Styling for full width variable height carousel iamges v v v */

/* .carousel-image-container {
    height: auto;
    width: auto;
}

.carousel-image-container img {
    width: 100%;
    height: auto;
} */

.page-carousel .carousel-image-container {
    height: 230px;
    width: 100%;
    background-color: #333;
    text-align: center;
    overflow: hidden;
}

.page-carousel .carousel-image-container img {
    width: auto;
    height: 102%;
    margin: 0 auto;
}

.page-carousel .carousel-indicators {
    /* position: relative; */
    position: absolute;
    top: 230px;
    height: 60px;
    margin: 0 auto;
    background-color: #EEE;
}

.page-carousel .carousel-indicators [data-bs-target] {
    border-top: 20px solid transparent;
    text-indent: 0;
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    width: 25px;
    color: #FFF;
    background-color: #1e3666;
}

.page-carousel .carousel-indicators [data-bs-slide-to="0"]:before {
    content: "1";
}
.page-carousel .carousel-indicators [data-bs-slide-to="1"]:before {
    content: "2";
}
.page-carousel .carousel-indicators [data-bs-slide-to="2"]:before {
    content: "3";
}
.page-carousel .carousel-indicators [data-bs-slide-to="3"]:before {
    content: "4";
}
.page-carousel .carousel-indicators [data-bs-slide-to="4"]:before {
    content: "5";
}
.page-carousel .carousel-indicators [data-bs-slide-to="5"]:before {
    content: "6";
}
.page-carousel .carousel-indicators [data-bs-slide-to="6"]:before {
    content: "7";
}
.page-carousel .carousel-indicators [data-bs-slide-to="7"]:before {
    content: "8";
}
.page-carousel .carousel-indicators [data-bs-slide-to="8"]:before {
    content: "9";
}

.page-carousel .carousel-indicators [data-bs-slide="prev"],
.page-carousel .carousel-indicators [data-bs-slide="next"] {
    background-color: transparent;
    position: relative;
}


.page-carousel .carousel-control-prev {
    bottom: initial;
    top: 0;
    z-index: 11;
    left: 0;
}

.page-carousel .carousel-control-next {
    bottom: initial;
    top: 0;
    z-index: 11;
    right: 0;
}

.page-carousel .carousel-text-container {
    display: block;
    position: relative;
    margin: 1.5rem auto 0;
    padding: 0 1rem 2rem;
    background-color: #EEE;
}

.page-carousel .carousel-text-container {
    margin-top: 60px;
}

@media (min-width: 768px) {
    .page-carousel .carousel-indicators {
        top: 450px;
    }    

    .page-carousel .carousel-image-container {
        height: 450px;
    }

    .page-carousel .carousel-text-container {
        margin: 1.5rem auto 0;
        padding: 0 4rem 2rem;
    }
}

/* @media (min-width: 992px) {
    .container {
        width: 1100px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1400px;
    }
}

 */