main {
    background-color: #415a8b;
}

.breadcrumb__container {
    font-size: 1.5rem;;
}

.page-header {
    width: 100%;
}

.page-header__image {
    width: 100%;
    height: 200px;
}

.page-header__image img {
    margin: 0 auto;
    width: 900px;
    margin-left: calc(50% - 450px);
    z-index: 9;
}

.page-header__tint-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
}

.page-header--dark {
    background: rgba(0,0,0,.5);
}

.page-header__photo-credit {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .page-header__photo-credit {
        margin: 0 auto;
        padding: 0;
        width: 900px;
        margin-left: calc(50% - 450px);
    }
}

.photo-credit__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.photo-credit__wrapper p {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 1.2rem;
    padding: 0;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: visible;
    white-space: nowrap;
}

.photo-credit--light-1 {
    color: #FFF;
    opacity: 0.72;
}
.photo-credit--light-2 {
    color: #FFF;
    opacity: 0.5;
}
.photo-credit--light-3 {
    color: #FFF;
    opacity: 0.27;
}
.photo-credit--dark-1 {
    color: #000;
    opacity: 0.72;
}
.photo-credit--dark-2 {
    color: #000;
    opacity: 0.5;
}
.photo-credit--dark-3 {
    color: #000;
    opacity: 0.27;
}

.feature-author .author__detail {
    display: block;
}

.article-issue {
    color: #999;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 3rem auto -1rem;
}

.article-issue__title {
    display: block;
}

.article-issue__date {
    display: block;
}

p.author__name,
.article-attribution p {
    color: #999;
    font-size: 1.5rem;
    line-height: 150%;
    margin: 0 auto 2.7rem;
}

.article-attribution p {
    margin-top: -2.1rem;
}

.feature-title h1 {
    font-size: 5rem;
    margin: 1rem auto 0;
}

.feature-title h2 {
    font-size: 3.6rem;
    line-height: 4.5rem;
    font-weight: 300;
    color: #888;
    margin: 1rem auto 1.75rem;
}

.article-highlight {
    background-color: #EEE;
    margin: 2rem auto;
    padding: 1rem 4rem 4rem;
}

.pull-quote,
.pull-quote-left,
.pull-quote-center,
.pull-quote-right {
    float: none;
    margin: 6rem 0;
    padding: 4rem 2rem;
    border: 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    text-align: center;
}

@media (min-width: 768px) {
    /* .page-header__photo-credit {
        right: -7rem;
        top: 39rem;
    } */
    .pull-quote-left {
        width: 35rem;
        float: left;
        margin: 1rem 4rem 2rem -40rem;
        padding: 2rem 3rem 2rem 0;
        border-width: 0;
        border-right: 1px solid #ccc;
    }

    .pull-quote-right {
        width: 35rem;
        float: right;
        margin: 1rem -40rem 2rem 4rem;
        padding: 2rem 0 2rem 4rem;
        border-width: 0;
        border-left: 1px solid #ccc;
    }

    .pull-quote-center {
        margin: 6rem 0;
        padding: 4rem 10rem;
        border-width: 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
}

.pull-quote .pull-quote-text {
    font-size: 3.6rem;
    line-height: 140%;
    font-weight: 300;
    color: #888;
    display: inline-block;
}

.pull-quote .pull-quote-text::before {
    color: #888;
    content: "\201C";
    display: inline;
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0.2rem;
}

.pull-quote .pull-quote-text::after {
    color: #888;
    content: "\201D";
    display: inline;
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -0.4rem;
}

.pull-quote .pull-quote-attribution {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 300;
    color: #888;
    text-align: right;
    display: inline-block;
    margin: 2rem auto 0;
    padding: 0 7rem;
}

.pull-quote .pull-quote-attribution::before {
    color: #888;
    content: "–";
    display: inline;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.ad-inline {
    margin-top: 4rem;
    padding-top: 6rem;
    margin-bottom: 4rem;
    padding-bottom: 6rem;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.ad-inline.ad-inline-footer {
    border:0 none;
    margin-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
}

.ad-inline img {
    width: 100%;
    max-width: initial;
    margin: 0 auto;    
}

.ad-bottom img {
    position: absolute;
    bottom: 53rem;
}

.article-carousel-item {
    width: 24.5%;
    display: inline-block;
}

@media (min-width: 576px) {
    .page-header__image {
        height: 230px;
    }
}

@media (min-width: 768px) {
    .article-issue__title {
        display: inline-block;
    }
    
    .article-issue__date {
        display: inline-block;
    }
    
    .article-issue__date:before {
        content: "|";
        padding: 0 10px 0 6px;
    }
    
    .page-header__image {
        height: 360px;
    }
    
    .feature-author .author__detail {
        display: flex;
    }
}

@media (min-width: 992px) {
    .page-header__image {
        height: 500px;
        margin: 0 auto;
    }

    /* .ad-inline img {
        width: auto;
        margin-left: calc(50% - 470px);
    } */
}