.article-issue {
    color: #999;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 1rem auto -1rem;
}

.article-issue__title {
    display: block;
}

.article-issue__date {
    display: block;
    margin: 0.75rem 0 2rem;
}

p.author__name,
.article-attribution p,
.publish-date p {
    color: #999;
    font-size: 1.5rem;
    line-height: 150%;
    margin: 0 auto 2.7rem;
}

.article-attribution p,
.publish-date p {
    margin-top: -2.1rem;
}

.feature-title h1 {
    font-size: 5rem;
    margin: 1rem auto 0;
}

.feature-title h2 {
    font-size: 3.6rem;
    line-height: 4.5rem;
    font-weight: 300;
    color: #888;
    margin: 1rem auto 1.75rem;
}

.article-highlight {
    background-color: #EEE;
    margin: 2rem auto;
    padding: 1rem 4rem 4rem;
}

.feature-author .author__detail {
    display: block;
}

.article-author__title {
    margin-top: 0;
}

.article-author {
    background-color: #dbe7f1;
    max-width: 900px;
}

@media (min-width: 768px) {
    .article-issue {
        margin: 2rem auto -1rem;
    }
    
    .article-issue__title {
        display: inline-block;
    }
    
    .article-issue__date {
        display: inline-block;
    }
    
    .article-issue__date:before {
        content: "|";
        padding: 0 10px 0 6px;
    }

    .feature-author .author__detail {
        display: flex;
    }
}