.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  overflow-y: scroll;
  max-height: 230px;
}

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

    .autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #e9e9e9;
    }

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


#accordion {
  /*padding: 0 1rem;*/
}

button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-size: initial;
  font-weight: 400;
  color: initial;
  height: initial;
  line-height: initial;
  outline: none;
}

  button:focus,
  button:active,
  button:hover,
  button:visited {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  button.btn {
    height: 4.6rem;
    line-height: 4.6rem;
    padding: 0 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: #FFF;
    /* background-color: #4A4A4A; */
    border: 0 none;
    border-radius: 5px;
  }

  .btn.btn-wide,
  button .btn-wide {
    width: 100%;
  }

  button.btn.disabled {
    cursor: default;
    background-color: #9B9B9B;
    opacity: 0.4;
  }

input[disabled] {
  cursor: default;
  background-color: #ECECEC;
  opacity: 0.4;
}

button.btn-outline.disabled {
  background-color: transparent;
  /*opacity: 0.4; */
}

.btn.btn-pay,
button.btn-pay,
.btn.btn-pay:hover,
button.btn-pay:hover,
.btn.btn-pay:active,
button.btn-pay:active,
.btn.btn-pay:focus,
button.btn-pay:focus,
.btn.btn-pay:visited,
button.btn-pay:visited {
  background-color: #417505;
}

button.btn.btn-pay.disabled:hover,
.form__container button.disbaled.btn-pay:hover,
.form__container button[disabled].btn-pay:hover {
  background-color: #333;
}

.btn-outline,
button.btn-outline {
  background-color: transparent;
  /* color: #4097cc; */
  color: #0068ad;
  /* font-size: 0.9em; */
  /* font-weight: 400; */
  /* line-height: 4.4rem; */
  /* border: 1px solid #4097cc; */
  border: 1px solid #0068ad;
}

.btn-outline:focus, 
button.btn-outline:focus {
  color: #0068ad; 
}

.isView .btn-outline,
.isView button.btn-outline,
.isView .btn-outline:hover,
.isView button.btn-outline:hover,
.isView .btn-outline:active,
.isView button.btn-outline:active,
.isView .btn-outline:focus,
.isView button.btn-outline:focus,
.isView .btn-outline:visited,
.isView button.btn-outline:visited {
  border-color: #AAA;
  color: #777;
}

.btn-ko,
button.btn-ko {
  background-color: transparent;
  color: #4097cc;
  font-size: 0.9em;
  font-weight: 400;
}

  .btn.btn-ko:hover,
  button.btn-ko:hover,
  .btn.btn-ko:active,
  button.btn-ko:active,
  .btn.btn-ko:focus,
  button.btn-ko:focus,
  .btn.btn-ko:visited,
  button.btn-ko:visited {
    background-color: transparent;
    color: #267fb9;
    opacity: 0.4;
  }

input[disabled], button.btn.disabled {
  cursor: default;
  background-color: #CCC;
}

.isView button.btn.save-section {
  background-color: #CCC;
}

.isView .btn.btn-ko,
.isView button.btn-ko,
.isView .btn.btn-ko:hover,
.isView button.btn-ko:hover,
.isView .btn.btn-ko:active,
.isView button.btn-ko:active,
.isView .btn.btn-ko:focus,
.isView button.btn-ko:focus,
.isView .btn.btn-ko:visited,
.isView button.btn-ko:visited {
  background-color: transparent;
  color: transparent;
}

.input-group {
  /* margin-bottom: 1.5rem; */
  width: 100%;
}

.checkbox-group .checkbox-label {
  margin: 0 0 1.0rem 2.8rem;
}

.checkbox-group .checkbox-label .caption {
  font-size: 1.1rem;
  display: block;
}

/* .input-group.checkbox-group label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5rem;
} */

.input-group.radio-group .radio-label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.event-edit .input-group .icon-help {
  margin-left: 2px;
  margin-top: 0;
  /* position: absolute; */
}

.event-edit .input-group .icon-help:after {
  width: 1.15rem;
  height: 1.15rem;
  /* top: -2px; */
}

.tooltip .tooltip-inner {
  background-color: #FFF;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
}

label {
  display: block;
  font-weight: normal;
}

.checkbox-container input[type=checkbox],
.checkbox-container input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.form-control[disabled],
fieldset[disabled] .form-control,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: default !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #ECECEC !important;
  opacity: 0.4;
}

input[disabled] + span {
  background-color: #ECECEC;
  border-color: #CCC;
  opacity: 0.4;
}

.input-group.required label {
  padding-left: 0rem;
}

.event-info__start-date--dropdown-start-date-container label,
.event-info__start-date--dropdown-end-date-container label {
  /* padding-left: 1rem; */
}

.add-new-inputs .input-group.required label:before {
  left: -8px;
}

.event-info__start-date--dropdown-start-date-container.required:before,
.event-info__start-date--dropdown-end-date-container.required:before {
  top: -4px;
}

.form-group-header {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  margin: 0 auto 2.0rem;
}

.input-group-header {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  margin: 0 auto 1.0rem;
}

.checkbox-group .input-group-header {
  margin-top: 0;
}

.input-group.checkbox-group {
  margin-bottom: 3rem;
}

.checkbox-group .input-group-header.required {
  padding-left: 1rem;
}
.checkbox-group .input-group-header.required:before {
  top: 0;
}

.event-director-privacy .input-group.checkbox-group {
  margin-bottom: 1rem;
}

.radio-group-header {
  /* margin-bottom: 1.5rem; */
  margin: 2rem auto;
}

.input-group label {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.45rem;
}

.input-group label.label-large {
  font-size: 1.3rem;
  font-weight: 600;
}

.input-group-header .caption,
.label-large .caption {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4rem;
  display: block;
  margin: 0.3rem auto;
}

.input-group-header .label-caption,
.input-group .label-caption {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4rem;
  display: block;
  margin-bottom: 0.2rem;
}

.input-group-header + .label-caption {
  margin-top: -0.6rem;
}

.form__container .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #626262;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form__container textarea.form-control {
  /* padding: .5rem 1.5rem; */
  text-indent: 0;
}

.form__container select.form-control {
  height: 3.4rem;
  background-color: #FFF;
  text-transform: capitalize;
  border-radius: 5px;
  border-color: #CCC;
  margin: 0;
}

@media (min-width: 768px) {
  .contact-secondary-email {
    margin-top: -1.5rem;
  }
  .isEdit.section__header:after {
    z-index: -1;
  }
  .isEdit .section__header:after {
    display: none;
  }
}

.contact-privacy-name, 
.contact-privacy-email, 
.contact-privacy-phone {
  margin-bottom: 0;
}

.contact-header {
    font-weight: bold
}

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-container .modal-body ul,
.modal-container .modal-body ol {
    padding-left: 1rem;
}

.modal-container .modal p,
.modal-container .modal li,
.modal-content .modal-body p,
.modal-content .modal-body ul li,
.modal-content .modal-body ol li {
    text-align: left;
    padding-left: 0;
    padding-top: 0;
    font-size: 1.5rem;
    line-height: 150%;
    font-weight: 400;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.popover-link:focus,
.popover-link:hover {
  outline: 0;
  text-decoration: none;
  border: 0;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

  .popover.top {
    margin-top: -10px;
  }

  .popover.right {
    margin-left: 10px;
  }

  .popover.bottom {
    margin-top: 10px;
  }

  .popover.left {
    margin-left: -10px;
  }

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover > .arrow {
  border-width: 11px;
}

.popover > .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}

.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff;
}

.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}

  .popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #fff;
  }

.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}

  .popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #fff;
  }

.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}

  .popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #fff;
    bottom: -10px;
  }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;
}

  .tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
  }

  .tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
  }

  .tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
  }

  .tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
  }

  .tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
  }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}





.club-edit .form-control.has-success {
  border: 1px solid #ccc;
}
.club-receipt .section {
  border-bottom: 1px solid #CCC;
  padding-bottom: 2rem;
}
.club-edit .checkbox-container {
  margin-right: 5px;
}
.input-group.fade {
  height: 0;
  visibility: hidden;
  display: none;
}
.add-club-choice__title .icon-help:after,
.input-group label + .icon-help:after,
.input-group label .icon-help:after,
.input-group-header .icon-help:after {
  content: "";
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-help.png");
  /* background-image: url("../../img/icon-help.png"); */
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  top: 0.1rem;
  right: 0;
  cursor: pointer;
}
.add-club-choice__title .icon-help:after {
  top: -0.9rem;
  right: .4rem;
}
/* .club-edit .form-group {
  margin-bottom: 1.5rem;
} */
.form__container .club-edit .location-details.show .form-group.form-group-hidden {
  display: none;
}
.form__container .club-edit .location-details.show .form-group.form-group-hidden.show {
  display: block;
}
.form__container .club-edit .location-details.show .input-group.location-type--other.show {
  opacity: 1;
  height: 3.4rem;
}
.form__container .club-edit .location-details.show .input-group.location-type--other.show input {
  height: 3.4rem;
  margin-bottom: 2.5rem;
  padding: 0.5rem 0;
}
.form__container .club-edit .help-block.has-error {
  color: #C62030;
  background-color: #FFF;
  padding: 0;
  display: block;
  margin: 0 auto 1.5rem;
}
.club-edit .card {
  padding: 0;
}
.form__container .club-edit .section--disabled .section__header {
  color: lightgray;
  pointer-events: none;
}
.form__container .club-edit .section--disabled.hasData .section__header:after {
  display: none;
}
.form__container .club-edit .section--disabled .section__header .section__number {
  border-color: lightgray;
  pointer-events: none;
}
.form__container .btn-link,
.form__container .btn-link:hover,
.form__container .btn-link:focus,
.form__container .btn-link:active {
  border-color: transparent;
  background-color: transparent;
}
.form__container .btn-link {
  color: #0068ad;
  font-weight: normal;
  border-radius: 0;
}
.form__container .btn-link,
.form__container .btn-link:active,
.form__container .btn-link.active,
.form__container .btn-link[disabled],
.form__container fieldset[disabled] .btn-link {
  background-color: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form__container .btn-outline,
.form__container .btn-outline:active,
.form__container .btn-outline.active,
.form__container .btn-outline[disabled],
.form__container fieldset[disabled] .btn-outline {
  background-color: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form__container .btn-outline .fa-plus {
  /* margin: 0 5px 0 -10px; */
  margin: 0 5px 0 -2px;
}

.club-edit .coach-header,
.club-edit .alts-header {
  margin-bottom: 3.5rem;
}
.club-edit .list-item p {
  /* font-weight: 400; */
  /* line-height: 120%; */
}
.club-edit .list-item p.location-name {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  display: inline-flex;
}
.club-edit .edit-list .list-item p.location-name {
  margin-top: 0;
}
.club-edit .btn.location-add-venue {
  text-align: left;
  width: 103px;
}
.club-edit .btn.location-add-configuration {
  text-align: left;
  width: 160px;
}
.club-edit .btn#addLocationBtn {
  text-align: left;
  /* width: 140px; */
  width: auto;
}
.club-edit .btn.location-add-venue,
.club-edit .btn.location-add-configuration {
  margin: 1rem 0;
}
.club-edit .location-address-street,
.club-edit .location-city {
  line-height: 1.85rem;
  font-size: 1.35rem;
}
.club-edit input#locationName {
  font-weight: 400;
}
.coach-name,
.coach-phone,
.coach-email,
.coach-location,
.coach-id,
.coach-certification,
.coach-title,
.coach-validated {
  word-break: break-all;
  line-height: 15px;
  margin-bottom: 8px;
}
.coach-validated {
  color: red;
}
#cancelAddLocationBtn,
#cancelAddCoachBtn,
#cancelAddAltsBtn {
  display: none;
}
.club-edit__container > .row {
  width: 100%;
}
.usms-container p.club-edit__introduction {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  margin: -1.5rem auto 1.5rem;
}
.club-edit {
  padding-top: 0;
}
.club-edit .section {
  margin: 0 0 2rem;
  padding: 0;
  position: relative;
  width: 100%;
}
.club-edit .section-payment {
  margin-top: 3rem;
}
.club-edit .section-payment__contact-pending {
  color: red;
}
.club-edit .payment-info__price-label {
  text-align: left;
  font-size: 1.25rem;
}
.club-edit .payment-info__price {
  text-align: left;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin-top: -0.5rem;
  margin-bottom: 1.25rem;
}
.club-edit .club-receipt .section {
  border-bottom: 1px solid #CCC;
}
.club-edit .section__header {
  cursor: pointer;
  display: inline-block;
  margin: 3rem 0 0;
  padding: 0;
  width: auto;
  color: #626262;
  font-size: 2.1rem;
  text-align: left;
}
.club-edit .section__header--summary {
  margin: -2.5rem auto 3rem;
}
.club-edit .section__header--summary,
.club-edit .contact-list__awaiting__message {
  font-size: 1.35rem;
  line-height: 2.3rem;
}
.club-edit .section__content {
  transition: all .25s linear;
  margin: 1rem auto 0;
  padding: 1rem 0.5rem 0;
  position: relative;
}
.club-edit #club-payment__content {
  padding: 0;
}
.club-edit #club-payment p {
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
}
.club-edit .section__number {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.3rem;
  height: 2.6rem;
  width: 2.6rem;
  text-align: center;
  display: inline-block;
  border-radius: 13px;
  border: 1px solid #000;
  margin: 0 0.75rem 0 0;
  vertical-align: bottom;
}
.club-edit .section__header:after {
  content: "";
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 2.7rem;
  top: 0.5rem;
  right: 0.75rem;
}
.club-edit .hasData .section__header:after {
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-checkmark-active.png");
}
.club-edit .isEdit .section__header:after,
.club-edit .hasData.isEdit .section__header:after {
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-checkmark.png");
}
.club-edit button.section__edit-btn {
  margin: 0;
  padding: 0;
  display: block;
  width: 6rem;
  height: 2.2rem;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
}
.club-edit .isView.hasNoData .section__edit {
  background-image: none;
}
.club-edit .hasData .section__edit {
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-pencil.png");
}
.club-edit .section__edit {
  background-position: center left;
  background-size: 2.5rem;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 6rem;
  height: 3rem;
  top: 0.6rem;
  right: -0.6rem;
  cursor: pointer;
  display: none;
}
.club-edit .hasData .section__edit:after,
.club-edit .hasData .section__edit:after {
  content: "Edit";
  font-size: 0.9rem;
  color: #6c6c6c;
  width: 5rem;
  position: absolute;
  top: 1.2rem;
  left: 2.2rem;
  cursor: pointer;
  z-index: -1;
}
.club-edit .hasData .section__edit,
.club-edit .isView.hasData .section__edit {
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-pencil.png");
}
.club-edit .isEdit .section__edit {
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-pencil-active.png");
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-pencil-active.png");
}
.club-edit .section__controls {
  margin: 2rem 0;
}
.club-edit .section__controls button {
  display: inline-block;
  text-align: center;
  margin: 0 auto 1rem;
}
.club-edit .section__controls .btn.save-section {
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.club-edit login-form .form-group .form-group {
  margin: 2.0rem 0 4.0rem;
  padding-left: 0;
}
.club-edit form[data-wffm] label {
  font-weight: 400;
}
.club-edit .club-branding .form-group-header {
  margin-bottom: 3rem;
}
.club-edit .club-branding .club-website span.input-group-btn button.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.club-edit .club-description textarea,
.club-edit .practice-details textarea {
  height: 14rem;
  width: calc(98%);
  resize: none;
}
.club-edit .club-website label {
  margin-bottom: 1.0rem;
}
.club-edit .club-website input#clubWebsite + span.clubWebsite-icon {
  position: absolute;
  right: 15px;
  z-index: 5;
  top: 10px;
  display: none;
}
.club-edit .club-website input#clubWebsite.has-success + span.clubWebsite-icon {
  display: block;
  color: #3e8f3e;
}
.club-edit .club-website input#clubWebsite.has-error + span.clubWebsite-icon {
  display: block;
  color: #d9534f;
}
.club-edit .social-links label {
  display: table-cell;
  font-size: 1.2rem;
  text-align: right;
  vertical-align: middle;
  padding-right: 0.5rem;
  width: 15rem;
}
/* .club-edit .input-group-header.required:before {
  opacity: 100;
  content: "*";
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  top: 0;
  left: -1rem;
} */
.date-select-group.required label:before {
  content: "*";
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  left: 0;
}
.club-edit .input-group-header.required {
  padding-left: 0rem;
}

.club-edit .checkbox-group .input-group-header.required {
  padding-left: 1rem;
}

.club-edit .social-links .input-group-header {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.45rem;
  margin-top: 3rem;
}
.club-edit .social-links .input-group {
  margin-bottom: 1.0rem;
}
.club-edit .club-logo label {
  margin-bottom: 1.0rem;
}
/* .club-edit .upload-thumbnail {
  width: 100px;
  height: 80px;
  border: 1px solid #ccc;
  display: table-cell;
  position: absolute;
  background-size: cover;
  background-position: center center;
  margin-top: .6rem;
} */
.club-edit .club-logo__remove-image {
  left: -5px;
  top: -5px;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  font-size: 0.75rem;
  background-color: white;
}
.club-edit .club-logo .form-control {
  border: 0 none;
  margin-left: 100px;
}
.club-edit .upload-box {
  margin-left: 120px;
  min-height: 1rem !important;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.event-info-image label {
  margin-bottom: 1.0rem;
}

/* @media (min-width: 1200px) {
  .club-edit .upload-box {
    min-height: 9rem !important;
  }
} */

/* .meet-announcement .upload-box.upload-box--file {
  margin-left: 0;
  margin-right: 60px;
  min-height: 9rem;
} */
.meet-announcement-container {
  margin-bottom: 4rem;

}
.club-edit .upload-instructions span {
  display: block;
  font-size: 1.0rem;
  line-height: 1.2rem;
}
/* .club-edit .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
} */
.club-edit .inputfile + label {
  max-width: 80%;
  width: 145px;
  height: 4.6rem;
  line-height: 4.6rem;
  padding: 0 2rem;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #fff;
  background-color: #9b9b9b;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
.club-edit .inputfile + label svg {
  vertical-align: sub;
  margin-right: .5rem;
}
.club-edit .club-insurance {
  margin-top: 1.5rem;
}
.club-edit .club-insurance .help-block {
  margin-bottom: 0.5rem;
}
.club-edit .input-group.contact-primary-text-notification,
.club-edit .input-group.contact-secondary-text-notification {
  margin: -1.5rem 0 3rem;
}
.club-edit #club-contact .contact-type-form .radio-label {
  margin-bottom: 0;
  padding-left: 30px;
}
.club-edit .contact-header,
.club-edit .contact-name,
.club-edit .contact-location,
.club-edit .contact-phone,
.club-edit .contact-email {
  word-break: break-all;
  line-height: 15px;
  margin-bottom: 8px;
}
.club-edit .lookup .form-group-header {
  margin-bottom: 0.75rem;
}
.club-edit .input-group.lookup-select,
.club-edit .input-group.lookup-controls,
.club-edit .location-details,
.club-edit .coach-details,
.club-edit .coach-details__nonmember,
.club-edit .alts-details,
.club-edit .location-inputs,
.club-edit .input-group.lookup-confirm {
  display: block;
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  transition: all .25s linear;
  overflow: hidden;
}
.club-edit .lookup-inputs {
  display: block;
  opacity: 0;
  height: 0;
  transition: all .25s linear;
  overflow: hidden;
}
.club-edit .input-group.lookup-select input,
.club-edit .input-group.lookup-select label {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  transition: all .25s linear;
}
.club-edit .input-group.lookup-select select {
  opacity: 0;
  height: 0;
  margin-top: -17px;
  padding: 0;
  transition: all .25s linear;
}
.club-edit .input-group.lookup-select.show,
.club-edit .input-group.lookup-controls.show,
.club-edit .coach-details.show,
.club-edit .coach-details__nonmember.show,
.club-edit .lookup-inputs.show,
.club-edit .location-details.show,
.club-edit .location-inputs.show,
.club-edit .input-group.lookup-confirm.show {
  opacity: 100;
  height: auto;
  margin-bottom: 0;
  overflow: visible;
}
.club-edit .input-group.lookup-select.show input,
.club-edit .input-group.lookup-select.show label {
  opacity: 100;
  height: auto;
  margin-bottom: 5px;
}
.club-edit .input-group.lookup-select.show select {
  opacity: 100;
  height: 3.4rem;
  margin-top: 0;
}
.club-edit .lookup-controls button {
  margin: 0 0 0 0.6rem;
}
.club-edit .lookup-controls__name {
  font-weight: 700;
}
.club-edit .input-group.lookup-confirm .btn {
  margin: 0.5rem 0 0;
}
.club-edit .club-privacy {
  margin-bottom: 3rem;
}
.club-edit .club-privacy__header {
  font-size: 14px;
  font-weight: 600;
  line-height: 2.0rem;
  /* height: 2.0rem; */
  height: auto;
  margin: 0 auto 2.0rem;
  padding: 0;
}
.club-edit .list__container {
  margin: 0 auto 2rem;
}
.club-edit .list__header {
  font-size: 14px;
  font-weight: 600;
  line-height: 2.0rem;
  height: 2.0rem;
  margin: 2rem auto;
  padding: 0;
  display: none;
}
.club-edit .list__header.show {
  display: block !important;
}

.club-edit button.list-item__edit:before {
  position: relative;
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-pencil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 15px;
  height: 20px;
  margin: 0;
  top: 4px;
  left: 5px;
}
.club-edit .edit-list button.list-item__edit:before {
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-pencil-active.png");
  width: 0;
}
.club-edit .list__controls .btn-link {
  font-size: 1.0rem;
  line-height: 1.1rem;
  padding: 0;
  margin: 0 5px 0 0;
  height: 20px;
  color: #666;
  vertical-align: baseline;
}
.club-edit .location .list__controls .btn-link {
  margin-right: 10px;
}
.club-edit .contact-list__controls,
.club-edit .coach-list__controls,
.club-edit .location .list_controls {
  display: inline-block;
}
.club-edit .contact-list__awaiting__message {
  margin-bottom: 2rem;
}
.club-edit #editLocationsList,
.club-edit #editContactList,
.club-edit #editNonMemberCoachList,
.club-edit #editCoachList,
.club-edit #editRefList,
.club-edit #editSafetyCoordinatorList,
.club-edit #editHostList {
  display: inline-flex;
}
.club-edit #saveLocationsList,
.club-edit #saveContactList,
.club-edit #saveNonMemberCoachList,
.club-edit #saveCoachList,
.club-edit #saveRefList,
.club-edit #saveSafetyCoordinatorList,
.club-edit #saveHostList {
  display: none;
}
.club-edit #cancelLocationsList,
.club-edit #cancelContactList,
.club-edit #cancelNonMemberCoachList,
.club-edit #cancelCoachList,
.club-edit #cancelRefList,
.club-edit #cancelSafetyCoordinatorList,
.club-edit #cancelHostList {
  display: none;
  margin-left: 0;
  padding-left: 8px;
  border-left: 1px solid #CCC;
}
.club-edit .edit-list #editLocationsList,
.club-edit .edit-list #editContactList,
.club-edit .edit-list #editNonMemberCoachList,
.club-edit .edit-list #editCoachList {
  display: none;
}
.club-edit .edit-list #saveLocationsList,
.club-edit .edit-list #saveContactList,
.club-edit .edit-list #saveNonMemberCoachList,
.club-edit .edit-list #saveCoachList {
  display: inline-block;
}
.club-edit .edit-list #cancelLocationsList,
.club-edit .edit-list #cancelContactList,
.club-edit .edit-list #cancelNonMemberCoachList,
.club-edit .edit-list #cancelCoachList {
  display: inline-block;
}
.club-edit .list__controls--settings,
.club-edit button.list-item__delete, 
.club-edit .btn.list-item__delete,
.club-edit .btn.list-item__edit,
.club-edit button.list-item__edit {
  display: none;
}
.club-edit .edit-list button.list-item__edit,
.club-edit .edit-list button.list-item__delete {
  display: inline-block;
  font-size: 1.0rem;
  line-height: 1.1rem;
  padding: 0;
  margin: 0 10px 0 0;
  height: auto;
  color: #666;
  vertical-align: baseline;
}
.club-edit .edit-list button.venue-edit-button:before,
.club-edit .edit-list button.configuration-edit-button:before {
  content: "";
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-pencil.png");
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 15px;
  height: 20px;
  margin: 0;
  top: 4px;
  left: 0;
}
.club-edit .edit-list button.list-item__delete {
  margin: 0 0 5px 0;
  text-align: left;
}
.club-edit .edit-list button.venue-remove-button:before,
.club-edit .edit-list button.configuration-remove-button:before,
.club-edit .edit-list button.list-item__delete:before {
  content: "";
  opacity: 0.4;
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-list-item-delete.png");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  top: 2px;
  left: 0;
}
.club-edit .list-item .head-coach__select {
  display: none;
}
.club-edit .edit-list .list-item .head-coach__select {
  display: block;
  margin: 0.6rem 0 0.4rem;
}
.club-edit .head-coach__select .radio-input--coach-list,
.club-edit .head-coach__select .radio-label--coach-list {
  color: #000;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  margin: 0 0 0.5rem;
}
.club-edit .head-coach__select .radio-label--coach-list {
  font-size: 1.2rem;
}
.club-edit .head-coach__select .radio-input--coach-list {
  float: left;
  margin-left: -2px;
  margin-right: 2px;
}
.club-edit input.radio-input--coach-list:checked + label {
  font-weight: bold;
}
.club-edit .list.locations.edit-list .list__controls {
  display: block;
}
.club-edit .list.locations .list__controls {
  display: none;
  vertical-align: baseline;
  height: 2.0rem;
  margin: 0 0 .5rem;
}
.club-edit .list-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* margin-bottom: 2.75rem; */
  margin-bottom: 2rem;
  position: relative;
  opacity: 1;
  right: 0px;
  transition: all 0.125s ease;
}
.club-edit .list-item.has-error {
  box-shadow: 0 0 5px 0 red;
  padding: 10px;
}
.club-edit .list-item.has-error span.help-block {
  display: block;
}
.club-edit .list-item span.help-block {
  display: none;
}
.club-edit .list-item p {
  /* margin: 0.2rem 0 0.3rem; */
}
.club-edit .list-item .location-add-venue,
.club-edit .list-item .location-add-configuration {
  display: none;
}
.club-edit .list-item.is-edit .location-add-venue,
.club-edit .list-item.is-edit .location-add-configuration {
  display: block;
}
.club-edit .list-item.is-edit p.venue-name {
  margin-top: 0;
}
.club-edit .list-item--fade-out {
  opacity: 0;
  right: -10px;
  visibility: hidden;
  height: 0;
}
.club-edit .coach .form-group,
.club-edit .alts-instructor .form-group {
  margin-bottom: 0;
}
.club-edit .form-group .club-coach__add-new {
  margin-bottom: 3rem;
}
.club-edit #addNewCoach {
  margin: 1rem 0;
}
.club-edit .coach .lookup-controls,
.club-edit .alts-instructor .lookup-controls {
  margin-bottom: 5rem;
}
.club-edit .coach-id,
.club-edit .alts-id {
  margin: 1.0rem 0 1.5rem;
}
.club-edit .hasData .skip-coach {
  display: none;
}
.club-edit .coach-id,
.club-edit .coach-certification,
.club-edit .coach-designation,
.club-edit .alts-id,
.club-edit .alts-certification,
.club-edit .alts-designation {
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin-top: 1.0rem;
}
.club-edit .alts-id__value,
.club-edit .alts-certification__value,
.club-edit .coach-id__value,
.club-edit .coach-certification__value,
.club-edit .coach-designation__value {
  font-weight: 700;
}
.club-edit .coach-id__cert:before {
  content: "";
  background-image: url("https://www.usms.org/-/media/usms/developers/images/club/icon-ribbon-blue.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  width: 7px;
  height: 25px;
  top: -1px;
  left: -11px;
  cursor: pointer;
  vertical-align: middle;
}
.club-edit .coach-id__cert {
  font-size: 1.1rem;
  font-weight: 700;
  /* margin-top: .25rem; */
  /* max-width: 160px; */
  /* line-height: 1.2rem; */
  margin: 0 0 0 11px;
  padding: 0;
  text-align: left;
  position: relative;
  /* min-height: 25px; */
  /* vertical-align: middle; */
  height: 20px;
}
.club-edit .coach-email {
  word-break: break-all;
}
.club-edit .coach-title,
.club-edit .alts-title {
  margin-top: 2rem;
  background-color: #ddd;
  line-height: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  align-self: baseline;
  padding: .1rem .8rem;
}
.club-edit .coach-title.change-headcoach {
  display: none;
  background-color: #727272;
  background-color: #5c5c5c;
  border-radius: 2px;
  font-weight: 300;
  color: #fff;
  width: 125px;
  cursor: pointer;
}
.club-edit .coach-error {
  opacity: 0;
  height: 0;
  transition: all 0.15s ease;
}
.club-edit .coach-error.coach-error--shown {
  opacity: 1;
  height: 15px;
  margin-bottom: 15px;
}
.club-edit .edit-list__item .coach-title.change-headcoach {
  display: block;
}
.club-edit .change-head-coach {
  margin-top: -0.5rem;
  display: none;
}
.club-edit .edit-list__item .change-head-coach {
  display: block;
}
.club-edit .col-flex {
  display: flex;
}
.club-edit .radio-label--inline {
  display: inline-block;
  width: auto;
  margin-right: 3rem;
  line-height: 1.8rem;
}
/* .club-edit .radio-label--inline .radio-container {
  margin-right: 3px;
} */






.radio-container {
  margin-right: 0;
  margin-left: -2.4rem;
}


label.radio-label {
  /* margin-left: 2rem; */
  margin-left: 3.3rem;
  margin-right: 0;
  max-width: 85%;
  line-height: 130% !important;
}
.radio-label--inline .radio-container {
  margin-right: 8px;
}
/* .radio-container {
  margin-right: 0;
  margin-left: -2.5rem;
} */
.radio__placeholder {
  left: -2.8rem;
}
.radio-label--inline .radio__placeholder {
  left: -2rem;
}


@media (min-width: 1200px) {
  label.radio-label {
      margin-left: 2.5rem;
  }
  /* .radio-container {
      margin-left: -2.4rem;
  } */
  /* .radio__placeholder {
      left: -3rem;
  } */
  .radio-label--inline .radio__placeholder {
      left: -2.5rem;
  }
  .chose-pool-configuration {
      padding-left: 1rem;
  }
}


.input-group.radio-group {
  margin-bottom: 1.25rem;
}

@media (min-width: 1200px) {
  .input-group.radio-group {
      margin-bottom: 1rem;
  }
}



















.club-edit .radio-label--inline input {
  margin: 0 1rem;
}
.club-edit .radio-label--yes,
.club-edit .radio-label--no {
  flex: 1;
  text-align: center;
}
.club-edit .club-more-info .radio__placeholder {
  margin-left: calc(50% - 10px);
  top: 2px;
}
.club-edit .radio-label--coach-list {
  display: inline-block;
  margin: 0.65rem auto .5rem;
  line-height: 1.9rem;
  font-size: 1.35rem;
  flex: 1 1 auto;
}
.club-edit .coach-list {
  margin-top: 4rem;
}
.club-edit .help-block--addCoachMessage {
  display: inline-block;
  line-height: 2.5rem;
  height: 2.5rem;
  margin: 0;
  vertical-align: middle;
}
.club-edit .help-block--addCoachMessage + .help-block--btn {
  display: inline-block;
  font-size: 1.1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0 0 0 0.5rem;
  padding: 0 0.8rem;
}
.club-edit .location-details {
  overflow: hidden;
}
.club-edit .location-details .input-group-header {
  margin: 0;
}
.club-edit .location-details,
.club-edit .location-details .form-group,
.club-edit .location-details .input-group {
  display: block;
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  transition: all .25s linear;
}

.club-edit .location-details .form-group.entry {
  margin-bottom: 0;
}
.club-edit #cancelAddLocationBtnFooter {
  margin-left: 0.5rem;
}
.club-edit .location-details label,
.club-edit .location-details .form-group label,
.club-edit .location-details .input-group label {
  display: block;
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  transition: all .25s linear;
}
.club-edit .location-details label:before,
.club-edit .location-details .form-group label:before,
.club-edit .location-details .input-group label:before {
  display: block;
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  transition: all .25s linear;
}

.club-edit .location-details input,
.club-edit .location-details .form-group input,
.club-edit .location-details .input-group input {
  display: block;
  opacity: 0;
  height: 0;
  margin: 0;
  transition: all .25s linear;
}
.club-edit .location-details select,
.club-edit .location-details .form-group select,
.club-edit .location-details .input-group select {
  opacity: 0;
  height: 0;
  margin-top: -17px;
  transition: all .25s linear;
}
.club-edit .location-details.show .input-group-header {
  margin: 0 auto 1.0rem;
}
.club-edit .location-details.show .input-group-header.select-all {
  margin: 2rem 0 1.5rem;
}
.club-edit .coach-details.show {
  opacity: 100;
  height: 3.4rem;
  height: auto;
}

.club-edit .location-details.show,
.club-edit .alts-details.show {
  opacity: 100;
  height: 3.4rem;
  height: auto;
  margin: 0.0rem 0 4.0rem;
}
.club-edit .location-details.show .form-group {
  display: block;
  opacity: 100;
  height: auto;
  margin-top: 2.0rem;
}
.club-edit .location-details.show .input-group {
  opacity: 100;
  height: auto;
}
.club-edit .location-details.show label,
.club-edit .location-details.show .form-group label,
.club-edit .location-details.show .input-group label {
  opacity: 100;
  height: auto;
  margin-bottom: 5px;
}
/* .club-edit .location-details.show .input-group.required label:before {
  opacity: 100;
  content: "*";
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
} */
.club-edit .location-details.show .input-group.required label {
  padding-left: 1rem;
}
.club-edit .location-details.show input,
.club-edit .location-details.show .form-group input,
.club-edit .location-details.show .input-group input {
  opacity: 100;
  height: 3.4rem;
}
.club-edit .location-details.show select,
.club-edit .location-details.show .form-group select,
.club-edit .location-details.show .input-group select {
  opacity: 100;
  height: 3.4rem;
  margin-top: 0;
}
.club-edit .show .checkbox-group label.checkbox-label {
  margin: 0 0 1.0rem 2.8rem;
}
.club-edit .location-details.show .checkbox-group input.checkbox-text {
  height: 3.0rem;
  margin-top: 1rem;
}
.club-edit .location-details .entry-confirm,
.club-edit .coach-details .lookup-confirm,
.club-edit .alts-details .lookup-confirm {
  margin: 0 auto;
}
.club-edit .location-details .entry-confirm label {
  max-width: 330px;
  padding: 0 0 1.0rem;
  line-height: 1.5em;
}
.club-edit .club-more-info > .row {
  margin: 0 auto 1rem;
}
.club-edit .section#club-location .isEdit #doneEditLocationBtn {
  display: inline-block;
}
.club-edit .section#club-location .isEdit #editLocationBtn {
  display: none;
}
.club-edit .section#club-location #doneEditLocationBtn {
  display: none;
}
.club-edit .section#club-location #editLocationBtn {
  display: inline-block;
}
.club-edit .list-venue-form,
.club-edit .list-configuration-form {
  padding: 15px 20px 10px;
  margin-bottom: 2rem;
}
.club-edit .location-details.show {
  padding: 5px 20px 30px;
}
.club-edit .club-contact__not-member-container {
  padding: 5px 20px 20px;
}
.club-edit .club-coach__not-member-container {
  padding: 20px 20px 10px;
}
.club-edit .list-venue-form,
.club-edit .club-contact__not-member-container,
.club-edit .club-coach__not-member-container,
.club-edit .list-configuration-form,
.club-edit .location-details.show {
  background-color: #f4f4f4;
  transition: all 0.25s ease;
  max-width: 800px;
}
.club-edit .list-venue-form__fade,
.club-edit .club-contact__not-member-container__fade,
.club-edit .club-coach__not-member-container__fade,
.club-edit .list-configuration-form__fade,
.club-edit .location-details.show__fade {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}
.club-edit .list-venue-form__title,
.club-edit .club-contact__not-member-container__title,
.club-edit .club-coach__not-member-container__title,
.club-edit .list-configuration-form__title,
.club-edit .location-details.show__title {
  font-weight: bold;
}
.club-edit .list-venue-form #cancelSaveVenue,
.club-edit .club-contact__not-member-container #cancelSaveVenue,
.club-edit .club-coach__not-member-container #cancelSaveVenue,
.club-edit .list-configuration-form #cancelSaveVenue,
.club-edit .location-details.show #cancelSaveVenue,
.club-edit .list-venue-form #cancelSaveConfiguration,
.club-edit .club-contact__not-member-container #cancelSaveConfiguration,
.club-edit .club-coach__not-member-container #cancelSaveConfiguration,
.club-edit .list-configuration-form #cancelSaveConfiguration,
.club-edit .location-details.show #cancelSaveConfiguration {
  margin-left: 0.5rem;
}
.club-edit .list-venue-form .list-venue-form__cable-course-form,
.club-edit .club-contact__not-member-container .list-venue-form__cable-course-form,
.club-edit .club-coach__not-member-container .list-venue-form__cable-course-form,
.club-edit .list-configuration-form .list-venue-form__cable-course-form,
.club-edit .location-details.show .list-venue-form__cable-course-form {
  transition: all 0.25 ease;
}
.club-edit .list-venue-form .list-venue-form__cable-course-form--fade,
.club-edit .club-contact__not-member-container .list-venue-form__cable-course-form--fade,
.club-edit .club-coach__not-member-container .list-venue-form__cable-course-form--fade,
.club-edit .list-configuration-form .list-venue-form__cable-course-form--fade,
.club-edit .location-details.show .list-venue-form__cable-course-form--fade {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.club-edit .list-venue-form span.help-block.help-block.has-error,
.club-edit .club-contact__not-member-container span.help-block.help-block.has-error,
.club-edit .club-coach__not-member-container span.help-block.help-block.has-error,
.club-edit .list-configuration-form span.help-block.help-block.has-error,
.club-edit .location-details.show span.help-block.help-block.has-error {
  background-color: transparent;
}
.club-edit .venue__list,
.club-edit .configuration__list {
  margin: 0;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.club-edit .venue__list p.venue-name,
.club-edit .configuration__list p.venue-name,
.club-edit .venue__list p.venue-type,
.club-edit .configuration__list p.venue-type {
  display: inline-block;
}
/* .club-edit .venue__list p.venue-name {
  margin: 2rem 0 0.5rem;
} */
.club-edit .configuration__list p.venue-name {
  margin: 0.75rem 0 0.5rem;
}
.club-edit .venue__list p.venue-type,
.club-edit .configuration__list p.venue-type {
  margin-left: 8px;
}
.club-edit .venue__list.is-edit .list__controls,
.club-edit .configuration__list.is-edit .list__controls {
  display: block;
}
.club-edit .venue__list.is-edit p.venue-name,
.club-edit .configuration__list.is-edit p.venue-name,
.club-edit .venue__list.is-edit p.venue-type,
.club-edit .configuration__list.is-edit p.venue-type {
  display: inline-block;
}
.club-edit .venue__list.is-edit p.venue-type,
.club-edit .configuration__list.is-edit p.venue-type {
  margin-left: 0;
}
.club-edit .venue__list.is-edit .configuration__list--item,
.club-edit .configuration__list.is-edit .configuration__list--item {
  margin-left: 20px;
}
.club-edit .venue__list .list__controls,
.club-edit .configuration__list .list__controls {
  display: none;
}
.club-edit .venue__list .configuration-title,
.club-edit .configuration__list .configuration-title {
  font-size: 13px;
  font-style: oblique;
  margin: .25rem 0 0;
}
.club-edit .venue__list--item .venue-name,
.club-edit .configuration__list--item .venue-name {
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
}
.club-edit .venue__list--item .venue-type,
.club-edit .configuration__list--item .venue-type {
  font-size: 12px;
  line-height: 12px;
}
.club-edit .venue__list--item.has-error,
.club-edit .configuration__list--item.has-error {
  box-shadow: 0 0 5px 0 red;
  padding: 10px;
}
.club-edit .venue__list--item.has-error span.help-block,
.club-edit .configuration__list--item.has-error span.help-block {
  display: block;
}
.club-edit .venue__list--item span.help-block,
.club-edit .configuration__list--item span.help-block {
  display: none;
}
.club-edit .venue__list {
  margin-left: 20px;
}
.club-edit .usms-verified-form--fade {
  display: none;
  visibility: hidden;
  opacity: 0;
}
#saveClubName {
  margin: 3rem auto 4.5rem;
}
@media (--sm-viewport) {
  .container.club-edit {
    padding-top: 0;
  }
  .container.club-edit .input-group {
    margin-bottom: 0;
  }
  .container.club-edit .input-group.contact-secondary-email {
    margin-top: -1.5rem;
  }
  .form__container #club-payment .payment-info__information {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .form__container .club-edit .payment-info__price {
    display: block;
    margin-top: -1rem;
    font-size: 2.15rem;
  }
}
@media (min-width: 768px) {
  .form__container .club-edit .section__content {
    padding: 1rem 3.5rem 3rem;
  }
  .form__container .club-edit .section__header--summary {
    margin: -1rem auto 3.5rem;
  }
  .form__container .club-edit .section__controls {
    margin: 3rem auto 3rem;
  }
  .form__container .club-edit .section__controls button {
    display: inline-block;
    margin: 0 auto;
    padding-left: 2rem;
  }
  .form__container .club-edit .section__controls .btn.save-section {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
  .form__container .club-edit #club-details .section__content:before {
    height: calc(94%);
  }
  .form__container .club-edit #payment .section__header:after {
    display: none;
  }
}

.club-edit .location-list .list-item,
.club-edit .list-item.ui-lookup-filter-50mile,
.club-edit .list-item.ui-lookup-filter-zip {
  display: none;
}

.event-edit .form-group.agree-terms {
  width: 100%;
  padding: 0 !important;
  margin: 0;
}

.usms-container.form__container .event-sanction-help-links li {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0 2rem;
}

.input-group.radio-group > label {
  margin-left: 2.3rem;
}
@media (min-width: 1200px) {
  .input-group.radio-group > label {
    margin-left: 3.3rem;
  }
}

.btn.list-item__delete:before {
  content: "";
  opacity: 0.4;
  background-image: url('https://www.usms.org/-/media/usms/developers/images/club/icon-list-item-delete.png');
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  top: 2px;
  left: 0;
}



.form-group.form-group-hidden {
  display: none;
}


.form-group.form-group-hidden.show {
  display: block;
}



/* .list__header.required {
  padding-left: 0.5rem;
} */

.list__header.required:before {
  opacity: 100;
  content: "*";
  /* font-size: 16px; */
  position: absolute;
  top: 0.5rem;
  left: 0;
}

.form-group .list.list--lookup {
    /* margin-left: .23rem; */
    margin-left: 1.2rem;
    /* margin-top: -0.75rem; */
}