
:root {
    --bs-btn-active-color: #FFF;
}

.event-edit .row {
    margin-bottom: 1.5rem;
    width: 100%;
}

@media (min-width: 1200px) {
    .event-edit .row {
        margin-bottom: 2rem;
        width: 100%;
    }
}

.form__container select.form-control {
    background-image: url(https://usms-cdn.azureedge.net/-/media/usms/developers/Images/MyUSMS/icon-arrow-down);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 5px 5px 5px 5px !important;
    height: 4.6rem;
    padding: 0;
    color: #656565;
    background-color: #fff;
}

#contact-info__content {
    max-width: 800px;
    margin-left: 0;
}

.add-new-inputs {
    padding: 2rem;
}

.icon-help-label + .radio-group-header {
    margin-top: 0;
}

.tooltip .tooltip-inner {
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    min-width: 230px;
}

.event-edit .input-group-header.required:before {
    font-size: 1.4rem;
}

.input-group-header.required,
.radio-group-header.required {
    /* display: flex; */
    /* white-space: nowrap; */
}

.event-edit .input-group-header.required:before,
.event-edit .radio-group-header.required:before {
    /* opacity: 100; */
    /* content: "*"; */
    /* font-size: 18px; */
    /* font-weight: 300; */
    /* position: relative; */
    /* top: 0; */
    /* left: -1rem; */
}

.input-group select {
    color: #CCC;
}

.form__container .event-edit .help-block.has-error {
    top: -4px;
}

.contact-info__head-referee.has-error,
.contact-info__safety-coordinator.has-error,
.form__container .event-edit .radio-group .help-block.has-error {
    top: -23px;
}

.input-group select.has-success {
    color: #626262 !important;
}

.club-edit .event-info-image.input-group {
    display: table;
}

.event-info-classification label,
.event-info-course label,
.event-info-lmsc label,
.input-group label,
.form-group label,
.entry-info__paper-meet-announcement {
    /* font-size: 12.5px; */
    font-size: 1.4rem;
    font-weight: bold;
}

.input-group label.checkbox-label {
    font-weight: normal;
}

label.radio-label {
    font-size: 14px;
}

.lookup-ref-name label,
.lookup-safety-coordinator-name label {
    margin: 2rem 0;
}

.lookup-name label {
    margin-bottom: 2rem;
}

.contact-info-head-referee__add-new p,
.contact-info__event-director-other--add-new p, 
.contact-info-safety-coordinator__add-new p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.add-new-inputs label {
    font-weight: normal !important;
}

.event-info-classification select.form-control,
.event-info-course select.form-control,
.event-info-lmsc select.form-control {
    margin-bottom: 1.5rem;
}

/* .event-info-image > label {
    font-weight: bold;
} */

.event-edit .event-info-image .upload-box label {
    /* max-width: 170px; */
    /* display: none; */
}

.location__add-new-btn {
    font-size: 1.4rem; 
    font-weight: 700; 
    margin-top: -3rem; 
    margin-bottom: 1.5rem; 
    color: #333;
}

/* .event-edit .inputfile, 
.club-edit .inputfile, 
.club-edit.event-edit .inputfile {
    width: auto;
    height: auto;
    opacity: 1;
    position: absolute;
    z-index: 1;
} */

.event-info-details textarea.form-control {
    height: 14rem;
    width: calc(98%);
    resize: none;
}

/* .event-info-details textarea {
    height: 14rem;
    width: calc(98%);
    resize: none;
} */

.entry-info__comments textarea.form-control {
    height: 14rem;
    width: calc(98%);
    resize: none;
    /* margin-bottom: 4rem; */
}

/********************************************************************** Section 3 - Contact Info Event Director */
#contact-info .radio-label {
    margin-bottom: 0;
    /* padding-left: 30px; */
}

/* .contact-info-director__other--container p, */
.section__header--summary p {
    font-size: 1.6rem;
}

.upload-file .upload-box {
    margin-left: 0;
}

.event-edit .upload-file .help-block.has-error {
    top: -20px;
}

.event-edit .payment-agreement .help-block.has-error {
    top: -20px;
}

.event-edit .liability {
    overflow: visible;
}

.contact-privacy-name,
.contact-privacy-email,
.contact-privacy-phone {
    display: inline-block;
    width: auto;
    margin: 0 2rem 1rem 0;
}

/* 
.list .list__container .contact-info__event-director-privacy--container {
    height: 100%;
    opacity: 1;
}

.list .list__container.list__container--modified .contact-info__event-director-privacy--container {
    height: 0;
    opacity: 0;
} */

.form-group .list.list--lookup.people {
    margin-left: .23rem;
    margin-top: -0.75rem;
}

.list .list__container .contact-column {
    display: none;
}

.event-list__container {
    margin: 6rem 0 0;
    padding: 4rem 0 0;
}

.event-list__container:not(:first-of-type) {
    border-top: 1px solid #CCC;
}

.event-list__container:first-of-type {
    margin-top: 0;
    padding-top: 1rem;
}

/* .row .event-info-classification, */
/* .row .temp-range-group, */
/* .row .number-of-entries-group, */
/* .row .comments-to-chair, */
.row.contact-info__host-type,
.contact-group--head-ref,
.contact-group--safety-coordinator,
.row.course-description,
.row .timing-system-group {
    border-top: 1px dashed #DDD;
    max-width: 100%;
    padding-top: 2rem;
}

/* .row .temp-range-group,
.row .number-of-entries-group {
    width: 50%;
    display: inline-flex;
} */

.contact-group--event-director {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1.5rem;
}

.contact-group--host-type > .row.contact-info__host-type {
    padding-top: 3rem;
}

.contact-group--head-ref,
.contact-group--safety-coordinator {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.club-edit .form-group.contact-info__head-ref-lookup--container,
.club-edit .form-group.contact-info__host-type--container {
    margin-bottom: -1rem;
}

/* .list--lookup.people .list__container > .row, */
/* .list--lookup.people .list__container > .row, */
.event-edit .row.contact-list,
.row.contact-list > .form-grop,
.row.contact-list .list__container > .row,
.row.contact-list .list-item {
    margin-bottom: 0;
}

.contact-group--host-type > .row {
    padding-top: 1.5rem;
}

.row.course-description {
    margin-top: 3rem;
}

.course-description h5 {
    color: #000;
    font-size: 1.7rem;
}

.course-description .list-item {
    display: none;
}

.course-description .list-item.list-item-default {
    display: block;
}

.course-description .list-item p {
    font-size: 1.7rem;
}

/* .form-group.contact-information__event-host--list {
    margin-bottom: 4rem;
} */

/* .input-group.contact-info__safety-coordinator,
.input-group.contact-info__head-ref,
.input-group.contact-info__host-type {
    margin-top: 2rem;
    padding-top: 0rem;
} */

.contact-info__head-ref button,
.contact-info__safety-coordinator button {
    margin: 1.25rem 0 0.25rem;
}

.contact-list__additional-contacts--header {
    padding-top: 2rem;
}

#addNewEventDirector,
.form-group.contact-info__event-director--add-new-container.add-new-inputs {
    margin-bottom: 3rem;
}

.input-group.lookup-ref-name,
.form-group.contact-info-organization__add-new,
.form-group.contact-info__event-director-other--add-new,
.form-group.contact-info-host-type__other--container,
.form-group.contact-info__event-director-other--container,
.input-group.contact-info__head-ref,
.input-group.contact-info__safety-coordinator {
    margin-bottom: 0;
}

p.location__add-new-btn {
    font-size: 1.7rem; 
    /* font-weight: 300;  */
    margin-top: 4rem; 
    margin-bottom: 1.5rem;
}

p.course-description-link a,
p.location__add-new-btn a {
    text-decoration: underline;
    font-size: 1.65rem;
}

@media (min-width: 1200px) {
    p.location__add-new-btn {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    /* .form-group.contact-information__event-director--list, */
    .form__container .club-edit .section__header--summary.contact-list__event-director--message,
    .form-group.contact-info__event-director--add-new-container,
    .form-group.contact-info__event-director-other--container,
    .form-group.contact-info__event-director-other--add-new,
    .section__header--summary.contact-list__event-director--message,
    .form-group.contact-info__safety-coordinator-lookup--container,
    .form-group.contact-info__safety-coordinator-new--add-new,
    .form-group.contact-info__safety-coordinator--add-new-container,
    /* .form-group.contact-information__head-ref--list, */
    /* .form-group.contact-information__safety-coordinator--list, */
    .form-group.contact-info__head-ref-new--add-new,
    .form-group.contact-info__head-ref-lookup--container,
    .form-group.contact-info__head-ref--add-new-container,
    /* .form-group.contact-information__event-host--list, */
    .form-group.contact-info__host-type-club--container,
    .form-group.contact-info__host-type-lmsc--container,
    .form-group.contact-info-host-type__other--container,
    .form-group.contact-info-organization__add-new,
    .form-group.contact-info-host-type__other-organization--container {
        /* margin-left: 3rem; */
        margin-left: 0;
    }

    .contact-info__event-director-type-form .row {
        margin-bottom: 0;
    }
    
    /* .form-group.contact-info__head-ref-new--add-new,
    .form-group.contact-info__safety-coordinator-new--add-new {
        margin-bottom: 5rem;
    } */

    .list__header:not(.contact-information__event-director--list),
    .list__header:not(.contact-information__head-ref--list),
    .list__header:not(.contact-list__safety-coordinator--header),
    .list__header:not(.contact-information__event-host--list) {
        margin-left: -3rem;
    }
    .list__header:not(.contact-information__safety-coordinator--list) {
        margin-left: 0;
    }
}
/* 
.club-edit .inputfile + label {
    display: none;
} */

.usms-container .event-list__container .button-row__footer {
    margin: 2rem auto;
}

.list-item__pending {
    color: #aacee4;
    margin: 0 0 0.5rem;
}

.contact-info__event-director-type-form {
    margin-bottom: 3rem;
}

/* .contact-info__safety-coordinator--container > [class*='col-'] */
.form-group [class*='col-'] {
    /* margin-left: 1rem; */
    /* padding-left: 0; */
}

.club-edit .list__header.contact-list__head-ref--header,
.club-edit .list__header.contact-list__safety-coordinator--header {
    margin-top: 0;
}

.club-edit .list__header.contact-list__event-director--header {
    /* margin-top: 1.2rem; */
    margin-top: 4rem;
}

/* .contact-info__event-director-type-form .input-group-header.radio-group-header {
    margin-top: 0.7rem;
    margin-bottom: 1.3rem;
} */

.add-new-inputs {
    background-color: #f4f4f4;
    transition: all 0.25s ease;
    max-width: 800px;
    margin-bottom: 4rem;
}

.input-read-only {
    font-size: 1.6rem;;
}

#confirmCurrentHost,
.contact-info__host-type-lmsc--container,
.contact-info__host-type-club--container,
.contact-info-host-type__other--container,
.contact-info-safety-coordinator__add-new,
.lookup-host-type-usms-club,
.contact-info__host-type-event-director--container,
.contact-info-organization__add-new,
#contact__recentlyadded,
#contact__recentlyadded-valid,
#contact__recentlyadded-invalid {
    display: none;
}

.contact-info__head-ref-lookup--container,
.contact-info__head-ref-new--add-new,
.contact-info__head-ref-lookup--add-new,
.contact-info__head-ref--add-new-container,
.contact-info__head-ref--website-display-preferences {
    display: none;
}

/* .contact-information__safety-coordinator--list, */
.contact-info__head-ref-list,
.contact-info__safety-coordinator-list,
.contact-information__event-host--list,
.contact-info__safety-coordinator-lookup--container,
.contact-info__safety-coordinator-new--add-new,
.contact-info__safety-coordinator-lookup--add-new,
.contact-info__safety-coordinator--add-new-container,
.contact-info__safety-coordinator--website-display-preferences {
    display:none;
}

/* .location-info__add-new-location--container */
/* .locations-row, */
.event-edit .row.locations,
.list--lookup.locations,
.event-location-details,
.location-information__locations-list,
.locations-list__header,
.location-add-configuration,
.list-venue-form,
.club-edit.event-edit .venue__list,
.club-edit.event-edit .configuration__list,
/* .club-edit.event-edit .configuration__list--item.added, */
.club-edit.event-edit .configuration__list--item,
.input-group.list-configuration-form {
    display: none;
}


.usms-container.form__container .event-list__container h3 {
    margin: 0.5rem 0 0.5rem;
}

.event-card__link {
    width: 188px;
    text-align: left;
}

/* .event-card.pending {
    opacity: 0.5;
} */

.event-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 1rem auto;
    padding: 2rem 0 0;
    text-align: left;
}

/* .event-card:not(:first-of-type),
.event-card {
    border-top: 1px solid #CCC;
} */

.event-card:last-of-type {
    /* padding-bottom: 1rem; */
    /* border-bottom: 1px solid #CCC; */
    /* margin-bottom: 8rem; */
}

.event-card .btn {
    margin: 1rem 0 1.25rem;
}

.list .btn {
    /* margin-top: 2rem; */
}

/* .event-list__container.all-events-past {
    margin-top: 8rem;
} */
/* 
.event-list__container {
    margin: 6rem 0 2rem;
} */

.my-events-past h2 {
    /* margin-top: 12rem; */
}

.event-card__title {
    margin: 0 1rem 0.5rem 0;
    /* max-width: 400px; */
    margin-left: 0 !important;
    font-size: 1.7rem;
}

.event-card p.event-card__date,
.event-card p.event-card__id {
    margin: 0 1rem 0.25rem 0;
}

.event-card p.event-card__id {
    font-size: 1.6rem;
}

@media (min-width: 1200px) {
    .event-list__container.all-events-past {
        margin-top: 0;
    }
}

.button-row__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card.liability {
    border: 0 none;
}

.liability .html-container {
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 15px;
    border: 0 none;
    padding: 0 1rem 0 0;
    font-size: 1.3rem;
    line-height: 2.3rem;
}

.liability .checkbox {
    margin-left: 2rem;
    margin-top: 4px;
    line-height: 150%;
    text-transform:capitalize;
}

.liability .checkbox+.checkbox {
    margin-top: 1rem;
}

/* .liability .checkbox input[type=checkbox] {
    margin-left: 10px;
} */

.liability .form-group {
    border: 0 none;
}

.liability .form-group label {
    display: inline-block;
    font-weight: normal;
}

@media (min-width: 768px) {
    #agree__label, #disagree__label {
        margin: 3rem 2rem 2rem;
    }
}

/* .event-list__container h2 {
    background-color: #accbdf;
    color: #FFF;
    margin: 5rem 0 1rem;
    padding: 1rem;
} */

.event-list__filters.all-events-past .input-group {
    margin: 2rem 0 1rem;
}

.usms-container.form__container .event-list__container h2 {
    font-size: 2.7rem;
    /* margin: 0 0 4rem; */
}

@media (min-width: 768px) {
    .event-list__container {
        margin: 0 4rem;
        padding: 5rem 2rem;
    }
    .event-list__container:first-of-type {
        padding-top: 0;
        padding-bottom: 7rem;
    }
    .event-list__container h2 {
        background-color: transparent;
        color: #0068ad;
        margin: 1rem 0;
        padding: 0;
    }
    /* .event-list__container:not(:first-of-type) {
        border-top: 1px solid #CCC;
    } */
    /* .event-list__container {
        border-top: 1px solid #CCC;
    } */
    .event-list__container.all-events-past:not(.event-list__filters) {
        border: 0 none;
        margin-top: 0;
        padding-top: 0;
    }
    .event-list__filters {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .event-card {
        align-items: baseline;
        flex-direction: row;
        border-top: 0;
        padding-top: 1rem;
        padding-right: 1.5rem;
        /* flex-direction: column; */
        text-align: left;
    }
    .event-card:not(:first-of-type) {
        border: 0;
    }
    .event-card__link {
        text-align: right;
    }
    .event-card .btn {
        margin-top: -1rem;
        margin-right: 2rem;
        margin-bottom: 4rem;
        padding: .5rem 1.1rem;
        vertical-align: top;
    }
    h3.event-card__title {
        margin: 1rem 1rem 1rem 0;
    }
    .event-card p.event-card__date,
    .event-card p.event-card__id {
        margin: 1rem 1rem 1rem 0;
        padding-left: 1rem;
        border-left: 1px solid #CCC;
        font-size: 1.6rem;
    }
    .usms-container.form__container .event-list__container h2 {
        font-size: 2.7rem;
        margin: 0 0 1rem;
    }

    .event-list__container h3.event-card__title,
    .event-list__container p.event-card__date {
        margin: 0 1rem;
    }
    .usms-container.form__container .event-list__container h3.event-card__title {
        font-size: 2rem;
        max-width: 360px;
    }
    .event-card p,
    .event-list__container p.event-card__date {
        font-size: 1.6rem;
    }
    .event-list__filters.all-events-past .input-group {
        margin: 0 0 2rem;
    }
}

.form__container .event-card .btn.btn-small {
    font-size: 1.1rem !important;
    margin-bottom: 1rem !important;
    padding: 0 0.72rem !important;
    height: 2.3rem !important;
    line-height: 2.2rem !important;
    text-transform: none !important;
    border-radius: 3px;
}

#confirmCurrentEventDirector {
    margin-bottom: 3rem;
}

#addHeadRef,
#cancelAddHeadRef,
#addSafetyCoordinator,
#cancelAddSafetyCoordinator {
    height: 2.3rem !important;
    line-height: 100% !important;
    padding: 0 0.7rem !important;
    font-size: 1.1rem !important;
}

/* Render '+' on buttons */
/* #addNewOrganization:before,
#addNewEventDirector:before,
#addNewHeadRef:before,
#addNewSafetyCoordinator:before,
#addLocationBtn:before,
#addConfigurationBtn:before, */
.btn-small.btn-outline.btn-add:before {
    content: "+";
    position: relative;
    top: -1px;
    left: -9px;
    width: 7px;
    display: inline-block;
    padding: 0 0 0 5px;
    margin: 0;
}


.form__container .list--lookup.locations .list-item--location button {
    height: 2.3rem !important;
    line-height: 2.3rem !important;
    padding: 0 0.7rem !important;
    font-size: 1.1rem !important;
}


/* Locations */
.lookup-results--locations {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.form__container .locations .list-item--location button.btn {
    display: flex
}

.form__container .locations .list-item--location button.btn.btn-small {
    /* margin-top: -1rem;
    margin-bottom: 0.5rem; */
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.location-column {
    padding: 1rem 0;
}

.location-column .list-item {
    margin: 1.8rem 0 0;
    padding: 0;
    display: block;
    flex-direction: row;
}

@media (min-width: 768px) {
    .location-column .list-item {
        margin: 0.3rem 0 -0.5rem;
    }
}

.location-column .list-item > * {
    display: inline-flex;
}

.club-edit .list-item p.event-location__address--name {
    margin: 0 0.8rem 0.5rem 0;
    padding: 0 1.2rem 0 0rem;
    /* border-right: 1px solid #CCC; */
    font-size: 2rem;
    line-height: 120%;
}

.club-edit .list-item .event-location--course-tags {
    display: flex;
    margin-top: 0.8rem;
}

.club-edit .list-item p.event-location__address--street,
.club-edit .list-item p.event-location__city-state {
    padding: 0 1.2rem 0 0;
    margin: 0.5 0 0;
    font-size: 1.7rem;
    line-height: 100%;;
}

.club-edit .list-item p.event-location__address--street {
    /* border-right: 1px solid #CCC; */
    display: flex;
} 

@media (min-width: 768px) {
    .club-edit .list-item p.event-location__address--street {
        display: inline-flex;
        border-right: 1px solid #CCC;   
    }
    /* .club-edit .list-item p.event-location__address--name, */
    .form__container .locations .list-item--location button.btn.btn-small,
    .club-edit .list-item .event-location--course-tags {
        display: inline-flex;
    }
    .club-edit .list-item p.event-location__address--name {
        /* margin-left: 6rem; */
        margin: 0 0.8rem 0 1rem;
        border-right: 1px solid #CCC;
  }
    .form__container .locations .list-item--location button.btn.btn-small {
        /* margin-bottom: -2.2rem; */
        margin-bottom: 0;
        margin-top: 1rem;
        vertical-align: text-bottom;
    }
    .club-edit .list-item p.event-location__address--street,
    .club-edit .list-item p.event-location__city-state {
        padding: 0 1.2rem 0 0;
        margin: 0.5rem 1rem 2.2rem 0;
        font-size: 1.7rem;
        line-height: 100%;;
    }
}

.event-location-details {
    /* margin: 2.5rem 0 1rem; */
    margin: 0 auto 1rem;
}

p.lookup__location--or {
    font-size: 1.6rem;
    margin: 0;
    font-weight: bold;
}

@media (min-width: 768px) {
    p.lookup__location--or {
        /* position: absolute;
        right: 10px;
        top: 26px; */

        font-size: 1.6rem;
        margin: 0 auto;
        /* text-align: right; */
        /* line-height: 100%; */
        /* padding: 0; */
        padding-left: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.club-edit .location-header {
    margin-bottom: 0;
}

.add-new__label {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.club-edit .list__container {
    margin: 0 auto 2rem;
}

.liability span.checkbox {
    display: block;
    margin-left: 1.75rem;
}

.liability .checkbox input {
    margin-left: -1.75rem;
}

.form-header.duplicate-event {
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid #DDD;
}

#form-accept-submit {
    margin-top: 6rem;
}

.event-director-privacy,
.contact-info__event-director-privacy--container {
    display: none;
}

.contact-info__event-director-privacy--container {
    margin-top: -1rem;
    margin-bottom: 2.5rem;
}

.event-director-privacy__header {
    font-size: 14px;
    font-weight: 600;
    line-height: 2.0rem;
    height: 2.0rem;
    margin: 0 auto 2.0rem;
    padding: 0;
}

.event-card.pending-approval .btn {
    background-color: #aacee4;
}

.event-card.edits-needed .btn {
    background-color: #d2202e;
}

.pool-configuration .location-name {
    margin: 2rem 0 1rem;
}

/* .html-container p, .usms-container p { margin: 0; } */


.radio-label {
    /* margin-left: 2rem; */
    margin-left: 3.3rem;
    max-width: 85%;
    line-height: 130% !important;
}
.radio-label--inline .radio-container {
    margin-right: 8px;
}
.radio-container {
    margin-left: -2.2rem;
}
.radio__placeholder {
    left: -2.8rem;
}
.radio-label--inline .radio__placeholder {
    left: -2rem;
}


@media (min-width: 1200px) {
    .radio-label {
        margin-left: 2.5rem;
    }
    .radio-container {
        margin-left: -3.2rem;
    }
    .radio__placeholder {
        left: -3rem;
    }
    .radio-label--inline .radio__placeholder {
        left: -3rem;
    }
    .chose-pool-configuration {
        padding-left: 1rem;
    }
}

#estimatedTempMin,
#estimatedTempMax {
    max-width: 60px;
    padding: 0;
}

#estimatedTempMin::-webkit-inner-spin-button,
#estimatedTempMax::-webkit-inner-spin-button {
    opacity: 1;
}

#entryInfoAttendancePrevious::-webkit-inner-spin-button,
#entryInfoAttendanceExpected::-webkit-inner-spin-button {
    /* height: 10rem; */
    /* top: 0; */
    opacity: 0;
}

#entryInfoAttendancePrevious,
#entryInfoAttendanceExpected {
    height: 5rem;
    max-width: 120px;
    padding: 0;
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
} */

.temp-unit {
    position: absolute;
    left: 68px;
    top: 27px;
}

.timing-system-note p {
    font-size: 1.6rem;
    display: none;
}


.timing-system-note p.default {
display: block;
}




.check-list--pool-length {
    display: flex;
    flex-direction: column;
}

.check-list--pool-length {
    margin-top: -17rem !important;
    margin-bottom: 16rem !important;
}

#listSearchSubmit {
    /* margin-top: 4rem; */
}

#location-information__content .list-control {
    /* height: 600px; */
}

#location-information__content .list-control-search__input.list-control-search__input--button {
    margin-bottom: 1rem;
}

@media (min-width: 1200px) {
    .check-list--pool-length {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        flex-direction: row;
    }
    #listSearchSubmit {
        margin-top: 0;
    }
}

.list__container .row {
    width: 100%;
}


.event-edit .event-type .input-group-header {
    margin-top: -1rem;
}
.liability.submit .form-group {
    padding-left: 2rem;
}
.liability.submit .radio-container {
    margin-left: -3rem;
}

@media (min-width: 1200px) {
    .event-edit .event-type .input-group-header {
        margin-top: -1rem;
    }
    .liability.submit .form-group {
        padding-left: 1rem;
    }
    .liability.submit .radio-container {
        margin-left: -3rem;
    }    
}

/* .event-edit .inputfile,
.club-edit .inputfile,
.club-edit.event-edit .inputfile {
    width: auto;
    height: auto;
    opacity: 1;
    position: absolute;
} */

.manage-event-options {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    /* margin: 0 2rem; */
}

.manage-event-options .btn {
    /* margin: 1rem; */
    /* padding: 1rem; */
}
.manage-event-options .btn + span {
    border-left: 1px solid #CCC;
    margin-top: -.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
}
@media (max-width: 1199px) {
    .manage-event-options .btn {
        line-height: 120%;
        height: auto;
        padding: 2rem 1rem;
    }
    .manage-event-options .btn + span {
        height: auto;
    }
}

/* .manage-event-options .btn + .btn:before {
    border-left: 1px solid #CCC;
} */

.has-error .SingleDatePickerInput {
    border-color: #C62030;
}

input.inputfile.has-error {
    color: #C62030;
}

.file-stored-false {
    display: inline;
}

.file-stored-true {
    display: none;
}

.upload-summary {
    display: none;
    padding-left: 17px;
    margin: 1rem 0;
}

.event-document__remove-file {
    left: 0;
    /* top: 3px; */
    top: 38px;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    font-size: 0.75rem;
    background-color: white;
}
/* 
.meet-announcement label {
    margin-bottom: 2rem;
} */

/* .meet-announcement .event-document__remove-file {
    top: 38px;
} */

/* .entry-information .upload-box--file, */
/* .meet-announcement .upload-box--file  */
.upload-file .upload-box--file {
    margin-top: 2.5rem;
}

.upload-file .upload-summary {
    margin-top: 2rem;
}

.input-group.radio-group {
    margin-bottom: 1rem;
}

.radio-group.event-director {
        /* margin-bottom: 3rem; */
}


.contact-info-host-type__other-organization--container {
    max-width: 640px;
}

.usms-container.form__container ul.event-sanction-help-links {
    margin: 1rem 0 4rem;
}

.usms-container.form__container ul.event-sanction-help-links li {
    font-size: 2rem;
    font-weight: 300;
}

#form-accept-submit {
    margin-top: 4rem;
}
#accept-submit > h3 {
    margin-left: 3.6rem;
}

@media (max-width: 1199px) {
    #form-accept-submit {
        margin-top: 4rem;
    }
    #accept-submit__content {
        margin-top: 1rem;
        padding-top: 0;
    }
    .usms-container.form__container {
        padding: 1rem 1rem 2rem;
    }
}

.form-group p.summary {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 150%;
}

/* .list-venue-form .input-group.input-group--bulkhead {
    display: none;
} */


#event-information .input-group-header {
    margin-top: 1rem;
}