.payment-info .card__content {
    display: none;
}
.payment-info__form-summary h4 {
    font-size: 1.8rem;
    text-align: center;
    color: #545454;
    margin: 3rem auto 1.5rem;
}
.agree-terms.disabled {
    opacity: 0.5;
}
#btnSubmitOrder {
    width: 120px;
    margin: 4rem 0 6rem;
}
#agreeTerms + .checkbox__placeholder,
#agreeTerms:disabled {
    cursor: initial;
}
.agree-terms.disabled {
    opacity: 0.5;
}
.payment-info__line-item--price {
    display: inline-block;
    font-size: 1.6rem;
    width: 45%;
    padding-right: 22%;
}
.card__total--amount, 
.membership-total--amount {
    font-size: 1.8rem;
    font-weight: 700;
    width: 45%;
    padding-right: 22%;
    display: inline-block;
    white-space: nowrap;
}

@media (min-width: 1200px) {
    .payment-info__line-item--price {
        width: 50%;
        padding-right: 40%;
    }
    .card__total--amount, 
    .membership-total--amount {
        width: 50%;
        padding-right: 40%;
    }
}