#btnEnrollAutoRenew, 
#btnEditCreditCard, 
#btnCancelAutoRenew {
    color: var(--lm-blue);
}

@media (min-width: 992px) {
    .usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(4), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(4), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(4) {
        border-top: 0 none;
        margin-top: 1rem;
        padding-top: 0;
        border-left: 1px solid #ccc;
    }
    .usms-container.form__container > .row > [class*=col-lg-]:nth-of-type(3), 
    .usms-container.form__container > .row > [class*=col-md-]:nth-of-type(3), 
    .usms-container.form__container > .row > [class*=col-sm-]:nth-of-type(3) {
        border: 0 none;
        margin-top: 1rem;
        padding-top: 1rem;
    }
    .usms-container.form__container>.row>[class*=col-lg-]:nth-of-type(4), 
    .usms-container.form__container>.row>[class*=col-md-]:nth-of-type(4), 
    .usms-container.form__container>.row>[class*=col-sm-]:nth-of-type(4) {
        border-top: 0 none;
        margin-top: 1rem;
        padding-top: 0;
        border-left: 1px solid #ccc;
    }
}