/* Add Ons */
.current-product__summary {
    background-color: var(--lm-blue);
}
.product-option.selected {
    border: 3px solid var(--lm-blue);
    border-top-width: 1px;
}
.product-option.selected .product-name, 
.product-option.selected .product-type {
    background-color: var(--lm-blue);
}
.product-option.selected .product-name {
    background-color: var(--lm-blue);
}

/* Plans and Payment */
.current-plan__summary {
    background-color: var(--lm-blue);
}
.plan-option.plan-option-selected {
    border-color: var(--lm-blue);
}
.plan-option.plan-option-selected .plan-name, 
.plan-option.plan-option-selected .plan-type {
    background-color: var(--lm-blue);
}
.plan-option.selected .plan-name {
    background-color: var(--lm-blue);
}

.plan-option a {
    color: var(--lm-blue-md);
}