main h1, main h2, main h3, main h4, main h5, main h6 {
    color: var(--lm-blue);
}

input[type=checkbox]:checked ~ .checkbox__placeholder {
    background-color: var(--lm-blue);
    -webkit-text-stroke: 1px var(--lm-blue);
}

.renew__form-body .form-group.agree-terms, 
.renew__form-body .form-group.agree-usmsplus-terms {
    margin-bottom: 0;
}

/* For some reason my new/added select inputs are not picking up the css that hides the default carat, so I'm doing it here. Probably does not need to be in source */
#strokeFocus,
#marketingFeedback {
    width: 223px;
    appearance: none;
    border-color: rgb(204, 204, 204);
}

/* Update Existing Class Parameters */
.card {
    border-bottom: unset;
    border-top: 1px solid #ccc;
}

.card.contact-information {
    border-top: 0 none;
}

.radio-label--inline {
    padding-left: 2.8rem;
} 

/* Double check this in Sitecore versus local build, adjusts spacing between radio and label. May not need in source */
.radio-label--inline .radio-container {
    margin: 0 0 0rem -2.5rem;
}

.payment-bullets {
    padding-left: 1.5rem;
}

/* Update Existing Class Parameters - May Need to Scope to LaneMate */
.membership-length--container {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media (max-width: 991) {
.membership-length .membership-length--option {
    margin-bottom: 2rem !important;
}
}

/* Need to look into this in source */
@media (min-width: 768px) {
    .membership-length--option {
        margin: 2rem !important;
        padding-bottom: unset !important;
    }
}

.select-stroke-focus {
    display: none;
}

.video-stroke-analysis #disagree__label {
    margin: 2rem 2rem 0 0;
}
.video-stroke-analysis #agree__label {
    margin: 2rem 0;
}
@media (min-width: 1200px) {
    .video-stroke-analysis #disagree__label {
        margin: 2rem 2rem 0 0;
    }
    .video-stroke-analysis #agree__label {
        margin: 2rem 0;
    }
}

#register-button {
    width: 142px;
}

.subscription-info__form-summary .payment-info__line-item--price {
    text-align: left;
    padding-right: 0;
    padding-left: 2rem;
}

.payment-info__form-summary {
    margin-bottom: 2.5rem;
}

.payment-info__form-summary {
    margin-top: 2rem;
    /* padding-top: 2rem; */
    /* border-top: 1px solid #CCC; */
}

.video-stroke-analysis--total {
    font-size: 28.8px;
    font-size: 1.8rem;
    font-weight: 700;
    width: 50%;
    display: inline-block;
    padding-right: 41%;
    white-space: nowrap;
}

/* .membership-length--total, */
.card__total--amount-monthly,
.card__total--amount-yearly {
    display: none;
}

.form-group.un-selected {
    height: 0;
    overflow: hidden;
    opacity: 0;
    border: 0 none;
}

/* .card.payment-info {
    height: 0;
    opacity: 0;
} */

.membership-length--total.total-lanemate-blank,
.video-stroke-analysis--total.card__total--amount-blank {
    display: inline-block;
}

.membership-length--lanemate-yearly,
.membership-length--lanemate-monthly,
.membership-length--currentYear, 
.membership-length--nextYear, 
.membership-length--usmsPlus, 
.membership-length--usmsPlusYearPlus {
    text-align: center;
    vertical-align: top;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    cursor: pointer;
    opacity: 1;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}

.membership-length--option.selected {
    border-color: #0068ad;
    border: 2px solid #0068ad;
}

.membership-length--option.selected .promo {
    background-color: #0068ad;
}

.membership-length--currentYear .promo,
.membership-length--usmsPlus .promo, 
.membership-length--usmsPlusYearPlus .promo {
    background-color: #999;
}

.membership-length--usmsPlus.selected .promo, 
.membership-length--usmsPlusYearPlus.selected .promo {
    background-color: #0068ad;
}

.membership-length--currentYear.selected {
    border-color: green;
    border: 2px solid green;
}

.membership-length--currentYear.selected .promo {
    background-color: green;
}

label#videoStrokeAnalysisYes,
label#coachAltsCertificationYes {
    margin-top: 1rem;
}

/* Update Existing Class Parameters */
.payment-information--form .form-group.agree-terms,
.payment-information--form .form-group.agree-usmsplus-terms {
    margin-top: 0rem;
    margin-bottom: 3rem;
}

/* Update Existing Class Parameters */
#registerButton,
#subscribe-button {
    width: 150px;
    margin-top: 4rem;
    margin-bottom: 6rem;
}