---
permalink: /account/addons.html
title: Addons | U.S. Masters Swimming
pageTitle: Add-Ons and Upgrades
breadcrumbs:
  - url: "/home"
    label: "Home"
breadcrumbTitle: "Add-Ons"
swimmerId: "coachCurrent"
devSwimmerIds:
  - standardCurrent
  - usmsPlusCurrent
  - eventLicenseStandardCurrent
  - coachCurrent
showDonations: true
productOptionGroups:
  - label: "Product Options"
    keys:
      - videoStrokeAnalysis
      - printSwimmerMagazine
  - label: "2026 National Coaches Clinic"
    requiresRole: "isCoach"
    keys:
      - ncc-2026-registration
      - ncc-2026-hospitality
      - ncc-2026-golden-goggles
---
{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/mastersAddons.min.css">
<link rel="stylesheet" href="/css/addons.css">
<link rel="stylesheet" href="/css/agree-terms.css">
{% endblock %}
{% block pageJS %}
{# <script src="https://www.usms.org/scripts/mastersAddons.min.js" defer></script> #}
<script src="/js/addons.js" defer></script>
{% endblock %}
{% block breadcrumb %}
{% include "partials/Common/Breadcrumb.njk" %}
{% endblock %}
{% block content %}
{% include "partials/Masters/MastersAddOns.njk" %}
{% endblock %}