---
permalink: /account/addons-all.html
title: All Add-Ons | U.S. Masters Swimming
pageTitle: All Add-Ons and Upgrades
breadcrumbs:
  - url: "/home"
    label: "Home"
breadcrumbTitle: "All Add-Ons"
showDonations: false
productOptionGroups:
  - label: "Product Options"
    keys:
      - videoStrokeAnalysis
      - printSwimmerMagazine
  - label: "2026 National Coaches Clinic"
    keys:
      - ncc-2026-registration
      - ncc-2026-hospitality
      - ncc-2026-golden-goggles
---
{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/mastersAddons.min.css">
<link rel="stylesheet" href="/css/addons.css">
<link rel="stylesheet" href="/css/agree-terms.css">
{% endblock %}
{% block pageJS %}
<script src="/js/addons.js" defer></script>
{% endblock %}
{% block breadcrumb %}
{% include "partials/Common/Breadcrumb.njk" %}
{% endblock %}
{% block content %}
{% include "partials/Masters/MastersAddOns.njk" %}
{% endblock %}
