---
permalink: /account/addons.html
title: Addons | U.S. Masters Swimming
pageTitle: Add-Ons and Upgrades
breadcrumbs:
  - url: "/home"
    label: "Home"
breadcrumbTitle: "Add-Ons"
showDonations: true
useAddonPricing: true
membershipTierKeys:
  - usmsPlus
  - usmsStandardEventLicense
  
productOptionGroups:
  - label: "Product Options"
    keys:
      - videoStrokeAnalysis
      - printSwimmerMagazine
      - coachLicense
  - label: "NCC 2026"
    keys:
      - ncc-2026-registration
      - ncc-2026-golden-goggles
      - ncc-2026-hospitality
---
{% extends "layouts/base.njk" %}
{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/registration.min.css">
<link rel="stylesheet" href="https://www.usms.org/styles/mastersAddons.min.css">
<link rel="stylesheet" href="/css/Registration/membership-options.css">
<link rel="stylesheet" href="/css/Account/addons.css">
<link rel="stylesheet" href="/css/Registration/agree-terms.css">
{% endblock %}
{% block pageJS %}
{# <script src="https://www.usms.org/scripts/mastersAddons.min.js" defer></script> #}
<script src="/js/membership-options.js" defer></script>
<script src="/js/addons.js" defer></script>
{% endblock %}
{% block breadcrumb %}
{% include "partials/Common/Breadcrumb.njk" %}
{% endblock %}
{% block content %}
{% include "partials/Masters/MastersAddOns.njk" %}
{% endblock %}