<form id="form-event-name">
  <div class="section section-event-name hasNoData" id="event-name">
    <h3 class="section__header" data-bs-target="#event-name__content" data-bs-toggle="collapse" aria-controls="event-name__content">
      <span class="section__number">1</span>Event Name
    </h3>
    <span class="section__edit">
      <button class="section__edit-btn section__edit-btn--name" type="button"></button>
    </span>
    <div class="section__content collapse show" id="event-name__content" data-bs-parent="#accordion" aria-expanded="true">
      <div class="row form-group">
        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="input-group event-info-name required">
            <label for="eventInfoName">Event Name
              <span class="icon-help" data-bs-toggle="tooltip" data-bs-placement="top" data-container="body" data-bs-title="If it is an annual event, use the same name each year. Your application will not be approved if you use the word Olympic and/or Paralympic."></span>
            </label>
            <input type="text" class="form-control" name="eventInfoName" id="eventInfoName" value="">
            <span class="help-block help-block--eventInfoName">Please enter the event name</span>
          </div>
        </div>
      </div>
      <div class="input-group radio-group event-type">
        <div class="input-group-header radio-group-header required">
          <label for="EventType">Event Type</label>
        </div>
        <span class="help-block help-block--EventType">Please select an event type option</span>
        <label class="radio-label radio-label--inline" for="Pool">
          <div class="radio-container">
            <input type="radio" name="EventType" id="Pool" value="Pool">
            <span class="radio__placeholder"></span>
          </div>Pool
        </label>
        <label class="radio-label radio-label--inline" for="Open Water">
          <div class="radio-container">
            <input type="radio" name="EventType" id="Open Water" value="Open Water">
            <span class="radio__placeholder"></span>
          </div>Open Water
        </label>
      </div>
      <div class="row">
        <div class="section__controls">
          <button class="btn save-section" id="saveEventName" type="button" disabled>Save &amp; Continue</button>
        </div>
      </div>
    </div>
  </div>
</form>
