
.filter-form {
  background-color: white;
  padding: 2rem 2rem 0;
  margin-bottom: 2rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  position: relative;
}

.filter-form__filters {
  cursor: pointer;
}

.filter-form button.btn-danger {
  border: 1px solid transparent;
}

.filter-form__title {
  margin-bottom: 1rem;
}

.filter-form__filters,
.filter-form__zip label {
  padding-top: 5px;
  white-space: nowrap;
}

.filter-form__dropdown-container i {
  transition: transform 0.15s ease;
}

.filter-form .filter-form__dropdown {
  left: -1.5rem;
}

/* @media (--sm-viewport) { */
@media (min-width: 768px) {
  .filter-form button.btn-danger {
    min-width: 100px;
  }
}

/* @media (--md-viewport) { */
@media (min-width: 992px) {
  .filter-form__title {
    margin-bottom: 0;
    overflow: initial;
  }
  .filter-form__dropdown-container i.fa-chevron-down {
    height: 17px;
  }
}
