

/* Note !!!!!
These are new classes for the optional event list with map. 
Will need to be scoped from other list styling (club, etc.) 
*/
.results-list {
    max-height: 600px;
    margin-left: -3rem;
    padding-top: 2rem;
    padding-left: 2.8rem;
    padding-right: 1.5rem;
    overflow: hidden;
    overflow-y: scroll;
}

@media (min-width: 992px) {
    .results-list__item-detail {
        order: 1;
        flex: 1 0 calc(100%);
        max-width: calc(100%);
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 2rem;
    }
    .list-control {
        margin-bottom: 0;
    }
    .results-list__item-title {
        margin-top: 0;
        max-width: calc(100%);
    }
    .results-map-container {
        padding-top: 2rem;
    }
}