.filter-form--results .filter-form__title {
  display: flex;
  flex-wrap: wrap;
}

.filter-additional-links {
  text-align: right;
  font-size: 1.7rem;
  margin: -2rem auto 1rem;
  color: #656565;
}

.filter-additional-links span {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 7px;
}

.filter-additional-links a {
  color: #6AA1C5;
}

.filter-form__nav {
    margin: 0;
    position: relative;
    height: 20px;
    font-size: 1.2rem;
    /* margin-top: 15px; */
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: center;
    display: none;
}

@media only screen and (min-width: 768px) {
  .filter-additional-links {
    margin: 0 auto -35px;
  }
  .filter-form__nav {
      margin: -20px 0 20px;
      text-align: left;
      display: block;
  }
}

.filter-form--results {
  line-height: normal;
  /* margin-bottom: 1rem; */
  margin-top: -1.5rem;
  padding: 2rem 1.5rem 2.5rem;
  background-color: #DDD;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.1); */
}

.filter-form .form-control {
    box-shadow: none;
    box-sizing: content-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 1.4rem;
    text-indent: 15px;
    color: #656565;
    background-color: #fff;
}

.filter-form select {
  width: 100%;
}

.filter-form__go-button {
  width: 100%;
  color: #fff;
  background-color: #0068ad;
  border: 0 none;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 1.4rem;
  height: 44px;
  text-transform: uppercase;
}

.filter-form__go-button:hover,
.filter-form__go-button:visited,
.filter-form__go-button:focus {
  background-color: #0068ad; 
}

.filter-form__input {
  display: flex;
  flex: 1 60%;
  margin-right: 10px;
}

.filter-form__actions {
  display: flex;
  flex: 0 auto;
  /* margin-top: 10px; */
  width: auto;
}

.filter-form__sorting > * {
  display: inline-block;
}

.facet-title,
.sort-title {
  font-weight: bold;
  font-size: 12px;
  color: #5E5E5E;
  padding-right: 10px;
  display: block;
  margin: 20px auto 10px;
}

/* .filter-form__facets,
.filter-form__sorting {
  display: flex;
} */

.filter-form__facets {
  flex: 2 100%;
}

.checkbox-label {
  margin-right: 10px;
  margin-bottom: 10px;
}
.checkbox-container {
  margin-right: 3px;
}

.filter-form__sorting {
  flex: 1 100%;
  /* text-align: left; */
  /* margin-top: 5px; Matches vertical offest of checkbox styling of facets */
}

.btn-sort {
  background-color: transparent;
  color: #6AA1C5;
  font-size: 12px;
  line-height: 24px;
  padding: 0 8px;
  margin: 0;
  border-radius: 3px;
  vertical-align: middle;
  text-decoration: underline;
}

.btn-sort.selected {
  background-color: #6AA1C5;
  color: #FFF;
  text-decoration: none;
}

/* @media (--sm-viewport) { */
  @media (min-width: 768px) {
  .filter-form--results .filter-form__title {
    flex-wrap: wrap;
  }
  .filter-form--results {
    padding: 3.5rem 3.5rem 2.5rem;
  }  
  .filter-form__dropdowns {
    flex: 1 0 100%;
    margin-bottom: 0;
  }
  .filter-form__actions {
    flex: 0 0;
    margin: 0 0 2rem;
    width: auto;
  }
  .filter-form__input {
    flex: 1 0 80%;
    margin: 0 1.5rem 2rem 0;
  }
  .facet-title,
  .sort-title {
    display: block;
    margin: 0 auto 0.5rem;
  }
  .filter-form__facets {
    flex: 1 0 40%;
  }
  .filter-form__sorting {
    flex: 1 1;
    text-align: right;
    margin-top: 5px; /* Matches vertical offest of checkbox styling of facets */
  }
}
