.usms-container {
    padding-left: 15px;
    padding-right: 15px;
}

.list-control-display {
    position: absolute;
    top: 6.3rem;
    right: 1rem;
    z-index: 1;
}

#listViewLarge {
    font-weight: bold;
    padding-right: 0.8rem;
    padding-left: 1.3rem;
}

#listViewSmall {
    border-left: 1px solid #CCC;
    margin-left: 0.8rem;
    padding-left: 1.3rem;
}

.events-summary-content .list-control-search--summary {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #CCC;
    border: 0 none;
}

.list-control-display span {
    cursor: pointer;
    color: #5E5E5E;
    font-size: 1.4rem;
}

.list-control-display span.active {
    font-weight: bold;
}

.results-list-small {
    display: none;
}

.results-list.results-list-small {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 0 none;
    margin-top: 1rem;
    padding: 2rem 0 3rem 1rem;
}

.results-list__item.results-list__item--small {
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: 0 none;
}

.results-list-small .results-list__item-detail {
    max-width: 100%;
    display: block;
    padding: 1rem 2rem;
}

.results-list-small .results-list__item--small p,
.results-list-small .results-list__item--small h3 {
    border-left: 0 none;
    margin: 0;
    padding: 0;
    display: inline;
    width: auto;
    font-size: 1.6rem;
    line-height: 130%;
}

.results-list-small h3.results-list__item-title {
    display: block;
}

.results-list-small p.results-list__item-date {
    border: 0 none;
    margin-left: 0;
    padding-left: 0;
}

.results-list-small p.results-list__item-type {
    background: none;
    top: 0;
    border-left: 1px solid #CCC;
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;
}

.results-list-small p.results-list__item-status {
    border-left: 1px solid #CCC;
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;
}

.list-control-filter.is-flex, 
.list-control-search__content.is-flex, 
.is-flex {
    z-index: 9;
}

@media(min-width:768px) {
    .list-control-display {
        z-index: 1;
    }
    .list-control-display {
        top: 15rem;
    }
    .results-list-small .results-list__item-detail {
        display: flex;
        flex-direction: row;
    }
    .results-list-small .results-list__item--small p,
    .results-list-small .results-list__item--small h3 {
        border-left: 1px solid #CCC;
        margin: 0 0 0 1rem;
        padding: 0 0 0 1rem;
        display: flex;
        flex-direction: row;    
    }
    .results-list-small h3.results-list__item-title {
        display: flex;
    }
    .results-list-small p.results-list__item-date {
        border: 0 none;
        margin-left: 0;
        padding-left: 0;
    }
}