.results-list__pagination-container {
  margin: 5rem auto 3rem;
  display: flex;
  justify-content: center;
}

.results-list__pagination {
  display: flex;
  flex-wrap: nowrap;
}

.results-list__pagination li {
  position: relative;
}

.results-list__pagination button {
  /* border: 1px solid #EFEFEF; */
  margin: 0 5px;
  background-color: #0068AD;
  color: #FFF;
  font-size: 14px;
  line-height: 100%;
  padding: 0;
  font-weight: bold;
  height: 34px;
  width: 34px;
}

.results-list__pagination .btn:focus,
.results-list__pagination .btn:hover {
  color: #FFF;
  outline: none;
}

.results-list__pagination button:focus {
  outline: none;
}

.results-list__pagination button.btn-active {
  background-color: #FFF;
  border: 2px solid #0068AD;
  color: #0068AD;
}

.results-list__pagination .btn-chevron-left,
.results-list__pagination .btn-chevron-right {
    background-color: #FFF;
    color: #0068AD;
    font-siZE: 17px;
}
