.tags {
    display: inline-block;
    margin: 10px 0 30px;
}
.tags__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.usms-container p.tags__header {
    margin: 0;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 51.2px;
    line-height: 3.2rem;
}
.tags__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.tags__container .tags__list .tags__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #dbe7f1;
    border-radius: 3px;
    padding: 0 12.8px;
    padding: 0 0.8rem;
    color: #77818b;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.2em;
    margin: 5px;
}
.checkbox-label {
    cursor: pointer;
    font-size: 22.4px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 28px;
}
.checkbox-label.disabled {
    opacity: 0.3;
}
.checkbox-container {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-left: -28px;
    line-height: 1.4em;
    width: 20px;
    height: 20px;
    -webkit-text-stroke: 1px #0068ad;
}
.checkbox-container input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}
input[type="checkbox"]:checked ~ .checkbox__placeholder {
    border: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    background-color: #0068ad;
}
input[type="checkbox"]:checked ~ .checkbox__placeholder:before {
    font-family: FontAwesome;
    content: "\F00C";
    color: #fff;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    margin-top: 1px;
}
.checkbox__placeholder {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 0;
    border-radius: 2px;
    border: 1px solid #afafaf;
    -webkit-box-shadow: 0 0 4px transparent;
    box-shadow: 0 0 4px transparent;
    background-color: #fff;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.checkbox__placeholder.hover {
    background-color: #f4f4f4;
}
.filter-form {
    background-color: #fff;
    padding: 32px;
    padding: 2rem;
    margin-bottom: 32px;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
}
.filter-form .form-group,
.filter-form .input-group {
    margin-bottom: 0;
}
.filter-form__filters {
    font-size: 24px;
    font-size: 1.5rem;
    cursor: pointer;
}
.filter-form button.btn-danger {
    border: 1px solid transparent;
}
.filter-form__title {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
.filter-form__filters,
.filter-form__zip label {
    padding-top: 8px;
    white-space: nowrap;
}
.filter-form__dropdown-container i {
    -webkit-transition: -webkit-transform 0.15s ease;
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}
.filter-form .filter-form__dropdown {
    left: -24px;
    left: -1.5rem;
}
@media (min-width: 768px) {
    .filter-form button.btn-danger {
        min-width: 100px;
    }
}
@media (min-width: 992px) {
    .filter-form__title {
        margin-bottom: 0;
        overflow: initial;
    }
    .filter-form__dropdown-container i.fa-chevron-down {
        height: 17px;
    }
}
.filter-form__input-search span {
    color: #0068ad;
}
.filter-form-title {
    margin-bottom: 30px;
}
.filter-form__filters--open {
    color: #0068ad;
}
.filter-form__zip-label {
    padding-top: 7px;
}
.filter-form__show-all {
    width: 100%;
}
.events-summary-content .filter-form__title .input-group {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.events-summary-content .filter-form__title .input-group > div {
    width: 100%;
}
.events-summary-content .filter-form__title .input-group .input-group-btn .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}
.results-list__item {
    background-color: #fff;
    margin-bottom: 32px;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.results-list__item-type {
    position: absolute;
    right: 32px;
    right: 2rem;
    top: 32px;
    top: 2rem;
    background-color: #d31f2e;
    color: #fff;
    font-size: 20.8px;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 4px 16px;
    padding: 0.25rem 1rem;
    border-radius: 3px;
}
.results-list__item .results-list__item-title {
    font-size: 38.4px;
    font-size: 2.4rem;
    line-height: 130%;
    margin-top: 10px;
    max-width: calc(100% - 100px);
}
.results-list__item-detail {
    padding: 32px 32px 128px;
    padding: 2rem 2rem 8rem;
    position: relative;
    display: block;
}
.results-list__item-detail em {
    color: gray;
}
.results-list__item-detail p {
    font-size: 28.8px;
    font-size: 1.8rem;
    line-height: 150%;
    max-height: 88px;
    max-height: 5.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    height: auto;
    clear: both;
    margin: 0 0 48px;
    margin: 0 0 3rem;
}
.results-list__item-summary {
    max-height: 96px;
    max-height: 6rem;
    overflow: hidden;
}
.results-list__item-image-container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.results-list__item-image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    height: 400px;
    width: 100%;
}
.results-list__item-image--map {
    height: 400px;
}
.results-list__item-image--map .google-map {
    margin: 0 !important;
}
.results__button {
    margin: 15px auto;
    display: block;
    background-color: #4097cc;
    padding: 24px 80px;
    padding: 1.5rem 5rem;
    color: #fff;
}
.results-list__item .tags {
    margin: 0 0 16px;
    margin: 0 0 1rem;
}
.results-list__item .tags tags__item:first-child {
    margin-left: 0;
}
.results-list__item-continue {
    margin-top: 30px;
}
.results-list__item-continue a:hover {
    text-decoration: none;
}
.results-list__item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    left: 32px;
    left: 2rem;
    bottom: 32px;
    bottom: 2rem;
    width: 100%;
}
.results-list__item-badges-container img {
    max-width: 60px;
    height: auto;
    margin: 0 5px;
}
.results-list__item-detail .tags {
    width: 100%;
}
.results-list__item-detail .tags__container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: calc(100% - 88px);
}
.results-list__item-detail .tags__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.results-list__item-detail .tags__item {
    font-size: 16px;
    font-size: 1rem;
    line-height: 220%;
    margin: 0 5px 10px;
    white-space: nowrap;
}
@media (min-width: 480px) {
    .results-list__item-badges-container img {
        max-width: 70px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .results-list__item-title {
        max-height: 2.2em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width: 992px) {
    .results-list__item-badges-container img {
        max-width: 80px;
    }
    .results-list__item {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .results-list__item-detail {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: calc(100% - 440px);
        flex-basis: calc(100% - 440px);
        max-width: calc(100% - 440px);
        height: auto;
        padding: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .results-list__item-image {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
        flex: 0 0 400px;
        width: 400px;
        height: 300px;
    }
    .results-list__item-footer {
        height: auto;
        clear: both;
        bottom: auto;
    }
    .results-list__item-detail p {
        display: block;
        height: auto;
        clear: both;
    }
}
.results-pagination__overlay {
    position: absolute;
    display: block;
    padding: 32px;
    padding: 2rem;
    z-index: 5;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    margin: 0;
    width: 250px;
    background-color: #fff;
}
.results-pagination__overlay.card {
    padding: 32px 64px;
    padding: 2rem 4rem;
}
.results-pagination__overlay .button-input-page {
    display: block;
    margin: 0 auto;
    padding: 6px 12px;
    font-size: 14px;
}
.results-list__pagination-container {
    margin: 32px auto;
    margin: 2rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.results-list__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.results-list__pagination li {
    position: relative;
    margin-bottom: 0;
}
.results-list__pagination button {
    border: 1px solid #efefef;
    border-color: #efefef;
    margin-left: -1px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 24px 32px;
    padding: 1.5rem 2rem;
    font-weight: 700;
}
.results-list__pagination .btn:focus,
.results-list__pagination .btn:hover {
    color: #000;
    outline: none;
}
.results-list__pagination button:focus {
    outline: none;
}
.results-list__pagination button.btn-active {
    background-color: #4097cc;
    color: #fff;
}
.results-list__pagination .btn-chevron-left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.results-list__pagination .btn-chevron-right {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.checkbox-label {
    cursor: pointer;
    font-size: 22.4px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 28px;
}
.checkbox-label.disabled {
    opacity: 0.3;
}
.checkbox-container {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-left: -28px;
    line-height: 1.4em;
    width: 20px;
    height: 20px;
    -webkit-text-stroke: 1px #0068ad;
}
.checkbox-container input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}
input[type="checkbox"]:checked ~ .checkbox__placeholder {
    border: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    background-color: #0068ad;
}
input[type="checkbox"]:checked ~ .checkbox__placeholder:before {
    font-family: FontAwesome;
    content: "\F00C";
    color: #fff;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    margin-top: 1px;
}
.checkbox__placeholder {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 0;
    border-radius: 2px;
    border: 1px solid #afafaf;
    -webkit-box-shadow: 0 0 4px transparent;
    box-shadow: 0 0 4px transparent;
    background-color: #fff;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.checkbox__placeholder.hover {
    background-color: #f4f4f4;
}
.results-filter-form__dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background-color: #fff;
    padding: 24px 48px 40px;
    padding: 1.5rem 3rem 2.5rem;
    z-index: 10;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    left: 0;
    top: 55px;
}
.results-filter-form__dropdown input,
.results-filter-form__dropdown select {
    margin-bottom: 15px;
}
.results-filter-form__dropdown-event-filter .checkbox-label {
    margin-top: 8px;
    margin-top: 0.5rem;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}
.filter-form--results .filter-form__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.filter-form select {
    width: 100%;
}
.filter-form__go-button {
    width: 100%;
    height: 34px;
    border: 1px solid #0068ad;
    font-size: 24px;
    font-size: 1.5rem;
}
.filter-form__dropdowns {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}
.filter-form__dropdowns,
.filter-form__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
}
.filter-form__input {
    -ms-flex: 1 1;
    flex: 1 1;
    margin-right: 32px;
    margin-right: 2rem;
}
.filter-form__input input.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.filter-form__input input.form-control:focus,
.filter-form__input input.form-control:focus-visible {
    border: 1px solid #ccc;
}
.filter-form__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
}
@media (min-width: 768px) {
    .filter-form--results .filter-form__title {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .filter-form__dropdowns {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
        flex: 1 0 250px;
        margin-bottom: 0;
    }
    .filter-form__actions {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
    }
    .filter-form__input {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin: 0 1rem 0 5rem;
    }
}
