.list-control-display {
    position: absolute;
    top: 15rem;
    right: 2rem;
}

.list-control-display span {
    cursor: pointer;
    color: #5E5E5E;
    font-size: 1.4rem;
}

.list-control-display span.active {
    font-weight: bold;
}

/* .results-list-large {
    display: none;
} */
.results-list-small {
    display: none;
}

.results-list.results-list-small {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 2rem 0 3rem 1rem;
}

.results-list__item.results-list__item--small {
    box-shadow: none;
    margin: 0;
}

.results-list-small .results-list__item-detail {
    max-width: 100%;
    flex-direction: row;
    padding: 1rem 2rem;
}

.results-list-small .results-list__item--small p,
.results-list-small .results-list__item--small h3 {
    border-left: 1px solid #CCC;
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: row;
    width: auto;
    font-size: 1.6rem;
    line-height: 130%;
}

.results-list-small p.results-list__item-date {
    border: 0 none;
    margin-left: 0;
    padding-left: 0;
}

/* .results-list-small .results-list__item-title {
    width: auto;
    font-size: 1.8rem;
    line-height: 1.8rem;
} */

.results-list-small .results-list__item-type {
    background: none;
}





/* 
.results-list.results-list-small {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding-results-list__item--small
.results-list-small results-list__item--smallresults-list__item {
    box-shadow: none;
}

.results-list-small .results-list__item-type--container {
    margin-top: -0.75rem;
    margin-right: 0.75rem;
}

.results-list-small .results-list__item-type {
    margin-bottom: 0;
    height: 2.4rem;
}

.results-list-small .results-list__item-detail {
    max-width: 100%;
    flex-direction: row;
    padding: 1rem 2rem;
}

.results-list-small .results-list__item-title {
    display: flex;
    width: auto;
    max-width: none;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.results-list-small .results-list__item-date {
    width: auto;
    max-width: none;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 400;
    margin-bottom: 0;
}

.results-list-small .results-list__item-location {
    margin-bottom: 1rem;
} */