


.results-list__item {
    background-color: white;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}

.results-list__item-detail {
    padding: 0.5rem 0 1.5rem;
    position: relative;
    display: block;
    flex-direction: column;
    order: 2;
}

.results-list__item-image-container {
    order: 1;
    text-decoration: none;
}

.results-list__item-type {
    position: relative;
    top: -29rem;
    background-color: #E7E7E7;
    color: #656565;
    font-size: 11px;
    line-height: 24px;
    padding: 0 8px;
    border-radius: 3px;
    margin: 0 0.5rem 1.0rem 0;
}

.results-list__item-type.item-type--article {
    width: 83px;
}

.results-list__item-type.item-type--article:before {
    content: "";
    background-image: url(../img/icon-type-article.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 2px 2px 0 -3px;
}

.results-list__item-title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 130%;
    margin-top: -20px;
    width: 100%;
}


@media (min-width: 768px) {
    .results-list__item {
        padding: 50px 0 20px;
        /* padding-bottom: 0; */
    }

    .results-list__item {
        border: 0 none;
        flex-wrap: nowrap;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        flex-direction: row;
        padding: 0;
    }

    .results-list__item-detail {
        order: 1;
        flex: 1 0 calc(100% - 400px);
        max-width: calc(100% - 400px);
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 2rem;
    }

    .results-list__item-type {
        position: absolute;
        top: -330px;
    }

    .results-list__item-type {
        position: relative;
        top: 0;
    }
}

@media screen and (min-width: 992px) {
    .results-list__item-detail {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: calc(100% - 440px);
        flex-basis: calc(100% - 440px);
        max-width: calc(100% - 440px);
        height: auto;
        padding: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (min-width: 1200px) {
    .results-list__item-detail {
        order: 1;
        flex: 1 0 calc(100% - 500px);
        max-width: calc(100% - 500px);
    }
}






