@font-face {
    font-family: "Entypo";
    src: url("../assets/entypo.woff") format('woff');
}

.content-list.threaded .load-more .meta .votes, 
.content-list.threaded .content-item .meta .votes {
    display: inline-block;
}

.content-list.threaded .load-more .meta .votes .up, 
.content-list.threaded .content-item .meta .votes .up {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: 6px;
    padding-right: 0;
    margin-right: 6px;
    float: left;
}

.content-list.threaded .load-more .meta .votes .down, 
.content-list.threaded .content-item .meta .votes .down {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: 4px;
    padding-right: 0;
    margin-right: 10px;
}

.content-list.threaded .load-more .meta .votes .up:before, 
.content-list.threaded .content-item .meta .votes .up:before {
    text-indent: 0;
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0;
    display: block;
    content: "\e876";
    font-family: Entypo;
    font-size: 20px;
    line-height: 20px;
}

.content-list.threaded .load-more .meta .votes .down:before, 
.content-list.threaded .content-item .meta .votes .down:before {
    text-indent: 0;
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0;
    display: block;
    content: "\e873";
    font-family: Entypo;
    font-size: 20px;
    line-height: 20px;
}

.content-list.threaded .load-more .meta a, 
.content-list.threaded .content-item .meta a {
    color: #7F9CAB;
}

.content-list.threaded .load-more .meta a:active, 
.content-list.threaded .load-more .meta a:hover, 
.content-list.threaded .content-item .meta a:active,
.content-list.threaded .content-item .meta a:hover {
    color: #0C7CD5;
}




.content-list.threaded .load-more .meta .primary, 
.content-list.threaded .content-item .meta .primary, 
.content-list.threaded .load-more .meta .new-reply, 
.content-list.threaded .content-item .meta .new-reply {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    background-color: #adc0c9;
    color: #fff;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
}

.content-list.threaded .load-more .rendered-content:hover .meta .primary:hover, 
.content-list.threaded .content-item .rendered-content:hover .meta .primary:hover, 
.content-list.threaded .load-more .rendered-content:hover .meta .new-reply:hover, 
.content-list.threaded .content-item .rendered-content:hover .meta .new-reply:hover {
    background-color: #51adf6;
    color: #fff;
}




.navigation-list-item.vote {
    font-size: 1.8rem;
}

.navigation-list-item .primary.internal-link.login {
    padding: 5px 10px;
    font-size: 1.3rem;
    text-decoration: none;
}