---
permalink: /events/index.html
title: Calendar of Events | U.S. Masters Swimming
pageTitle: Calendar of Events
breadcrumbs:
  - url: "/"
    label: "Home"
---
{% extends "layouts/events.njk" %}
{% block content %}
<section class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        {% include "partials/events-content.njk" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
