---
permalink: /events/index.html
title: Calendar of Events | U.S. Masters Swimming
pageTitle: Calendar of Events
breadcrumbs:
  - url: "/"
    label: "Home"
---
{% extends "layouts/events.njk" %}
{% block content %}
<div class="usms-container p-t-10">
  {% include "partials/events-content.njk" %}
</div>
{% endblock %}
