---
permalink: /events/pool-lookup/index.html
title: Pool Lookup | U.S. Masters Swimming
pageTitle: Pool Lookup
breadcrumbs:
  - url: "/home"
    label: "Home"
---
{% extends "layouts/clubs.njk" %}
{% block pageJS %}
<script src="/js/filters.js" defer></script>
<script src="/js/pool-lookup.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI0dfTymf_5IhRI-YuOUKpTf3mEJlDmi8&libraries=places&callback=initPoolPlaces" async defer></script>
{% endblock %}
{% block pageCSS %}
<link rel="stylesheet" href="/css/pool/pool-list-control.css">
<link rel="stylesheet" href="/css/pool/pool-list-results.css">
{% endblock %}
{# {% block pageHeader %}
{% include "partials/page-header.njk" %}
{% endblock %} #}
{% block content %}
<div class="section section-full p-mh-500">
	<div class="usms-container pool-lookup">
		<div class="row">
			<div class="col-xs-12">
				{% include "partials/pool-lookup-filters.njk" %}
			</div>
		</div>
		<div class="row p-tb-50">
			<div class="col-xs-12">
				{% include "partials/pool-lookup-results.njk" %}
			</div>
		</div>
	</div>
</div>

{% set modalId = "modalPoolDetail" %}
{% set modalModifier = "pool-location-detail" %}
{% set modalSize = "lg" %}
{% set modalTitleId = "poolDetailName" %}
{% set modalHeaderExtra %}
	<p class="pool-detail__address" id="poolDetailAddress"></p>
	<p class="pool-detail__city-state" id="poolDetailCityState"></p>
{% endset %}
{% set modalBody %}
	<div class="pool-detail__courses" id="poolDetailCourses"></div>
{% endset %}
{% set modalFooter %}
	<button class="btn btn-lg btn-primary" type="button" id="poolDetailClose">Okay</button>
{% endset %}
{% include "components/modal.njk" %}
{% endblock %}
