---
permalink: /club-central/club-dashboard.html
title: Club Dashboard | U.S. Masters Swimming
pageTitle: Club Dashboard
breadcrumbs:
  - url: "/home"
    label: "Home"
  - url: "/club-central"
    label: "Club Central"
---
{% extends "layouts/base.njk" %}

{% block pageCSS %}
<link rel="stylesheet" href="https://www.usms.org/styles/clubDetail.min.css">
{% endblock %}

{% block breadcrumb %}
{% include "partials/Common/Breadcrumb.njk" %}
{% endblock %}

{% block pageHeader %}
<div class="section section-full bg-gray">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <header class="page-title">
          <h1>Club Dashboard</h1>
          <h2>Select Your Club</h2>
        </header>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="section section-full bg-gray">
  <div class="usms-container form__container p-tb-10">
    <div class="row">
      <div class="col-xs-12">

        <div class="html-container">
          <p>Here are some helpful pages to get you ready for the 2026 club registration</p>
          <ul>
            <li style="text-align: left; text-decoration:underline;"><a href="/club-central/club-and-workout-group-registration-information">Information to have ready for the registration process</a></li>
            <li style="text-align: left; text-decoration:underline;"><a href="/club-central/club-registration-updates">Club registration updates</a></li>
            <li style="text-align: left; text-decoration:underline;"><a href="/club-central/club-contact-information">Club contact information</a></li>
          </ul>
          <br>
          <p>If you do not see your club or workout group's abbreviation on your dashboard, please <a href="mailto:clubandcoach@usmastersswimming.org" style="text-decoration: underline;">send us an email</a>&nbsp;to gain access to the club or workout group renewal.</p>
        </div>

        <form class="form-horizontal">

          {% if clubsLocal.clubs | length > 0 %}
          <div class="button-row__content club-dashboard align-center">
            <h3>Select Your Club or Workout Group</h3>
            {% for club in clubsLocal.clubs %}
            <div class="club-button-wrapper">
              {% if club.isWog %}
                <div class="disabled-club">
                  <div class="btn btn-outline club-link-button">{{ club.abbreviation }}</div>
                </div>
              {% elif club.disabled %}
                <div class="disabled-club">
                  <div class="btn btn-outline club-link-button">{{ club.abbreviation }}</div>
                  <span>Club Disabled</span>
                </div>
              {% else %}
                <a class="btn btn-outline club-link-button" href="/club-central/club-dashboard/club-manage.html?clubId={{ club.id }}">{{ club.abbreviation }}</a>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}

          <div class="button-row__footer">
            <a class="btn" href="/club-central/club-edit.html">+ Add a New Club or Workout Group</a>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
