<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row is-flex">
      <div class="col-xs-12  column-center">
        <div class="advertising-dc" style="padding-top: 10px; padding-bottom: 10px;">
          <img class="ad-img ad-img--mobile" src="/img/USMS_Ad_Mobile.jpeg" alt="Advertisement" width="310" height="310">
          <img class="ad-img ad-img--tablet" src="/img/USMS_Ad_Tablet.jpeg" alt="Advertisement" width="730" height="183">
          <img class="ad-img ad-img--leaderboard" src="/img/USMS_Ad_Leaderboard.jpeg" alt="Advertisement" width="940" height="118">
        </div>
      </div>
    </div>
  </div>
</div>