---
permalink: /clubs/fort-worth-area-swim-team-608.html
title: Fort Worth Area Swim Team | Club Finder | U.S. Masters Swimming
clubUrl: /clubs/fort-worth-area-swim-team-608
locationFacilities:
  "Wilkerson-Greines Activity Center":
    - name: Wilkerson-Greines Activity Center
      environment: Indoor
      lengths: [SCY, LCM]
  "Forest Park Pool":
    - name: Forest Park Pool
      environment: Outdoor
      lengths: [LCM]
  "Waco Family YMCA":
    - name: Waco Family YMCA
      environment: Indoor
      lengths: [SCY]
  "Cleburne Splash Station":
    - name: Cleburne Splash Station
      environment: Outdoor
      lengths: [SCY]
    - name: Cleburne Splash Station
      environment: Indoor
      lengths: [SCY]
  "Texas Wesleyan University":
    - name: Texas Wesleyan University
      environment: Indoor
      lengths: [SCY]
breadcrumbs:
  - url: "/"
    label: "Home"
  - url: "/clubs/index.html"
    label: "Club Finder"
breadcrumbTitle: "Fort Worth Area Swim Team"
---
{% extends "layouts/club-detail.njk" %}
{% set club = clubs.data.clubs | findClub(clubUrl) %}

{% block pageJS %}
{{ super() }}
<script src="/js/club-detail-map.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ keys.googleMaps }}&callback=initClubDetailMap" async defer></script>
{% endblock %}

{% block heroSection %}
<div class="section section-full p-b-10">
  <a href="#" class="btn-hero-modal" data-modal-target="#modalImage">+ View Full Image</a>
  <div class="hero-image hero-image--club-detail2" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/USMS/Club2/Upload/SigmaStaffjpeg.jpeg'); height: 350px; background-position: center"></div>

  {% set modalId = "modalImage" %}
  {% set modalModifier = "club-detail-modal" %}
  {% set modalSize = "lg" %}
  {% set modalBody %}
  <div class="club-detail--full-image">
    <img style="width:100%;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/USMS/Club2/Upload/SigmaStaffjpeg.jpeg" alt="" />
  </div>
  {% endset %}
  {% include "components/modal.njk" %}
</div>
{% endblock %}

{% block clubMain %}
{% include "partials/Club/club-detail-content.njk" %}
{% endblock %}

{% block clubSidebar %}
<button class="btn btn-usms btn-large club__join-now">Join USMS Now</button>
<div class="club-contact">
  <h4 class="club-contact__header">Club Contact</h4>
  <div class="club-contact__content">
    <p>Andrew Ha</p>
    <p>714-396-1840</p>
    <p>swim@sigmaswimming.org</p>
  </div>
</div>
<div class="club-website">
  <a href="https://www.sigmaswim.org/" class="btn btn-link" target="_blank">Visit Club Website</a>
</div>
{% include "partials/Club/club-detail-badges.njk" %}
<div class="club-social-links">
  <h4 class="club-social-links__header">Connect With Us</h4>
  <div class="club-social-links__content">
    <ul class="social-share-icons list--nostyle">
      <li class="social-share-icons__item">
        <a href="https://www.facebook.com/SigmaSwimming" target="_blank" title="Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </li>
      <li class="social-share-icons__item">
        <a href="https://www.instagram.com/sigma_swimming" target="_blank" title="Instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li class="social-share-icons__item">
        <a href="https://www.twitter.com/SigmaSwimming" target="_blank" title="Twitter">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
