---
permalink: /clubs/index.html
title: Club Finder | U.S. Masters Swimming
pageTitle: Club Finder
breadcrumbs:
  - url: "/home"
    label: "Home"
swimmerId: "standardCurrent"
devSwimmerIds:
  - standardCurrent
---
{% extends "layouts/clubs.njk" %}
{% block pageCSS %}
{{ super() }}
<link rel="stylesheet" href="/css/Common/loading.css">
{% endblock %}
{% block pageJS %}
{{ super() }}
<script type="application/json" id="clubs-data">{{ clubs.data.clubs | dump | safe }}</script>
<script src="/js/clubs-filter.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ keys.googleMaps }}&libraries=places&callback=initClubMap" async defer></script>
{% endblock %}
{% block content %}
{% include "partials/Common/loading.njk" %}
<section class="section section-full bg-gray p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        {% include "partials/Club/ClubsContent2.njk" %}
      </div>
    </div>
  </div>
</section>

<section class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="html-container">
          <div class="row is-flex">
            <div class="col-xs-12 col-sm-3">
              <div class="cta-col cta-col--center cta-col--club-programs equal-height">
                <div class="cta-col__image">
                  <img src="https://www.usms.org/-/media/usms/developers/images/club%20detail/club-badge-coach.png" alt="U.S. Masters Certified Coaches">
                </div>
                <h4 class="cta-col__header">USMS Certified Coaches</h4>
                <p class="cta-col__content">The U.S. Masters Swimming–Certified Coach logo identifies swim clubs near me where you can find a USMS-certified coach. These coaches have furthered their Masters coaching education and have passed the certification exam. Note: A certified coach might not be at all locations or workouts.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="cta-col cta-col--center cta-col--club-programs equal-height">
                <div class="cta-col__image">
                  <img src="https://www.usms.org/-/media/usms/developers/images/club%20detail/club-badge-alts.png" alt="U.S. Masters Swimming Adult Learn-to-Swim Instructors">
                </div>
                <h4 class="cta-col__header">USMS Certified Adult Learn-to-Swim Instructors</h4>
                <p class="cta-col__content">The Certified Adult Learn-to-Swim Instructor logo identifies swim teams near me that have a U.S. Masters Swimming–certified ALTS instructor. These instructors have furthered their swim-lessons instruction education and have passed the certification exam. Note: A certified ALTS instructor might not be at all locations or workouts.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="cta-col cta-col--center cta-col--club-programs equal-height">
                <div class="cta-col__image">
                  <img src="https://www.usms.org/-/media/usms/developers/images/club%20detail/club-badge-gold.png" alt="U.S. Masters Swimming Gold Club Designation">
                </div>
                <h4 class="cta-col__header">Gold Club Designation</h4>
                <p class="cta-col__content">The Gold Club logo identifies Masters clubs and workout groups that provide members with the best Masters Swimming experience possible. Gold Clubs have a U.S. Masters Swimming–certified coach on staff, participate in fitness events, and offer a free trial to potential members, among many other benefits.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="cta-col cta-col--center cta-col--club-programs equal-height">
                <div class="cta-col__image">
                  <img src="https://www.usms.org/-/media/usms/non-lightroom%20images/usms%20logos/usa%20swimming%20foundation/usa%20swimming%20foundation%20vertical-full%20color.png?w=90&hash=ECC5E578F9F4FFEB91939CFDE7CFBFD5" alt="USA Swimming Foundation Logo">
                </div>
                <h4 class="cta-col__header">USA Swimming Foundation</h4>
                <p class="cta-col__content">The USA Swimming Foundation logo identifies clubs that receive support from the foundation for their adult swim-lessons program. These grant programs offer adult learn-to-swim lessons at a reduced cost. Most also are led by a USMS-certified adult learn-to-swim instructor.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
