---
permalink: /clubs/sarasota-y-sharks-536.html
title: Sarasota Sharks Masters | Club Finder | U.S. Masters Swimming
clubUrl: /clubs/sarasota-y-sharks-536
locationFacilities:
  "Selby Aquatic Center":
    - name: Selby Aquatic Center
      environment: Outdoor
      lengths: [LCM, SCY, SCM]
breadcrumbs:
  - url: "/"
    label: "Home"
  - url: "/clubs/index.html"
    label: "Club Finder"
breadcrumbTitle: "Sarasota Sharks Masters"
---
{% extends "layouts/club-detail.njk" %}
{% set club = clubs.data.clubs | findClub(clubUrl) %}

{% block pageJS %}
{{ super() }}
<script src="/js/club-detail-map.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ keys.googleMaps }}&callback=initClubDetailMap" async defer></script>
{% endblock %}

{% block heroSection %}
<div class="section section-full p-b-10">
  <div id="club-detail-map"
    data-locations='{{ club.location | clubMapLocationsJson(club.isMember) | safe }}'
    style="height: 350px; width: 100%;"></div>
</div>
{% endblock %}

{% block clubMain %}
{% include "partials/Club/club-detail-content.njk" %}
{% endblock %}

{% block clubSidebar %}
<button class="btn btn-usms btn-large club__join-now">Join USMS Now</button>
<div class="club-website">
  <a href="https://www.gomotionapp.com/team/flsysst/page/lesson-registration/practicescheduleworkouts" class="btn btn-link" target="_blank">Visit Club Website</a>
</div>
{% include "partials/Club/club-detail-badges.njk" %}
<div class="club-social-links">
  <h4 class="club-social-links__header">Connect With Us</h4>
  <div class="club-social-links__content">
    <ul class="social-share-icons list--nostyle">
      <li class="social-share-icons__item">
        <a href="https://www.facebook.com/SharksMasters" target="_blank" title="Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </li>
      <li class="social-share-icons__item">
        <a href="https://www.twitter.com/SharksMasters" target="_blank" title="Twitter">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
