---
permalink: /clubs/sarasota-y-sharks-536.html
title: Sarasota Sharks Masters | Club Finder | U.S. Masters Swimming
breadcrumbs:
  - url: "/"
    label: "Home"
  - url: "/clubs/index.html"
    label: "Club Finder"
breadcrumbTitle: "Sarasota Sharks Masters"
---
{% extends "layouts/club-detail.njk" %}

{% block heroSection %}
<div class="section section-full p-b-10">
  <iframe
    src="https://maps.google.com/maps?ll=27.2526,-82.4695&z=12&output=embed"
    style="height: 350px; width: 100%; border: 0; display: block;"
    allowfullscreen=""
    loading="lazy"
    title="Selby Aquatic Center map"></iframe>
</div>
{% endblock %}

{% block clubMain %}
<div class="club__description">
  <h1 class="club__header">Sarasota Sharks Masters</h1>
  <p>The Sharks provide organized workouts, competitions, clinics, and workshops for adults aged 18 and over. We currently have more than 350 members. We welcome ALL adult swimmers (fitness, triathlete, competitive, noncompetitive, open water). We're all about helping swimmers improve fitness, train for specific goals, and providing active support for a healthy lifestyle through friendship and camaraderie.</p>
  <h3 class="club__practice-info">Practice Information</h3>
  <p>Visit the club website for workout info</p>
</div>

<div class="club__locations">
  <div class="club-location">
    <div class="club-location__left-container">
      <div class="club-location__map-pin">
        <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/images/map/marker_orange.png?rev=9b3b34aaf0ca468990121aa0a0afdcb9">
        <p class="club-location__map-pin--distance">8</p>
      </div>
    </div>
    <div class="club-location__right-container">
      <div class="club-location__address">
        <a href="https://maps.google.com/?q={8501 Potter Park Drive}{34238}" target="_blank">
          <h5 class="club-location__address--name">Selby Aquatic Center</h5>
          <p class="club-location__address--street">8501 Potter Park Drive</p>
          <p class="club-location__address--city-state-zip">Sarasota, FL 34238</p>
        </a>
      </div>
      <div class="club-location__facilities">
        <div class="club-location__facility">
          <div class="club-location__facility--name">Selby Aquatic Center</div>
          <div class="club-location__facility--environment">Outdoor</div>
          <div class="club-location__facility--length">LCM</div>
          <div class="club-location__facility--length">SCY</div>
          <div class="club-location__facility--length">SCM</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block clubSidebar %}
<button class="btn btn-usms btn-large club__join-now">Join USMS Now</button>
<div class="club-website">
  <a href="https://www.gomotionapp.com/team/flsysst/page/lesson-registration/practicescheduleworkouts" class="btn btn-link" target="_blank">Visit Club Website</a>
</div>
<div class="club-detail2__badges">
  <h4 class="club-detail2__badges--header">Club Designations</h4>
  <ul class="club-detail2__badges-list list--nostyle">
    <li class="club-detail2__badges-item">
      <a href="#" data-modal-target="#badgeCoach">
        <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/developers/images/club%20detail/club-badge-coach.png?h=321&w=350&rev=635d566be36d4cdcadc27626fde72b68&hash=82DC6C945E565F72016697C779170E0D">
        <p>USMS Certified Coach</p>
      </a>
    </li>
    <li class="club-detail2__badges-item">
      <a href="#" data-modal-target="#badgeAlts">
        <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/developers/images/club%20detail/club-badge-alts.png?h=321&w=350&rev=3b08e5ab609141ad9a924f61da33bc96&hash=CEA3F6989ED4F63208DFA8A8AC32352B">
        <p>USMS Certified ALTS Instructor</p>
      </a>
    </li>
    <li class="club-detail2__badges-item">
      <a href="#" data-modal-target="#badgeGold">
        <img src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/developers/images/club%20detail/club-badge-gold.png?h=321&w=350&rev=31ba632063c64b5ab6621a05722f46ad&hash=F7D51558DD678357C7C8CB607BA359BE">
        <p>USMS Certified Gold Club</p>
      </a>
    </li>
  </ul>
</div>
<div class="club-social-links">
  <h4 class="club-social-links__header">Connect With Us</h4>
  <div class="club-social-links__content">
    <ul class="social-share-icons list--nostyle">
      <li class="social-share-icons__item">
        <a href="https://www.facebook.com/SharksMasters" target="_blank" title="Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </li>
      <li class="social-share-icons__item">
        <a href="https://www.twitter.com/SharksMasters" target="_blank" title="Twitter">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
