---
permalink: /clubs/swim-fort-lauderdale-1877.html
title: Swim Fort Lauderdale | Club Finder | U.S. Masters Swimming
clubUrl: /clubs/swim-fort-lauderdale-1877
locationFacilities:
  "Fort Lauderdale Aquatic Center":
    - name: Competition Pool
      environment: Outdoor
      lengths: [LCM, SCM, SCY]
    - name: East Competition Pool
      environment: Outdoor
      lengths: [LCM, SCM, SCY]
    - name: Warmup/Training Pool
      environment: Outdoor
      lengths: [SCY]
breadcrumbs:
  - url: "/"
    label: "Home"
  - url: "/clubs/index.html"
    label: "Club Finder"
breadcrumbTitle: "Swim Fort Lauderdale"
---
{% extends "layouts/club-detail.njk" %}
{% set club = clubs.data.clubs | findClub(clubUrl) %}

{% block pageJS %}
{{ super() }}
<script src="/js/club-detail-map.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ keys.googleMaps }}&callback=initClubDetailMap" async defer></script>
{% endblock %}

{% block heroSection %}
<div class="section section-full p-b-10">
  <a href="#" class="btn-hero-modal" data-modal-target="#modalImage">+ View Full Image</a>
  <div class="hero-image hero-image--club-detail2" style="background-image: url('https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/USMS/Club2/Upload/SFTL Logojpg.jpg'); height: 350px; background-position: center"></div>

  {% set modalId = "modalImage" %}
  {% set modalModifier = "club-detail-modal" %}
  {% set modalSize = "lg" %}
  {% set modalBody %}
  <div class="club-detail--full-image">
    <img style="width:100%;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/USMS/Club2/Upload/SFTL Logojpg.jpg" alt="" />
  </div>
  {% endset %}
  {% include "components/modal.njk" %}
</div>
{% endblock %}

{% block clubMain %}
{% include "partials/Club/club-detail-content.njk" %}
{% endblock %}

{% block clubSidebar %}
<button class="btn btn-usms btn-large club__join-now">Join USMS Now</button>
<div class="club-contact">
  <h4 class="club-contact__header">Club Contact</h4>
  <div class="club-contact__content">
    <p>John Janszen</p>
    <p>513-410-1481</p>
    <p>jjanszen@fortlauderdale.gov</p>
  </div>
</div>
<div class="club-website">
  <a href="https://www.teamunify.com/Home.jsp?team=fgflac" class="btn btn-link" target="_blank">Visit Club Website</a>
</div>
{% include "partials/Club/club-detail-badges.njk" %}
<div class="club-social-links">
  <div class="club-social-links__content">
    <ul class="social-share-icons list--nostyle"></ul>
  </div>
</div>
{% endblock %}
