<div class="section section-full  p-tb-10  ">
	<div class="usms-container  p-tb-10">
		<div class="row  ">
			<div class="col-xs-12  ">
				<header class="page-title">
					<h1>
						Add-Ons and Upgrades
					</h1>
				</header>
			</div>
		</div>
	</div>
	<div class="usms-container  p-tb-10">
		<div class="row  ">
			<div class="col-xs-12  ">
				<div id="">
					<div class="renew__form-body masters-addons">
						<input type="hidden" name="videoStrokeAnalysisProductId" value=""><input type="hidden" name="usmsPlusProductId" data-product-name="" value=""><input type="hidden" name="designatedCoachProductId" data-product-name="" value=""><input type="hidden" name="magazineProductId" data-product-name="" value=""><input type="hidden" name="swimmerId" id="swimmerId" value="KT2JH">
						<div class="modal" id="modalSexNotMatch" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5>We Will Contact You</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p>A USMS representative will contact you within a week to discuss participation and eligibility procedures. Please go ahead and finish your registration.</p>
									</div>
									<div class="modal-footer"><button type="button" class="btn btn-lg btn-primary" id="confirmSexNotMatch" data-bs-dismiss="modal">Okay</button></div>
								</div>
							</div>
						</div>
						
						<div class="modal-container" style="transition:all 250ms ease-in-out;transform:translateY(-10px);opacity:0;z-index:-1;">
							<div class="modal" id="">
								<div class="modal-close"><button type="button"><i class="fa-solid fa-times"></i></button></div>
								<div class="row ">
									<div class="col-xs-12">
										<p class="text-danger text-center" style="display:flex;flex-direction:column;"></p>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="card add-on-products">
								<h3 class="addons__form-header">Product Options</h3>
								<div class="product-group">
									{% for key in productOptionKeys %}
									{% set option = products[key] %}
									{% if option and option.active !== false %}
									<div class="product-option {{ option.extraClasses }} product-option_{{ option.modifier }}">
										<p class="product-name">{{ option.name | safe }}</p>
										<p class="product-price">${{ option.price }}</p>
										<div class="product-summary">
											{% if option.bulletList %}
											<ul class="payment-bullets">
												{% for item in option.bulletList %}
												<li>{{ item }}</li>
												{% endfor %}
											</ul>
											{% elif option.summary %}
											<p>{{ option.summary | safe }}</p>
											{% endif %}
										</div>
										{% if option.hasStrokeSelect %}
										<div class="form-group">
											<select name="StrokeSelect" id="strokeSelect" class="form-control">
												<option selected="" value="0" disabled="">Select a stroke</option>
												<option value="Freestyle">Freestyle</option>
												<option value="Breaststroke">Breaststroke</option>
												<option value="Backstroke">Backstroke</option>
												<option value="Butterfly">Butterfly</option>
												<option value="Starts and Turns">Starts/Turns</option>
											</select>
										</div>
										{% endif %}
										<button class="btn btn-outline btn-md add-on"{% if option.hasStrokeSelect %} disabled=""{% endif %}>Add</button>
									</div>
									{% endif %}
									{% endfor %}
								</div>
								<h4 class="card__total">
									Product Total: <span class="total-product card__total--amount">$0.00</span>
								</h4>
							</div>
						</div>
						<div class="card donations">
							<h3 class="donation__form-header">Make a Donation</h3>
							<div class="form-group donation donation--sslf">
								<span class="help-block help-block--swimming-saves-lives">The minimum donation to the USA Swimming Foundation is $5. Please correct this value and try again.</span>
								<div class="donate__text"><label for="swimming-saves-lives" class="control-label"><strong>Adult Learn-to-Swim Grant Donation</strong></label></div>
								<div class="donate__buttons">
									<button class="btn btn-donate btn-donate--1" value="30">
										<span class="btn-donate-symbol">$</span>30
									</button>
									<button class="btn btn-donate btn-donate--2" value="60">
										<span class="btn-donate-symbol">$</span>60
									</button>
									<button class="btn btn-donate btn-donate--3" value="120">
										<span class="btn-donate-symbol">$</span>120
									</button>
									<button class="btn btn-donate btn-donate--4" value="240">
										<span class="btn-donate-symbol">$</span>240
									</button>
									<div class="donate__buttons--footnote">Supported by the USA Swimming Foundation. Funds will benefit adult learn-to-swim programs</div>
								</div>
								<div class="donate__input"><span class="currency-symbol">$</span><input type="text" name="swimming-saves-lives" class="form-control currency" placeholder="0.00"></div>
							</div>
							<div class="form-group donation donation--shff">
								<span class="help-block help-block--swimming-hall-of-fame">The minimum donation to the International Swimming Hall of Fame is $5. Please correct this value and try again.</span>
								<div class="donate__text"><label for="swimming-hall-of-fame" class="control-label col-xs-12">International Swimming Hall of Fame donation:</label></div>
								<div class="donate__input"><span class="currency-symbol">$</span><input type="text" name="swimming-hall-of-fame" class="form-control currency" value="0.00"></div>
							</div>
							<div class="form-group donation donation--lmsc" style="display:none;">
								<span class="help-block help-block--lmsc">The minimum donation to the LMSC is $5. Please correct this value and try again.</span>
								<div class="donate__text"><label for="lmsc" class="label-lmsc-donation control-label col-xs-12">LMSC donation:</label><span class="hidden-lmsc-text">LMSC donation:</span></div>
								<div class="donate__input"><span class="currency-symbol">$</span><input type="text" name="lmsc" class="form-control currency" value="0.00"></div>
								<h4 class="card__total">
									Donation Total: <span class="total-donations card__total--amount">$0.00</span>
								</h4>
							</div>
						</div>
						<div class="card review-order clearfix">
							<h3 class="review-order___form-header m-b-30">Review Your Add-Ons</h3>
							<div class="review-order__form-summary subscription-info__form-summary"></div>
							<div class="review-order__form-summary">
								<h4>Total Due Today</h4>
								<p class="review-order__line-item review-order__line-item--total">
									Total Charge: <span class="review-order__line-item--price">$0.00</span>
								</p>
							</div>
						</div>
						<div class="card payment-info">
							<form class="form-membership-length form-horizontal">
								<div class="modal-container" style="transition:all 250ms ease-in-out;transform:translateY(-10px);opacity:0;z-index:-1;">
									<div class="modal" id="">
										<div class="modal-close"><button type="button"><i class="fa-solid fa-times"></i></button></div>
										<div class="row ">
											<div class="col-xs-12">
												<p class="text-danger text-center" style="display:flex;flex-direction:column;"></p>
											</div>
										</div>
									</div>
								</div>
								<input type="hidden" name="dataDesc"><input type="hidden" name="dataValue">
								<div class="card payment-info clearfix">
									<div class="card__content" style="display:none;">
										<h3 class="payment-info___form-header m-b-30">Enter Your Payment Details</h3>
										<div class="form-group card-name">
											<div class="col-xs-12">
												<label for="cardName" class="font-weight-bold">Name on Card</label>
												<div><span class="help-block help-block--cardName">Please enter a value for cardName</span><input type="text" min="1" max="100" class="form-control" placeholder="" name="cardName" autocomplete="on" maxlength="100" value=""><span class="glyphicon form-control-feedback glyphicon--cardName" aria-hidden="true"></span></div>
											</div>
										</div>
										<div class="form-group card-number">
											<div class="col-xs-12 col-sm-7">
												<label for="cardNumberID" class="font-weight-bold">Card Number</label>
												<div><span class="help-block help-block--cardNumberID">Please enter a valid credit card number</span><input type="text" min="1" max="100" class="form-control" placeholder="" name="cardNumberID" autocomplete="on" maxlength="100" value=""><span class="glyphicon form-control-feedback glyphicon--cardNumberID" aria-hidden="true"></span></div>
											</div>
											<div class="col-xs-5 col-sm-2 form-membership-length__security-code">
												<label for="cardCodeID" class="font-weight-bold">Security Code</label>
												<div><span class="help-block help-block--cardCodeID">Please enter a value for Security Code</span><input type="text" min="1" max="100" class="form-control" placeholder="" name="cardCodeID" autocomplete="on" maxlength="100" value=""><span class="glyphicon form-control-feedback glyphicon--cardCodeID" aria-hidden="true"></span></div>
											</div>
											<div class="col-xs-7 col-sm-3">
												<label for="expiration" class="font-weight-bold">Expiration (mm/yy)</label>
												<div><span class="help-block help-block--expiration">Please enter a valid expiration date</span><input type="text" min="1" max="100" class="form-control" placeholder="" name="expiration" autocomplete="on" maxlength="5" value=""><span class="glyphicon form-control-feedback glyphicon--expiration" aria-hidden="true"></span></div>
											</div>
										</div>
										<div class="form-group card-zip">
											<div class="col-xs-8 col-sm-4">
												<label for="cardZipID" class="font-weight-bold">Billing Zip</label>
												<div><span class="help-block help-block--cardZipID">Please enter a valid billing zip</span><input type="text" min="1" max="100" class="form-control" placeholder="" name="cardZipID" autocomplete="on" maxlength="100" value=""><span class="glyphicon form-control-feedback glyphicon--cardZipID" aria-hidden="true"></span></div>
											</div>
										</div>
									</div>
									<div class="form-group agree-terms">
										<div class="col-xs-12">
											<span class="help-block help-block--agree-terms">You need to agree to the terms to complete your registration.</span>
											<label id="agreeTerms__label" class="checkbox-label disabled" for="agreeTerms">
												<div class="checkbox-container"><input type="checkbox" name="agree-terms" id="agreeTerms" disabled="" value=""><span class="checkbox__placeholder"></span></div>
											</label>
											<span class="font-weight-bold"><span></span><span class="font-weight-bold">I agree that all information I am providing is factual. I agree to the U.S. Masters Swimming<a href="/content/privacy"> Privacy Policy</a>. I understand that this transaction will take effect immediately and is non-refundable and non-transferable.</span></span>
										</div>
									</div>
									<button type="button" id="register-button" class="btn btn-primary btn-large text-uppercase pull-left membership-length__submit" disabled="">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="usms-container  p-tb-10">
		<div class="row  ">
			<div class="col-xs-12  ">
				<div class="html-container  ">
					The USA Swimming Foundation is registered as a 501(c)(3) nonprofit organization. Contributions to the USA Swimming Foundation are tax deductible to the fullest extent of the law. USA Swimming Foundation’s tax identification number is 72-1581977. You can find out more about us on guidestar.org under USA Swimming Foundation. A COPY OF THE OFFICIAL REGISTRATION AND FINANCIAL INFORMATION MAY BE OBTAINED FROM THE DIVISION OF CONSUMER SERVICES BY CALLING TOLL-FREE WITHIN THE STATE. 1- 800-HELP-FLA (435-7352) OR www.FloridaConsumerHelp.com. REGISTRATION DOES NOT IMPLY ENDORSEMENT, APPROVAL, OR RECOMMENDATION BY THE STATE." FLORIDA REGISTRATION CH22685
					<div style="display: none;">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
</div>