<div class="card add-on-products">
	<h3 class="addons__form-header">Product Options</h3>
	<div class="product-group">
		{% for key in productOptionKeys %}
		{% set option = products[key] %}
		{% if option and option.active !== false %}
		<div class="product-option {{ option.extraClasses }} product-option_{{ option.modifier }}"{% if option.termsKey %} data-terms-key="{{ option.termsKey }}"{% endif %}>
			<p class="product-name">{{ option.name | safe }}</p>
			<p class="product-price">${{ option.price }}</p>
			<div class="product-summary">
				{% if option.bulletList %}
				<ul class="payment-bullets">
					{% for item in option.bulletList %}
					<li>{{ item }}</li>
					{% endfor %}
				</ul>
				{% elif option.summary %}
				<p>{{ option.summary | safe }}</p>
				{% endif %}
			</div>
			{% if option.hasStrokeSelect %}
			<div class="form-group">
				<select name="StrokeSelect" id="strokeSelect" class="form-control">
					<option selected="" value="0" disabled="">Select a stroke</option>
					<option value="Freestyle">Freestyle</option>
					<option value="Breaststroke">Breaststroke</option>
					<option value="Backstroke">Backstroke</option>
					<option value="Butterfly">Butterfly</option>
					<option value="Starts and Turns">Starts/Turns</option>
				</select>
			</div>
			{% endif %}
			<button class="btn btn-outline btn-md add-on"{% if option.hasStrokeSelect %} disabled=""{% endif %}>Add</button>
		</div>
		{% endif %}
		{% endfor %}
	</div>
	<h4 class="card__total">
		Product Total: <span class="total-product card__total--amount">$0.00</span>
	</h4>
</div>
