<div class="breadcrumb-container" style="position: relative; padding-bottom: 50px;">
  <div class="breadcrumb">
    <div class="usms-container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcrumb__container">
            <ul class="breadcrumb__items list--nostyle">
              {% for crumb in breadcrumbs %}
              <li class="text-capitalize breadcrumb__item">
                <a class="breadcrumb__link" href="{{ crumb.url }}">{{ crumb.label }}
                  <i class="fa-solid fa-chevron-right"></i>
                </a>
              </li>
              {% endfor %}
            </ul>
            <span class="breadcrumb__title text-capitalize">{{ pageTitle }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
