<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://usms-cdn.azureedge.net/scripts/common.min.js"></script>
<script src="https://usms-cdn.azureedge.net/scripts/home.min.js"></script>
