<section class="personalize">
  <div class="container-fluid">
    <div class="usms-container">
      <div class="row">
        <div class="col-xs-12">
          <div class="personalize__content personalize__content-2">
            <div class="row is-flex cta-row">

              <div class="col-xs-12 col-lg-3 cta-col">
                <div class="personalize__content-column">
                  <img class="personalize__content-column-icon"
                       src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/house%20art/iama%20icons/icon-swimmer-free.png"
                       alt="library">
                  <h4>Workout Library</h4>
                  <p>1000's of searchable workouts for a variety of training styles</p>
                  <a href="/workout-library">Find a Workout</a>
                </div>
              </div>

              <div class="col-xs-12 col-lg-3 cta-col">
                <div class="personalize__content-column">
                  <img class="personalize__content-column-icon"
                       src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/house%20art/iama%20icons/icon-calendar.png"
                       alt="calendar">
                  <h4>Calendar of Events</h4>
                  <p>Find an open water or pool event to challenge yourself and meet others</p>
                  <a href="/events">Find an Event</a>
                </div>
              </div>

              <div class="col-xs-12 col-lg-3 cta-col">
                <div class="personalize__content-column">
                  <img class="personalize__content-column-icon"
                       src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/house%20art/iama%20icons/icon-swimmer-group.png"
                       alt="swimmers">
                  <h4>Club Finder</h4>
                  <p>Our clubs can help keep you motivated and find a community</p>
                  <a href="/clubs">Find a Club</a>
                </div>
              </div>

              <div class="col-xs-12 col-lg-3 cta-col">
                <div class="personalize__content-column">
                  <img class="personalize__content-column-icon"
                       src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom%20images/house%20art/iama%20icons/icon-media.png"
                       alt="freestroke">
                  <h4>Training and Technique</h4>
                  <p>Articles and videos to help improve your swimming performance</p>
                  <a href="/fitness-and-training/articles-and-videos">Search Now</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
