<div class="section section-full p-mh-500">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div style="height:10px; display:block; margin:0; padding:0;"> </div>
        <h1 class="text-left text-primary">Enhance Your Swimming</h1>
        <p style="font-size: 2.3rem; line-height: 120%; margin-top: 0rem; padding-right: 50px; color: #555; margin-bottom: 3rem;">Our <strong>workouts</strong>, <strong>content</strong>, <strong>coaches</strong>, <strong>clubs</strong>, <strong>community</strong> and <strong>events</strong> will help you improve.</p>
        <div class="button-link__container button-link--left">
          <a class="btn btn-danger btn-xl" href="/login-to-registration-page">Join USMS</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <img alt="" style="width: 325px; margin: 55px auto 0; padding: 0 10px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/house art/join icons/join-fun-chart.png?w=325&rev=3a496cc193c044efa66e875677712fcd&hash=91023060D17C8B27AE34EEEA7F8051DC" />
      </div>
    </div>
  </div>

  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="col-xs-2 offset-xs-1 icon-menu__item" style="text-align: center;">
          <a href="https://community.usms.org/">
            <img alt="" style="padding: 20px 0 10px 20px; width: 65px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/house art/join icons/icon-myusms-forums.png?w=65&rev=c5f2576ec20946b0acb3cc59cc948f3f&hash=87061B40B91291CC31077B1C57690E82" />
          </a>
        </div>
        <div class="col-xs-9 icon-menu__item">
          <h4><a href="https://community.usms.org/">Online Community</a></h4>
          <p><a href="https://community.usms.org/">Connect, share and learn with other swimmers</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="col-xs-2 offset-xs-1 icon-menu__item" style="text-align: center;">
          <a href="/workout-library">
            <img alt="" style="padding: 20px 0 10px 20px; width: 55px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/house art/join icons/icons-book.png?w=57&rev=b936d2b7acc442c58b8e2c83307248f0&hash=8B7162641F6DE9BC4B7468F85BF22E66" />
          </a>
        </div>
        <div class="col-xs-9 icon-menu__item">
          <h4><a href="/workout-library">Workout Library</a></h4>
          <p><a href="/workout-library">Over 1,000 workouts to choose from</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="col-xs-2 offset-xs-1 icon-menu__item" style="text-align: center;">
          <a href="/fitness-and-training/articles-and-videos">
            <img alt="" style="padding: 20px 0 10px 20px; width: 55px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/house art/join icons/icon-media.png?rev=124c3088eb184e7a9b704278b03f11aa&hash=205BDE451203F8EDC182419908B549FE" />
          </a>
        </div>
        <div class="col-xs-9 icon-menu__item">
          <h4><a href="/fitness-and-training/articles-and-videos">Exclusive Content</a></h4>
          <p><a href="/fitness-and-training/articles-and-videos">Improve your technique and stay healthier</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="col-xs-2 offset-xs-1 icon-menu__item" style="text-align: center;">
          <a href="/join-usms/membership-discounts">
            <img alt="" style="padding: 20px 0 10px 20px; width: 63px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/house art/join icons/icon-dollars.png?w=70&rev=4c55cd8977ad45eb977a3b59050197f9&hash=C8618FEB2E5C1E030BAC30870E77897A" />
          </a>
        </div>
        <div class="col-xs-9 icon-menu__item">
          <h4><a href="/join-usms/membership-discounts">Discounts</a></h4>
          <p><a href="/join-usms/membership-discounts">Save big with swim gear offers</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="col-xs-2 offset-xs-1 icon-menu__item" style="text-align: center;">
          <a href="/events">
            <img alt="" style="padding: 20px 0 10px 20px; width: 58px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/house art/join icons/icon-calendar.png?rev=f7d30699a5fa463189df629ed721a209&hash=F08D1AF212F1EF5825B2745616F27657" />
          </a>
        </div>
        <div class="col-xs-9 icon-menu__item">
          <h4><a href="/events">Events</a></h4>
          <p><a href="/events">Over 300 pool, open water and virtual events</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="col-xs-2 offset-xs-1 icon-menu__item" style="text-align: center;">
          <a href="/clubs">
            <img alt="" style="padding: 20px 0 10px 20px; width: 67px;" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/house art/join icons/icon-clubs.png?rev=babeec18e0e0410dbc49d311bf0e9182&hash=674ADFAF1F1A95B0AF0E6BF0B5919FDB" />
          </a>
        </div>
        <div class="col-xs-9 icon-menu__item">
          <h4><a href="/clubs">Clubs</a></h4>
          <p><a href="/clubs">Swim with a group to help push you</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div style="height:50px; display:block; margin:0; padding:0;"> </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-full bg-sky p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div style="height:20px; display:block; margin:0; padding:0;"> </div>
        <h2 class="text-center text-white">Don't take our word for it, listen to our members:</h2>
      </div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <p style="color: #FFF; padding: 0 10px;">"I love the idea of getting stronger as I get older, instead of the opposite. I also love being part of a club that supportively and enthusiastically helps each other do their best!"</p>
        <p style="color: #FFF; padding: 0 10px; margin-bottom: 30px;">– <strong>Britta D.</strong></p>
      </div>
      <div class="col-xs-12 col-md-3">
        <p style="color: #FFF; padding: 0 10px;">"I didn't need any competitive swimming experience to join a club at 48 years old. I was welcomed with open arms and loads of encouragement!"</p>
        <p style="color: #FFF; padding: 0 10px; margin-bottom: 30px;">– <strong>Brianna J.</strong></p>
      </div>
      <div class="col-xs-12 col-md-3">
        <p style="color: #FFF; padding: 0 10px;">"I am not a great swimmer but as a team member I contribute with my effort. We are all in the same pool putting in our best efforts and having fun together!"</p>
        <p style="color: #FFF; padding: 0 10px; margin-bottom: 30px;">– <strong>Frances W.</strong></p>
      </div>
      <div class="col-xs-12 col-md-3">
        <p style="color: #FFF; padding: 0 10px;">"Such a motivating community-great coaches, best friends, hard workouts that both challenge me physically and let me have fun-practice is the highlight of my day!"</p>
        <p style="color: #FFF; padding: 0 10px; margin-bottom: 30px;">– <strong>Joanna T.</strong></p>
      </div>
    </div>
  </div>
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div style="height:20px; display:block; margin:0; padding:0;"> </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-full p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div style="height:5px; display:block; margin:0; padding:0;"> </div>
        <h4 class="text-center text-primary">As Seen In</h4>
        <div style="height: 20px; display: block;"> </div>
        <div class="row">
          <div class="col-sm-3" style="text-align: center;">
            <img alt="New York Times" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/publication logos/nytimes.png?rev=1ff6e62b984345d9b390a37a13f1931e&hash=6FB22D651F0AF18BCC60985EA3A64FD6" style="opacity: 0.5; margin:0 auto; max-height: 100px; max-width: 240px;" />
          </div>
          <div class="col-sm-3" style="text-align: center;">
            <img alt="The Wall Street Journal" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/publication logos/wsj.png?rev=53ccaa682bff4cd786348ec6e672eea4&hash=B877D9B9364EAD0EA4EF47C82CFA5945" style="opacity: 0.5; margin:0 auto; max-height: 100px; max-width: 100px;" />
          </div>
          <div class="col-sm-3" style="text-align: center;">
            <img alt="Los Angeles Times" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/publication logos/latimes.png?rev=4d27c51b9c7542c78d87b68d320c5609&hash=A87921A92D5DFF0D24661C64CC5F8867" style="opacity: 0.5; margin:0 auto; max-height: 100px; max-width: 250px;" />
          </div>
          <div class="col-sm-3" style="text-align: center;">
            <img alt="Sports Illustrated" src="https://www-usms-hhgdctfafngha6hr.z01.azurefd.net/-/media/usms/non-lightroom images/publication logos/si.png?rev=707e5b09eb1846788a363d92ed992369&hash=37CB79858931DDDDE877D9E0159224C2" style="opacity: 0.5; margin:0 auto; max-height: 100px; max-width: 170px;" />
          </div>
        </div>
        <div style="height:50px; display:block; margin:0; padding:0;"> </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-full bg-gray p-tb-10">
  <div class="usms-container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <div style="height:20px; display:block; margin:0; padding:0;"> </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-full bg-gray p-tb-10">
  <div class="usms-container form__container p-tb-10">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center text-primary">Join 60,000 others who decided to enhance their life and swim with us!</h2>
        <div style="height:40px; display:block; margin:0; padding:0;"> </div>
        <div class="button-link__container button-link--center">
          <a class="btn btn-danger btn-xl" href="/login-to-registration-page">Join USMS</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="sign-up">
    <div class="usms-container">
      <div class="row">
        <form action="/join-usms/join-or-renew-tms" method="post">
          <div class="col-xs-12">
            <div class="sign-up__container">
              <div class="sign-up__text">
                <p class="sign-up__headline text-uppercase">SIGN UP FOR UPDATES FROM USMS</p>
              </div>
              <div class="sign-up__form">
                <div class="input-group">
                  <input type="text" class="form-control" name="emailAddress" id="emailAddress">
                  <span class="input-group-btn">
                    <button class="btn btn-danger text-uppercase sign-up__button" id="sign-up__button">sign up</button>
                  </span>
                </div>
                <p class="sign-up__validation" style="display: none">Please enter a valid email address</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <p class="text-uppercase text-center sign-up__confirmation" style="display: none;">Thank you for signing up</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% include "partials/sponsors-grid.njk" %}
