{% if currentUser and currentUser.isLapsed and currentUser.cardExpired %}
<div class="membership-renewal-ribbon">
  <div class="usms-container">
    <p class="membership-renewal-ribbon__text membership-renewal-ribbon__text--full">
      It's time to renew, but your credit card is expired. Please <a href="#">update your card info</a> to complete your membership renewal.
    </p>
    <p class="membership-renewal-ribbon__text membership-renewal-ribbon__text--short">
      It's time to renew. <a href="#">Update your card info</a>
    </p>
  </div>
</div>
{% endif %}
