{% if currentUser and currentUser.isLapsed and currentUser.cardExpired %}
<div class="membership-renewal-ribbon">
  <div class="usms-container">
    <p class="membership-renewal-ribbon__text membership-renewal-ribbon__text--full">
      Your credit card has expired and you are enrolled in auto-renew. Please <a href="#">update your payment information</a>.
    </p>
    <p class="membership-renewal-ribbon__text membership-renewal-ribbon__text--short">
      Your card has expired. <a href="#">Update your payment info</a>.
    </p>
  </div>
</div>
{% endif %}
