<div class="section section-full bg-gray  p-mh-500 ">
	<div class="usms-container  p-tb-10">
		<div class="row  ">
			<div class="col-xs-12  ">
				<header class="page-title">
					<h1>
						My Account
					</h1>
				</header>
				<div class="row">
					<div class="col-xs-12">
						<div class="html-container include-in-nav">
						</div>
					</div>
				</div>
				<div class="my-usms--wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">
								<h3 class="myusms__section-header">Account</h3>
								<div class="myusms__section-header--details">
									<span class="first-name">Jay Place</span>
									<span class="member-id">146W-KT2JH</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="./my-information">
										<img alt="My Information" src="https://www.usms.org/-/media/usms/developers/images/myaccount/icon-edit-my-information.svg">
										<h4>My Information</h4>
										<span class="my-usms__tile--edit">(Edit My Information)</span>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/emailpreferences">
										<img alt="Email Preferences" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-email-preferences.svg">
										<h4>Email Preferences</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="https://community.usms.org/user/settings">
										<img alt="Community Settings" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-community-settings.svg">
										<h4>Community Settings</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="./plans-and-payment">
										<img alt="Plans and Payment" src="https://www.usms.org/-/media/usms/developers/images/myaccount/icon-plans-payment.svg">
										<h4>Plans and Payment</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a class="myusms__link myusms__link--app" href="/account/addons">
										<img alt="Add-Ons and Upgrades" src="https://www.usms.org/-/media/usms/developers/images/myaccount/icon-add-ons-upgrades.svg">
										<h4>Add-Ons and Upgrades</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/people/KT2JH">
										<img alt="Public Swimmer Info Page" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-public-profile.svg">
										<h4>Public Swimmer Info Page</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a class="myusms__link myusms__link--pdf" href="/reg/getcard.php?FirstName=Jay&amp;MI=&amp;LastName=Place&amp;Gender=Male&amp;BirthDate=10/24/1972&amp;Zip=34240-8840&amp;SwimmerID=KT2JH&amp;action=getcard">
										<img alt="Membership Card (PDF Download)" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-card-pdf.svg">
										<h4>Membership Card</h4>
										<span class="my-usms__tile--description">
										<span>(PDF Download)</span>
										</span>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="https://wallet.usms.org/integration/getPass/KT2JH?token=OsVQvPYkWx3AhcAUXnodpjduZhNOSFBaNl3u6FMbojdU8HCOYw" class="myusms__link myusms__link--app">
										<img alt="Membership Card (Digital App)" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-card-digital.svg">
										<h4>Membership Card</h4>
										<span class="my-usms__tile--description">(Digital App)</span>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/account/transfer-my-membership" class="myusms__link myusms__link--app">
										<img alt="Transfer My Membership" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-transfer.png">
										<h4>Transfer My Membership</h4>
									</a>
								</div>
							</div>
						</div>
						<h3 class="myusms__section-header">Swimming</h3>
						<div class="row">
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same" id="workout-library">
									<a href="/workout-library">
										<img alt="Workout Library" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-workout-library.svg">
										<h4>Workout Library</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same" id="swim-com">
									<a href="https://community.usms.org/p/swim-feed">
										<img alt="Swim.com/My SwimFeed" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-swim.svg">
										<h4>Swim.com/My SwimFeed</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/comp/meets/indresults.php?SwimmerID=KT2JH">
										<img alt="My Results" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-places.svg">
										<h4>My Results</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="https://www.swim.com/pools">
										<img alt="Places to Swim" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-places.svg">
										<h4>Places to Swim</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/myusms/flog/">
										<img alt="Fitness Log" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-flog.svg">
										<h4>Fitness Log</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/events/fitness-events/fitness-series/fitness-series-training-plans">
										<img alt="Fitness Series Training Plans" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-fitness-series.svg">
										<h4>Training Plans</h4>
									</a>
								</div>
							</div>
						</div>
						<h3 class="myusms__section-header">Resources</h3>
						<div class="row">
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="https://community.usms.org/">
										<img alt="Community/Forums" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-forums.svg">
										<h4>Community/Forums</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/swimmer-magazine">
										<img alt="SWIMMER Magazine" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-swimmer-mag.svg">
										<h4>SWIMMER Magazine</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/join-usms/membership-discounts">
										<img alt="Member Discounts" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-discounts.svg">
										<h4>Discounts</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/about/online-learning">
										<img alt="Online Learning" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-online-learning.svg">
										<h4>Webinars and E-books</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/club-central/club-dashboard">
										<img alt="Club Dashboard" src="https://www.usms.org/-/media/usms/developers/images/myusms/icon-myusms-club-dashboard.svg">
										<h4>Club Dashboard</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a href="/events/event-dashboard">
										<img style="width: 24px; height: 24px; !important; margin-right: 10px;" alt="Event Dashboard" src="https://www.usms.org/-/media/USMS/Non-Lightroom Images/House Art/Join Icons/icon-calendar">
										<h4>Event Dashboard</h4>
									</a>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="myusms--tile myusms--tile--same">
									<a class="myusms__link myusms__link--app" href="https://www.youtube.com/@USMastersSwimming">
										<img alt="Instructional Videos" src="https://www.usms.org/-/media/usms/developers/images/myaccount/icon-instructional-videos.svg">
										<h4>Instructional Videos</h4>
									</a>
								</div>
							</div>
							<iframe id="telligentLogin" name="telligentLogin" src="https://community.usms.org/sso/login" class="login__iframe" style="width: 0; height: 0; border: 0; border: none;"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>