<div class="list-control">
	<div class="list-control-search">
		<div class="list-control-search__header">
			<span class="tag-list--title">Filters:</span>
			<div class="list-control-search--tags"></div>
			<i class="fa-solid fa-refresh fa-spin list-control-search--summary-loading" style="display:none;"></i>
			<div class="list-control-search--summary">
				Showing <strong class="summary-count">0</strong> location(s) within <strong class="summary-range">25 Miles</strong> of <strong class="summary-location">Tampa, FL</strong>
			</div>
		</div>
		<div class="list-control-search-mobile__toggle">Update Your Results</div>
		<div class="list-control-search__content form-group is-flex">
			<div class="list-control-search__input list-control-search__input--club-name">
				<label for="search-filter__club-name">Search by Location Name</label>
				<div class="input-group">
					<span class="help-block help-block--ClubName">Please Enter a Location Name</span>
					<input type="text" class="form-control" name="search-filter__club-name" placeholder="Location Name">
				</div>
			</div>
			<div class="list-control-search__input list-control-search__input--range">
				<label for="search-filter__range">Select a Range</label>
				<div class="input-group">
					<select id="search-filter__range" name="search-filter__range">
						<option value="10">10 Miles</option>
						<option value="25" selected="">25 Miles</option>
						<option value="50">50 Miles</option>
						<option value="100">100 Miles</option>
						<option value="250">250 Miles</option>
						<option value="max">Nationwide</option>
					</select>
				</div>
			</div>
			<div class="list-control-search__input list-control-search__input--location">
				<label for="search-filter__location">Search by City, State or Zip</label>
				<div class="input-group">
					<span class="help-block help-block--CityStateZip">Please enter a City, State or Zip</span>
					<div>
						<div class="map" style="display:none;"></div>
						<input type="text" class="google-places-input form-control" placeholder="Select city &amp; state or zip" name="location" id="locationSearch" autocomplete="off">
						<input type="hidden" class="google-places-input--zip" name="google-places-input--zip">
						<input type="hidden" class="google-places-input--lat" name="google-places-input--lat">
						<input type="hidden" class="google-places-input--lng" name="google-places-input--lng">
					</div>
				</div>
			</div>
			<div class="list-control-search__input list-control-search__input--button align-self-end">
				<div class="input-group">
					<button type="button" class="btn btn-primary" id="listSearchSubmit">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<div class="list-control-filter">
		<div class="list-control-filter__content">
			<div class="form-group is-flex">
				<div class="check-list check-list--pool-length">
					<div class="input-group check-list-item">
						<label for="length25y" class="checkbox-label">
							<div class="checkbox-container">
								<input type="checkbox" id="length25y" name="check-list--searchCourseTypes" value="25y">
								<span class="checkbox__placeholder"></span>
							</div>
							Short Course Yards
						</label>
					</div>
					<div class="input-group check-list-item">
						<label for="length25m" class="checkbox-label">
							<div class="checkbox-container">
								<input type="checkbox" id="length25m" name="check-list--searchCourseTypes" value="25m">
								<span class="checkbox__placeholder"></span>
							</div>
							Short Course Meters
						</label>
					</div>
					<div class="input-group check-list-item">
						<label for="length50m" class="checkbox-label">
							<div class="checkbox-container">
								<input type="checkbox" id="length50m" name="check-list--searchCourseTypes" value="50m">
								<span class="checkbox__placeholder"></span>
							</div>
							Long Course Meters
						</label>
					</div>
					<div class="input-group check-list-item">
						<label for="lengthother" class="checkbox-label">
							<div class="checkbox-container">
								<input type="checkbox" id="lengthother" name="check-list--searchCourseTypes" value="other">
								<span class="checkbox__placeholder"></span>
							</div>
							Other
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
