<div id="cardCompetition" class="card competition-qualification" style="display: none;">
	<h3>Certification of Competition Category</h3>
	<p>Your competition category is based on your Sex selection in the Contact Information section</p>
	<div class="form-group">
		<span class="help-block help-block--CompetitionMembership">Please select certification of competition category option</span>
		<label id="competitionMembershipYes" class="radio-label radio-label--inline col-xs-12" for="competitionMembershipYesInput">
			<div class="radio-container">
				<input type="radio" name="CompetitionMembership" id="competitionMembershipYesInput" value="yes">
				<span class="radio__placeholder"></span>
			</div>
			<strong>I certify that my sex assigned at birth corresponds with the competition category selected OR I have selected the male competition category.</strong>
		</label>
		<label id="competitionMembershipNo" class="radio-label radio-label--inline col-xs-12" for="competitionMembershipNoInput">
			<div class="radio-container">
				<input type="radio" name="CompetitionMembership" id="competitionMembershipNoInput" value="no">
				<span class="radio__placeholder"></span>
			</div>
			<div>I DO NOT certify that my sex assigned at birth corresponds with the competition category selected. (A USMS representative will contact you to discuss participation and eligibility procedures.)</div>
		</label>
	</div>
</div>
