<div class="card review-order clearfix">
	<h3 class="review-order___form-header m-b-30">Review Your Add-Ons</h3>
	<div class="review-order__form-summary subscription-info__form-summary js-review-line-items">
		{# Line items are built dynamically by addons.js based on selected products and donations #}
	</div>
	<div class="review-order__form-summary">
		<h4>Total Due Today</h4>
		<p class="review-order__line-item review-order__line-item--total">
			Total Charge: <span class="review-order__line-item--price">$0.00</span>
		</p>
	</div>
</div>
