<div class="section section-full bg-blue p-tb-10  ">

  <div class="usms-container  p-tb-10">
    <div class="row  ">
      <div class="col-xs-12  ">
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="http://www.activeswim.com/" target="_blank" rel="noreferrer" aria-label="national sponsor ACTIVE Network">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/active-network_90x90_ko.png?h=90&w=90&hash=FC351BF964104D56F3196589C3A48482" class="sponsors__image" alt="Active Network" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="https://www.coloradotime.com/" target="_blank" rel="noreferrer" aria-label="national sponsor Colorado Time Systems">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/cts_90x90_ko.png?h=90&w=90&hash=96709D6DF7A63AF5C15A6DCCC5EE18D9" class="sponsors__image" alt="Colorado Timing Systems" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="https://www.infinitnutrition.us/" target="_blank" rel="noreferrer" aria-label="national sponsor INFINIT Nutrition">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/infinit_90x90_ko.png?h=90&w=90&hash=62F72633292FBFC7A7F2202C91DC64C8" class="sponsors__image" alt="Infinit" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="https://www.ioausa.com" target="_blank" rel="noreferrer" aria-label="national sponsor Insurance Office of America">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/ioa_90x90_ko.png?h=90&w=90&hash=68D3DC242A9B6D9243F393EE5B484AFC" class="sponsors__image" alt="Insurance Office of America" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="https://www.masterspas.com/usms/" target="_blank" rel="noreferrer" aria-label="national sponsor Master Spas">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/master-spas_90x90_ko.png?h=90&w=90&hash=0F2CE3211FAE6A9CDA05FFAB3CCCAAC2" class="sponsors__image" alt="MasterSpas" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="" target="_blank" rel="noreferrer" aria-label="national sponsor Swim Across America">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/swim-across-america_90x90_ko.png?h=90&w=90&hash=0DA9B8A66D18381C3D0485FC5F6D17FE" class="sponsors__image" alt="Swim Across America" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="https://www.tyr.com/" target="_blank" rel="noreferrer" aria-label="national sponsor TYR Sport">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/tyr_90x90_ko.png?h=90&w=90&hash=66C88AB4C72C65D52FC5B97F6F1053DB" class="sponsors__image" alt="TYR" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="https://www.swim.com" target="_blank" rel="noreferrer" aria-label="national sponsor Swim.com">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/swim-com_90x90_ko.png?h=90&w=90&hash=64F47213E70015EA4D763BBD9D681595" class="sponsors__image" alt="Swim.com" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="https://www.swimoutlet.com/ProductBrand.asp?Brand=1766&click=1668780" target="_blank" rel="noreferrer" aria-label="national sponsor SwimOutlet.com">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/swimoutlet_90x90_ko.png?h=90&w=90&hash=E5BF4FFD2FD039683FF2A54B259110D7" class="sponsors__image" alt="Swim Outlet" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="https://www.swimtrek.com/" target="_blank" rel="noreferrer" aria-label="national sponsor SwimTrek">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/swimtrek_90x90_ko.png?h=90&w=90&hash=7CEE2AB9070AF32E32DE50B592EABE74" class="sponsors__image" alt="SwimTrek" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="http://www.toyota.com" target="_blank" rel="noreferrer" aria-label="national sponsor Toyota">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/toyota_90x90_ko.png?h=90&w=90&hash=9E3D45C9E0BE544C8BC0C7FA9D3D2BA0" class="sponsors__image" alt="Toyota" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="https://www.sbrsportsinc.com/index.html" target="_blank" rel="noreferrer" aria-label="national sponsor TRISWIM">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/triswim_90x90_ko.png?h=90&w=90&hash=A5DC4CEF616246D6A55AD68E84DB52A5" class="sponsors__image" alt="TriSwim" width="90" height="90">
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="sponsors__item">
            <a class="sponsors__link" href="https://www.usaswimming.org/foundation" target="_blank" rel="noreferrer" aria-label="national sponsor USA Swimming Foundation">
              <img src="https://www.usms.org/-/media/usms/non-lightroom images/partner logos/usa swimming foundation vertical - all white90x90.png?h=90&w=90&hash=76E417D21918910E1C40E562AE402AEA" class="sponsors__image" alt="USA Swimming Foundation all white 90x90" width="90" height="90">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
